<div class="col-md-3 sidebar">
                    <div class="sidebar-widget widget_recent_entries" id="recent-posts-4">
                        <h3 class="sidebar-header">Recent posts</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="magazine-post.html" title="Feel-Good Food">
                                        <img alt="blog-09" height="150" src="assets/images/magazine/blog-09-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="magazine-post.html" title="Feel-Good Food">Feel-Good Food</a> <small class="post-date">January 22,
                                2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="magazine-post.html" title="What To Do For Your Cat">
                                        <img alt="blog-15" height="150" src="assets/images/magazine/blog-15-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="magazine-post.html" title="What To Do For Your Cat">What To Do For Your Cat</a> <small class="post-date">December 20, 2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="magazine-post.html" title="The Sweet Lure Of Chocolate">
                                        <img alt="blog-11" height="150" src="assets/images/magazine/blog-11-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="magazine-post.html" title="The Sweet Lure Of Chocolate">The Sweet Lure Of Chocolate</a>
                                <small class="post-date">December 15, 2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="magazine-post.html" title="Feed Your Skin">
                                        <img alt="blog-04" height="150" src="assets/images/magazine/blog-04-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="magazine-post.html" title="Feed Your Skin">Feed Your Skin</a> <small class="post-date">December 9,
                                2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="magazine-post.html" title="15 Reasons to Visit Lambda">
                                        <img alt="blog-12" height="150" src="assets/images/magazine/blog-12-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="magazine-post.html" title="15 Reasons to Visit Lambda">15 Reasons to Visit Lambda</a>
                                <small class="post-date">November 30, 2014</small>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget_text">
                        <div class="textwidget">
                            <a href="#">
                                <img alt="add" src="assets/images/magazine/add-03.png">
                            </a>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_categories">
                        <h3 class="sidebar-header">Categories</h3>

                        <ul>
                            <li>
                                <a href="magazine-blog.html">Business</a>
                            </li>

                            <li>
                                <a href="magazine-blog.html">Creative</a>
                            </li>

                            <li>
                                <a href="magazine-blog.html">Fashion</a>
                            </li>

                            <li>
                                <a href="magazine-blog.html">Journal</a>
                            </li>

                            <li>
                                <a href="magazine-post.html">Journalism</a>
                            </li>

                            <li>
                                <a href="magazine-blog.html">Shopping</a>
                            </li>

                            <li>
                                <a href="magazine-blog.html">Social Media</a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget_tag_cloud">
                        <h3 class="sidebar-header">
                            Popular Tags
                        </h3>

                        <div class="tagcloud">
                            <ul>
                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>addiction</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>animal</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 16.75pt;' title='3 topics'>art</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 13.25pt;' title='2 topics'>artworld</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>beans</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 22pt;' title='5 topics'>beauty trends</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>book</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 13.25pt;' title='2 topics'>brew</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>chocolate</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>coffee</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 13.25pt;' title='2 topics'>cute</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>facebook</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>fruits</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 13.25pt;' title='2 topics'>health</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 13.25pt;' title='2 topics'>metallic surface</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 16.75pt;' title='3 topics'>nutrition</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>phone</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>review</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>shopping</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>social media</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 8pt;' title='1 topic'>sweet</a>
                                </li>

                                <li>
                                    <a href='#' style='font-size: 13.25pt;' title='2 topics'>twitter</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_archive" id="archives-4">
                        <h3 class="sidebar-header">Archive</h3>

                        <ul>
                            <li>
                                <a href='magazine-blog.html'>January 2015</a>
                            </li>

                            <li>
                                <a href='magazine-blog.html'>December 2014</a>
                            </li>

                            <li>
                                <a href='magazine-blog.html'>November 2014</a>
                            </li>

                            <li>
                                <a href='magazine-blog.html'>October 2014</a>
                            </li>

                            <li>
                                <a href='magazine-blog.html'>August 2014</a>
                            </li>
                        </ul>
                    </div>
                </div>