<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text" id="text-2">
                        <h3 class="sidebar-header">About Us</h3>

                        <div class="textwidget">
                            <p>Create stunning pages with Lambda amazing style! Functionality and usability
                            combine to let you design your pages.</p>Get Lambda and start right away.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent posts</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href=
                                    "corporate-standard-post.html"
                                    title="The know how of branding">
                                        <img alt=
                                        "blog01" class=
                                        "attachment-thumbnail wp-post-image"
                                        height="150" src=
                                        "assets/images/corporate/blog011-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="corporate-standard-post.html"
                                title="The know how of branding">The know
                                how of branding</a> <small class=
                                "post-date">September 25, 2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href=
                                    "corporate-standard-post.html"
                                    title=
                                    "A corporare design to remember">
                                        <img alt="blog02"
                                        class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/blog02-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="corporate-standard-post.html"
                                title="A corporare design to remember">A
                                corporare design to remember</a>
                                <small class="post-date">September 25,
                                2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href=
                                    "corporate-standard-post.html"
                                    title="The blog fundamentals">
                                        <img alt="blog03" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/blog03-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="corporate-standard-post.html"
                                title="The blog fundamentals">The blog
                                fundamentals</a> <small class=
                                "post-date">September 25, 2014</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_categories">
                        <h3 class="sidebar-header">Categories</h3>

                        <ul>
                            <li>
                                <a href="corporate-no-sidebar.html">
                                    Arts &amp; Culture
                                </a>
                            </li>

                            <li>
                                <a href="corporate-no-sidebar.html">
                                    Mobile
                                </a>
                            </li>

                            <li>
                                <a href="corporate-no-sidebar.html">
                                    Reviews
                                </a>
                            </li>

                            <li>
                                <a href="corporate-no-sidebar.html">
                                    Sports
                                </a>
                            </li>

                            <li>
                                <a href="corporate-no-sidebar.html">
                                    Tech
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Our Headquarters</h3>

                        <div class="textwidget"><img alt="headquarters" src="assets/images/corporate/headquarters.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget">
                            Lambda Html Theme. &copy; Oxygenna 2015
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b5998" href="corporate-index.html">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#00acee" href="corporate-index.html">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#5FB0D5" href="corporate-index.html">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="corporate-index.html">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor=
                                "#34526f" href="corporate-index.html">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>