<div class="top-bar">
    <div class="container">
        <div class="top top-left">
            <div class="sidebar-widget text-left small-screen-center widget_text">
                <div class="textwidget">
                    <i class="fa fa-envelope"></i>&nbsp; <a href="mailto:lambda@lambda-theme.com">lambda@lambda-theme.com</a>
                </div>
            </div>

            <div class="sidebar-widget text-left small-screen-center widget_text">
                <div class="textwidget">
                    <i class="fa fa-phone"></i> &nbsp; 1-800-555-555
                </div>
            </div>
        </div>

        <div class="top top-right">
            <div class="sidebar-widget text-right small-screen-center widget_social">
                <ul class="unstyled inline social-icons social-simple social-normal">
                    <li>
                        <a data-iconcolor="#3b5998"
                        href="corporate-index.html">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a data-iconcolor="#00acee"
                        href="corporate-index.html">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a data-iconcolor="#5FB0D5"
                        href="corporate-index.html">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a data-iconcolor="#E45135" href="corporate-index.html">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky" id="masthead">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type=
            "button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="corporate-index.html">
                LAMBDA
            </a>
        </div>
        <div class="nav-container">
            <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
                <div class="menu-container">
                    <ul class="nav navbar-nav" id="menu-main">
                        {% for item in [{title:"Home", href:"corporate-index.html"},
                                        {title:"Pages", href:"#", children:[{title:"About Us", href:"corporate-about-us.html"},
                                                                            {title:"Services", href:"corporate-services.html"},
                                                                            {title:"Single Service", href:"corporate-single-service.html"},
                                                                            {title:"Meet the team", href:"corporate-meet-the-team.html"},
                                                                            {title:"404 Page", href:"corporate-404.html"},
                                                                            {title:"Right Sidebar", href:"corporate-right-sidebar.html"},
                                                                            {title:"Left sidebar", href:"corporate-left-sidebar.html"}
                                        ]},
                                        {title:"Elements", href:"#", type:"megamenu", children:[
                                                                            {title:"Typography &#038; Layout", type:"label", size:"col-md-3", children:[
                                                                                {title:"Basic Type", href:"corporate-elements-basic-type.html"},
                                                                                {title:"Blockquotes", href:"corporate-elements-blockquotes.html"},
                                                                                {title:"Font Icons", href:"corporate-elements-font-icons.html"},
                                                                                {title:"Columns", href:"corporate-elements-columns.html"},
                                                                                {title:"Jumbotron", href:"corporate-elements-jumbotron.html"}
                                                                            ]},
                                                                            {title:"Bootstrap Components", type:"label", size:"col-md-3", children:[
                                                                                {title:"Accordions", href:"corporate-elements-accordions.html"},
                                                                                {title:"Tabs", href:"corporate-elements-tabs.html"},
                                                                                {title:"Buttons", href:"corporate-elements-buttons.html"},
                                                                                {title:"Panels", href:"corporate-elements-panels.html"},
                                                                                {title:"Tables", href:"corporate-elements-tables.html"}
                                                                            ]},
                                                                            {title:"Misc", type:"label", size:"col-md-3", children:[
                                                                                {title:"Pricing", href:"corporate-elements-pricing.html"},
                                                                                {title:"Feature font icons", href:"corporate-elements-feature-font-icons.html"},
                                                                                {title:"Features lists", href:"corporate-elements-features-lists.html"},
                                                                                {title:"Scroll buttons", href:"corporate-elements-scroll-buttons.html"}
                                                                            ]},
                                                                            {title:"Infographic Elements", type:"label", size:"col-md-3", children:[
                                                                                {title:"Charts", href:"corporate-elements-charts.html"},
                                                                                {title:"Counters", href:"corporate-elements-features-counters.html"},
                                                                                {title:"Countdown timers", href:"corporate-elements-countdown-timers.html"},
                                                                                {title:"Pie Charts", href:"corporate-elements-pie-charts.html"},
                                                                                {title:"Progress Bars", href:"corporate-elements-progress-bars.html"}
                                                                            ]}
                                        ]},
                                        {title:"Portfolio", href:"#", children:[{title:"2 columns", href:"corporate-portfolio-2-columns.html"},
                                                                                {title:"3 columns", href:"corporate-portfolio-3-columns.html"},
                                                                                {title:"4 columns", href:"corporate-portfolio-4-columns.html"},
                                                                                {title:"Masonry", href:"corporate-portfolio-masonry.html"},
                                                                                {title:"Fullwidth", href:"corporate-portfolio-fullwidth.html"},
                                                                                {title:"Standard Item", href:"corporate-standard-item.html"},
                                                                                {title:"Gallery Item", href:"corporate-gallery-item.html"},
                                                                                {title:"Video Item", href:"corporate-video-item.html"}
                                        ]},
                                        {title:"Blog", href:"#", children:[ {title:"Right Sidebar", href:"corporate-blog-right-sidebar.html"},
                                                                            {title:"Left Sidebar", href:"corporate-blog-left-sidebar.html"},
                                                                            {title:"No Sidebars &#8211; Wide", href:"corporate-no-sidebar-wide.html"},
                                                                            {title:"No Sidebars &#8211; Regular", href:"corporate-no-sidebar.html"},
                                                                            {title:"No Sidebars &#8211; Narrow", href:"corporate-no-sidebar-narrow.html"},
                                                                            {title:"Masonry", href:"corporate-blog-masonry.html"},
                                                                            {title:"Standard Post", href:"corporate-standard-post.html"},
                                                                            {title:"Gallery Post", href:"corporate-gallery-post.html"}
                                        ]},
                                        {title:"Contact", href:"corporate-contact.html"}] %}
                        <li class="menu-item {{ 'active' if activeMenu == item.title }} {{ 'dropdown' if item.href == '#'}} {{ 'menu-item-object-oxy_mega_menu' if 'megamenu' == item.type }}">
                            <a {% if item.href == '#' %} class="dropdown-toggle" data-toggle="dropdown" {% endif %} href="{{ item.href }}">{{ item.title }}</a>
                            {% if item.children %}
                            <ul class="dropdown-menu dropdown-menu-left {{ 'row' if 'megamenu' == item.type }}">
                            {% for child in item.children %}
                                {% if item.type != 'megamenu' %}
                                <li class="menu-item">
                                    <a href="{{ child.href }}">{{ child.title }}</a>
                                </li>
                                {% else %}
                                <li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown {{ child.size }}">
                                    <strong>{{child.title}}</strong>
                                    <ul class="dropdown-menu-left">
                                    {% for megamenu in child.children %}
                                         <li class="menu-item">
                                            <a href="{{ megamenu.href }}">{{ megamenu.title }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="menu-sidebar">
                    <div class="sidebar-widget widget_search" id="search-5">
                        <div class="top-search">
                            <form action="corporate-index.html" method="get" name="searchform">
                                <div class="input-group">
                                    <input class="form-control" name="s" placeholder="Search" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <a class="search-trigger"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
