<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="corporate-standard-post.html">
                <img alt="The know how of branding" src=
            "assets/images/corporate/blog011.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="corporate-standard-post.html"
        rel="bookmark" title="Permalink to The know how of branding">The
        know how of branding</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> September 25, 2014</span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="corporate-standard-post.html">
                    Proistakis Manos
                </a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="corporate-no-sidebar.html" rel="tag">Arts &amp; Culture</a>,
                <a href="corporate-no-sidebar.html" rel="tag">Tech</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="#" title="Comment on The know how of branding">2 comments
                </a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>Lisa, vampires are make-believe, like elves, gremlins, and
        <strong>Eskimos</strong>. We started out like Romeo and Juliet, but
        it ended up in tragedy. Attempted murder? Now honestly, what is
        that? Do they give a Nobel <strong>Prize</strong> for attempted
        chemistry? Get ready, skanks! It&#8217;s time for the truth train!
        Books are useless! I only ever read one book, &#8220;To Kill A
        Mockingbird,&#8221; and it gave me absolutely no insight on how to
        kill mockingbirds! Sure it taught me not to judge a man by the
        color of his skin…but what good does *that* do me?</p>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="corporate-standard-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="corporate-standard-post.html">
                <img alt="A corporate design to remember" src="assets/images/corporate/blog02.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="corporate-standard-post.html"
        rel="bookmark" title="Permalink to A corporate design to remember">A corporate design to
        remember</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> September 25, 2014
            </span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="corporate-about-us.html">Proistakis Manos</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="corporate-no-sidebar.html" rel="tag">Reviews</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="#"
            title="Comment on A corporate design to remember">1
            comment</a></span>
        </div>
    </header>

    <div class="post-body">
        <p>That sounded like a prayer. A prayer in a public school. God has
        no place within these walls, just like facts don&#8217;t have a
        place within an organized <strong>religion</strong>. Son, a woman
        is like a beer. They smell good, they look good, you&#8217;d step
        over your own mother just to get one! But you can&#8217;t stop at
        one. You wanna drink another woman! The Internet King? I wonder if
        he could provide faster nudity.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="corporate-standard-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="corporate-standard-post.html">
                <img alt="The blog fundamentals" src=
            "assets/images/corporate/blog03.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="corporate-standard-post.html"
        rel="bookmark" title="Permalink to The blog fundamentals">The blog
        fundamentals</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> September 25, 2014
            </span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="corporate-standard-post.html">Proistakis Manos</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="corporate-no-sidebar.html" rel="tag">Arts &amp; Culture</a>,
                <a href="corporate-no-sidebar.html" rel="tag">Mobile</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="#" title="Comment on The blog fundamentals">1 comment</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>There&#8217;s one way and only one way to determine if an animal
        is <strong>intelligent</strong>. Dissect its brain! It&#8217;s a T.
        It goes &#8220;tuh&#8221;. Anyone who laughs is a communist! Morbo
        will now introduce tonight&#8217;s candidates… Morbo&#8217;s good
        friend, Richard Nixon.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="corporate-standard-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-body">
        <blockquote class="text-left">
            <p>Good morning, oh in case i don't see you, good afternoon,
            good evening and goodnight. excuse me, i'd like to ask you a
            few questions. we're going for a ride on the information super
            highway.<br>
            Here she comes to wreck the day. here she comes to wreck the
            day. alrighty then kinda hot in these rhinos. we're going for a
            ride on the information super highway.</p>
            <p>

            <footer>
                Cold Warriors
            </footer>
        </blockquote>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="video-wrapper feature-video">
            <iframe height="658" src=
            "//player.vimeo.com/video/105438077" title="breathe" width="1170"></iframe>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="corporate-standard-post.html" rel="bookmark" title="Permalink to The corporate style rules">The corporate style rules</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> July 25, 2014
            </span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="corporate-about-us.html">christos</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="corporate-no-sidebar.html" rel="tag">Arts &amp; Culture</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="corporate-standard-post.html" title="Comment on The corporate style rules">1 comment</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>Super <strong>squeaky</strong> bum time! You hit me with a cricket
        bat. You&#8217;ve swallowed a planet! You know how I sometimes have
        really brilliant ideas? Annihilate? No. No violence. I won&#8217;t
        stand for it. Not now, not ever, do you understand me?! I&#8217;m the
        Doctor, the Oncoming Storm &#8211; and you basically meant beat them in
        a football match, didn&#8217;t you?</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="corporate-standard-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="flexslider flex-controls-bottom element-top-no-top element-bottom-no-bottom"
        data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="none" data-os-animation-delay="0s" id="flexslider-47">
            <ul class="slides">
                <li>
                    <figure>
                        <img alt="blog06" src="assets/images/corporate/blog06.jpg">
                    </figure>
                </li>

                <li>
                    <figure>
                        <img alt="blog10" src="assets/images/corporate/blog10.jpg">
                    </figure>
                </li>
            </ul>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="corporate-standard-post.html" rel="bookmark" title="Permalink to The birth of a new brand">The birth
        of a new brand</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> August 25, 2014</span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="corporate-about-us.html">Harris Constantourakis</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="corporate-no-sidebar.html" rel="tag">Mobile</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="corporate-no-sidebar.html" title="Comment on The birth of a new brand">2 comments</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>Yes! I am a citizen! Now which way to the welfare
        <strong>office</strong>? I&#8217;m kidding, I&#8217;m kidding. I work,
        I work. Bart, with $10,000 we&#8217;d be millionaires! We could buy all
        kinds of useful things like…love!</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="corporate-standard-post.html">
        read more</a>
    </div>
</article>

<div class="text-center">
    <ul class="post-navigation pagination">
        <li class="disabled">
            <a>&lsaquo;</a>
        </li>

        <li class="active"><span class="current">1</span></li>

        <li>
            <a class="inactive" href="corporate-no-sidebar.html">
            2</a>
        </li>

        <li>
            <a href="corporate-no-sidebar.html">
            &rsaquo;</a>
        </li>
    </ul>
</div>