<div class="col-md-3 sidebar {{sidebarClasses}}">
    <div class="sidebar-widget widget_search">
        <form action="corporate-index.html" id=
        "searchform" method="get" name="searchform">
            <div class="input-group">
                <input class="form-control" name="s" placeholder="Search" type="text" value="">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" value="Search">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="sidebar-widget widget_text">
        <h3 class="sidebar-header">About Us</h3>

        <div class="textwidget">
            <p>We help businesses to create and implement
            <strong>exceptional</strong> experiences for their customers.
            We specialise in online multi-channel technology services.</p>

            <p>Time to meet our team of technology and business
            <strong>professionals</strong>. Let us help your business reach
            it’s potential.</p>
        </div>
    </div>

    <div class="sidebar-widget widget_recent_entries">
        <h3 class="sidebar-header">Recent Posts</h3>

        <ul>
            <li class="clearfix">
                <div class="post-icon">
                    <a href="corporate-standard-post.html"
                    title="The know how of branding">
                        <img alt="blog01" class="attachment-thumbnail" height="150" src="assets/images/corporate/blog011-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="corporate-standard-post.html"
                title="The know how of branding">The know how of
                branding</a> <small class="post-date">September 25,
                2014</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="corporate-standard-post.html"
                    title="A corporare design to remember">
                        <img alt="blog02" class="attachment-thumbnail wp-post-image"height="150" src="assets/images/corporate/blog02-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="corporate-standard-post.html"
                title="A corporare design to remember">A corporare design
                to remember</a> <small class="post-date">September 25,
                2014</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="corporate-standard-post.html"
                    title="The blog fundamentals">
                        <img alt="blog03" class="attachment-thumbnail" height="150" src="assets/images/corporate/blog03-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="corporate-standard-post.html" title="The blog fundamentals">The blog fundamentals</a>
                <small class="post-date">September 25, 2014</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="corporate-standard-post.html"
                    title="Cold Warriors">
                        <img alt="blog04" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/blog04-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="corporate-standard-post.html"
                title="Cold Warriors">Cold Warriors</a> <small class="post-date">September 25, 2014</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="corporate-standard-post.html"
                    title="The importance of SEO">
                        <img alt="blog05" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/blog05-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="corporate-standard-post.html" title="The importance of SEO">The importance of SEO</a>
                <small class="post-date">September 25, 2014</small>
            </li>
        </ul>
    </div>

    <div class="sidebar-widget widget_tag_cloud">
        <h3 class="sidebar-header">Tags</h3>

        <div class="tagcloud">
            <ul>
                <li>
                    <a href='#'>assault</a>
                </li>

                <li>
                    <a href='#'>billionaire</a>
                </li>

                <li>
                    <a href='#'>butcher</a>
                </li>

                <li>
                    <a href='#'>chimpanzee</a>
                </li>

                <li>
                    <a href='#'>commandment</a>
                </li>

                <li>
                    <a href='#'>discovery</a>
                </li>

                <li>
                    <a href='#'>drugs</a>
                </li>

                <li>
                    <a href='#'>everest</a>
                </li>

                <li>
                    <a href='#'>humor</a>
                </li>

                <li>
                    <a href='#'>information</a>
                </li>

                <li>
                    <a href='#'>lord</a>
                </li>

                <li>
                    <a href='#'>loud</a>
                </li>

                <li>
                    <a href='#'>lucky</a>
                </li>

                <li>
                    <a href='#'>nextpage</a>
                </li>

                <li>
                    <a href='#'>paged</a>
                </li>

                <li>
                    <a href='#'>party</a>
                </li>

                <li>
                    <a href='#'>reggae</a>
                </li>

                <li>
                    <a href='#'>song</a>
                </li>

                <li>
                    <a href='#'>vision</a>
                </li>

                <li>
                    <a href='#'>woman</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-widget widget_categories" id="categories-5">
        <h3 class="sidebar-header">Categories</h3>

        <ul>
            <li class="cat-item cat-item-6">
                <a href="corporate-no-sidebar.html">
                Arts &amp; Culture</a>
            </li>

            <li class="cat-item cat-item-15">
                <a href="corporate-no-sidebar.html">
                    Mobile
                </a>
            </li>

            <li class="cat-item cat-item-12">
                <a href="corporate-no-sidebar.html">
                    Reviews
                </a>
            </li>

            <li class="cat-item cat-item-17">
                <a href="corporate-no-sidebar.html">
                    Sports
                </a>
            </li>

            <li class="cat-item cat-item-7">
                <a href="corporate-no-sidebar.html">
                    Tech
                </a>
            </li>
        </ul>
    </div>
</div>