<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-3">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Opening Hours</h3>

                        <div class="textwidget">
                            <p>Tue-Fri: 9:00pm-8:00am </br>
                            Mon&Sat: 9:00pm-3:00am</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Barber Shop</h3>

                        <div class="textwidget">
                            <p>The goal of <strong>Lambda Barber Shop</strong> is to make a shop more connected and open-minded</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Location</h3>

                        <div class="textwidget">
                            <p>6-8 & 36 St. Michael’s St </br>
                             18 High St</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter"></section>
</footer>