<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About Us</h3>

                        <div class="textwidget">
                            <p>Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda and start right away.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent posts</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="pet-care-post.html" title="Rescue Pup Surprise!">
                                        <img alt="blog01" class=
                                        "attachment-thumbnail"
                                        height="150" src=
                                        "assets/images/pet-care/post2-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="pet-care-post.html"
                                title="Rescue Pup Surprise!">Rescue Pup Surprise!</a> <small class="post-date">August 6, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="pet-care-post.html" title="Cute And Confused">
                                        <img alt="blog02"
                                        class="attachment-thumbnail" height="150" src="assets/images/pet-care/portfolio3-notinclude-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="pet-care-post.html"
                                title="Cute And Confused">Cute And Confused</a>
                                <small class="post-date">August 6, 2015</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget  widget_text">
                        <h3 class="sidebar-header">Location</h3>
                        <div class="textwidget">
                            <p>Some Street<br>
                            Paradise City UK</br>
                            Tel: +1-800-555-555</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget">
                            Lambda Theme. © Oxygenna 2015
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#00acee" href="pet-care-index.html">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#3b5998" href="pet-care-index.html">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#3d9ae8" href="pet-care-index.html">
                                    <i class="fa fa-dropbox"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="pet-care-index.html">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>