<div class="menu header-logo-left-sidebar-right navbar navbar-static-top oxy-mega-menu navbar-sticky text-none" id="masthead">
    <div class="logo-navbar container-logo">
        <div class="container-fullwidth">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=
                "personal-index.html">
                    Mr Lambda
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="collapse navbar-collapse main-navbar menu" id="navbar-slide">
        <a class="navbar-brand" href="personal-index.html">Mr
        Lambda</a>

        <div class="menu-container">
            <ul class="nav navbar-nav" id="menu-main">
                <li class="menu-item">
                    <a href="personal-index.html#about">About
                    Me</a>
                </li>

                <li class="menu-item active">
                    <a href="personal-index.html#services">Services</a>
                </li>

                <li class="menu-item active">
                    <a href="personal-index.html#skills">My
                    Skills</a>
                </li>

                <li class="menu-item active">
                    <a href="personal-index.html#portfolio">My
                    Portfolio</a>
                </li>

                <li class="menu-item active">
                    <a href="personal-index.html#project">Latest
                    Project</a>
                </li>

                <li class="menu-item active">
                    <a href="personal-index.html#contact">Contact
                    Me</a>
                </li>
            </ul>
        </div>

        <div class="menu-sidebar"></div>
    </nav>