<div id="masthead" class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky text-caps" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index-landing.html" class="navbar-brand">
                <img src="assets/images/landing/lambda-app-logo.png" alt="Lambda Html Bootstrap Theme">
                LAMBDA
            </a>
        </div>
        <div class="nav-container">
            <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right" role="navigation">
                <div class="menu-container">
                    <ul id="menu-main" class="nav navbar-nav">
                        <li class="menu-item">
                            <a href="#home">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="#features">Features</a>
                        </li>
                        <li class="menu-item">
                            <a href="#design">Design</a>
                        </li>
                        <li class="menu-item">
                            <a href="#screenshots">Screenshots</a>
                        </li>
                        <li class="menu-item">
                            <a href="#testimonials">Testimonials</a>
                        </li>
                        <li class="menu-item nav-highlight-ghost">
                            <a href="#buy"><i class="menu-icon fa fa-shopping-cart"></i>&nbsp;Get it</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-sidebar"></div>
            </nav>
        </div>
    </div>
</div>