<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text" id="text-2">
                        <h3 class="sidebar-header">About Us</h3>

                        <div class="textwidget">
                            <p>Create stunning pages with our <strong>powerful</strong> admin panel. Functionality and usability combine to let you <strong>design</strong> your pages without any
                            coding.</p>Get <strong>Lambda</strong> and start right away.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent posts</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="journal-post.html" title="Put Your Head on My Shoulders">
                                        <img alt="p11" height="150" src="assets/images/journal/p111-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="journal-post.html" title="Put Your Head on My Shoulders">Put Your Head on My
                                Shoulders</a>
                                <small class="post-date">September 25, 2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="journal-post.html" title="A Flight to Remember">
                                        <img alt="p041" height="150" src="assets/images/journal/p041-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="journal-post.html" title="A Flight to Remember">A Flight to Remember</a>
                                <small class="post-date">September 25, 2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="journal-post.html" title="The Beast with a Billion Backs">
                                        <img alt="p01" height="150" src="assets/images/journal/p011-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="journal-post.html" title="The Beast with a Billion Backs">The Beast with a Billion
                                Backs</a>
                                <small class="post-date">September 25, 2014</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_categories">
                        <h3 class="sidebar-header">Categories</h3>

                        <ul>
                            <li>
                                <a href="journal-index.html">Education</a>
                            </li>

                            <li>
                                <a href="journal-index.html">Fashion</a>
                            </li>

                            <li>
                                <a href="journal-index.html">Food &amp; Health</a>
                            </li>

                            <li>
                                <a href="journal-index.html">Inspirational</a>
                            </li>

                            <li>
                                <a href="journal-index.html">Tech</a>
                            </li>

                            <li>
                                <a href="journal-index.html">Travel</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_archive" id="archives-4">
                        <h3 class="sidebar-header">Archives</h3>

                        <ul>
                            <li>
                                <a href='journal-index.html'>September 2014</a>
                            </li>

                            <li>
                                <a href='journal-index.html'>August 2014</a>
                            </li>

                            <li>
                                <a href='journal-index.html'>July 2014</a>
                            </li>

                            <li>
                                <a href='journal-index.html'>June 2014</a>
                            </li>

                            <li>
                                <a href='journal-index.html'>May 2014</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget">
                            Copyright © 2015 - Lamda Wordpress theme
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a href="http://lambdahtml.oxygenna.com">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://lambdahtml.oxygenna.com">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://lambdahtml.oxygenna.com">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://lambdahtml.oxygenna.com">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>