<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to Put Your Head on My Shoulders">Put Your Head on My Shoulders</a>
        </h2>

        <p class="lead">Weaseling out of things is important to learn. It's what separates us from the animals…except the weasel. You know, the one with all the well meaning rules that don't work
        out in real life, uh, Christianity.</p>
    </header>

    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a href="journal-post.html" class="figure-image">
                <img alt="Put Your Head on My Shoulders" src="assets/images/journal/p111.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="post-body">
        <p>Lisa, vampires are make-believe, like elves, gremlins, and <strong>Eskimos</strong>. We started out like Romeo and Juliet, but it ended up in tragedy. Attempted murder? Now honestly,
        what is that? Do they give a Nobel <strong>Prize</strong> for attempted chemistry? Get ready, skanks! It&#8217;s time for the truth train! Books are useless! I only ever read one book,
        &#8220;To Kill A Mockingbird,&#8221; and it gave me absolutely no insight on how to kill mockingbirds! Sure it taught me not to judge a man by the color of his skin…but what good does
        *that* do me?</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> September 25, 2014
        </span>
        <span class="post-author">
            <i class="icon-head"></i>
            <a href="journal-blog.html">christos</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-index.html" rel="tag">Fashion</a>, <a href="journal-index.html" rel="tag">Tech</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on Put Your Head on My Shoulders">3 comments</a>
        </span>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to A Flight to Remember">A Flight to Remember</a>
        </h2>

        <p class="lead">No children have ever meddled with the Republican Party and lived to tell about it. The lesson is, never try. Oh, so they have Internet on computers now.</p>
    </header>

    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="journal-post.html">
                <img alt="A Flight to Remember" src="assets/images/journal/p041.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="post-body">
        <p>That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don&#8217;t have a place within an organized <strong>religion</strong>.
        Son, a woman is like a beer. They smell good, they look good, you&#8217;d step over your own mother just to get one! But you can&#8217;t stop at one. You wanna drink another woman! The
        Internet King? I wonder if he could provide faster nudity.</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> September 25, 2014
        </span>
        <span class="post-author"><i class="icon-head"></i>
            <a href="journal-blog.html">Proistakis Manos</a>
        </span>
        <span class="post-category"><i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Education</a>, <a href="journal-blog.html" rel="tag">Travel</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on A Flight to Remember">2 comments</a>
        </span>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to The Beast with a Billion Backs">The Beast with a Billion Backs</a>
        </h2>

        <p class="lead">Good news, everyone! There's a report on TV with some very bad news! Actually, that's still true. We'll need to have a look inside you with this camera.</p>
    </header>

    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="journal-post.html">
                <img alt="The Beast with a Billion Backs" src="assets/images/journal/p011.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="post-body">
        <p>There&#8217;s one way and only one way to determine if an animal is <strong>intelligent</strong>. Dissect its brain! It&#8217;s a T. It goes &#8220;tuh&#8221;. Anyone who laughs is a
        communist! Morbo will now introduce tonight&#8217;s candidates&hellip; Morbo&#8217;s good friend, Richard Nixon.</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> January 5, 2015
        </span>
        <span class="post-author"><i class="icon-head"></i>
            <a href="journal-blog.html">Proistakis Manos</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Fashion</a>, <a href="journal-blog.html" rel="tag">Food &amp; Health</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on The Beast with a Billion Backs">3 comments</a>
        </span>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-blog.html">read more</a>
    </div>
</article>
<article class="post">
    <div class="post-body">
        <blockquote class="text-left">
            <p>Good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ask you a few questions. we're going for a ride on the information
            super highway. Here she comes to wreck the day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we're going for a ride on the information super highway.</p>

            <footer>
                Cold Warriors
            </footer>
        </blockquote>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to The Ugly Side of the Moon">The Ugly Side of the Moon</a></h2>

        <p class="lead">The Leaked Secret to Apollo Discovered</p>
    </header>

    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="journal-post.html">
                <img alt="The Ugly Side of the Moon" src="assets/images/journal/p021.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="post-body">
        <p>Books are useless! I only ever read one book, &#8220;To Kill A Mockingbird,&#8221; and it gave me <strong>absolutely</strong> no insight on how to kill mockingbirds! Sure it taught me
        not to judge a man by the color of his skin…but what good does *that* do me? I&#8217;m a Spalding Gray in a Rick Dees world. You don&#8217;t win friends with salad. The Internet King? I
        wonder if he could provide faster nudity.</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> January 25, 2015
        </span>
        <span class="post-author">
            <i class="icon-head"></i>
            <a href="journal-blog.html">proistak</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Food &amp; Health</a>,
            <a href="journal-blog.html" rel="tag">Travel</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on The Ugly Side of the Moon">2 comments</a>
        </span>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<article class="post-189 post type-post status-publish format-gallery has-post-thumbnail hentry category-inspirational tag-assault tag-discovery tag-lucky" id="post-189">
    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="journal-post.html" rel="bookmark" title="Permalink to The Birth of Lies">The Birth of Lies</a></h2>

        <p class="lead">You want a guarantee, buy a toaster</p>
    </header>

    <div class="post-media">
        <div class="flexslider flex-controls-bottom" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" id="flexslider-80">
            <ul class="slides">
                <li>
                    <figure>
                        <img alt="p06" src="assets/images/journal/p061.jpg">
                    </figure>
                </li>

                <li>
                    <figure>
                        <img alt="p07" src="assets/images/journal/p071.jpg">
                    </figure>
                </li>
            </ul>
        </div>
    </div>

    <div class="post-body">
        <p>Yes! I am a citizen! Now which way to the welfare <strong>office</strong>? I&#8217;m kidding, I&#8217;m kidding. I work, I work. Bart, with $10,000 we&#8217;d be millionaires! We could
        buy all kinds of useful things like…love!</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> December 25, 2014
        </span>
        <span class="post-author">
            <i class="icon-head"></i>
            <a href="journal-blog.html">Proistakis Manos</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Inspirational</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on The Birth of Lies">2 comments</a>
        </span>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to Where No Fan Has Gone Before">Where No Fan Has Gone Before</a>
        </h2>

        <p class="lead">I am the last of my species, and I know how that weighs on the heart so don't lie to me! Stop talking, brain thinking. Hush. You know when grown-ups tell you 'everything's
        going to be fine' and you think they're probably lying to make you feel better?</p>
    </header>

    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="journal-post.html">
                <img alt="Where No Fan Has Gone Before" src="assets/images/journal/p101.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="post-body">
        <p>Father Christmas. <strong>Santa Claus</strong>. Or as I&#8217;ve always known him: Jeff. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! The way I see it, every life
        is a pile of good things and bad things.&hellip;hey.&hellip;the good things don&#8217;t always soften the bad things; but vice-versa the bad things don&#8217;t necessarily spoil the good
        things and make them unimportant. Saving the world with meals on wheels.</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> October 12, 2014
        </span>
        <span class="post-author">
            <i class="icon-head"></i>
            <a href="journal-blog.html">christos</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Education</a>, <a href="journal-blog.html" rel="tag">Inspirational</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on Where No Fan Has Gone Before">2 comments</a>
        </span>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-blog.html">read more</a>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to The Cyber House Rules">The Cyber House Rules</a>
        </h2>

        <p class="lead">What could possibly go wrong? Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens! Saving the world with meals on wheels.</p>
    </header>

    <div class="post-media">
        <div class="video-wrapper feature-video">
            <iframe frameborder="0" height="658" src="//player.vimeo.com/video/105438077" title="breathe" width="1170"></iframe>
        </div>
    </div>

    <div class="post-body">
        <p>Super <strong>squeaky</strong> bum time! You hit me with a cricket bat. You&#8217;ve swallowed a planet! You know how I sometimes have really brilliant ideas? Annihilate? No. No
        violence. I won&#8217;t stand for it. Not now, not ever, do you understand me?! I&#8217;m the Doctor, the Oncoming Storm &#8211; and you basically meant beat them in a football match,
        didn&#8217;t you?</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> November 9, 2014
        </span>
        <span class="post-author"><i class="icon-head"></i>
            <a href="journal-blog.html">christos</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Education</a>,
            <a href="journal-blog.html" rel="tag">Fashion</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on The Cyber House Rules">1 comment</a>
        </span>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to The Day the Earth Stood Stupid">The Day the Earth Stood Stupid</a>
        </h2>

        <p class="lead">They're not aliens, they're Earth…liens! They're not aliens, they're Earth…liens! Stop talking, brain thinking. Hush.</p>
    </header>

    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="journal-post.html">
                <img alt="The Day the Earth Stood Stupid" src="assets/images/journal/p091.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="post-body">
        <p>All I&#8217;ve got to do is pass as an ordinary <strong>human</strong> being. Simple. What could possibly go wrong? I hate yogurt. It&#8217;s just stuff with bits in. Sorry, checking
        all the water in this area; there&#8217;s an escaped fish.</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> July 25, 2014
        </span>
        <span class="post-author">
            <i class="icon-head"></i>
            <a href="journal-blog.html">christos</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Travel</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on The Day the Earth Stood Stupid">3 comments</a>
        </span>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<article class="post">
    <header class="post-head small-screen-center">
        <h2 class="post-title">
            <a href="journal-post.html" rel="bookmark" title="Permalink to Fry Am the Egg Man">Fry Am the Egg Man</a>
        </h2>

        <p class="lead">Stop talking, brain thinking. Hush. Heh-haa! Super squeaky bum time! Father Christmas. Santa Claus. Or as I've always known him.</p>
    </header>

    <div class="post-media">
        <div class="flexslider flex-controls-bottom" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" id="flexslider-28">
            <ul class="slides">
                <li>
                    <figure>
                        <img alt="p08" src="assets/images/journal/p081.jpg">
                    </figure>
                </li>

                <li>
                    <figure>
                        <img alt="p11" src="assets/images/journal/p111.jpg">
                    </figure>
                </li>
            </ul>
        </div>
    </div>

    <div class="post-body">
        <p>I hate yogurt. It&#8217;s just stuff with bits in. Sorry, checking all the water in this area; there&#8217;s an escaped <strong>fish</strong>. Saving the world with meals on wheels.
        Stop talking, brain thinking. Hush. Annihilate? No. No violence. I won&#8217;t stand for it. Not now, not ever, do you understand me?! I&#8217;m the Doctor, the Oncoming Storm &#8211; and
        you basically meant beat them in a <strong>football</strong> match, didn&#8217;t you? The way I see it, every life is a pile of good things and bad things.…hey.…the good things
        don&#8217;t always soften the bad things; but vice-versa the bad things don&#8217;t necessarily spoil the good things and make them unimportant.</p>
    </div>

    <div class="post-details">
        <span class="post-date">
            <i class="icon-clock"></i> February 26, 2015
        </span>
        <span class="post-author">
            <i class="icon-head"></i>
            <a href="journal-blog.html">Langan John</a>
        </span>
        <span class="post-category">
            <i class="icon-clipboard"></i>
            <a href="journal-blog.html" rel="tag">Inspirational</a>
        </span>
        <span class="post-link">
            <i class="icon-speech-bubble"></i>
            <a href="#" title="Comment on Fry Am the Egg Man">2 comments</a>
        </span>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="journal-post.html">read more</a>
    </div>
</article>
<nav id="nav-below" class="post-navigation padded">
    <ul class="pager">
        <li class="previous">
            <a href="#" class="btn btn-primary btn-icon btn-icon-left">
                <i class="fa fa-angle-left"></i>
                Previous
            </a>
        </li>
        <li class="next"></li>
    </ul>
</nav>