<section class="section">
    <div class="background-media" style="background-image: url(assets/images/wedding/wedding-bg1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
    </div>
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(210,158,175,0);"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center small-screen-center">
                <div class="divider-wrapper">
                    <div class="visible-xs element-height-24"></div>
                    <div class="visible-sm element-height-30"></div>
                    <div class="visible-md element-height-80"></div>
                    <div class="visible-lg element-height-80"></div>
                </div>
                <div class="figure element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <span class="figure-image">
                        <img alt="footer" src="assets/images/wedding/footer.png">
                    </span>
                </div>
                <div class="divider-wrapper">
                    <div class="visible-xs element-height-24"></div>
                    <div class="visible-sm element-height-30"></div>
                    <div class="visible-md element-height-80"></div>
                    <div class="visible-lg element-height-80"></div>
                </div>
            </div>
        </div>
    </div>
</section>