{% extends "layouts/architecture.html" %}

{% set title = "Profile | Architecture" %}
{% set activeMenu = "Profile" %}

{% block content %}
<article>
    <section class="section section-transparent">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/architecture/img18-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>

        <div class="container-fullwidth container-vertical-top">
            <div class="row vertical-top">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-190 element-bottom-100 text-light hyper regular">The Team</h1>
                    <a href="#about" class="scroll-to scroll-to-id  element-top-20 element-bottom-20 text-light" data-os-animation="none" data-os-animation-delay="0s">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="about">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col-text-1 text-normal element-top-20 element-bottom-20">
                        <p></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <h1 class="text-center element-top-80 element-bottom-0 text-normal normal regular">Lambda Architecture</h1>
                    <hr class=" element-top-20 element-bottom-20">

                    <div class="col-text-1 text-normal element-top-0 element-bottom-80">
                        <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="col-text-1 text-normal element-top-20 element-bottom-20">
                        <p></p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-text-1 text-normal element-top-20 element-bottom-20">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/architecture/img3-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-text-1 text-normal element-top-20 element-bottom-20">
                        <p></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel element-top-20 element-bottom-20">
                        <div class="panel-body" style="background-color:rgba(0, 0, 0, 0.85);">
                            <h1 class="text-center element-top-20 element-bottom-20 text-light normal regular">About Us</h1>
                            <hr class=" element-top-20 element-bottom-20">

                            <div class="col-text-1 text-light element-top-20 element-bottom-20">
                                <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-text-1 text-normal element-top-80 element-bottom-80">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-text-1 text-normal element-top-80 element-bottom-80">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class=" row staff-list-container list-container element-top-20 element-bottom-20">
                        <div class="figure text-normal col-md-4 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in">
                            <div class="figure-image">
                                <img alt="Marshall Fletcher" src="assets/images/architecture/img20-notinclude.jpg">

                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Marshall Fletcher</strong>
                                </h3>

                                <p class="figure-caption-description"></p>
                            </div>
                        </div>

                        <div class="figure text-normal col-md-4 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in">
                            <div class="figure-image">
                                <img alt="Elijah Schmidt" src="assets/images/architecture/img21-notinclude.jpg">

                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Elijah Schmidt</strong>
                                </h3>

                                <p class="figure-caption-description"></p>
                            </div>
                        </div>

                        <div class="figure text-normal col-md-4 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in">
                            <div class="figure-image">
                                <img alt="Fredrick Frank" src="assets/images/architecture/img22-notinclude.jpg">

                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Fredrick Frank</strong>
                                </h3>

                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}