{% extends "layouts/architecture.html" %}

{% set title = "Architecture" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/architecture/footer.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -85px" data-start="background-position: 50% -132px" style="background-image: url(assets/images/architecture/img1-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:no-scroll; background-position: 50% -0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-240"></div>
                        <div class="visible-lg element-height-240"></div>
                    </div>

                    <h1 class="text-center element-top-0 element-bottom-0 text-light os-animation hyper regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Modern</h1>

                    <h1 class="text-center element-top-0 element-bottom-20 text-light os-animation hyper regular" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Architecture</h1>

                    <div class="figure element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0.3s">
                        <span class="figure-image"><img alt="" src=""></span>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-100"></div>
                        <div class="visible-lg element-height-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-3 text-center">
                    <div class="col-text-1 text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                        <p></p>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 text-normal os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Lambda Architecture</h1>
                    <hr class=" element-top-20 element-bottom-20">

                    <div class="col-text-1 text-normal element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <p style="text-align: center;">Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social,environmental and aesthetic considerations. It requires the creative manipulation and coordination of materials and technology, and of light and shadow.</p>
                    </div><a class="btn btn-primary text-normal element-left-0 element-right-0 element-top-20 element-bottom-80" data-target="#271" data-toggle="modal" href="#">Ask for a quote</a>
                </div>

                <div class="col-md-3 small-screen-default">
                    <div class="col-text-1 text-normal element-top-20 element-bottom-20">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/architecture/img3-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="col-text-1 text-normal element-top-20 element-bottom-20">
                        <p></p>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="panel element-top-150 element-bottom-150 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        <div class="panel-body" style="background-color:rgba(0, 0, 0, 0.69);">
                            <h1 class="text-center element-top-20 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Our Mission</h1>
                            <hr class=" element-top-20 element-bottom-20">

                            <div class="col-text-1 text-light element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>The goal of Lambda Architecture is to make architecture more connected and open-minded, and bring together designers from around the world to introduce new ideas
                                from all disciplines. Lambda's direction is driven by the staff and contributors, as pictured below. The member-based community system allows anyone to
                                participate by registering and contributing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="features-list text-normal element-top-0 element-bottom-0">
                        <li class=" element-top-100 element-bottom-0 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                            <div class="features-list-icon box-animate animated none" data-animation="none " style="background-color:#3c3c3c;">
                                <i class="fa fa-gears" style="color:#ffffff;"></i>
                            </div>

                            <h3>Building Materials</h3>

                            <p>Building materials, fixtures, furnishings, equipment and devices used in the field of architecture, engineering and construction to create buildings and structures.</p>

                            <p></p>
                        </li>

                        <li class=" element-top-30 element-bottom-100 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                            <div class="features-list-icon box-animate animated none" data-animation="none " style="background-color:#3c3c3c;">
                                <i class="fa fa-pencil" style="color:#ffffff;"></i>
                            </div>

                            <h3>Design</h3>

                            <p>Most architecture can be classified as a chronology of styles which changes over time reflecting changing fashions, or the beliefs and religions.</p>

                            <p></p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="features-list text-normal element-top-0 element-bottom-0">
                        <li class=" element-top-100 element-bottom-0 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">
                            <div class="features-list-icon box-animate animated none" data-animation="none " style="background-color:#3c3c3c;">
                                <i class="fa fa-check" style="color:#ffffff;"></i>
                            </div>

                            <h3>Knowledge Of Art</h3>

                            <p>Architectural knowledge has played a role in discussions on design, reuse,<br>
                            and evolution for over a decade.</p>
                        </li>

                        <li class=" element-top-30 element-bottom-100 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                            <div class="features-list-icon box-animate animated none" data-animation="none " style="background-color:#3c3c3c;">
                                <i class="fa fa-list-ul" style="color:#ffffff;"></i>
                            </div>

                            <h3>Modern Concepts</h3>

                            <p>New architectural concepts on home design decorating, Interior design and decorating and stylish home design ideas to make your living space better.</p>

                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="flexslider flex-controls-bottom element-top-0 element-bottom-0" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show"
                    data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="show" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" id="flexslider-73">
                        <ul class="slides">
                            <li>
                                <figure>
                                    <img alt="img6-notinclude" class="attachment-full wp-post-image" height="400" src="assets/images/architecture/img6-notinclude.jpg" width="1200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="img7-notinclude" class="attachment-full wp-post-image" height="400" src="assets/images/architecture/img7-notinclude.jpg" width="1200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="img5-notinclude" class="attachment-full wp-post-image" height="400" src="assets/images/architecture/img5-notinclude.jpg" width="1200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="img4-notinclude" class="attachment-full wp-post-image" height="400" src="assets/images/architecture/img4-notinclude.jpg" width="1200">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="background-media" style="background-image: url(); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"></div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(223,223,223,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-md-2">
                            <br>
                        </div>

                        <div class="col-md-8">
                            <h1 class="text-center element-top-40 element-bottom-0 text-normal os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Architectural
                            Sketches</h1>
                            <hr class=" element-top-20 element-bottom-20">

                            <div class="col-text-1 text-normal element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>Architects sketch as part of the process when doing their job … at least we do. There are many different styles and techniques that architects use when graphically
                                working through problems.</p>
                            </div>
                            <a class="btn btn-default text-normal element-left-0 element-right-0 element-top-20 element-bottom-40" href="architecture-gallery.html">View Our Gallery</a>
                        </div>

                        <div class="col-md-2">
                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="figure element-top-0 element-bottom-0 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.5s">
                        <span class="figure-image"><img alt="" src="assets/images/architecture/img8-notinclude1.jpg"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-0 element-bottom-0 text-normal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition" data-col-lg="3" data-col-md="3" data-col-sm="3" data-col-xs="3" data-layout="fitRows" data-padding="0">
                            <div class="masonry-item portfolio-item filter-projects" data-date="2015-08-27T09:21:22+00:00" data-menu-order="0" data-title="Lowly Squat">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/architecture/img14-notinclude.jpg" target="_self" title="">
                                        <img alt="Lowly Squat" class="normalwidth" src="assets/images/architecture/img14-notinclude-800x600.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Lowly Squat</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-outdoor" data-date="2015-08-27T09:22:23+00:00" data-menu-order="0" data-title="Peerless Heights">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/architecture/img15-notinclude.jpg" target="_self" title="">
                                        <img alt="Peerless Heights" class="normalwidth" src="assets/images/architecture/img15-notinclude-800x600.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Peerless Heights</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-interior" data-date="2015-08-27T09:23:22+00:00" data-menu-order="0" data-title="Uber Lux Hotel">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/architecture/img10-notinclude.jpg" target="_self" title="">
                                        <img alt="Uber Lux Hotel" class=
                                        "normalwidth" src="assets/images/architecture/img10-notinclude-800x600.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Uber Lux Hotel</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="book">
        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12 text-center">
                    <div class="google-map" id="map" style="height:400px"></div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
