{% extends "layouts/architecture.html" %}

{% set title = "Blog | Architecture" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/architecture/img18-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-190 element-bottom-150 text-light hyper light" data-os-animation="none" data-os-animation-delay="0s">Blog</h1>

                    <ol class="breadcrumb breadcrumb-blog text-lowercase element-top-190">
                        <li>
                            <a href="architecture-index.html">home</a>
                        </li>

                        <li>
                            <a href="architecture-blog.html">blog</a>
                        </li>

                        <li>
                            <a href="architecture-post.html" rel="tag">Design</a>
                        </li>

                        <li class="active">Timeless Design as Sustainability</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">Timeless Design as Sustainability</h1>
                        </header>

                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/architecture/img14-notinclude.jpg">
                                    <img alt="Timeless Design as Sustainability" src="assets/images/architecture/img14-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p>f you follow the BUILD Blog, you know that we’re advocates of genuine sustainability.</p>

                            <p>Not the high-gloss, pre-packaged, trend-setting sustainability typically characterized by any assortment of dubious “green” certifications and tossed around like cheap
                            remedies for an ailing environment.We’re also not advocates of flying <em>starchitect</em> teams all over the globe to bestow “sustainable design” on places that we’re led
                            to believe are less enlightened (the overuse of jet fuel doesn’t fall into our definition of “sustainable”). No, we’re referring to a category of sustainability that
                            leaves real and mathematical evidence of easing the stress placed on our ecosystem. Such methods aren’t glamorous, in fact, many of them are down-to-earth and prove difficult for a consumer-driven market to repackage and sell.</p>

                            <p>Rebuilding a house on an existing foundation, for instance, has become a successful method to reduce fuel and building materials on several recent projects in our sphere. But the big box home improvement stores can’t slap an “eco-friendly” label on such strategies and peddle them on their orange industrial shelves.</p>

                            <p>These matter-of-fact sustainability methods also don’t make for very sensational conversation starters at dinner parties. Despite the success of these practical techniques when it comes to reducing the toll of our built environment on the natural one, they remain in the shadow of the more celebrated (but often less effective) methods of sustainability.</p>
                        </div>

                        <div class="post-details text-center">
                            <span class="post-date">
                                <i class="icon-clock"></i> August 26, 2015
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="architecture-blog.html">christos</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i> <a href="architecture-blog.html" rel="tag">Design</a>,
                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on Timeless Design as Sustainability">No comments</a>
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">architecture</a> <a href="architecture-post.html" rel="tag">design</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                    <i class="fa fa-pinterest"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="architecture-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="architecture-post.html"
                                rel="next">Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/architecture/img15-notinclude.jpg)">
                                    <a href="architecture-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Program, Plan, and Square Feet</h3>

                                            <div class="post-grid-content-footer">
                                                christos , August 26, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/architecture/img12-notinclude.jpg)">
                                    <a href="architecture-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">The Modern List Melbourne</h3>

                                            <div class="post-grid-content-footer">
                                                christos , August 26, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/architecture/img10-notinclude.jpg)">
                                    <a href="architecture-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Why Millennials Are Moving Home Design Trends</h3>

                                            <div class="post-grid-content-footer">
                                                oxygenna , August 27, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>

                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply <small><a href=
                        "/architecture/2014/09/25/the-importance-of-seo/#respond"
                        id="cancel-comment-reply-link" rel="nofollow" style=
                        "display:none;">Cancel reply</a></small></h3>

                        <form class="comment-form" id="commentform" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class=
                                    "input-block-level form-control" id="author" name="author" type="text" value=
                                    "">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class=
                                    "input-block-level form-control" id="email"
                                    name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="url">Website</label><input class=
                                    "input-block-level form-control" id="url"
                                    name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}