{% extends "layouts/architecture.html" %}

{% set title = "Blog | Architecture" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/architecture/img18-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-190 element-bottom-150 text-light hyper light">Blog</h1>
                </header>
            </div>
        </div>
    </section>

    <section class="section section-transparent">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 element-top-50 element-bottom-50">
                    <div class="masonry blog-masonry use-masonry isotope no-transition" data-col-lg="4" data-col-md="4" data-col-sm="2" data-col-xs="1" data-padding="8">
                        <div class="post-masonry masonry-item masonry-wide" data-menu-order="0">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-133">
                                    <a href="architecture-post.html"><img alt="Program, Plan, and Square Feet" class="img-responsive"
                                    src="assets/images/architecture/img15-notinclude.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="architecture-post.html">Program, Plan, and Square
                                        Feet</a></h3>

                                        <p>As architects and builders, we’re typically working on about eight houses at any given time (including the overlapping design, permitting, and construction
                                        phases of a project).</p>

                                        <div class="post-grid-content-footer">
                                            christos , August 26, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="1">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-130">
                                    <a href="architecture-post.html"><img alt="Timeless Design as Sustainability" class=
                                    "img-responsive" src="assets/images/architecture/img14-notinclude.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="architecture-post.html">Timeless Design as
                                        Sustainability</a></h3>

                                        <p>f you follow the BUILD Blog, you know that we’re advocates of genuine sustainability.</p>

                                        <div class="post-grid-content-footer">
                                            christos , August 26, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="2">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-127">
                                    <a href="architecture-post.html"><img alt=
                                    "Landscaping Strategies for the Modern Home" class="img-responsive" src=
                                    "assets/images/architecture/img13-notinclude.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="architecture-post.html">Landscaping
                                        Strategies for the Modern Home</a></h3>

                                        <p>One of the primary reasons that we maintain our Case Study House series is to experiment with design ideas on our own homes before we propose them on the projects we design for clients.</p>

                                        <div class="post-grid-content-footer">
                                            christos , August 26, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="3">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-124">
                                    <a href="architecture-post.html"><img alt="The Modern List Melbourne" class="img-responsive" src=
                                    "assets/images/architecture/img12-notinclude.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="architecture-post.html">The Modern List
                                        Melbourne</a></h3>

                                        <p>This installment of The Modern List takes our modernist adventures to the southern hemisphere. Last month, BUILD’s summer intern, Peter Gray, spent some time in Melbourne, Australia, and gave us the run down on some of the head-turning modernism permeating this cosmopolitan city at all scales.</p>

                                        <div class="post-grid-content-footer">
                                            christos , August 26, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="4">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20" id="post-209">
                                    <div class="post-grid-content">
                                        <blockquote class=" text-left text-normal element-top-no-top element-bottom-no-bottom">
                                            <p>Good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ask you a few questions. we're going for a
                                            ride on the information super highway. Here she comes to wreck the day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we're
                                            going for a ride on the information super highway.</p>

                                            <footer>
                                                Joshua Dawson
                                            </footer>
                                        </blockquote>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="5">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-1">
                                    <a href="architecture-post.html"><img alt="Why Millennials Are Moving Home Design Trends" class="img-responsive"
                                    src="assets/images/architecture/img10-notinclude.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="architecture-post.html">Why Millennials Are Moving Home Design
                                        Trends</a></h3>

                                        <p>Home design trends are like fashion— constantly in flux. What’s hot one minute is not so hot the next, leaving you with an outdated home.</p>

                                        <div class="post-grid-content-footer">
                                            oxygenna , August 25, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="6">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-76">
                                    <a href="architecture-post.html"><img alt="A 1930s Home In Austin, Texas Gets A Contemporary Makeover" class=
                                    "img-responsive" src="assets/images/architecture/img11-notinclude1.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="architecture-post.html">A 1930s Home In Austin, Texas Gets A
                                        Contemporary Makeover</a></h3>

                                        <p>There’s an important design concept that most architects study during their educations. It’s typically associated with old-school modernists like architect
                                        Louis Kahn and projects dating back to the 1950’s and 60’s.</p>

                                        <div class="post-grid-content-footer">
                                            oxygenna , December 16, 2014
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="infinite-scroll" style="visibility:hidden;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}