{% extends "layouts/barber.html" %}

{% set title = "Prices | Barber Shop" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-minimal" %}

{% set activeMenu = "Prices" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/barber/img10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-150 element-bottom-0 text-light os-animation super regular" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    Prices</h1>
                    <div class="figure element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                        <img alt="" src="assets/images/barber/moustache-white.png"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="element-top-20 element-bottom-20 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <h2 class="pricing-head" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                Beard Trim</h2>
                                <div class="pricing-body" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                <div class="pricing-price">
                                        <header style="background: #ff9866; color: #FFFFFF;">
                                            <h2><small style="color: #FFFFFF;">$</small> 15</h2>
                                            <p style="color: #FFFFFF;"></p>
                                        </header>
                                    </div>
                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">
                                        Mustache</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">
                                        Beard Clean Up</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">
                                        Lotion</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary"
                                    href="barber-book.html" style="background: rgba(255, 255, 255, 0.9); color: #ff9866;">Book
                                    Now</a>
                                </div>
                            </div>
                        </div>
                        <div class=
                        "col-md-3">
                            <div class=" element-top-20 element-bottom-20 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <h2 class="pricing-head" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                Shave</h2>
                                <div class="pricing-body" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                <div class="pricing-price">
                                        <header style="background: #ff9866; color: #FFFFFF;">
                                            <h2><small style="color: #FFFFFF;">$</small> 10</h2>
                                            <p style="color: #FFFFFF;"></p>
                                        </header>
                                    </div>
                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">
                                        Neck Clean Up</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">
                                        Cool towel</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">
                                        Lotion treatment</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary"
                                    href="barber-book.html"
                                    style=
                                    "background: rgba(255, 255, 255, 0.9); color: #ff9866;">Book
                                    Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="element-top-20 element-bottom-20 pricing-col os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.5s">
                                <h2 class="pricing-head" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                Children Haircut</h2>
                                <div class="pricing-body" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                <div class="pricing-price">
                                        <header style="background: #ff9866; color: #FFFFFF;">
                                            <h2><small style="color: #FFFFFF;">$</small> 8</h2>
                                            <p style="color: #FFFFFF;"></p>
                                        </header>
                                    </div>
                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">Ages 0–11</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">Shampoo</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">Style</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary"
                                    href="barber-book.html" style="background: rgba(255, 255, 255, 0.9); color: #ff9866;">Book
                                    Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" element-top-20 element-bottom-20 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.7s">
                                <h2 class="pricing-head" style="background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                Clean Cut</h2>
                                <div class="pricing-body" style=
                                "background: rgba(255, 152, 102, 0.85); color:#FFFFFF">
                                <div class="pricing-price">
                                        <header style=
                                        "background: #ff9866; color: #FFFFFF;">
                                            <h2><small style=
                                            "color: #FFFFFF;">$</small> 20</h2>
                                            <p style="color: #FFFFFF;"></p>
                                        </header>
                                    </div>
                                    <ul class="pricing-list">
                                        <li style=
                                        "border-color: rgba(255,255,255,0.1)">
                                        Haircut</li>
                                        <li style=
                                        "border-color: rgba(255,255,255,0.1)">
                                        Neck & Sideburn Shave</li>
                                        <li style="border-color: rgba(255,255,255,0.1)">Style</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary"
                                    href="barber-book.html" style="background: rgba(255, 255, 255, 0.9); color: #ff9866;">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(66,178,169,1);"></div>
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-2 text-center small-screen-center os-animation"
                data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular">Mon</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 3am</p>
                </div>
                <div class="col-md-2 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.05s" style="background:rgba(0, 0, 0, 0.05);">
                    <h1 class= "text-center element-top-20 element-bottom-20 text-light super regular">Tue</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 8am</p>
                </div>
                <div class="col-md-2 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular"data-os-animation="none" data-os-animation-delay="0s">Wed</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20"data-os-animation="none" data-os-animation-delay="0s">9pm - 3am</p>
                </div>
                <div class="col-md-2 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.15s"
                style="background:rgba(0, 0, 0, 0.05);">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular"
                    data-os-animation="none" data-os-animation-delay="0s">
                    Thu</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 8am</p>
                </div>
                <div class="col-md-2 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular">Fri</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 8am</p>
                </div>
                <div class="col-md-2 os-animation"
                data-os-animation="fadeIn" data-os-animation-delay="0.25s"
                style="background:rgba(0, 0, 0, 0.05);">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular">Sat</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 3am</p>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}