{% extends "layouts/barber.html" %}

{% set title = "Shop | Barber Shop" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-minimal" %}

{% set activeMenu = "Shop" %}

{% block content %}
<article>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(107,88,70,0.5);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-150 element-bottom-0 text-light os-animation super regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    Shop</h1>
                    <div class="figure element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image"><img alt="" src=
                        "assets/images/barber/moustache-white.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
    <div class="background-media" style="background-image: url(assets/images/barber/product06-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(255,255,255,0.8);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper" style=
                    "visibility:hidden;background-color:#FFFFFF">
                        <div class="visible-xs" style="height:20px;"></div>
                        <div class="visible-sm" style="height:20px;"></div>
                        <div class="visible-md" style="height:20px;"></div>
                        <div class="visible-lg" style="height:20px;"></div>
                    </div>
                    <div class="woocommerce columns-3">
                        <div class="row">
                            <ul class="products list-container">
                                <li class=
                                "first col-md-4 post-110 product type-product status-publish has-post-thumbnail product_tag-shave sale shipping-taxable purchasable product-type-simple product-tag-shave instock">
                                <a href="barber-single-product.html">
                                    <span class="onsale">Sale!</span>
                                    <div class="product-image">
                                        <div class="product-image-front">
                                        <img alt="product01-notinclude" class=
                                        "attachment-shop_catalog wp-post-image"
                                        height="900" src="assets/images/barber/product01-notinclude-700x900.jpg"
                                        width="700"></div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href=
                                        "barber-single-product.html">
                                        Shaving Soap</a></h3>
                                        <h3 class="price"><del><span class=
                                        "amount">&pound;50.00</span></del>
                                        <ins><span class=
                                        "amount">&pound;35.00</span></ins></h3><a class="add-to-cart-button add_to_cart_button product_type_simple"
                                        data-product_id="110" data-product_sku=
                                        "" href="" rel="nofollow"><i class=
                                        "icon-bag"></i></a>
                                    </div>
                                </li>
                                <li class="col-md-4 post-111 product type-product status-publish has-post-thumbnail product_tag-shave shipping-taxable purchasable product-type-simple product-tag-shave instock">
                                <a href="barber-single-product.html">
                                    <div class="product-image">
                                        <div class="product-image-front">
                                        <img alt="Shaving accessories on a luxury wooden background"
                                        class="attachment-shop_catalog wp-post-image" height="900" src="assets/images/barber/product03-notinclude-700x900.jpg"
                                        width="700"></div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href=
                                        "barber-single-product.html">
                                        Shaving Brush</a></h3>
                                        <h3 class="price"><span class=
                                        "amount">&pound;20.00</span></h3><a class="add-to-cart-button add_to_cart_button product_type_simple"
                                        data-product_id="111" data-product_sku=
                                        "" href=""
                                        rel="nofollow"><i class="icon-bag"></i></a>
                                    </div>
                                </li>
                                <li class="last col-md-4 post-109 product type-product status-publish has-post-thumbnail product_tag-shave shipping-taxable purchasable product-type-simple product-tag-shave instock">
                                <a href="barber-single-product.html">
                                    <div class="product-image">
                                        <div class="product-image-front">
                                        <img alt="product04-notinclude" class=
                                        "attachment-shop_catalog wp-post-image"
                                        height="901" src="assets/images/barber/product04-notinclude-700x901.jpg"
                                        width="700"></div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href=
                                        "barber-single-product.html">
                                        Safety razor</a></h3>
                                        <h3 class="price"><span class=
                                        "amount">&pound;42.00</span></h3><a class="add-to-cart-button add_to_cart_button product_type_simple"
                                        data-product_id="109" data-product_sku=
                                        "" href="" rel="nofollow"><i class=
                                        "icon-bag"></i></a>
                                    </div>
                                </li>
                                <li class="first col-md-4 post-108 product type-product status-publish has-post-thumbnail product_tag-shave sale shipping-taxable purchasable product-type-simple product-tag-shave instock">
                                <a href="barber-single-product.html">
                                    <span class="onsale">Sale!</span>
                                    <div class="product-image">
                                        <div class="product-image-front">
                                        <img alt="Shaving accessories on a luxury wooden background"
                                        class="attachment-shop_catalog wp-post-image" height="900" src="assets/images/barber/product02-notinclude-700x900.jpg"
                                        width="700"></div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href=
                                        "barber-single-product.html">
                                        Razor</a></h3>
                                        <h3 class="price"><del><span class=
                                        "amount">&pound;80.00</span></del>
                                        <ins><span class="amount">&pound;73.00</span></ins></h3><a class="add-to-cart-button add_to_cart_button product_type_simple"
                                        data-product_id="108" data-product_sku=
                                        "" href="" rel="nofollow"><i class=
                                        "icon-bag"></i></a>
                                    </div>
                                </li>
                                <li class="col-md-4 post-107 product type-product status-publish has-post-thumbnail product_tag-cut shipping-taxable purchasable product-type-simple product-tag-cut instock">
                                <a href="barber-single-product.html">
                                    <div class="product-image">
                                        <div class="product-image-front">
                                        <img alt="product05-notinclude" class=
                                        "attachment-shop_catalog wp-post-image"
                                        height="899" src="assets/images/barber/product05-notinclude-700x899.jpg"
                                        width="700"></div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href=
                                        "barber-single-product.html">
                                        Haircut razor</a></h3>
                                        <h3 class="price"><span class=
                                        "amount">&pound;55.00</span></h3><a class="add-to-cart-button add_to_cart_button product_type_simple" data-product_id="107" data-product_sku="" href=""
                                        rel="nofollow"><i class="icon-bag"></i></a>
                                    </div>
                                </li>
                                <li class="last col-md-4 post-106 product type-product status-publish has-post-thumbnail product_tag-shave shipping-taxable purchasable product-type-simple product-tag-shave instock">
                                <a href="barber-single-product.html">
                                    <div class="product-image">
                                        <div class="product-image-front">
                                        <img alt="product06-notinclude" class=
                                        "attachment-shop_catalog wp-post-image"height="900" src="assets/images/barber/product06-notinclude-700x900.jpg"
                                        width="700"></div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>
                                    <div class="product-info">
                                        <h3 class="product-title"><a href=
                                        "barber-single-product.html">
                                        After Shave</a></h3>
                                        <h3 class="price"><span class=
                                        "amount">&pound;70.00</span></h3><a class="add-to-cart-button add_to_cart_button product_type_simple" data-product_id="106" data-product_sku=
                                        "" href="" rel="nofollow"><i class=
                                        "icon-bag"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}