{% extends "layouts/barber.html" %}

{% set title = "Barber Shop" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-minimal" %}

{% set activeMenu = "Home" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/barber/img09-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center small-screen-center os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0.1s">
                            <div class="panel element-top-20 element-bottom-20">
                                <div class="panel-body" style="background-color:rgba(255, 152, 102, 0.5);">
                                    <h1 class="text-center element-top-20 element-bottom-0 text-light os-animation hyper regular"
                                    data-os-animation="fadeIn"
                                    data-os-animation-delay="0.1s">Welcome</h1>
                                    <h1 class="text-center element-top-0 element-bottom-0 text-light os-animation hyper regular"
                                    data-os-animation="fadeIn"
                                    data-os-animation-delay="0.3s">Lambda
                                    Barber Shop</h1>
                                    <div class="figure element-top-20 element-bottom-40 os-animation"
                                    data-os-animation="fadeIn"
                                    data-os-animation-delay="0.5s">
                                        <span class="figure-image"><img alt=""src=
                                        "assets/images/barber/icon02.png"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img09-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0.9);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <div class="list-container row element-top-40 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <span class="service-simple-image"><img alt="Beard Trim" src=
                            "assets/images/barber/shaving02.png"></span>
                            <h2>Beard Trim</h2>
                            <p>Well, the way they make shows is, they make one show. That shows called a pilot. Then they
                            show that show to the people who make shows, and on the strength of that one show they decide if
                            they're going to make more shows.</p>
                        </div>
                        <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0.4s">
                            <span class="service-simple-image"><img alt=
                            "Clean Cut" src="assets/images/barber/shaving03.png"></span>
                            <h2>Clean Cut</h2>
                            <p>Phasellus nec egestas nulla. Fusce euismod
                            sagittis elit, non aliquam nisi posuere vel. Donec at sagittis neque, a auctor ante. Nulla facilisi. Vestibulum tempus laoreet ex ut luctus. Phasellus nec neque sodales, cursus libero vehicula, hendrerit purus.</p>
                        </div>
                        <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            <span class="service-simple-image"><img alt="Shave" src="assets/images/barber/shaving.png"></span>
                            <h2>Shave</h2>
                            <p>Nam cursus justo quis arcu dignissim, sit amet
                            sodales ipsum lobortis. Donec faucibus ex bibendum, gravida dui et, mollis lorem. Curabitur a dui nec nisl congue vehicula. Morbi lacinia arcu sit amet nisi hendrerit aliquet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(66,178,169,1);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead text-right right text-light element-top-40 element-bottom-40 os-animation"
                    data-os-animation="fadeInLeft" data-os-animation-delay=
                    "0.1s">You need a hair cut or a shave?</p>
                </div>
                <div class="col-md-6 text-left small-screen-default">
                    <a class="btn btn-default text-normal element-left-0 element-right-0 element-top-40 element-bottom-40 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay=
                    "0.2s" href="barber-book.html">Book
                    Now</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/barber/img05-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-center">
                        </div>
                        <div class="col-md-8 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay= "0.1s">
                            <div class="panel element-top-20 element-bottom-20">
                                <div class="panel-body" style="background-color:rgba(255, 152, 102, 0.5);">
                                    <h1 class="text-center element-top-20 element-bottom-0 text-light os-animation super regular" data-os-animation="fadeIn"
                                    data-os-animation-delay="0.1s">Enjoy</h1>
                                    <div class="figure element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                        <span class="figure-image">
                                            <img alt="" src="assets/images/barber/moustache-white.png">
                                        </span>
                                    </div>
                                    <div class="col-text-1 text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                        <p>In eu in in quam sed, ac at non
                                        faucibus nunc congue, et dolor a quam
                                        mollit, volutpat venenatis bibendum
                                        ligula viverra sed. Dapibus aenean duis amet mi massa, arcu lacus arcu luctus, imperdiet sapien quis in porttitor pellentesque praesent. Ultricies minus, elit donec leo congue, magna vel non, sodales nunc, porttitor et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(66,178,169,1);"></div>
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-2 text-center small-screen-center os-animation"
                data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular">Mon</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 3am</p>
                </div>
                <div class="col-md-2 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.05s" style="background:rgba(0, 0, 0, 0.05);">
                    <h1 class= "text-center element-top-20 element-bottom-20 text-light super regular">Tue</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 8am</p>
                </div>
                <div class="col-md-2 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular"data-os-animation="none" data-os-animation-delay="0s">Wed</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20"data-os-animation="none" data-os-animation-delay="0s">9pm - 3am</p>
                </div>
                <div class="col-md-2 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.15s"
                style="background:rgba(0, 0, 0, 0.05);">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular"
                    data-os-animation="none" data-os-animation-delay="0s">
                    Thu</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 8am</p>
                </div>
                <div class="col-md-2 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular">Fri</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 8am</p>
                </div>
                <div class="col-md-2 os-animation"
                data-os-animation="fadeIn" data-os-animation-delay="0.25s"
                style="background:rgba(0, 0, 0, 0.05);">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super regular">Sat</h1>
                    <p class="lead text-center center text-light element-top-20 element-bottom-20">9pm - 3am</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img01-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-center small-screen-default">
                        </div>
                        <div class="col-md-8 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="panel element-top-20 element-bottom-20">
                                <div class="panel-body" style="background-color:rgba(255, 152, 102, 0.5);">
                                    <h1 class="text-center element-top-20 element-bottom-0 text-light os-animation super regular" data-os-animation="fadeIn"
                                    data-os-animation-delay="0.15s">Our
                                    team</h1>
                                    <div class="figure element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                        <span class="figure-image">
                                            <img alt=""src="assets/images/barber/moustache-white.png">
                                        </span>
                                    </div>
                                    <div class="col-text-1 text-light element-top-20 element-bottom-20 os-animation"data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                        <p>In eu in in quam sed, ac at non
                                        faucibus nunc congue, et dolor a quam
                                        mollit, volutpat venenatis bibendum
                                        ligula viverra sed. Dapibus aenean duis amet mi massa, arcu lacus arcu luctus, imperdiet sapien quis in porttitor pellentesque praesent. Ultricies minus, elit donec leo congue, magna vel non, sodales nunc, porttitor et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}