{% extends "layouts/barber.html" %}

{% set title = "Gallery | Barber Shop" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-minimal" %}

{% set activeMenu = "Gallery" %}

{% block content %}
<article>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-160 element-bottom-0 text-light os-animation super regular" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    Gallery</h1>
                    <div class="figure element-top-0 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                        <img alt="" src="assets/images/barber/moustache-white.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/product06-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0.8);"></div>
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-10 element-bottom-10 text-light">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio masonry no-transition use-masonry"
                        data-col-lg="6" data-col-md="4" data-col-sm="2"
                        data-col-xs="1" data-layout="masonry" data-padding=
                        "15">
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Reading newspaper">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img12-notinclude1.jpg"
                                    target="_self" title="">
                                        <img alt="Reading newspaper" class="normalwidth" src="assets/images/barber/img12-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Shaving accessories">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn"
                                data-os-animation-delay="0.15s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img08-notinclude1.jpg"
                                    target="_self" title="">
                                        <img alt="Shaving accessories" class="normalwidth" src="assets/images/barber/img08-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Shave">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn"
                                data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img07-notinclude1.jpg" target="_self" title="">
                                        <img alt="Shave" class="normalwidth" src=
                                    "assets/images/barber/img07-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Shaving accessories">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn"
                                data-os-animation-delay="0.45s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img06-notinclude1.jpg" target="_self" title="">
                                    <img alt="Shaving accessories" class="normalwidth" src="assets/images/barber/img06-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Enjoy">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img05-notinclude2.jpg" target="_self" title=""><img alt="Enjoy" class="normalwidth" src="assets/images/barber/img05-notinclude2.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Shave">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.75s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img04-notinclude2.jpg"
                                    target="_self" title="">
                                        <img alt="Shave" class="normalwidth" src="assets/images/barber/img04-notinclude2.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Haircut">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.9s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img03-notinclude2.jpg"
                                    target="_self" title="">
                                        <img alt="Haircut"class="normalwidth" src="assets/images/barber/img03-notinclude2.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Shaving accessories">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.05s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img15-notinclude1.jpg" target="_self" title="">
                                        <img alt="Shaving accessories" class="normalwidth" src="assets/images/barber/img15-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Chair">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img11-notinclude1.jpg" target="_self" title="">
                                        <img alt="Chair" class="normalwidth" src="assets/images/barber/img11-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Shaving accessories">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.35s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img14-notinclude1.jpg"
                                    target="_self" title="">
                                        <img alt="Shaving accessories" class="normalwidth" src="assets/images/barber/img14-notinclude1.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Children Haircut">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.5s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img02-notinclude2.jpg"
                                    target="_self" title="">
                                        <img alt="Children Haircut" class="normalwidth" src="assets/images/barber/img02-notinclude2.jpg"></a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery masonry-wide" data-title="Our Team">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-sepia image-filter-invert fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.65s">
                                    <a class="figure-image magnific image-all"
                                    data-links="" href="assets/images/barber/img01-notinclude1.jpg"
                                    target="_self" title="">
                                        <img alt="Our Team" class="normalwidth" src="assets/images/barber/img01-notinclude1.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}