{% extends "layouts/barber.html" %}

{% set title = "Blog | Barber Shop" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-minimal" %}

{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-150 element-bottom-50 text-light super light">Our Blog</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12 element-top-50 element-bottom-50">
                    <div class=
                    "masonry blog-masonry use-masonry isotope no-transition"
                    data-col-lg="4" data-col-md="4" data-col-sm="2"
                    data-col-xs="1" data-padding="15">
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="0">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        Elegant Hairstyles for Men</a></h1>
                                        <p>How do men style their hair when
                                        they are about to attend a festive
                                        event? Here is the simple solution:
                                        Pile on the style elements a bit more
                                        lavishly and create more elegance, more
                                        style, and more luster.</p>
                                        <div class="post-grid-content-footer">
                                            October 8, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="1">
                            <div class="post-masonry-inner">
                                <article class=
                                "post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        Men’s Hair Styling is a Matter of the
                                        Mind</a></h1>
                                        <p>How do modern men currently style
                                        their hair? What products are right for
                                        which one of the haircuts? What are the
                                        options for balding hair? Here we
                                        present the hair styling rules, which
                                        all men should know</p>
                                        <div class="post-grid-content-footer">
                                            October 8, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="2">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        How to Shave Properly</a></h1>
                                        <p>Nearly every time I give a client a
                                        shave in my barber salon, the guy
                                        almost always says something like,
                                        I wish I could give myself a
                                        shave like this at home. In
                                        reality, it is quite simple to get a
                                        barbershop quality shave every morning
                                        in the privacy of your own bathroom.
                                        Learning how</p>
                                        <div class="post-grid-content-footer">
                                            October 6, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="3">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        What Men Don't Know About
                                        Shaving</a></h1>
                                        <p>Occasionally, Let Someone Else Do
                                        the Work More men are getting
                                        professional shaves, a change from
                                        recent decades. A typical pro shave, he
                                        says, lasts 12 to 25 minutes. All you
                                        do is lie back and relax. The time
                                        depends on how many hot towels you want
                                        to use and if you get a facial</p>
                                        <div class="post-grid-content-footer">
                                            October 6, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="4">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        What Men Don't Know About
                                        Shaving</a></h1>
                                        <p>Brush Up continued.How often
                                        you must change blades is another good
                                        reason to stick with inexpensive single
                                        blades rather than three- or five-blade
                                        razors, which can be quite costly. The
                                        more expensive the blade, the less
                                        likely you may be to change them as
                                        often as you should.</p>
                                        <div class="post-grid-content-footer">
                                            October 6, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="5">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        How to get street-smart hair in under 5
                                        minutes</a></h1>
                                        <p>It's an easy 3-step process
                                        that you can master at home. If
                                        you've had the same old clean-cut
                                        hairdo for the last decade or so,
                                        it's time to mix it up with a
                                        little inspiration from the streets of
                                        New York. The current trend is guys
                                        looking clean and natural – with a
                                        little twist.</p>
                                        <div class="post-grid-content-footer">
                                            October 6, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="6">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        Get a better summer haircut</a></h1>
                                        <p>Summer is coming. Swap the Jon Snow
                                        mop for one of these more refined
                                        cuts.Come the warmer weather, come the
                                        scissors. The bird’s nest that kept
                                        your ears warm in the cold months and,
                                        at its worst, could at least be covered
                                        by a hat, is now a sweat-catching
                                        liability on your morning commute.
                                        To</p>
                                        <div class="post-grid-content-footer">
                                            October 6, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="7">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-center">
                                    <div class="post-grid-content">
                                        <h1 class="post-grid-content-title">
                                        <a href="barber-post.html">
                                        In Search Of Perfect Hair</a></h1>
                                        <p>Given that hair is technically dead,
                                        it’s surprising how much TLC it
                                        requires to look its best. And it’s not
                                        just your hair that needs care and
                                        attention – your scalp does too. So how
                                        can you deal with hair-raising problems
                                        like greasiness, breakage and product
                                        build-up? What’s the best way to tackle
                                        a thinning</p>
                                        <div class="post-grid-content-footer">
                                            October 6, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="infinite-scroll" style="visibility:hidden;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}