{% extends "layouts/barber.html" %}

{% set title = "Blog | Barber Shop" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-minimal" %}

{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/barber/img10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(107,88,70,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-150 element-bottom-50 text-light super light">
                    Our Blog</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">How to Shave Properly</h1>
                            <div class="post-details"></div>
                        </header>
                        <div class="post-body">
                            <p>Nearly every time I give a client a shave in my
                            barber salon, the guy almost always says something
                            like, &#8220;I wish I could give myself a shave
                            like this at home.&#8221; In reality, it is quite
                            simple to get a barbershop quality shave every
                            morning in the privacy of your own bathroom.
                            Learning how to shave properly is also key to
                            maintaining your look &#8212; your face is the
                            first thing people notice about you, so it&#8217;s
                            important to shave the right way. Simply follow my
                            three proven steps for how shave your face
                            properly.</p>
                            <h1>Step 1: Prep.</h1>
                            <p>This step is the most important and overlooked
                            part of the shaving process. A good prep cleanses
                            the skin, opens the pores, and softens the skin. To
                            prepare the skin for a smooth shave, always shave
                            after or at the end of a hot shower.</p>
                            <p>This will soften the beard and open the pores.
                            In a pinch, a hot towel and splash of water can be
                            used.</p>
                            <p>Always use a high quality shave cream (look for
                            those that are glycerine based) and stay away from
                            products that contain menthol, which can close your
                            pores and stiffen your beard. For those with
                            especially tough beards or sensitive skin, a Pre
                            Shave Oil may be applied to further soften the
                            beard and reduce razor drag. When applying the
                            shave cream, use a badger shaving brush to apply
                            the cream in a circular motion. This action will
                            help produce a better lather, lift the whiskers,
                            and gently exfoliate the skin.</p>
                            <h1>Step 2: Shave.</h1>
                            <p>Two of the leading causes of ingrown hairs and
                            razor burn are poor lubrication and dull blades.
                            Step one provides tips for proper lubrication, but
                            a good blade is also essential to a close,
                            comfortable shave. I recommend using a three blade
                            razor such as the Gillette Mach3 Turbo. Make sure
                            to always use a sharp blade.</p>
                            <p>With your free hand, hold the area of skin to be
                            shaved taut and glide the razor gently over your
                            face.</p>
                            <p>Avoid applying pressure, rinse your blade often,
                            and shave with the grain. If you require a closer
                            shave, re-lather and shave lightly against the
                            grain. If you nick yourself, apply a moist alum
                            block or styptic pencil to stop bleeding.</p>
                            <h1>Step 3: Repair and Protect.</h1>
                            <p>After shaving, always close the pores with a
                            rinse of cool water. Gently pat the face dry with a
                            soft cloth and apply a good aftershave balm. I
                            don&#8217;t recommend using products that contain
                            alcohol, as they can cause unnecessary drying of
                            the skin. The right aftershave balm will help
                            promote quicker healing and moisturize the
                            skin.</p>
                            <p>There&#8217;s no magic secret to getting a great
                            shave. Just follow the steps above every morning
                            and put your best face forward. Now that you know
                            how to maintain a great shave, check out my tips
                            for maintaining a great looking head of hair.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <ul class="social-icons social-sm social-simple social-circle">
                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="#"
                                rel="next">Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}