{% extends "layouts/charity.html" %}

{% set title = "News | Lambda" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/charity/img3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-160 element-bottom-60 text-light normal bold">
                        Latest News
                    </h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="charity-post.html">
                                    <img alt="Parade Charity" src="assets/images/charity/new.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="charity-post.html" rel="bookmark" title="Permalink to Parade Charity">Parade Charity</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> February 18, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Parade Charity">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Yes! I am a citizen! Now which way to the welfare <strong>office</strong>? I&#8217;m kidding, I&#8217;m kidding. I work, I work. Bart, with $10,000 we&#8217;d be
                            millionaires! We could buy all kinds of useful things like…love!</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="charity-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="charity-post.html">
                                    <img alt="Children&#8217;s Classic at Sanctuary" src="assets/images/charity/new3.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="charity-post.html" rel="bookmark" title="Permalink to Children&#8217;s Classic at Sanctuary">Children&#8217;s Classic at Sanctuary</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> January 25, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">Uncategorized</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="charity-post.html" title="Comment on Children&#8217;s Classic at Sanctuary">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Good morning, oh in case i don&#8217;t see you, good afternoon, good evening and goodnight. excuse me, i&#8217;d like to ask you a few questions. we&#8217;re going for
                            a ride on the information super highway. Here she comes to wreck the day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we&#8217;re going for a
                            ride on the information super highway.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="charity-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="charity-post.html">
                                    <img alt="Climb for Courage" src="assets/images/charity/new2.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="charity-post.html" rel="bookmark" title="Permalink to Climb for Courage">Climb for
                            Courage</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> December 25, 2014
                                </span>
                                <span class="post-author">
                                   <i class="icon-head"></i>
                                   <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="charity-post.html" title="Comment on Climb for Courage">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don&#8217;t have a place within an organized
                            <strong>religion</strong>. Son, a woman is like a beer. They smell good, they look good, you&#8217;d step over your own mother just to get one! But you can&#8217;t stop at
                            one. You wanna drink another woman! The Internet King? I wonder if he could provide faster nudity.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="charity-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="charity-post.html">
                                    <img alt="Children&#8217;s Gala" src="assets/images/charity/new4.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="charity-post.html" rel="bookmark" title="Permalink to Children&#8217;s Gala">Children&#8217;s
                            Gala</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> November 25, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="charity-post.html" title="Comment on Children&#8217;s Gala">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Books are useless! I only ever read one book, &#8220;To Kill A Mockingbird,&#8221; and it gave me <strong>absolutely</strong> no insight on how to kill mockingbirds!
                            Sure it taught me not to judge a man by the color of his skin…but what good does *that* do me? I&#8217;m a Spalding Gray in a Rick Dees world. You don&#8217;t win friends
                            with salad. The Internet King? I wonder if he could provide faster nudity.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="charity-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="charity-post.html">
                                    <img alt="Children&#8217;s Colorado Hoops Fest" src="assets/images/charity/new5.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="charity-post.html" rel="bookmark" title="Permalink to Children&#8217;s Colorado Hoops Fest">Children&#8217;s Colorado Hoops Fest</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> October 25, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="charity-post.html" title="Comment on Children&#8217;s Colorado Hoops Fest">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>There&#8217;s one way and only one way to determine if an animal is <strong>intelligent</strong>. Dissect its brain! It&#8217;s a T. It goes &#8220;tuh&#8221;. Anyone
                            who laughs is a communist! Morbo will now introduce tonight&#8217;s candidates… Morbo&#8217;s good friend, Richard Nixon.</p>
                            <p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="charity-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="charity-post.html">
                                    <img alt="Charity Classic bicycle tour" src="assets/images/charity/new6.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="charity-post.html" rel="bookmark" title="Permalink to Charity Classic bicycle tour">Charity Classic bicycle tour</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> September 25, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="charity-post.html" title="Comment on Charity Classic bicycle tour">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Lisa, vampires are make-believe, like elves, gremlins, and <strong>Eskimos</strong>. We started out like Romeo and Juliet, but it ended up in tragedy. Attempted murder?
                            Now honestly, what is that? Do they give a Nobel <strong>Prize</strong> for attempted chemistry? Get ready, skanks! It&#8217;s time for the truth train! Books are useless!
                            I only ever read one book, &#8220;To Kill A Mockingbird,&#8221; and it gave me absolutely no insight on how to kill mockingbirds! Sure it taught me not to judge a man by
                            the color of his skin…but what good does *that* do me?</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="charity-post.html">read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}