{% extends "layouts/charity.html" %}

{% set title = "Children's Colorado Hoops Fest" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/charity/img3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-160 element-bottom-60 text-light normal bold">Latest News</h1>

                    <ol class="breadcrumb breadcrumb-blog text-caps element-top-160">
                        <li>
                            <a href="charity-index.html">home</a>
                        </li>

                        <li>
                            <a href="charity-blog.html">blog</a>
                        </li>

                        <li>
                            <a href="charity-blog.html" rel="tag">News</a>
                        </li>

                        <li class="active">Children&#8217;s Colorado Hoops Fes ...</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/charity/new5.jpg">
                                    <img alt="Children&#8217;s Colorado Hoops Fest" src="assets/images/charity/new5.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h1 class="post-title">Children&#8217;s Colorado Hoops Fest</h1>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> October 25, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="charity-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Children&#8217;s Colorado Hoops Fest">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>There&#8217;s one way and only one way to determine if an animal is <strong>intelligent</strong>. Dissect its brain! It&#8217;s a T. It goes &#8220;tuh&#8221;. Anyone
                            who laughs is a communist! Morbo will now introduce tonight&#8217;s candidates… Morbo&#8217;s good friend, Richard Nixon.</p>

                            <p>I&#8217;ve been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? Shut up and take my money! You know, I was God once. Bender,
                            being God isn&#8217;t easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a
                            pickpocket. Pansy.</p>

                            <p>I never loved you. OK, if everyone&#8217;s finished being stupid. Oh Leela! You&#8217;re the only <strong>person</strong> I could turn to; you&#8217;re the only person
                            who ever loved me. Ah, computer dating. It&#8217;s like pimping, but you rarely have to use the phrase &#8220;upside your head.&#8221; These old Doomsday Devices are
                            dangerously unstable. I&#8217;ll rest easier not knowing where they are.</p>

                            <p>I haven&#8217;t felt much of anything since my guinea pig died. Fetal stemcells, aren&#8217;t those controversial? I wish! It&#8217;s a nickel. I had more, but you go
                            ahead. I was all of history&#8217;s great robot actors &#8211; Acting Unit 0.8; Thespomat; David Duchovny!</p>

                            <blockquote>
                                <p>It&#8217;s okay, Bender. I like cooking too. Why am I sticky and naked? Did I miss something fun? Why am I sticky and naked? Did I miss something fun? I just want
                                to talk. It has nothing to do with mating. Fry, that doesn&#8217;t make sense. Hi, I&#8217;m a naughty nurse, and I really need someone to talk to. $9.95 a minute.
                                You, a bobsleder!? That I&#8217;d like to see!</p>
                            </blockquote>

                            <p>Okay, it&#8217;s 500 dollars, you have no choice of carrier, the battery can&#8217;t hold the charge and the reception isn&#8217;t very… Soon enough. We&#8217;re
                            rescuing ya.</p>

                            <p>Stop it, stop it. It&#8217;s fine. I will &#8216;destroy&#8217; you! But existing is basically all I do! I usually try to keep my <strong>sadness</strong> pent up
                            inside where it can fester quietly as a mental illness. I feel like I was mauled by Jesus. And why did &#8216;I&#8217; have to take a cab? As an interesting side note, as
                            a head without a body, I envy the dead.</p>

                            <p>But I know you in the future. I cleaned your poop. Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic <strong>beverages</strong>!
                            Yeah, lots of people did. Interesting. No, wait, the other thing: tedious. Um, is this the boring, peaceful kind of taking to the streets? Ugh, it&#8217;s filthy! Why not
                            create a National Endowment for Strip Clubs while we&#8217;re at it?</p>

                            <p>Kif might! Now, now. Perfectly symmetrical violence never solved anything. Bender, being God isn&#8217;t easy. If you do too much, people get dependent on you, and if
                            you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket. Professor, make a woman out of me.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">bicycle</a> <a href="#" rel="tag">charity</a>
                                        <a href="#" rel="tag">event</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0">
                                        <ul class="social-icons social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-facebook" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-pinterest" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev">
                                    <i class="fa fa-angle-left"></i> Previous
                                </a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="#" rel="next">Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new.jpg)">
                                    <a href="charity-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Parade Charity</h3>

                                            <div class="post-grid-content-footer">
                                                langan, March 18, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new3.jpg)">
                                    <a href="charity-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Children&#8217;s Classic at Sanctuary</h3>

                                            <div class="post-grid-content-footer">
                                                christos , February 25, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new2.jpg)">
                                    <a href="charity-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Climb for Courage</h3>

                                            <div class="post-grid-content-footer">
                                                langan , March 28, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>

                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply</h3>

                        <form class="comment-form" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class=
                                    "input-block-level form-control" id="author" name="author" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class=
                                    "input-block-level form-control" id="email"
                                    name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for=
                                    "url">Website</label><input class="input-block-level form-control" id="url"
                                    name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id=
                                    "comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}