{% extends "layouts/charity.html" %}

{% set title = "Charity" %}
{% set activeMenu = "Home" %}

{% block extracss %}
    <!-- build:css assets/css/extras.min.css -->
    <link rel="stylesheet" href="styles/revolution.css">
    <link rel="stylesheet" href="../bower_components/mediaelement/build/mediaelementplayer.css">
    <!-- endbuild -->
    <style type="text/css" media="screen">
        .btn {
            font-weight: 700 !important;
            font-style: italic;
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block extrajs %}
    <!-- build:js assets/js/revolution.min.js -->
    <script type="text/javascript" src="scripts/tools.min.js"></script>
    <script type="text/javascript" src="scripts/revolution.min.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#homepage-slider').revolution({
                jsFileLocation: '/scripts/',
                extensions: 'revolution-extensions/',
                sliderType:"standard",
                sliderLayout:"auto",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                    keyboardNavigation:"off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style:"",
                        enable:true,
                        hide_onmobile:false,
                        hide_onleave:false,
                        tmp:'',
                        left: {
                            h_align:"left",
                            v_align:"center",
                            h_offset:20,
                            v_offset:0
                        },
                        right: {
                            h_align:"right",
                            v_align:"center",
                            h_offset:20,
                            v_offset:0
                        }
                    }
                    ,
                    bullets: {
                        enable:true,
                        hide_onmobile:false,
                        style:"hesperiden",
                        hide_onleave:false,
                        direction:"horizontal",
                        h_align:"center",
                        v_align:"bottom",
                        h_offset:0,
                        v_offset:20,
                        space:5,
                        tmp:''
                    }
                },
                gridwidth:1170,
                gridheight:700,
                lazyType:"none",
                parallax: {
                    type:"mouse+scroll",
                    origo:"enterpoint",
                    speed:400,
                    levels:[5,10,15,20,25,30,35,40,45,50],
                },
                shadow:2,
                spinner:"spinner2",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                }
            });
        });
    </script>
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
{% endblock %}

{% block content %}
<article>
    <section class="section" id="home">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="rev_slider_wrapper fullwidthbanner-container">
                        <div id="homepage-slider" class="rev_slider" data-version="5.0">
                            <ul>
                                <!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-1" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="5" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgparallax="off" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend=
                                    "0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="110" data-scalestart="100" height="700" src="assets/images/charity/img21.jpg" width="1150"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption charitywhitecenter tp-resizeme rs-parallaxlevel-0" data-height="auto" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="2000" data-transform_idle="" data-transform_in="y:-50px;opacity:0;s:600;e:Power3.easeInOut;" data-transform_out="y:bottom;s:300;s:300;" data-voffset="-50" data-width="auto"
                                    data-x="center" data-y="center" id="slide-1-layer-1" style="z-index: 5; white-space: nowrap;">
                                        Supporting <span>young</span> people<br>
                                        in <span>education</span> , <span>skills</span><br>
                                        & <span>training</span>
                                    </div><span><!-- LAYER NR. 2 --></span>

                                    <div class="tp-caption charitybutton tp-resizeme rs-parallaxlevel-0" data-height="auto" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start=
                                    "2500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="y:bottom;s:300;s:300;" data-voffset="125" data-width="auto" data-x=
                                    "center" data-y="center" id="slide-1-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <span><a data-target="#73" data-toggle="modal" href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna">Donate Now</a></span>
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-2" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="5" data-title="Slide" data-transition="fade">
                                <!-- MAIN IMAGE -->
                                     <img alt="" class="rev-slidebg" data-bgparallax="off" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend=
                                    "0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="110" data-scalestart="100" src="assets/images/charity/img1.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->
                                    <div class="tp-caption charitywhitecenter tp-resizeme rs-parallaxlevel-0" data-height="auto" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="2000" data-transform_idle="" data-transform_in="y:-50px;opacity:0;s:600;e:Power3.easeInOut;" data-transform_out="y:bottom;s:300;s:300;" data-voffset="-50" data-width="auto"
                                    data-x="center" data-y="center" id="slide-2-layer-1" style="z-index: 5; white-space: nowrap;">
                                        <span>The war against <span>Hunger</span><br>
                                        is the war of <span>Liberation</span></span>
                                    </div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption charitybutton tp-resizeme rs-parallaxlevel-0" data-height="auto" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start=
                                    "2500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="y:bottom;s:300;s:300;" data-voffset="80" data-width="auto" data-x="center"
                                    data-y="center" id="slide-2-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <a data-target="#73" data-toggle="modal" href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna">Donate Now</a>
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-3" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="5" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgparallax="off" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend=
                                    "0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="110" data-scalestart="100" src="assets/images/charity/img3.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption charitywhitecenter tp-resizeme rs-parallaxlevel-0" data-height="auto" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="2000" data-transform_idle="" data-transform_in="y:-50px;opacity:0;s:600;e:Power3.easeInOut;" data-transform_out="y:bottom;s:300;s:300;" data-voffset="-50" data-width="auto"
                                    data-x="center" data-y="center" id="slide-3-layer-1" style="z-index: 5; white-space: nowrap;">
                                        There are a lot of <span>weak hands</span><br>
                                        with <span>strong dreams</span> waiting<br>
                                        Why not <span>help them</span>?
                                    </div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption charitybutton tp-resizeme rs-parallaxlevel-0" data-height="auto" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start=
                                    "2500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="y:bottom;s:300;s:300;" data-voffset="150" data-width="auto" data-x=
                                    "center" data-y="center" id="slide-3-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <a data-target="#73" data-toggle="modal" href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna">Donate Now</a>
                                    </div>
                                </li>
                            </ul>

                            <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
                        </div><!-- END REVOLUTION SLIDER -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about">
        <div class="background-overlay" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-0 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">About Charity</h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>

                    <p class="lead text-center center element-top-0 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We’re an international
                    organisation, working with people in<br>
                    50 countries for a world free from poverty and injustice.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-8">
                    <div class="figure element-top-0 element-bottom-0 hide-sm os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                        <span class="figure-image">
                            <img alt="about" src="assets/images/charity/about.jpg"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <p>We’re an international development organisation with our head office based in <strong>Greece</strong>. We also have offices right across Asia, the Americas and Europe. We
                        <strong>believe</strong> the people whose lives our work affects should decide how we’re run.</p>

                        <p>And that’s what makes us different. We <strong>help</strong> people use their own power to fight poverty and injustice.</p>

                        <p>You can help us make a fairer, better world – wherever you are. Your voice can persuade world leaders to change policies.</p>
                    </div>
                    <a class="btn btn-primary btn-lg element-top-0 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" href="#" target=
                    "_self">Join our cause</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="stats">
        <div class="background-overlay" style="background-color: rgba(254,200,64,0.9);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-3 text-center" style="background:rgba(0, 0, 0, 0.2);">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <i class="fa fa-male text-light" style="font-size:42px"></i>

                    <div class="counter text-center element-top-10 element-bottom-0 text-light os-animation" data-count="1200" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <span class="value odometer-counter super regular">0</span>
                    </div>

                    <div class="divider-border divider-border-center element-top-0 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.81); width:60px;"></div>
                    </div>

                    <h3 class="text-center element-top-0 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Willing Volunteers</h3>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                </div>

                <div class="col-md-3 text-center small-screen-default" style="background:rgba(0, 0, 0, 0.15);">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <i class="fa fa-stethoscope text-light" style="font-size:42px"></i>

                    <div class="counter text-center element-top-10 element-bottom-0 text-light os-animation" data-count="160" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay=
                    "0.3s">
                        <span class="value odometer-counter super regular">0</span>
                    </div>

                    <div class="divider-border divider-border-center element-top-0 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s" style="height:3px;">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.81); width:60px;"></div>
                    </div>

                    <h3 class="text-center element-top-0 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.4s">Doctors &amp; Nurses</h3>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                </div>

                <div class="col-md-3 text-center small-screen-default" style="background:rgba(0, 0, 0, 0.1);">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <i class="fa fa-graduation-cap text-light" style="font-size:42px"></i>

                    <div class="counter text-center element-top-10 element-bottom-0 text-light os-animation" data-count="1580" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay=
                    "0.6s">
                        <span class="value odometer-counter super regular">0</span>
                    </div>

                    <div class="divider-border divider-border-center element-top-0 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.7s" style="height:3px;">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.81); width:60px;"></div>
                    </div>

                    <h3 class="text-center element-top-0 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.7s">Teaching Hours</h3>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                </div>

                <div class="col-md-3 text-center small-screen-default" style="background:rgba(0, 0, 0, 0.05);">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <i class="fa fa-child text-light" style="font-size:42px"></i>

                    <div class="counter text-center element-top-10 element-bottom-0 text-light os-animation" data-count="80" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay=
                    "0.9s">
                        <span class="value odometer-counter super regular">0</span>
                    </div>

                    <div class="divider-border divider-border-center element-top-0 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="1s" style="height:3px;">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.81); width:60px;"></div>
                    </div>

                    <h3 class="text-center element-top-0 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="1s">Happy Children</h3>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="goals">
        <div class="background-overlay" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-0 os-animation big" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Our Goals</h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>

                    <p class="lead text-center center element-top-0 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">The goal of the charity is to
                    ensure that we always have the funds<br>
                    readily available to help children get a proper education</p>

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-center">
                            <div class="progress element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="progress-bar progress-bar-primary" style="width: 75%;">
                                    <span>75.000$ out of 100.000$</span>
                                </div>
                            </div>

                            <div class="progress element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <div class="progress-bar progress-bar-primary" style="width: 90%;">
                                    <span>900 out of 1000 volunteers</span>
                                </div>
                            </div>

                            <div class="progress element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <div class="progress-bar progress-bar-primary" style="width: 60%;">
                                    <span>600 out of 900 teachers</span>
                                </div>
                            </div>
                            <a class="btn btn-primary btn-lg element-top-0 element-bottom-70 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s" href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna" target="_self">make a donation</a> <a class="btn btn-link btn-lg element-top-0 element-bottom-70 os-animation" data-os-animation="fadeIn" data-os-animation-delay=
                            "0.6s" href="" target="_self">Become a Volunteer</a>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="testimonials">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/charity/img3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(0,0,0,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-0 text-light os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Testimonials</h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" style="height:3px;">
                        <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                    </div>

                    <div class="element-top-20 element-bottom-70 text-center text-light flexslider feature-slider" data-flex-animation="slide" data-flex-controls="show" data-flex-controls-position="outside" data-flex-controlsalign="center" data-flex-directions="hide" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="none" data-os-animation-delay="0s" id="flexslider-222">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>We have been working with Charity for over ten years now and our relationship has moved from that of charity client event organisers to friends. Charity is a
                                    great team committed to providing innovative, fun and challenging events.</p>

                                    <footer>
                                        Kate Doe
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>We have been working with Charity for over ten years now and our relationship has moved from that of charity client event organisers to friends. Charity is a
                                    great team committed to providing innovative, fun and challenging events.</p>

                                    <footer>
                                        Kate Doe
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>Charity have helped Kith &amp; Kids raise thousands of pounds through many high quality overseas challenges that have been organised on our behalf. They are
                                    passionate about what they do, go the extra mile to make our events a success.</p>

                                    <footer>
                                        Chris Moern
                                    </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="news">
        <div class="background-overlay" style="background-color: rgba(250,250,250,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-0 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">Latest news</h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>

                    <p class="lead text-center center text-normal element-top-0 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Want to catch up on whats
                    been happening lately?<br>
                    Take a look at the latest news of Lambda.</p>

                    <div class=" element-top-0 element-bottom-50 recent-simple-os-container row">
                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new.jpg)">
                                <a href="charity-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Parade Charity</h3>

                                        <div class="post-grid-content-footer">
                                            langan , February 18, 2015
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new3.jpg)">
                                <a href="charity-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Children&#8217;s Classic at Sanctuary</h3>

                                        <div class="post-grid-content-footer">
                                            langan , February 25, 2015
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new2.jpg)">
                                <a href="charity-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Climb for Courage</h3>

                                        <div class="post-grid-content-footer">
                                            langan , December 25, 2014
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new4.jpg)">
                                <a href="charity-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Children&#8217;s Gala</h3>

                                        <div class="post-grid-content-footer">
                                            langan , November 25, 2014
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new5.jpg)">
                                <a href="charity-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Children&#8217;s Colorado Hoops Fest</h3>

                                        <div class="post-grid-content-footer">
                                            langan , October 25, 2014
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/charity/new6.jpg)">
                                <a href="charity-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Charity Classic bicycle tour</h3>

                                        <div class="post-grid-content-footer">
                                            langan , September 25, 2014
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="join">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/charity/3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-0 text-light os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Join Us</h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" style="height:3px;">
                        <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                    </div>

                    <p class="lead text-center center text-light element-top-0 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Want to catch up on whats been
                    happening lately?<br>
                    Take a look at the latest news of Lambda.</p>

                    <div class="row">
                        <div class="col-md-3"></div>

                        <div class="col-md-6">
                            <form id="contactForm" action="contact_mailer.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-envelope"></i>
                                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-icon-group">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                                </div>

                                <div class="text-center">
                                    <input type="submit" value="Send email" class="btn btn-primary">
                                </div>
                                <div class="messages text-center"></div>
                            </form>
                        </div>

                        <div class="col-md-3"></div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-70"></div>
                        <div class="visible-sm element-height-70"></div>
                        <div class="visible-md element-height-70"></div>
                        <div class="visible-lg element-height-70"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="donate">
        <div class="background-overlay" style="background-color: rgba(254,200,64,1);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-9 text-center">
                    <h2 class="element-top-60 element-bottom-60 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Help us make a better
                    world for our children</h2>
                </div>

                <div class="col-md-3 text-center">
                    <a class="btn btn-primary btn-lg text-light element-top-60 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna" target="_self">Make a
                    donation</a>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
