{% extends "layouts/construction.html" %}

{% set bodyclasses = "transparent-header pace-on pace-dot" %}
{% set title = "Construction | Lambda" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
    <!-- build:js assets/js/revolution.min.js -->
    <script type="text/javascript" src="scripts/tools.min.js"></script>
    <script type="text/javascript" src="scripts/revolution.min.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#homepage-slider').revolution({
                jsFileLocation: '/scripts/',
                extensions: 'revolution-extensions/',
                sliderType:"standard",
                sliderLayout:"auto",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                    keyboardNavigation:"off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style:"",
                        enable:true,
                        hide_onmobile:false,
                        hide_onleave:false,
                        tmp:'',
                        left: {
                            h_align:"left",
                            v_align:"center",
                            h_offset:20,
                            v_offset:0
                        },
                        right: {
                            h_align:"right",
                            v_align:"center",
                            h_offset:20,
                            v_offset:0
                        }
                    }
                    ,
                    bullets: {
                        enable:true,
                        hide_onmobile:false,
                        style:"hesperiden",
                        hide_onleave:false,
                        direction:"horizontal",
                        h_align:"center",
                        v_align:"bottom",
                        h_offset:0,
                        v_offset:20,
                        space:5,
                        tmp:''
                    }
                },
                gridwidth:1170,
                gridheight:550,
                lazyType:"none",
                parallax: {
                    type:"mouse+scroll",
                    origo:"enterpoint",
                    speed:400,
                    levels:[5,10,15,20,25,30,35,40,45,50],
                },
                shadow:0,
                spinner:"spinner2",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                }
            });
        });
        </script>
{% endblock %}
{% block skin %}
    <style  type="text/css" media="screen">
        .margin-right {
            margin-right: 20px;
        }
        .condensed {
            max-width: 750px;
            margin: 0 auto;
        }
    </style>
    <!-- build:css assets/css/construction.min.css -->
    <link rel="stylesheet" href="styles/skins/construction.css" type="text/css">
    <!-- endbuild -->
{% endblock %}

{% block content %}
<article>
    <section class="section">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="rev_slider_wrapper fullwidthbanner-container">
                        <div id="homepage-slider" class="rev_slider" data-version="5.0">
                            <ul>
                                <!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-3" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="off" data-bgposition="center top" data-bgrepeat="no-repeat" data-no-retina="" height="800" src=
                                    "assets/images/construction/img2-notinclude.jpg" width="1200"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption constructionwhitebig tp-resizeme rs-parallaxlevel-0" data-height="['auto']" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="500"
                                    data-transform_idle="o:1;rZ:inherit;" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-width="['auto']" data-x="450" data-y="170" id=
                                    "slide-3-layer-1" style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        LAMBDA CONSTRUCTION
                                    </div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption constructionwhite tp-resizeme rs-parallaxlevel-0" data-end="8000" data-height="['auto']" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="700" data-transform_idle="o:1;rZ:inherit;" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="" data-width="['auto']"
                                    data-x="450" data-y="center" id="slide-3-layer-2" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        A leader in providing integrated mobile equipment, tool, mining<br>
                                        and industrial markets around the world.
                                    </div><!-- LAYER NR. 3 -->

                                    <div class="tp-caption constructionbutton tp-resizeme rs-parallaxlevel-0" data-end="7700" data-height="['auto']" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="900" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="173" data-width="['auto']" data-x=
                                    "450" data-y="bottom" id="slide-3-layer-3" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <a href='#'>Read more</a>
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-4" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="off" data-bgposition="center top" data-bgrepeat="no-repeat" data-no-retina="" height="800" src=
                                    "assets/images/construction/img1-notinclude.jpg" width="1200"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption constructionwhitebig tp-resizeme rs-parallaxlevel-0" data-height="['auto']" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="500"
                                    data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-width="['auto']" data-x="110" data-y="163" id=
                                    "slide-4-layer-1" style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        LAMBDA CONSTRUCTION
                                    </div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption constructionwhite tp-resizeme rs-parallaxlevel-0" data-end="8000" data-height="['auto']" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="700" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="" data-width="['auto']" data-x=
                                    "110" data-y="center" id="slide-4-layer-2" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        Lambda is an international highly diversified company focused<br>
                                        on Infrastructure, Building, Industrial, Solar Power Construction etc.
                                    </div><!-- LAYER NR. 3 -->

                                    <div class="tp-caption constructionbutton tp-resizeme rs-parallaxlevel-0" data-end="7700" data-height="['auto']" data-responsive_offset="on" data-splitin="none" data-splitout="none"
                                    data-start="900" data-transform_idle="o:1;" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="155" data-width="['auto']" data-x=
                                    "110" data-y="bottom" id="slide-4-layer-3" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <a href='#'>Read more</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <div class="figure element-top-80 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/construction/img3-notinclude.jpg">
                        </span>
                    </div>
                    <h4 class="text-center element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">Planning your construction schedule</h4>
                </div>
                <div class="col-md-4 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <div class="figure element-top-80 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/construction/img4-notinclude.jpg">
                        </span>
                    </div>
                    <h4 class="text-center element-top-0 element-bottom-0 text-nomal normal regular" data-os-animation="none" data-os-animation-delay="0s">Starting the construction
                    <br>work</h4>
                </div>
                <div class="col-md-4 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    <div class="figure element-top-80 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/construction/img5-notinclude.jpg">
                        </span>
                    </div>
                    <h4 class="text-center element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">Final walkthrough<br>and moving In</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center small-screen-center">
                    <h1 class="text-center element-top-80 element-bottom-20 text-normal os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Our Work</h1>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-50 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="divider-border-inner" style="background:#ffaa6a;"></div>
                    </div>
                    <div class="portfolio-container element-top-0 element-bottom-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio masonry no-transition" data-col-lg="4" data-col-md="4" data-col-sm="2" data-col-xs="1" data-layout="fitRows" data-padding="0">
                            <div class="masonry-item portfolio-item filter-buildings">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle"
                                data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img6-notinclude.jpg" target="_self" title="">
                                        <img alt="Aeora Building" class="normalwidth" src="assets/images/construction/img6-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Aeora Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-buildings" data-title="American Whey Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img7-notinclude.jpg" target="_self" title="">
                                        <img alt="American Whey Building" class="normalwidth" src="assets/images/construction/img7-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">American Whey Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Pompiex Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img8-notinclude.jpg" target="_self" title="">
                                        <img alt="Pompiex Building" class="normalwidth" src="assets/images/construction/img8-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Pompiex Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Stavrogin Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img9-notinclude.jpg" target="_self" title="">
                                        <img alt="Stavrogin Building" class="normalwidth" src="assets/images/construction/img9-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Stavrogin Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Largemount Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img10-notinclude.jpg" target="_self" title="">
                                        <img alt="Largemount Building" class="normalwidth" src="assets/images/construction/img10-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Largemount Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Dote Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img11-notinclude.jpg" target="_self" title="">
                                        <img alt="Dote Building" class="normalwidth" src="assets/images/construction/img11-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Dote Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Inhabitaunt Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img12-notinclude.jpg" target="_self" title="">
                                        <img alt="Inhabitaunt Building" class="normalwidth" src="assets/images/construction/img12-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Inhabitaunt Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Pan Ash Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.4s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img13-notinclude.jpg" target="_self" title="">
                                        <img alt="Pan Ash Building" class="normalwidth" src="assets/images/construction/img13-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Pan Ash Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Texx Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img14-nottinclude.jpg" target="_self" title="">
                                        <img alt="Texx Building" class="normalwidth" src="assets/images/construction/img14-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Texx Building</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-buildings" data-title="Louvre Shack Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.8s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img15-notinclude.jpg" target="_self" title="">
                                        <img alt="Louvre Shack Building"class="normalwidth" src="assets/images/construction/img15-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Louvre Shack Building</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Zamora Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img16-notinclude.jpg" target="_self" title="">
                                        <img alt="Zamora Building" class="normalwidth" src="assets/images/construction/img16-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Zamora Building</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-buildings" data-title="Elemaunt Building">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2.2s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/construction/img17-notinclude.jpg" target="_self" title="">
                                        <img alt="Elemaunt Building" class="normalwidth" src="assets/images/construction/img17-notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Elemaunt Building</h3>
                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">What We Do</h1>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-50 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="divider-border-inner" style="background:#ffaa6a;"></div>
                    </div>
                    <div class="list-container row element-top-0 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <span class="service-simple-image">
                                <img alt="Construction" src="assets/images/construction/construction.png">
                            </span>
                            <h3>Construction</h3>
                            <p>Being a highly diversified international company, focused on Construction of mainly Infrastructure and Building projects, Lambda is enhancing nowadays its role by
                            securing a sustainable future development through continuous improvement of services.</p>
                        </div>
                        <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                            <span class="service-simple-image">
                                <img alt="Solar Power" src="assets/images/construction/solar-power.png">
                            </span>
                            <h3>Solar Power</h3>
                            <p>Lambda, is offering integrated solutions in the areas of design, supply, construction and operation and maintenance of medium & large-scale Photovoltaic systems, acting
                            as an EPC contractor, worldwide. Power projects of total capacity more than 100MWp are currently under construction.</p>
                        </div>
                        <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            <span class="service-simple-image">
                                <img alt="Mining" src="assets/images/construction/mining.png">
                            </span>
                            <h3>Mining</h3>
                            <p>The continuously increasing demand in minerals and metals by rapidly developing countries such as China, India and Russia and the perspective of exploiting the
                            metal-rich territory of Greece and the greater Balkans' area led to Lambda's decision to enter the field of the mining industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/construction/img31-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center small-screen-center">
                    <h1 class="text-center element-top-120 element-bottom-120 text-light os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">CONSTRUCTION
                    INDUSTRY</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" element-top-80 element-bottom-80 recent-simple-os-container list-container row">
                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <article class="post-grid element-bottom-20 text-center" id="post-158">
                                <a href="construction-post.html"><img alt="What does a Construction Worker do?" class=
                                "img-responsive" src="assets/images/construction/img27-notinclude.jpg"></a>
                                <div class="post-grid-content">
                                    <h3 class="post-grid-content-title"><a href="construction-post.html">What does a Construction Worker do?</a></h3>
                                    <p>Construction workers work on all construction sites, doing a wide range of tasks from the very easy to the extremely difficult and hazardous.</p>
                                    <div class="post-grid-content-footer">
                                        christos , July 25, 2015
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <article class="post-grid element-bottom-20 text-center" id="post-155">
                                <a href="construction-post.html"><img alt="Construction progress meeting"
                                class="img-responsive" src="assets/images/construction/img26-notinclude.jpg"></a>
                                <div class="post-grid-content">
                                    <h3 class="post-grid-content-title"><a href=
                                    "construction-post.html">Construction progress meeting</a></h3>
                                    <p>Consistent, regular commissioning (Cx) team meetings are essential to maintain the progress of the project and the momentum of the commissioning process.</p>
                                    <div class="post-grid-content-footer">
                                        christos , July 11, 2015
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <article class="post-grid element-bottom-20 text-center" id="post-144">
                                <a href="construction-post.html"><img alt="Eco Friendly Industrial Advancements" class=
                                "img-responsive" src="assets/images/construction/img23-notinclude.jpg"></a>
                                <div class="post-grid-content">
                                    <h3 class="post-grid-content-title"><a href="construction-post.html">Eco Friendly Industrial Advancements</a></h3>
                                    <p>When production requires small batches and runs, the least efficient component of the process is the heating of both the curing ovens and pre-treatment solution tank.</p>
                                    <div class="post-grid-content-footer">
                                        christos , July 4, 2015
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/construction/img18-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <div class=" element-top-50 element-bottom-50 text-center text-light os-animation flexslider feature-slider" data-flex-animation="slide" data-flex-controls="show"
                    data-flex-controls-position="outside" data-flex-controlsalign="center" data-flex-directions="hide" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay="0.1s" id="flexslider-474">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>Larry Willis is very conscientious and thoughtful. He always calls to inform us about time frames, changes and costs. He is certainly an asset to your
                                    company.</p>
                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner">
                                            <img alt="img20-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/construction/img20-notinclude-150x150.jpg" width="150">
                                        </div>
                                    </div>
                                    <footer>
                                        Nicholas Thomas
                                    </footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>We especially want to thank your staff for their consistent, exemplary professional contributions… The community is so pleased with the new facility.</p>
                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner">
                                            <img alt="img21-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/construction/img21-notinclude-150x150.jpg" width="150">
                                        </div>
                                    </div>
                                    <footer>
                                        Jennifer Stewart
                                    </footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>Your people were a joy to work with, and I can assure you that I would be the first in line to recommend Willow Construction for any construction project.</p>
                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner">
                                            <img alt="img19-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/construction/img19-notinclude-150x150.jpg" width="150">
                                        </div>
                                    </div>
                                    <footer>
                                        Billy Thompson
                                    </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Our Clients</h1>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-50 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="divider-border-inner" style="background:#ffaa6a;"></div>
                    </div>
                    <div class="flexslider flex-controls-bottom element-top-0 element-bottom-80 os-animation" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="hide" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-itemwidth="250" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay="0.2s" id="flexslider-32">
                        <ul class="slides">
                            <li>
                                <figure>
                                    <img alt="client1" class="attachment-full wp-post-image" data-original-title="Red-fan" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client1.png" width="400">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img alt="client2" class="attachment-full wp-post-image" data-original-title="Freetax" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client2.png" width="400">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img alt="client5" class="attachment-full wp-post-image" data-original-title="Remedia" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client5.png" width="400">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img alt="client4" class="attachment-full wp-post-image" data-original-title="Streetway" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client4.png" width="400">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img alt="client3" class="attachment-full wp-post-image" data-original-title="Scotex" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client3.png" width="400">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img alt="client7" class="attachment-full wp-post-image" data-original-title="Moveit" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client7.png" width="400">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img alt="client6" class="attachment-full wp-post-image" data-original-title="Redlex" data-toggle="tooltip" height="200" src=
                                    "assets/images/construction/client6.png" width="400">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}