{% extends "layouts/construction.html" %}

{% set title = "Construction | Lambda" %}
{% set activeMenu = "News" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/construction/img2-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(48,60,64,0);"></div>
        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-80 element-bottom-80 text-light light" data-os-animation="none" data-os-animation-delay="0s">Blog Post</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="construction-post.html"><img alt=
                                "What does a Construction Worker do?" src="assets/images/construction/img27-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                           <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="constructon-post.html" rel="bookmark" title="Permalink to What does a Construction Worker do?">What does a Construction Worker do?</a></h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 25, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="construction-news.html" rel="tag">Construction</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Construction">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Construction workers work on all construction sites, doing a wide range of tasks from the very easy to the extremely difficult and hazardous.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="construction-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="construction-post.html"><img alt=
                                "CONSTRUCTION PROGRESS MEETING" src="assets/images/construction/img26-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="construction-post.html" rel="bookmark" title=
                            "Permalink to Construction progress meeting">Construction progress meeting</a></h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 11, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="construction-news.html" rel="tag">Construction</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Construction">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Consistent, regular commissioning (Cx) team meetings are essential to maintain the progress of the project and the momentum of the commissioning process.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="construction-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="construction-post.html"><img alt="Eco Friendly Industrial Advancements" src="assets/images/construction/img23-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="construction-post.html" rel="bookmark" title="Permalink to Eco Friendly Industrial Advancements">Eco Friendly Industrial Advancements</a></h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 4, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="construction-news.html" rel="tag">Construction</a>,
                                    <a href="construction-news.html" rel="tag">Eco Friendly</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Construction">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>When production requires small batches and runs, the least efficient component of the process is the heating of both the curing ovens and pre-treatment solution
                            tank.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="construction-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="construction-post.html"><img alt=
                                "Construction Industry Safety Initiative" src="assets/images/construction/img24-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="construction-post.html" rel="bookmark" title="Permalink to Construction Industry Safety Initiative">Construction Industry Safety Initiative</a></h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 1, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="construction.html" rel="tag">Construction</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Construction">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Working at height is still one of the largest causes of workplace accident many major falls from height and it was the biggest cause of fatal accidents in the
                            workplace.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="construction-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="construction-post.html"><img alt="Construction Industry Challenges" src="assets/images/construction/img22-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="construction-post.html" rel="bookmark" title=
                            "Permalink to Construction Industry Challenges">Construction Industry Challenges</a></h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 19, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">oxygenna</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="construction-news.html" rel="tag">Construction</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Construction">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p class="p1">Every business has it’s certain challenges and requirements that they seek to overcome with various forms of technology , infrastructure , and specialized
                            workers.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="construction-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="construction-post.html"><img alt=
                                "Technology Is the Future of Construction" src="assets/images/construction/img28-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="construction-post.html" rel="bookmark" title="Permalink to Technology Is the Future of Construction">Technology Is the Future of Construction</a></h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 16, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="construction-news.html" rel="tag">Construction</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Construction">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Thanks to improved technologies, mechanical engineering in construction has found itself more efficient and, at the planning stage, cheaper.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="construction-post.html">read more</a>
                        </div>
                    </article>
                </div>
                {% include "partials/construction/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}