{% extends "layouts/construction.html" %}

{% set title = "Construction | Lambda" %}
{% set activeMenu = "News" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/construction/img2-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(48,60,64,0);"></div>
        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-80 element-bottom-80 text-light light" data-os-animation="none" data-os-animation-delay="0s">Blog Post</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9 blog-list-layout-normal">
                    <article class="post-158 post type-post status-publish format-standard has-post-thumbnail hentry category-construction tag-construction tag-workers" id="post-158">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/construction/img27-notinclude.jpg"><img alt="What does a Construction Worker do?" src="assets/images/construction/img27-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">What does a Construction Worker do?</h1>
                            <div class="post-details">
                                <span class="post-date"><i class="icon-clock"></i> July 25, 2015</span>
                                <span class="post-author"><i class="icon-head"></i>
                                <a href="#">christos</a></span>
                                <span class="post-category"><i class="icon-clipboard"></i>
                                <a href="#" rel="tag">Construction</a></span>
                                <span class="post-link"><i class="icon-speech-bubble"></i>
                                <a href="#">No comments</a></span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Construction workers work on all construction sites, doing a wide range of tasks from the very easy to the extremely difficult and hazardous.</p>
                            <p>Although many of the tasks they do require some training and experience, most jobs usually require little skill and can be learned quickly.A construction worker typically does the following:</p>
                            <ul>
                                <li>Cleans and prepares construction sites by removing debris and possible hazards</li>
                                <li>Loads or unloads building materials to be used in construction</li>
                                <li>Builds or takes apart bracing, barricades, forms (moulds that determine the shape of concrete), scaffolding, and temporary structures</li>
                                <li>Digs trenches, backfills holes, or compacts earth to prepare for construction</li>
                                <li>Operates or tends equipment and machines used in construction, such as concrete mixers</li>
                                <li>Helps other craft workers with their duties</li>
                                <li>Follows construction plans and instructions from the people they are working for</li>
                            </ul>
                            <p>Construction workers do a variety of construction-related activities during all phases of construction. Although most are generalists—such as those who install barricades, cones, and markers to control traffic patterns—many others specialize. For example, those who operate the machines and equipment that lay concrete or asphalt
                            on roads are more likely to specialize in those areas.</p>
                            <p>The following are occupational specialties::</p>
                            <ul>
                                <li>Building homes and businesses</li>
                                <li>Tearing down buildings</li>
                                <li>Removing hazardous materials</li>
                                <li>Building highways and roads</li>
                                <li>Digging tunnels and mine shafts</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">construction</a> <a href="#" rel="tag">workers</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle ">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228">
                                                    <i class="fa fa-pinterest"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href=
                                "#"><i class="fa fa-angle-left"></i>Previous</a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->
                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid element-bottom-20 text-left" id="post-155">
                                    <a href="#"><img alt="Construction progress meeting"
                                    class="img-responsive" src="assets/images/construction/img26-notinclude.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="#">Construction progress meeting</a></h3>
                                        <p>Consistent, regular commissioning (Cx) team meetings are essential to maintain the progress of the project and the momentum of the commissioning
                                        process.</p>
                                        <div class="post-grid-content-footer">
                                            christos , July 11, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid element-bottom-20 text-left" id="post-144">
                                    <a href="#"><img alt="Eco Friendly Industrial Advancements" class="img-responsive" src="assets/images/construction/img23-notinclude.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="#">Eco Friendly
                                        Industrial Advancements</a></h3>
                                        <p>When production requires small batches and runs, the least efficient component of the process is the heating of both the curing ovens and pre-treatment
                                        solution tank.</p>
                                        <div class="post-grid-content-footer">
                                            christos , July 4, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid element-bottom-20 text-left" id="post-147">
                                    <a href="#"><img alt=
                                    "Construction Industry Safety Initiative" class="img-responsive" src=
                                    "assets/images/construction/img24-notinclude.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title"><a href="#">Construction Industry Safety Initiative</a></h3>
                                        <p>Working at height is still one of the largest causes of workplace accident many major falls from height and it was the biggest cause of fatal accidents in
                                        the workplace.</p>
                                        <div class="post-grid-content-footer">
                                            christos , July 1, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="author">Your name *</label><input class="input-block-level form-control" id="author" name="author" type="text" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text" value="">
                            </div>
                        </div>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div>
                </div>
                {% include "partials/construction/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}