{% extends "layouts/construction.html" %}

{% set title = "Construction | Lambda" %}
{% set activeMenu = "Contact us" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/corporate/footer.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/construction/img31-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">CONTACT US</h1>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="divider-border-inner" style="background:#ffaa6a;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-50"></div>
                                <div class="visible-sm element-height-50"></div>
                                <div class="visible-md element-height-50"></div>
                                <div class="visible-lg element-height-50"></div>
                            </div>
                            <div class="wpcf7" dir="ltr" id="wpcf7-f273-p263-o1" lang="en-US">
                                <div class="screen-reader-response"></div>
                                <form action="contact_mailer.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-envelope"></i>
                                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-file-text"></i>
                                            <input class="form-control" id="subject" name="subject" placeholder="Your subject *" type="text" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-icon-group">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                                </div>
                                <input type="submit" value="Send email" class="btn btn-primary">
                                <div class="messages text-center"></div>
                            </form>
                            </div>
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                        </div>
                        <div class="col-md-6 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                            <div class="google-map" data-os-animation="none" data-os-animation-delay="0s" id="map" style="height:400px"></div>
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-137"></div>
                                <div class="visible-sm element-height-137"></div>
                                <div class="visible-md element-height-137"></div>
                                <div class="visible-lg element-height-137"></div>
                            </div>
                        </div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}