{% extends "layouts/construction.html" %}

{% set title = "Construction | Lambda" %}
{% set activeMenu = "Who we are" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/construction/img33-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center small-screen-center"></div>
                <div class="col-md-6 text-center small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="text-center element-top-80 element-bottom-20 text-light" data-os-animation="none" data-os-animation-delay="0s">About Us</h1>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                        <div class="divider-border-inner" style="background:#ffaa6a;"></div>
                    </div>
                    <div class="col-text-1 text-light element-top-0 element-bottom-80" data-os-animation="none" data-os-animation-delay="0s">
                        <p style="text-align: center;"><strong>Lambda</strong> is an international highly diversified company focused on Infrastructure, Building, Industrial, MEP, Solar Power
                        Construction, EPC and Concession Contracts, Facility and Project Management. Our vision is to enhance further our role as a worldwide construction group by securing
                        sustainable future development through continuous improvement of services based on our values such as integrity, teamwork, responsibility and transparency.</p>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Our Team</h1>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-50 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="divider-border-inner" style="background:#ffaa6a;"></div>
                    </div>
                    <div class=" row staff-list-container list-container element-top-0 element-bottom-80">
                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.2s">
                            <div class="figure-image">
                                <img alt="Jasmine Foster" src="assets/images/construction/img40-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Jasmine Foster</strong></h3>
                                <p class="figure-caption-description">Construction Manager</p>
                            </div>
                        </div>
                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.4s">
                            <div class="figure-image">
                                <img alt="Earl Johnston" src="assets/images/construction/img37-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Earl Johnston</strong></h3>
                                <p class="figure-caption-description">Building Worker</p>
                            </div>
                        </div>
                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.6s">
                            <div class="figure-image">
                                <img alt="Cody Maxwell" src="assets/images/construction/img35-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Cody Maxwell</strong></h3>
                                <p class="figure-caption-description">Project Manager</p>
                            </div>
                        </div>
                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.8s">
                            <div class="figure-image">
                                <img alt="Alton Clarke" src="assets/images/construction/img39-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Alton Clarke</strong></h3>
                                <p class="figure-caption-description">Building Worker</p>
                            </div>
                        </div>
                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="1s">
                            <div class="figure-image">
                                <img alt="Warren Richardson" src="assets/images/construction/img38-notinclude.jpg">

                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Warren Richardson</strong></h3>
                                <p class="figure-caption-description">Building Worker</p>
                            </div>
                        </div>
                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="1.2s">
                            <div class="figure-image">
                                <img alt="Tracy Ryan" src="assets/images/construction/img36-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Tracy Ryan</strong></h3>
                                <p class="figure-caption-description">Construction Manager</p>
                            </div>
                        </div>
                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="1.4s">
                            <div class="figure-image">
                                <img alt="Philip Powers" src="assets/images/construction/img41-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Philip Powers</strong></h3>
                                <p class="figure-caption-description">Project Manager</p>
                            </div>
                        </div>
                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="1.6s">
                            <div class="figure-image">
                                <img alt="Jeremy Wilkins" src="assets/images/construction/img34-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Jeremy Wilkins</strong></h3>
                                <p class="figure-caption-description">Project Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}