{% extends "layouts/corporate.html" %}

{% set title = "Right Sidebar|Corporate" %}
{% set sidebarClasses = "" %}
{% set activeMenu = "Pages" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container container-vertical-default">
            <div class="row vertical-default">
                <div class="col-md-12">
                    <h1 class=
                    "text-left element-top-70 element-bottom-70 text-light big default">Right Sidebar</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9">
                    <article>
                        <p><img alt="p01" height="800" src="assets/images/corporate/p01.jpg" width="1200"></p>

                        <p>Lisa, vampires are make-believe, like elves,
                        gremlins, and <strong>Eskimos</strong>. We started out
                        like Romeo and Juliet, but it ended up in tragedy. Uh,
                        no, you got the wrong number. This is 9-1…2. Homer no
                        function beer well without. I stand by my racial slur.
                        Son, a woman is like a beer. They smell good, they look
                        good, you&#8217;d step over your own mother just to get
                        one! But you can&#8217;t stop at one. You wanna drink
                        another woman! They only come out in the night. Or in
                        this case, the day. I like my beer cold, my TV loud and
                        my homosexuals flaming.</p>

                        <p>Lisa, vampires are make-believe, like elves,
                        gremlins, and <strong>Eskimos</strong>. We started out
                        like Romeo and Juliet, but it ended up in tragedy.
                        Attempted murder? Now honestly, what is that? Do they
                        give a Nobel <strong>Prize</strong> for attempted
                        chemistry? Get ready, skanks! It&#8217;s time for the
                        truth train! Books are useless! I only ever read one
                        book, &#8220;To Kill A Mockingbird,&#8221; and it gave
                        me absolutely no insight on how to kill mockingbirds!
                        Sure it taught me not to judge a man by the color of
                        his skin…but what good does *that* do me?</p>

                        <blockquote>
                            <p>Weaseling out of things is important to learn.
                            It&#8217;s what <strong>separates</strong> us from
                            the animals…except the weasel. You know, the one
                            with all the well meaning rules that don&#8217;t
                            work out in real life, uh, Christianity.</p>
                        </blockquote>

                        <p>Uh, no, you got the wrong number. This is 9-1…2.
                        Homer no function beer well without. I stand by my
                        racial slur. Son, a woman is like a beer. They smell
                        good, they look good, you&#8217;d step over your own
                        mother just to get one! But you can&#8217;t stop at
                        one. You wanna drink another woman! They only come out
                        in the night. Or in this case, the day. I like my beer
                        cold, my TV loud and my homosexuals flaming. No
                        children have ever meddled with the
                        <strong>Republican</strong> Party and lived to tell
                        about it. Homer no function beer well without. Ahoy
                        hoy? We started out like Romeo and Juliet, but it ended
                        up in tragedy. Oh, loneliness and cheeseburgers are a
                        dangerous mix. Get ready, skanks! It&#8217;s time for
                        the truth train!</p>

                        <h2>Want to see a subtitle</h2>

                        <p>Books are useless! I only ever read one book,
                        &#8220;To Kill A Mockingbird,&#8221; and it gave me
                        <strong>absolutely</strong> no insight on how to kill
                        mockingbirds! Sure it taught me not to judge a man by
                        the color of his skin…but what good does *that* do me?
                        I&#8217;m a Spalding Gray in a Rick Dees world. You
                        don&#8217;t win friends with salad. The Internet King?
                        I wonder if he could provide faster nudity…</p>

                        <h2>The Problem With Popplers</h2>

                        <ol>
                            <li>Home</li>

                            <li>About</li>

                            <li>Clients</li>

                            <li>Contact Us</li>
                        </ol>

                        <p>I feel like I was mauled by Jesus. Now what? Say
                        what? I don&#8217;t know what you did, Fry, but once
                        again, you screwed up! Now all the planets are gonna
                        start cracking wise about our mamas. Bender,
                        we&#8217;re trying our best. Alright, let&#8217;s mafia
                        things up a bit. Joey, burn down the ship. Clamps, burn
                        down the crew. I had more, but you go ahead. Is that a
                        cooking show? It must be wonderful. Take me to your
                        leader! Leela&#8217;s gonna kill me. Robot 1-X, save my
                        friends! And Zoidberg! This is the worst part.</p>

                        <p>The calm before the battle. Oh, I think we should
                        just stay friends. I&#8217;ve got to find a way to
                        escape the horrible ravages of youth. Suddenly,
                        I&#8217;m going to the bathroom like clockwork, every
                        three hours. And those jerks at Social Security stopped
                        sending me checks. Now &#8216;I&#8221; have to pay
                        &#8221;them&#8217;! Hello, little man. I will destroy
                        you! Shut up and get to the point! You guys
                        aren&#8217;t Santa! You&#8217;re not even robots. How
                        dare you lie in front of <strong>Jesus</strong>?</p>

                        <p>Tell her you just want to talk. It has nothing to do
                        with mating. Bender, being God isn&#8217;t easy. If you
                        do too much, people get dependent on you, and if you do
                        nothing, they lose hope. You have to use a light touch.
                        Like a safecracker, or a pickpocket. Shut up and take
                        my money! I wish! It&#8217;s a nickel. Come,
                        <strong>Comrade</strong> Bender! We must take to the
                        streets! Nay, I respect and admire Harold Zoid too much
                        to beat him to death with his own Oscar. I love this
                        planet! I&#8217;ve got wealth, fame, and access to the
                        depths of sleaze that those things bring.</p>

                        <p><img alt="p09" height="800" src="assets/images/corporate/p09.jpg"
                        width="1200"></p>

                        <p>You don&#8217;t know how to do any of those. THE BIG
                        BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM
                        LEAVING EARTH, FOR NO RAISEN! Of all the friends
                        I&#8217;ve had… you&#8217;re the first. I&#8217;ve got
                        to find a way to escape the horrible ravages of youth.
                        Suddenly, I&#8217;m going to the bathroom like
                        clockwork, every three hours. And those jerks at Social
                        Security stopped sending me checks. Now &#8216;I&#8221;
                        have to pay &#8221;them&#8217;! Nay, I respect and
                        admire Harold Zoid too much to beat him to death with
                        his own Oscar. It must be wonderful.</p>

                        <ol>
                            <li>Eeeee! Now say &#8220;nuclear
                            wessels&#8221;!</li>

                            <li>Your best is an idiot!</li>
                        </ol>
                    </article>
                </div>
                {% include "partials/corporate/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}