{% extends "layouts/corporate.html" %}

{% set title = "Blog|Corporate" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big skrollable">Latest news</h1>
                </header>
            </div>
        </div>
    </section>
     <section class="section">
            <div class="background-overlay grid-overlay-0"></div>
            <div class="container container-vertical-default">
                <div class="row vertical-default">
                    <div class="col-md-12 element-top-50 element-bottom-50">
                        <div class="masonry blog-masonry use-masonry isotope no-transition" data-col-lg="4" data-col-md="4" data-col-sm="2" data-col-xs="1" data-padding="20">
                            <div class="post-masonry masonry-item masonry-wide" data-menu-order="0">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="The know how of branding" class=
                                        "img-responsive" src="assets/images/corporate/blog011.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">The know how of branding</a>
                                            </h3>
                                            <p>
                                                Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. We started out like Romeo and Juliet, but it ended up in tragedy. Attempted murder? Now honestly, what is that? Do they give a Nobel Prize for attempted chemistry? Get ready, skanks! It's time for the truth train! Books are useless! I only ever read one
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , September 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="1">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="A corporare design to remember" class=
                                        "img-responsive" src="assets/images/corporate/blog02.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">A corporare design to remember</a>
                                            </h3>
                                            <p>
                                                That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don't have a
                                                place within an organized religion. Son, a woman is like a beer. They smell good, they look good, you'd step over your own
                                                mother just to get one! But you can't
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , September 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="2">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="The blog fundamentals" class=
                                        "img-responsive" src="assets/images/corporate/blog03.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">The blog fundamentals</a>
                                            </h3>
                                            <p>
                                                There's one way and only one way to determine if an animal is intelligent. Dissect its brain! It's a T. It goes
                                                "tuh". Anyone who laughs is a communist! Morbo will now introduce tonight's candidates… Morbo's good
                                                friend, Richard Nixon.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , September 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="3">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20">
                                        <div class="post-grid-content">
                                            <blockquote class=" text-left text-normal element-top-no-top element-bottom-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                                <p></p>
                                                <p>
                                                    Good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ask
                                                    you a few questions. we're going for a ride on the information super highway.<br> Here she comes to wreck the
                                                    day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we're going for a ride on the
                                                    information super highway.
                                                </p>
                                                <p></p>
                                                <footer>
                                                    Cold Warriors
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="4">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="The importance of SEO" class="img-responsive"
                                        src="assets/images/corporate/blog05.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">The importance of SEO</a>
                                            </h3>
                                            <p>
                                                Books are useless! I only ever read one book, "To kill a Mockingbird", and it gave me absolutely no insight on how to
                                                kill mockingbirds! Sure it taught me not to judge a man by the color of his skin…but what good does *that* do me? I'm a Spalding Gray in a Rick Dees world.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , September 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="5">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="The birth of a new brand" class=
                                        "img-responsive" src="assets/images/corporate/blog06.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">The birth of a new brand</a>
                                            </h3>
                                            <p>
                                                Yes! I am a citizen! Now which way to the welfare office? I'm kidding, I'm kidding. I work, I work. Bart, with $10,000 we'd be millionaires! We could buy all kinds of useful things like…love!
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , August 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="6">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="How we created our last website"
                                        class="img-responsive" src="assets/images/corporate/blog09.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">How we created our last website</a>
                                            </h3>
                                            <p>
                                                Father Christmas. Santa Claus. Or as I've always known him: Jeff. You hate me; you want to kill me! Well, go on!
                                                Kill me! KILL ME! The way I see it, every life is a pile of good things and bad things....hey...the good things don't
                                                always soften the bad things; but vice-versa the bad things
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , July 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="7">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="The corporate style rules" class=
                                        "img-responsive" src="assets/images/corporate/blog14.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">The corporate style rules</a>
                                            </h3>
                                            <p>
                                                Super squeaky bum time! You hit me with a cricket bat. You've swallowed a planet! You know how I sometimes have
                                                really brilliant ideas? Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?!
                                                I'm the Doctor, the Oncoming Storm - and you basically meant beat them in
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , July 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-wide" data-menu-order="8">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/corporate-standard-post.html"><img alt="The Day we designed a new project"
                                        class="img-responsive" src="assets/images/corporate/blog10.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">
                                                    The Day we designed a new project
                                                </a>
                                            </h3>
                                            <p>
                                                All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? I hate yogurt. It's just
                                                stuff with bits in. Sorry, checking all the water in this area; there's an escaped fish.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , July 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="9">
                                <div class="post-masonry-inner" data-os-animation="none" data-os-animation-delay="0s">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/corporate-standard-post.html">About corporate identity</a>
                                            </h3>
                                            <p>
                                                I hate yogurt. It's just stuff with bits in. Sorry, checking all the water in this area; there's an escaped fish.
                                                Saving the world with meals on wheels. Stop talking, brain thinking. Hush. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , June 26, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</article>
{% endblock %}