{% extends "layouts/corporate.html" %}

{% set title = "Blog|Corporate" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big skrollable">Latest news</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                {% include "partials/corporate/posts.html" %}
                </div>
            </div>
        </div>
    </section>

</article>
{% endblock %}