{% extends "layouts/corporate.html" %}

{% set title = "Visual Identity|Corporate" %}
{% set activeMenu = "Portfolio" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <header class="portfolio-header col-md-12 text-light">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big">Visual identity</h1>
                    <nav class="portfolio-nav element-top-70">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><polyline fill="none" stroke-width="3" stroke-miterlimit="10" points="68.692,16.091 33.146,50 68.692,83.906   "></polyline></g></svg>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><polyline fill="none" stroke-width="3" stroke-miterlimit="10" points="33.146,16.091 68.692,50
                                                33.146,83.906   "></polyline></g></svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="figure element-top-60 element-bottom-20 os-animation"
                    data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <a class="figure-image magnific" href="assets/images/corporate/p11.jpg"
                        target="_self">
                            <img alt="p11" src="assets/images/corporate/p11.jpg">
                        </a>
                    </div>

                    <div class="figure os-animation"
                    data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                        <a class="figure-image magnific" href="assets/images/corporate/p12.jpg"
                        target="_self">
                            <img alt="p12" src="assets/images/corporate/p12.jpg">
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <h2 class="text-left element-top-60 os-animation normal regular"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.1s">Brief</h2>

                    <div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner"></div>
                    </div>

                    <div class="col-text-1 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.3s">
                        <p>Efficiently unleash cross-media
                        <strong>information</strong> without cross-media value.
                        Quickly maximize timely deliverables for real-time
                        schemas. Dramatically maintain clicks-and-mortar
                        solutions without functional solutions.</p>
                    </div>

                    <ul class="skills-list normal element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
                        <li>Web Design</li>

                        <li>Logo Design</li>

                        <li>SEO optimisation</li>

                        <li>Content architecture</li>

                        <li>Motion picture</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section portfolio-related">
        <div class="container">
            <div class="row element-bottom-80 text-center">
                <h3 class="element-top-30 element-bottom-30">Other related
                items</h3>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="corporate-standard-item.html">
                            <img alt="The black straw" src="assets/images/corporate/p15.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>The black straw</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="corporate-standard-item.html">
                            <img alt="Orange Company" src="assets/images/corporate/p14.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Orange Company</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="corporate-standard-item.html">
                            <img alt="Corporate animation" src="assets/images/corporate/p03.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Corporate animation</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}