{% extends "layouts/corporate.html" %}

{% set title = "Elements-Pie Charts|Corporate" %}
{% set activeMenu = "Elements" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big">Elements &#8211; Pie Charts</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="5"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0s" data-percent="61" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>61</span> <i class="icon-heart"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="5"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.2s" data-percent="71" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>71</span> <i class="icon-map"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="5"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.4s" data-percent="89" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>89</span> <i class="icon-signal"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="5"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.6s" data-percent="93" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>93</span> <i class="icon-moon"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-50"></div>
                                <div class="visible-sm element-height-50"></div>
                                <div class="visible-md element-height-50"></div>
                                <div class="visible-lg element-height-50"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="30"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.8s" data-percent="23" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>23</span> <i class="fa fa-fire"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="15"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "1s" data-percent="85" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>85</span> <i class="fa fa-android"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="10"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "1.2s" data-percent="65" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>65</span> <i class="fa fa-gamepad"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="chart easyPieChart element-top-20 element-bottom-20 os-animation"
                            data-bar-color="#01c0e1" data-line-width="5"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "1.4s" data-percent="52" data-size="200"
                            data-track-color="#f0f0f0">
                                <span>52</span> <i class="fa fa-trophy"
                                data-animation="fadeIn"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-100"></div>
                                <div class="visible-sm element-height-100"></div>
                                <div class="visible-md element-height-120"></div>
                                <div class="visible-lg element-height-120"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}