{% extends "layouts/corporate.html" %}

{% set title = "Elements-Scroll buttons|Corporate" %}
{% set activeMenu = "Elements" %}

{% block content %}
<article>
    <section class="section text-light section-fullheight"
    id="one">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>

                    <h1 class="text-center element-top-20 element-bottom-20 os-animation super"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    Scroll buttons</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                        <div class="divider-border-inner" style="background:#ffffff;"></div>
                    </div>

                    <h2 class="text-center element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                        use scroll buttons to navigate between
                        <strong>sections</strong> on the same page. Just assign an
                        id to the section and add a <strong>scroll button</strong>
                        to point to that id. Perfect to use along with fullscreen
                        sections like that.</h2>
                    <a href="#two" class="scroll-to scroll-to-id  element-top-20 element-bottom-50 text-light place-bottom" data-os-animation="none" data-os-animation-delay="0.5s">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section text-light section-fullheight" id="two">
        <div class="background-overlay" style=
        "background-color: rgba(74,209,232,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>

                    <h1 class="text-center element-top-20 element-bottom-20 os-animation super"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    Scroll down again</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20">
                        <div class="divider-border-inner" style="background:#ffffff;"></div>
                    </div>

                    <h2 class="text-center element-bottom-20 os-animation normal regular"
                    data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                    use scroll buttons to navigate between
                    <strong>sections</strong> on the same page. Just assign an
                    id to the section and add a <strong>scroll button</strong>
                    to point to that id. Perfect to use along with fullscreen
                    sections like that.</h2>
                    <a href="#three" class="scroll-to scroll-to-id element-bottom-50 text-light place-bottom" data-os-animation="none" data-os-animation-delay="0.5s">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class=
    "section text-light section-fullheight" id="three">
        <div class="background-overlay" style=
        "background-color: rgba(116,218,236,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-150"></div>
                        <div class="visible-lg element-height-150"></div>
                    </div>

                    <h1 class="text-center element-top-20 element-bottom-20 text-light os-animation super"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    And then up</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                        <div class="divider-border-inner" style="background:#ffffff;"></div>
                    </div>

                    <h2 class="text-center element-bottom-20 text-normal os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                    use scroll buttons to navigate between
                    <strong>sections</strong> on the same page. Just assign an
                    id to the section and add a <strong>scroll button</strong>
                    to point to that id. Perfect to use along with fullscreen
                    sections like that.</h2>
                    <a href="#one" class="scroll-to scroll-to-id  element-top-20 element-bottom-50 text-light place-bottom" data-os-animation="none" data-os-animation-delay="0.5s">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}