{% extends "layouts/corporate.html" %}

{% set title = "Corporate animation|Corporate" %}
{% set activeMenu = "Portfolio" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <header class="portfolio-header col-md-12 text-light">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big">Visual identity</h1>
                    <nav class="portfolio-nav element-top-70">
                        <ul>
                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><polyline fill="none" stroke-width="3" stroke-miterlimit="10" points="68.692,16.091 33.146,50 68.692,83.906   "></polyline></g></svg>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><polyline fill="none" stroke-width="3" stroke-miterlimit="10" points="33.146,16.091 68.692,50
                                                33.146,83.906   "></polyline></g></svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="video-wrapper feature-video">
                            <iframe frameborder="0" height="658" src="//player.vimeo.com/video/104566183" title=
                            "Lost In The Train Station" width="1170"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="col-text-1 element-top-20">
                        <p>Lisa, vampires are make-believe, like elves,
                        gremlins, and Eskimos. We started out like Romeo and
                        Juliet, but it ended up in tragedy. Attempted murder?
                        Now honestly, what is that? Do they give a Nobel Prize
                        for attempted chemistry? Get ready, skanks! It’s time
                        for the truth train! Books are useless! I only ever
                        read one book, “To Kill A Mockingbird,” and it gave me
                        absolutely no insight on how to kill mockingbirds! Sure
                        it taught me not to judge a man by the color of his
                        skin…but what good does *that* do me? Weaseling out of
                        things is important to learn. It’s what separates us
                        from the animals…except the weasel. You know, the one
                        with all the well meaning rules that don’t work out in
                        real life, uh, Christianity. Bart, with $10,000 we’d be
                        millionaires! We could buy all kinds of useful things
                        like…love! Son, when you participate in sporting
                        events, it’s not whether you win or lose: it’s how
                        drunk you get. Inflammable means flammable? What a
                        country. Uh, no, you got the wrong number. This is
                        9-1…2. Homer no function beer well without. I stand by
                        my racial slur. Son, a woman is like a beer. They smell
                        good, they look good, you’d step over your own mother
                        just to get one! But you can’t stop at one. You wanna
                        drink another woman! They only come out in the night.
                        Or in this case, the day. I like my beer cold, my TV
                        loud and my homosexuals flaming.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="skills-list normal element-top-20 element-bottom-20">
                        <li>Web Design</li>

                        <li>Logo Design</li>

                        <li>CSS Animations</li>

                        <li>HTML &amp; CSS</li>

                        <li>Brand design</li>

                        <li>Web development</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section portfolio-related">
        <div class="container">
            <div class="row element-bottom-80 text-center">
                <h3 class="element-top-30 element-bottom-30">Other related
                items</h3>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="corporate-video-item.html">
                            <img alt="The black straw" src="assets/images/corporate/p15.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>The black straw</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="corporate-video-item.html">
                            <img alt="Orange Company" src="assets/images/corporate/p14.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Orange Company</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="corporate-video-item.html">
                            <img alt="Corporate animation" src="assets/images/corporate/p03.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Corporate animation</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}