{% extends "layouts/corporate.html" %}

{% set title = "Corporate| Meet the team" %}
{% set activeMenu = "Pages" %}

{% block content %}
<article>
	<section class="section">
	    <div class="background-media" style="background-image: url('assets/images/corporate/team-notinclude.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"></div>
	    <div class="background-overlay  " style="background-color: rgba(1,192,225,0.8);"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-2 text-center"></div>
	            <div class="col-md-8 text-center">
	                <h1 class="element-top-70 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0s">
	    				Meet our team
	    			</h1>
	                <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
	                    <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
	                </div>
	                <p class="lead text-center center text-light element-bottom-40" data-os-animation="none" data-os-animation-delay="0s">
	                	We are a corporate web design agency who are passionate with our pixels.
	                    <br /> We specialise in WordPress development and we create pixel perfect themes.
	                </p>
	            </div>
	            <div class="col-md-2"></div>
	        </div>
	    </div>
	</section>
	<section class="section">
	    <div class="background-overlay "></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12 ">
	                <h1 class="text-center element-top-70 os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s" data-start="opacity:1" data-center="opacity:1" data-0-top-bottom="opacity:0">
	    				Our designers
	    			</h1>
	                <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
	                    <div class="divider-border-inner" style="width:60px;"></div>
	                </div>
	                <p class="lead text-center center  element-bottom-40 os-animation " data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                	Time to meet our team of technology and business professionals.
	                    <br /> Let us help your business reach it’s potential.
	                </p>
	                <div class="row staff-list-container list-container element-bottom-60">
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team04-notinclude.jpg" alt="Shirley King">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-facebook"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-dribbble"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-behance"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Shirley King</strong>
	                            	<span>Designer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly testing procedures.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team06-notinclude.jpg" alt="Dorothy Lewis">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-facebook"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-behance"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-dribbble"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Dorothy	Lewis</strong>
	                            	<span>Designer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team09-notinclude.jpg" alt="Carl	Barnes">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-facebook"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-behance"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-dribbble"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Carl Barnes</strong>
	                            	<span>Designer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate processes.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team13-notinclude.jpg" alt="Joe Ross">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-dribbble"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-behance"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Joe Ross</strong>
	                            	<span>Designer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<section class="section">
	    <div class="background-overlay  " style="background-color: rgba(240,240,240,1);"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
	    				Our developers
	    			</h1>
	                <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
	                    <div class="divider-border-inner" style="width:60px;"></div>
	                </div>
	                <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                	Time to meet our team of technology and business professionals.
	                    <br /> Working with code and ready to make the geek stuff.
	                 </p>
	                <div class="row staff-list-container list-container element-bottom-60">
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team03-notinclude.jpg" alt="Donald Coleman">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-git"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-google-plus"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class=""></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Donald Coleman</strong>
	                            	<span>Developer</span>
	               				</h3>
	                            <p class="figure-caption-description">
	                            	Completely synergize resource sucking relationships premier niche markets. Professionally cultivate customer.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team07-notinclude.jpg" alt="Chris Hill">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-dribbble"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-facebook"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-skype"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Chris Hill</strong>
	                            	<span>Developer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize and scalable metrics.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team11-notinclude.jpg" alt="Carlos Robinson">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-facebook"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-git"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-google-plus"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                   		 		<strong>Carlos Robinson</strong>
	                            	<span>Developer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business and applications.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team15-notinclude.jpg" alt="Norma Brooks">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-google-plus"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-git"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Norma Brooks</strong>
	                            	<span>Developer</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<section class="section">
	    <div class="background-overlay " style="background-color: rgba(255,255,255,1);"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
	    				Our directors
	    			</h1>
	                <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
	                    <div class="divider-border-inner" style="width:60px;"></div>
	                </div>
	                <p class="lead text-center center element-bottom-40 os-animation " data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                	Time to meet our team of technology and business professionals.
	                    <br /> Making all the hard decisions keeping the delivery on time
	                </p>
	                <div class="row staff-list-container list-container element-bottom-60">
	                    <div class="figure col-md-4 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team02-notinclude.jpg" alt="Amanda Hayes">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-facebook"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-google-plus"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Amanda Hayes</strong>
	                            	<span>Director</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Efficiently unleash cross-media information without cross-media value. Quickly maximize deliverables schemas.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-4 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team08-notinclude.jpg" alt="Diane Griffin">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-google-plus"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Diane Griffin</strong>
	                            	<span>Director</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Credibly innovate granular internal sources whereas high standards in web-readiness. With optimal wise networks.
	                            </p>
	                        </div>
	                    </div>
	                    <div class="figure col-md-4 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                        <div class="figure-image">
	                            <img src="assets/images/corporate/team10-notinclude.jpg" alt="Norma Brooks">
	                            <div class="figure-overlay ">
	                                <div class="figure-overlay-container">
	                                    <div class="figure-caption text-center">
	                                        <ul class="figure-overlay-icons social-icons social-simple">
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-twitter"></i>
	                                                </a>
	                                            </li>
	                                            <li>
	                                                <a href="#" target="_self">
	                                                    <i class="fa fa-google-plus"></i>
	                                                </a>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="figure-caption text-left">
	                            <h3 class="figure-caption-title">
	                    			<strong>Norma Brooks</strong>
	                            	<span>Director</span>
	                			</h3>
	                            <p class="figure-caption-description">
	                            	Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<section class="section">
	    <div class="background-media" style="background-image: url('assets/images/corporate/team-notinclude.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"></div>
	    <div class="background-overlay " style="background-color: rgba(1,192,225,0.8);"></div>
	    <div class="container-fullwidth">
	        <div class="row vertical-middle">
	            <div class="col-md-3 padding-left-30 text-left" style="background:rgba(0, 0, 0, 0.4);">
	                <h2 class=" element-top-60 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">
	    				Our philosophy
	    			</h2>
	                <div class="col-text-1 text-light element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	                    <p>
	                    	Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome.
	                    </p>
	                </div>
	            </div>
	            <div class="col-md-3 text-left" style="background:rgba(0, 0, 0, 0.3);">
	                <h2 class=" element-top-60 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
	    				Our work
	    			</h2>
	                <div class="col-text-1 text-light element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	                    <p>
	                    	Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design without any coding.
	                    </p>
	                </div>
	            </div>
	            <div class="col-md-3 text-left" style="background:rgba(0, 0, 0, 0.2);">
	                <h2 class="element-top-60 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
	    				Our vision
	    			</h2>
	                <div class="col-text-1 text-light  element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	                    <p>
	                    	Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now.
	                    </p>
	                </div>
	            </div>
	            <div class="col-md-3" style="background:rgba(0, 0, 0, 0.1);">
	                <h2 class="element-top-60 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
	    				Our dreams
	    			</h2>
	                <div class="col-text-1 text-light  element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
	                    <p>
	                    	Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome.
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</article>
{% endblock %}