{% extends "layouts/corporate.html" %}

{% set title = "Blog | Corporate" %}
{% set sidebarClasses = "" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(1,192,225,1);"></div>
        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big skrollable">Latest news</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9 blog-list-layout-normal">
                    <article class="post type-post status-publish format-gallery has-post-thumbnail hentry category-mobile tag-assault tag-butcher tag-lucky tag-woman">
                        <div class="post-media">
                            <div class="flexslider flex-controls-bottom element-top-no-top element-bottom-no-bottom" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="none" data-os-animation-delay=
                            "0s" id="flexslider-48">
                                <ul class="slides">
                                    <li>
                                        <figure>
                                            <img alt="blog06" src="assets/images/corporate/blog06.jpg">
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <img alt="blog10" src="assets/images/corporate/blog10.jpg">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">
                                The birth of a new brand
                            </h1>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i>
                                    August 25, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="/corporate-about-us.html">Proistakis Manos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="/corporate-left-sidebar.html" rel="tag">Mobile</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#comments" title="Comment on The birth of a new brand">
                                        2 comments
                                    </a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>
                                Yes! I am a citizen! Now which way to the welfare <strong>office</strong>? I'm kidding, I'm kidding. I work, I work. Bart, with $10,000 we'd be millionaires! We could buy all kinds of useful things like…love!
                            </p>
                            <p>
                                They only come out in the night. Or in this case, the day. The <strong>Internet</strong> King? I wonder if he could provide faster nudity… Oh, loneliness and cheeseburgers are a dangerous mix. A woman is a lot like a refrigerator. Six feet tall, 300 pounds…it makes ice. Weaseling out of things is important to learn. It's what separates us from the animals…except the weasel.
                            </p>
                            <p>
                                <img alt="p04" class="alignnone size-full wp-image-404" height="800" src="assets/images/corporate/p04.jpg"
                                width="1200">
                            </p>
                            <p>
                                But, <strong>Aquaman</strong>, you cannot marry a woman without gills. You're from two different worlds… Oh, I've wasted my life. Your guilty
                                consciences may make you vote Democratic, but secretly you all yearn for a Republican president to lower taxes, brutalize criminals, and rule you like a king! Oh, everything looks bad if you remember it. I'm a Spalding Gray in a Rick Dees world.
                            </p>
                            <p>
                                Get ready, skanks! It's time for the truth train! Your guilty consciences may make you vote <strong>Democratic</strong>, but secretly you all yearn for a Republican president to lower taxes, brutalize criminals, and rule you like a king! What good is money if it can't inspire terror in your fellow man?
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="/corporate-left-sidebar.html" rel="tag">assault</a>
                                        <a href="/corporate-left-sidebar.html" rel="tag">butcher</a>
                                        <a href="/corporate-left-sidebar.html" rel="tag">lucky</a>
                                        <a href="/corporate-left-sidebar.html" rel="tag">woman</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                    <i class="fa fa-pinterest"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="/corporate-standard-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                    Previous
                                </a>
                            </li>
                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="/corporate-standard-post.html" rel="next">
                                    Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->
                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">
                                Related Posts
                            </h3>
                        </header>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-206" style=
                                "background-image: url(assets/images/corporate/blog16.jpg)">
                                    <a href="/corporate-standard-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                            All the Presidents' Heads
                                        </h3>
                                        <div class="post-grid-content-footer">
                                            Christos , May 1, 2014
                                        </div>
                                    </div></a>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comments padded" id="comments">
                        <div class="comments-head">
                            <h3>
                                2 comments
                            </h3>
                            <small>
                                Join the conversation
                            </small>
                        </div>
                        <ul class="comments-list comments-body media-list">
                            <li class="comment byuser comment-author-proistak bypostauthor even thread-even depth-1 media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="/corporate-about-us.html">
                                        <img alt="" class="media-objects img-circle avatar-48 photo" height="48" src="assets/images/corporate/team01-notinclude.jpg" width="48">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="media-inner">
                                        <div id="comment-8">
                                            <h4 class="media-heading clearfix">
                                                <strong>Proistakis Manos</strong>
                                                - November 12, 2014
                                                <strong class="comment-reply pull-right">
                                                    <a class="comment-reply-link" href="#">
                                                        reply
                                                    </a>
                                                </strong>
                                            </h4>
                                            <p>
                                                But, Aquaman, you cannot marry a woman without gills. You’re from two different worlds… Oh, I’ve wasted my life. Your guilty consciences may make you vote Democratic, but secretly you all yearn for a Republican president to lower taxes
                                            </p>
                                        </div>
                                    </div>
                                    <div class="comment byuser comment-author-proistak bypostauthor odd alt depth-2 media media-comment">
                                        <div class="media-avatar media-left">
                                            <a href="/corporate-about-us.html">
                                                <img alt="" class="media-objects img-circle avatar-48 photo" height="48" src="assets/images/corporate/team01-notinclude.jpg" width="48">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-inner">
                                                <div id="comment-9">
                                                    <h4 class="media-heading clearfix">
                                                        <strong>Proistakis Manos</strong> - November 12, 2014 <strong class="comment-reply pull-right"><a class="comment-reply-link" href="#respond">reply</a></strong>
                                                    </h4>
                                                    <p>
                                                        Try a thing you haven’t done three times. Once, to get over the fear of doing it. Twice, to learn how to do it. And a third time, to
                                                        figure out whether you like it or not.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div>
                </div>
                {% include "partials/corporate/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}