{% extends "layouts/corporate.html" %}

{% set title = "The importance of SEO|Corporate" %}
{% set activeMenu = "Blog" %}
{% set sidebarClasses = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big">Latest news</h1>

                    <ol class="breadcrumb breadcrumb-blog text-lowercase element-top-70">
                        <li>
                            <a href="corporate-no-sidebar.html">home</a>
                        </li>

                        <li>
                            <a href="corporate-no-sidebar.html">blog</a>
                        </li>

                        <li>
                            <a href="corporate-no-sidebar.html" rel="tag">Mobile</a>
                        </li>

                        <li>
                            <a href="corporate-no-sidebar.html" rel="tag">Reviews</a>
                        </li>

                        <li class="active">The importance of SEO</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/corporate/blog05.jpg">
                                    <img alt="The importance of SEO" src="assets/images/corporate/blog05.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h1 class="post-title">The importance of SEO</h1>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> September 25, 2014
                                </span>
                                <span class="post-author">  <i class="icon-head"></i>
                                    <a href="corporate-about-us.html">Constantourakis Harris</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="corporate-no-sidebar.html" rel="tag">Mobile</a>,
                                    <a href="corporate-about-us.html" rel="tag">Reviews</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="corporate-no-sidebar.html" title="Comment on The importance of SEO">2 comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Books are useless! I only ever read one book,
                            &#8220;To Kill A Mockingbird,&#8221; and it gave me
                            <strong>absolutely</strong> no insight on how to
                            kill mockingbirds! Sure it taught me not to judge a
                            man by the color of his skin…but what good does
                            *that* do me? I&#8217;m a Spalding Gray in a Rick
                            Dees world. You don&#8217;t win friends with salad.
                            The Internet King? I wonder if he could provide
                            faster nudity.</p>

                            <blockquote>
                                <p>Don&#8217;t kid yourself, Jimmy. If a cow
                                ever got the chance, he&#8217;d eat you and
                                everyone you care about! Stan Lee never left.
                                I&#8217;m afraid his mind is no longer in mint
                                condition. Weaseling out of things is important
                                to learn. It&#8217;s what separates us from the
                                <strong>animals</strong>…except the weasel. I
                                didn&#8217;t get rich by signing checks.
                                I&#8217;m a Spalding Gray in a Rick Dees
                                world.</p>
                            </blockquote>

                            <p>You don&#8217;t win friends with salad. Dad
                            didn&#8217;t leave… When he comes back from the
                            <strong>store</strong>, he&#8217;s going to wave
                            those pop-tarts right in your face! Marge, just
                            about everything&#8217;s a sin. Y&#8217;ever sat
                            down and read this thing? Technically we&#8217;re
                            not supposed to go to the bathroom. I&#8217;m a
                            Spalding Gray in a Rick Dees world.</p>

                            <p>And now, in the spirit of the season: start
                            shopping. And for every dollar of Krusty
                            merchandise you buy, I will be nice to a sick kid.
                            For legal purposes, sick kids may include hookers
                            with a cold. Fire can be our friend; whether
                            it&#8217;s toasting marshmallows or raining down on
                            Charlie. Yes! I am a citizen! Now which way to the
                            welfare office? I&#8217;m kidding, I&#8217;m
                            kidding. I work, I work. And here I am
                            <strong>using</strong> my own lungs like a sucker.
                            &#8220;Thank the Lord&#8221;? That sounded like a
                            prayer. A prayer in a public school. God has no
                            place within these walls, just like facts
                            don&#8217;t have a place within an organized
                            religion.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="corporate-no-sidebar.html"
                                        rel="tag">commandment</a>
                                         <a href="corporate-no-sidebar.html"
                                        rel="tag">lord</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <ul class=
                                    "social-icons social-sm social-simple social-circle">
                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="corporate-standard-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="corporate-standard-post.html"
                                rel="next">Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <div class="comments padded" id="comments">
                        <div class="comments-head">
                            <h3>2 comments</h3><small>Join the
                            conversation</small>
                        </div>

                        <ul class="comments-list comments-body media-list">
                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="corporate-about-us.html">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team11-notinclude.jpg' width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div>
                                            <h4 class="media-heading clearfix">
                                            <strong>Proistakis Manos</strong> -
                                            June 13, 2014 <strong class=
                                            "comment-reply pull-right"><a class='comment-reply-link' href='#'>
                                            reply</a></strong></h4>

                                            <p>Money is important in life, but
                                            it’s more important to not be
                                            consumed by it. Remember that
                                            there’s more to life than just
                                            buying things. Go out and live.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="corporate-about-us.html">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team11-notinclude.jpg' width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div id="comment-7">
                                            <h4 class="media-heading clearfix">
                                            <strong>Pantazis Christos</strong> -
                                            January 29, 2015 <strong class="comment-reply pull-right"><a class='comment-reply-link'
                                            href='team11-notinclude.jpg'>
                                            reply</a></strong></h4>

                                            <p>And now, in the spirit of the
                                            season: start shopping. And for
                                            every dollar of Krusty merchandise
                                            you buy, I will be nice to a sick
                                            kid. For legal purposes, sick kids
                                            may include hookers with a
                                            cold.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply <small><a href=
                        "/corporate/2014/09/25/the-importance-of-seo/#respond"
                        id="cancel-comment-reply-link" rel="nofollow" style=
                        "display:none;">Cancel reply</a></small></h3>

                        <form class="comment-form" id="commentform" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class=
                                    "input-block-level form-control" id=
                                    "author" name="author" type="text" value=
                                    "">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class=
                                    "input-block-level form-control" id="email"
                                    name="email" type="text" value="">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for=
                                    "url">Website</label><input class=
                                    "input-block-level form-control" id="url"
                                    name="url" type="text" value="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class=
                                    "input-block-level form-control" id=
                                    "comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
                {% include "partials/corporate/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}
