{% extends "layouts/corporate.html" %}

{% set title = "Portfolio – 2 columns|Corporate" %}
{% set activeMenu = "Portfolio" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big">Portfolio &#8211; 2 columns</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-10 element-bottom-10">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition"
                        data-col-lg="2" data-col-md="2" data-col-sm="2"
                        data-col-xs="2" data-layout="fitRows" data-padding=
                        "15">
                            <div class="masonry-item portfolio-item filter-drinks filter-people"
                            data-title="Corporate animation">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific-vimeo"
                                     href="http://vimeo.com/104566183" target="_self"><img alt="Corporate animation"
                                    class="normalwidth" src="assets/images/corporate/p03.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people"
                            data-title="Freshquote co">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/corporate/p01.jpg" target="_self"><img alt="Freshquote co"
                                    class="normalwidth" src="assets/images/corporate/p01.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people"
                            data-title="Rapid Longitude branding">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific-gallery"
                                    data-links=
                                    "assets/images/corporate/p11.jpg,images/corporate/p07.jpg,images/corporate/p12.jpg"
                                    href="assets/images/corporate/p02.jpg"
                                    target="_self"><img alt="Rapid Longitude branding" class=
                                    "normalwidth" src=
                                    "assets/images/corporate/p02.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                        <i class="icon-plus"></i>
                                                    </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-people"
                            data-comments="0" data-date=
                            "2014-09-23T07:03:17+00:00" data-menu-order="4"
                            data-title="Risky Heart magazine">
                                <div class=
                                "figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.9s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/corporate/p04.jpg"
                                    target="_self"><img alt=
                                    "Risky Heart magazine" class="normalwidth"
                                    src=
                                    "assets/images/corporate/p04.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                        <i class="icon-plus"></i>
                                                    </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-people"
                            data-comments="0" data-date=
                            "2014-09-23T02:03:17+00:00" data-menu-order="6"
                            data-title="Stationary Concept">
                                <div class=
                                "figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/corporate/p05.jpg"
                                    target="_self"><img alt=
                                    "Stationary Concept" class="normalwidth"
                                    src=
                                    "assets/images/corporate/p05.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                        <i class="icon-plus"></i>
                                                    </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-drinks"
                            data-comments="0" data-date=
                            "2014-09-23T01:29:17+00:00" data-menu-order="7"
                            data-title="Lambda Magazine">
                                <div class=
                                "figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.5s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/corporate/p06.jpg"
                                    target="_self"><img alt="Lambda Magazine"
                                    class="normalwidth" src=
                                    "assets/images/corporate/p06.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                        <i class="icon-plus"></i>
                                                    </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-drinks"
                            data-comments="0" data-date=
                            "2014-09-23T01:28:17+00:00" data-menu-order="8"
                            data-title="Visual identity">
                                <div class=
                                "figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.8s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/corporate/p11.jpg"
                                    target="_self"><img alt="Visual identity"
                                    class="normalwidth" src=
                                    "assets/images/corporate/p11.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                        <i class="icon-plus"></i>
                                                    </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-nature filter-people"
                            data-comments="0" data-date=
                            "2014-09-23T04:03:17+00:00" data-menu-order="8"
                            data-title="Yellow Yard co">
                                <div class=
                                "figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="2.1s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/corporate/p13.jpg"
                                    target="_self"><img alt="Yellow Yard co"
                                    class="normalwidth" src=
                                    "assets/images/corporate/p13.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                        <i class="icon-plus"></i>
                                                    </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section text-center">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style=
        "background-image: url(&#039;&#039;); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <h2 class="text-center element-top-70 element-bottom-20 text-light os-animation normal light"
                    data-os-animation="fadeInDown" data-os-animation-delay="0s">The most advanced, flexible and awesome theme
                    you&#8217;ve ever seen. Need more? Feel free to contact
                    us.</h2><a class="btn btn-link btn-lg text-light element-top-20 element-bottom-70 os-animation"
                    data-os-animation="fadeInUp" data-os-animation-delay="0.3s"
                    href="#"
                    target="_self">buy it now</a>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}