{% extends "layouts/corporate.html" %}

{% set title = "Elements-Countdown timer|Corporate" %}
{% set activeMenu = "Elements" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style=
        "background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big">Elements &#8211; Countdown Timer</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="countdown hyper hairline element-top-70 element-bottom-70 os-animation"
                    data-date="2015/12/21 12:43" data-os-animation="fadeInUp"
                    data-os-animation-delay="0s"><span class=
                    "counter-element"><span class=
                    "counter-days odometer text-center">0</span>
                    <b>days</b></span> <span class=
                    "counter-element"><span class=
                    "counter-hours odometer text-center">0</span>
                    <b>hours</b></span> <span class=
                    "counter-element"><span class=
                    "counter-minutes odometer text-center">0</span>
                    <b>minutes</b></span> <span class=
                    "counter-element"><span class=
                    "counter-seconds odometer text-center">0</span>
                    <b>seconds</b></span></h1>

                    <div class="row">
                        <div class="col-md-6">
                            <h2 class=
                            "text-center element-top-50 element-bottom-20 os-animation big light"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0s">How long before the release?</h2>

                            <h1 class="countdown super light element-top-70 element-bottom-70 os-animation"
                            data-date="2015/10/21 12:43" data-os-animation=
                            "fadeInUp" data-os-animation-delay="0s">
                                <span class="counter-element">
                                    <span class="counter-days odometer text-center">0</span><b>days</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-hours odometer text-center">0</span><b>hours</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-minutes odometer text-center">0</span><b>minutes</b></span> <span class="counter-element"><span class="counter-seconds odometer text-center">0</span><b>seconds</b>
                                </span>
                            </h1>
                        </div>

                        <div class="col-md-6">
                            <h2 class="text-center element-top-50 element-bottom-20 os-animation big light"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">How long before the end?</h2>

                            <h1 class="countdown super light element-top-70 element-bottom-70 os-animation"
                            data-date="2015/12/21 12:43" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                <span class="counter-element">
                                    <span class="counter-days odometer text-center">0</span><b>days</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-hours odometer text-center">0</span>
                                    <b>hours</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-minutes odometer text-center">0</span><b>minutes</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-seconds odometer text-center">0</span><b>seconds</b>
                                </span>
                            </h1>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-100"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-100"></div>
                        <div class="visible-lg element-height-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}