{% extends "layouts/creative.html" %}

{% set title = "Elements - Pricing  | Lambda" %}
{% set activeMenu = "Elements" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url('assets/images/creative/services-bg-2.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"></div>
        <div class="background-overlay" style="background-color: rgba(48,60,64,0.5);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-160 element-bottom-60 text-light big">Elements &#8211; Pricing</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(240,240,240,1);"></div>

        <div class="container">

            <h1 class="text-center element-top-80 element-bottom-20 os-animation normal"
            data-os-animation="fadeIn" data-os-animation-delay="0s">
            Pricing tables</h1>

            <div class="divider-border divider-border-center element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                <div class="divider-border-inner"></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right small-screen-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="element-top-20 element-bottom-20 pricing-col os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0s">
                                <h2 class="pricing-head" style="background: #ffffff; color:#333333">Basic</h2>

                                <div class="pricing-body" style="background: #ffffff; color:#333333">
                                    <div class="pricing-price">
                                        <header style=
                                        "background: #86b2b8; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small>
                                            9.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(51,51,51,0.1)">1 user</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">2 hours</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">10 Megabytes</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">100 SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="#" style=
                                    "background: #86b2b8; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="element-top-20 element-bottom-20 pricing-col pricing-featured os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.3s">
                                <h2 class="pricing-head" style="background: #ffffff; color:#333333">
                                Silver</h2>

                                <div class="pricing-body" style="background: #ffffff; color:#333333">
                                    <div class="pricing-price">
                                        <header style="background: #f7b487; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small>
                                            19.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(51,51,51,0.1)">10 users</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">24 hours</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">100 Megabytes</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">1000 SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="" style="background: #f7b487; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="element-top-20 element-bottom-100 pricing-col os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.6s">
                                <h2 class="pricing-head" style="background: #ffffff; color:#333333">Gold</h2>

                                <div class="pricing-body" style="background: #ffffff; color:#333333">
                                    <div class="pricing-price">
                                        <header style=
                                        "background: #c6cf9b; color: #ffffff;">
                                            <h2><small style=
                                            "color: #ffffff;">$</small>
                                            29.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(51,51,51,0.1)">100 users</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">200 hours</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">10 Gigabytes</li>

                                        <li style="border-color: rgba(51,51,51,0.1)"> Unlimited SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="" style=
                                    "background: #c6cf9b; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(240,240,240,1);"></div>

        <div class="container">

            <h1 class="text-center element-top-80 element-bottom-20 os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0s">
            Unlimited Colors</h1>

            <div class="divider-border divider-border-center element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                <div class="divider-border-inner"></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right small-screen-center">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="element-top-20 element-bottom-20 pricing-col os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0s">
                                <h2 class="pricing-head" style="background: #3a4a4c; color:#ffffff">Basic</h2>

                                <div class="pricing-body" style="background: #3a4a4c; color:#ffffff">
                                    <div class="pricing-price">
                                        <header style=
                                        "background: #86b2b8; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small>
                                            9.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">1 user</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">2 hours</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">10 Megabytes</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">100 SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="#" style=
                                    "background: #86b2b8; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="element-top-20 element-bottom-20 pricing-col os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.3s">
                                <h2 class="pricing-head" style="background: #0e5754; color:#ffffff">
                                Silver</h2>

                                <div class="pricing-body" style="background: #0e5754; color:#ffffff">
                                    <div class="pricing-price">
                                        <header style="background: #5a918f; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small>
                                            19.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">10 users</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">24 hours</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">100 Megabytes</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">1000 SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="" style="background: #5a918f; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="element-top-20 element-bottom-100 pricing-col os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.6s">
                                <h2 class="pricing-head" style="background: #71794a; color:#ffffff">Gold</h2>

                                <div class="pricing-body" style="background: #71794a; color:#ffffff">
                                    <div class="pricing-price">
                                        <header style=
                                        "background: #c6cf9b; color: #ffffff;">
                                            <h2><small style=
                                            "color: #ffffff;">$</small>
                                            29.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">100 users</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">200 hours</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">10 Gigabytes</li>

                                        <li style="border-color: rgba(255,255,255,0.1)"> Unlimited SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="" style=
                                    "background: #c6cf9b; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="element-top-20 element-bottom-100 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                <h2 class="pricing-head" style="background: #5a6f77; color:#ffffff">Diamond</h2>

                                <div class="pricing-body" style="background: #5a6f77; color:#ffffff">
                                    <div class="pricing-price">
                                        <header style=
                                        "background: #b0d2e0; color: #ffffff;">
                                            <h2><small style=
                                            "color: #ffffff;">$</small>
                                            99.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(255,255,255,0.1)">1000 users</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">24 hours</li>

                                        <li style="border-color: rgba(255,255,255,0.1)">100 Gigabytes</li>

                                        <li style="border-color: rgba(255,255,255,0.1)"> Unlimited SMS</li>
                                    </ul><a class="btn btn-lg btn-primary"
                                    href="" style="background: #b0d2e0; color: #ffffff;">get
                                    it</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}