{% extends "layouts/creative.html" %}

{% set title = "Elements - Countdown timers | Lambda" %}
{% set activeMenu = "Elements" %}

{% block content %}
<article>
    <section class="section section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('assets/images/creative/services-bg.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;"></div>
        <div class="background-overlay" style="background-color: rgba(86,154,167,0.4);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1 class="text-center  element-top-160 element-bottom-20 text-light os-animation bigger" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Countdown timers.
                    </h1>
                    <div class="divider-border  divider-border-center element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87); "></div>
                    </div>

                    <h1 class="countdown hyper light text-light element-top-70 element-bottom-70 os-animation" data-date="2015/12/21 12:43" data-os-animation="fadeInUp"
                    data-os-animation-delay="0s">
                        <span class="counter-element"><span class="counter-days odometer text-center">0</span>
                        <b>days</b></span> <span class=
                        "counter-element"><span class=
                        "counter-hours odometer text-center">0</span>
                        <b>hours</b></span> <span class=
                        "counter-element"><span class=
                        "counter-minutes odometer text-center">0</span>
                        <b>minutes</b></span> <span class=
                        "counter-element"><span class=
                        "counter-seconds odometer text-center">0</span>
                        <b>seconds</b></span>
                    </h1>

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="text-center element-top-50 element-bottom-20 os-animation text-light"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">How long before the release?</h1>
                            <div class="divider-border  divider-border-center element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87); "></div>
                            </div>
                            <h1 class="countdown super regular text-light element-top-20 element-bottom-70 os-animation"
                            data-date="2015/10/21 12:43" data-os-animation=
                            "fadeInUp" data-os-animation-delay="0s">
                                <span class="counter-element">
                                    <span class="counter-days odometer text-center">0</span><b>days</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-hours odometer text-center">0</span><b>hours</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-minutes odometer text-center">0</span><b>minutes</b></span> <span class="counter-element"><span class="counter-seconds odometer text-center">0</span><b>seconds</b>
                                </span>
                            </h1>
                        </div>

                        <div class="col-md-6">
                            <h1 class="text-center element-top-50 element-bottom-20 os-animation normal text-light"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">How long before the end?</h1>
                            <div class="divider-border  divider-border-center element-top-20 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87); "></div>
                            </div>

                            <h1 class="countdown super regular text-light element-top-20 element-bottom-70 os-animation"
                            data-date="2015/12/21 12:43" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                                <span class="counter-element">
                                    <span class="counter-days odometer text-center">0</span><b>days</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-hours odometer text-center">0</span>
                                    <b>hours</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-minutes odometer text-center">0</span><b>minutes</b>
                                </span>
                                <span class="counter-element">
                                    <span class="counter-seconds odometer text-center">0</span><b>seconds</b>
                                </span>
                            </h1>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-100"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-100"></div>
                        <div class="visible-lg element-height-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}