{% extends "layouts/creative.html" %}

{% set title = "Services | Lambda" %}
{% set activeMenu = "Pages" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -31px" style="background-image: url(assets/images/creative/services-bg.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.7);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-160 element-bottom-20 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.1s">It’s all about services</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87);"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h2 class="text-center element-top-0 element-bottom-40 text-light os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We are a creative
                            web design agency who are passionate with our pixels. We specialise in WordPress theme development and we create pixel perfect themes.</h2>
                        </div>

                        <div class="col-md-2"></div>
                    </div>

                    <div class="list-container row element-top-20 element-bottom-90 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="col-md-4 text-light element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="box box-round box-big box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="Made for the Web" src="assets/images/creative/web-512-white.png">
                                    </div>
                                </a>
                            </div>

                            <h3>
                                <a href="creative-single-service.html">Made for the Web</a>
                            </h3>

                            <p>Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome.</p>
                        </div>

                        <div class="col-md-4 text-light element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <div class="box box-round box-big box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="Retina Ready" src="assets/images/creative/retina-512-white.png">
                                    </div>
                                </a>
                            </div>

                            <h3>
                                <a href="creative-single-service.html">Retina Ready</a>
                            </h3>

                            <p>Lambda is designed to look cool on any device from mobile and tablets to desktop computers and also on retina screens.</p>
                        </div>

                        <div class="col-md-4 text-light element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="box box-round box-big box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="SEO Optimised" src="assets/images/creative/admin-512-white.png">
                                    </div>
                                </a>
                            </div>

                            <h3>
                                <a href="creative-single-service.html">SEO Optimised</a>
                            </h3>

                            <p>Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible.</p>
                        </div>

                        <div class="col-md-4 text-light element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="box box-round box-big box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="SEO Optimised" src="assets/images/creative/customisation-512-2hite.png">
                                    </div>
                                </a>
                            </div>

                            <h3>
                                <a href="creative-single-service.html">Easy to Customise</a>
                            </h3>

                            <p>Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now.</p>
                        </div>

                        <div class="col-md-4 text-light element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="box box-round box-big box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="Commerce Ready" src="assets/images/creative/eshop-512-white.png">
                                    </div>
                                </a>
                            </div>

                            <h3>
                                <a href="creative-single-service.html">Commerce Ready</a>
                            </h3>

                            <p>Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome.</p>
                        </div>

                        <div class="col-md-4 text-light element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="box box-round box-big box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="SEO Optimised" src="assets/images/creative/development-512-white.png">
                                    </div>
                                </a>
                            </div>

                            <h3>
                                <a href="creative-single-service.html">SEO Optimised</a>
                            </h3>

                            <p>Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(183,183,183,0.1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-20 os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Pricing</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h2 class="text-center element-top-20 element-bottom-40 os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">Get everything at
                            the lowest price of the market. Simple pricing structure that can scale with your needs.</h2>
                        </div>

                        <div class="col-md-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class=" element-top-20 element-bottom-20 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <h2 class="pricing-head" style="background: #ffffff; color:#333333">Basic</h2>

                                <div class="pricing-body" style="background: #ffffff; color:#333333">
                                    <div class="pricing-price">
                                        <header style="background: #569aa7; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small> 9.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(51,51,51,0.1)">1 user</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">2 hours</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">10 Megabytes</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">100 SMS</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary" href="" style="background: #86b2b8; color: #ffffff;">get it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class=" element-top-20 element-bottom-20 pricing-col pricing-featured os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <h2 class="pricing-head" style="background: #ffffff; color:#333333">Silver</h2>

                                <div class="pricing-body" style="background: #ffffff; color:#333333">
                                    <div class="pricing-price">
                                        <header style="background: #f7b487; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small> 19.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(51,51,51,0.1)">10 users</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">24 hours</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">100 Megabytes</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">1000 SMS</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary" href="" style="background: #f7b487; color: #ffffff;">get it</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class=" element-top-20 element-bottom-100 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                <h2 class="pricing-head" style="background: #ffffff; color:#333333">Gold</h2>

                                <div class="pricing-body" style="background: #ffffff; color:#333333">
                                    <div class="pricing-price">
                                        <header style="background: #569aa7; color: #ffffff;">
                                            <h2><small style="color: #ffffff;">$</small> 29.99</h2>

                                            <p style="color: #ffffff;"></p>
                                        </header>
                                    </div>

                                    <ul class="pricing-list">
                                        <li style="border-color: rgba(51,51,51,0.1)">100 users</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">200 hours</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">10 Gigabytes</li>

                                        <li style="border-color: rgba(51,51,51,0.1)">Unlimited SMS</li>
                                    </ul>
                                    <a class="btn btn-lg btn-primary" href="" style="background: #c6cf9b; color: #ffffff;">get it</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/creative/services-bg-2.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.8);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10">
                    <div class="element-top-80 element-bottom-80 text-center text-light os-animation flexslider feature-slider" data-flex-animation="slide" data-flex-controls="show" data-flex-controls-position="outside" data-flex-controlsalign="center" data-flex-directions="hide" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay="0s" id="flexslider-17">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>Christos Pantazis is the quickest and most helpful guy I've ever met on Themeforest. His theme is awesome and if you need to alter it under the hood, he
                                    responds so quickly. I could hardly believe. Big plus for his support and a big plus for his amazing theme. Keep it up.</p>

                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>

                                        <div class="box-inner"><img alt="team02-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team02-notinclude.jpg" width="150"></div>
                                    </div>

                                    <footer>
                                        Jennifer Stewart <cite title="Stimware">Stimware</cite>
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>I've been a long time themeforest buyer and i have bought dozens of themes and i can't express to you how powerful beautiful and dynamic this theme is let alone
                                    the great customer service and you get a them that is a must. Whether you have a theme you like or not, you must get this theme!</p>

                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>

                                        <div class="box-inner"><img alt="team09-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team09-notinclude.jpg" width="150"></div>
                                    </div>

                                    <footer>
                                        Billy Thompson <cite title="overplex.com">overplex.com</cite>
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>This theme is simply amazing i give it 5 stars in every category Customizability, Design Quality, Customer Support, Feature Availability, Documentation Quality.
                                    It's an absolute must for someone with a big vision looking for a theme that you won't grow out of quickly.</p>

                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>

                                        <div class="box-inner"><img alt="team10-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team10-notinclude.jpg" width="150"></div>
                                    </div>

                                    <footer>
                                        Theresa Williams <cite title="Codecare Co">Codecare Co</cite>
                                    </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay " style="background-color: rgba(0,0,0,0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-0 os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">More Services</h1>


                    <div class="divider-border  divider-border-center element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" >
                        <div class="divider-border-inner" ></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h2 class="text-center element-top-0 element-bottom-40 os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We provide design services that will adapt to your need. Get a fully responsive site so your content will always look good on any screen size.</h2>
                        </div>

                        <div class="col-md-2"></div>
                    </div>

                    <div class="list-container row element-top-20 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-heart" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Awesome Design</a></h3>

                            <p>Lambda is designed with attention to details. Our intention is to create a theme that would to look cool and awesome.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-help" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Solid Support</a></h3>

                            <p>With Lambda you get a five star customer support. As with all our themes you will receive our 100% rock solid support.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-map" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Ultra Flexible</a></h3>

                            <p>Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-cloud" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">SEO Optimised</a></h3>

                            <p>Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-monitor" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Responsive Design</a></h3>

                            <p>Lambda is designed to look cool on any device from mobile and tablets to desktop computers and also on retina screens.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-repeat" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Free Updates</a></h3>

                            <p>With Lambda you get a free updates forever. Improvements and features will be added to make the theme future proof.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.7s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-layout" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Solid Design</a></h3>

                            <p>Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get it now.</p>
                        </div>

                        <div class="col-md-3 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <a class="box-inner" href="creative-single-service.html" target="_self" style="background-color:#569aa7;">
                                    <div class="box-animate" data-animation="none">
                                        <i class="icon-eye" style="color:#ffffff;"></i>
                                    </div>
                                </a>
                            </div>

                            <h3><a href="creative-single-service.html" target="_self">Stunning Pages</a></h3>

                            <p>Create stunning pages which look great on any device. Clean HTML5 and CSS, beautifully coded & loads of features.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(183,183,183,0.1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flexslider flex-controls-bottom element-top-60 element-bottom-60" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="hide" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="show" data-flex-duration="600" data-flex-itemwidth="186" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" id="flexslider-55">
                        <ul class="slides">
                            <li>
                                <figure>
                                    <img alt="client1" class="attachment-full wp-post-image" data-original-title="Red-fan" data-toggle="tooltip" height="200" src="assets/images/creative/client1.png" width="400">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="client2" class="attachment-full wp-post-image" data-original-title="Freetax" data-toggle="tooltip" height="200" src="assets/images/creative/client2.png" width="400">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="client5" class="attachment-full wp-post-image" data-original-title="Remedia" data-toggle="tooltip" height="200" src="assets/images/creative/client5.png" width="400">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="client4" class="attachment-full wp-post-image" data-original-title="Streetway" data-toggle="tooltip" height="200" src="assets/images/creative/client4.png" width="400">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="client3" class="attachment-full wp-post-image" data-original-title="Scotex" data-toggle="tooltip" height="200" src="assets/images/creative/client3.png" width="400">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="client7" class="attachment-full wp-post-image" data-original-title="Moveit" data-toggle="tooltip" height="200" src="assets/images/creative/client7.png" width="400">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="client6" class="attachment-full wp-post-image" data-original-title="Redlex" data-toggle="tooltip" height="200" src="assets/images/creative/client6.png" width="400">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}