{% extends "layouts/creative.html" %}

{% set title = "Rapid Longitude | Lambda" %}
{% set activeMenu = "Portfolio" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/p03.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0.7);"></div>

        <div class="container">
            <div class="row">
                <header class="portfolio-header col-md-12 text-light">
                    <h1 class="text-left small-screen-center element-top-160 element-bottom-60 text-light normal" data-0-top-bottom="opacity:0" data-center="opacity:1" data-os-animation=
                    "none" data-os-animation-delay="0s" data-start="opacity:1">Rapid Longitude</h1>

                    <nav class="portfolio-nav element-top-160">
                        <ul>
                            <li>
                                <a href="creative-standard-item.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><polyline fill="none" stroke-width="3" stroke-miterlimit="10" points="68.692,16.091 33.146,50 68.692,83.906   "></polyline></g></svg>
                                </a>
                            </li>

                            <li>
                                <a href="creative-video-item.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g><polyline fill="none" stroke-width="3" stroke-miterlimit="10" points="33.146,16.091 68.692,50
                                                33.146,83.906   "></polyline></g></svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="flexslider flex-controls-bottom element-top-50 element-bottom-0 os-animation" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeInLeft" data-os-animation-delay="0s" id="flexslider-60">
                        <ul class="slides">
                            <li>
                                <figure>
                                    <img alt="p09" class="attachment-full wp-post-image" height="800" src="assets/images/creative/p02.jpg" width="1200">

                                    <figcaption>
                                        <h3>Get a drink</h3>

                                        <p></p>

                                        <p>Efficiently unleash cross-media
                                        information without cross-media value.
                                        Quickly maximize timely deliverables
                                        for real-time schemas.</p>
                                        <p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="p07" class=
                                    "attachment-full wp-post-image" height="800" src="assets/images/creative/p03.jpg"
                                    width="1200">

                                    <figcaption>
                                        <h3>Some thinking</h3>

                                        <p></p>

                                        <p>Dramatically maintain
                                        clicks-and-mortar solutions without
                                        functional solutions.</p>
                                        <p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="p12" class=
                                    "attachment-full wp-post-image" height="800" src="assets/images/creative/p08.jpg" width="1200">

                                    <figcaption>
                                        <h3>Amazing sunset</h3>

                                        <p></p>

                                        <p>Proactively envisioned multimedia
                                        based expertise and cross-media growth
                                        strategies.</p>
                                        <p>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <h2 class="text-left element-top-50 os-animation normal regular"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.1s">Brief</h2>

                    <div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner"></div>
                    </div>

                    <div class="col-text-1 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.3s">
                        <p>Collaboratively <strong>administrate</strong>
                        empowered markets via plug-and-play networks.
                        Dynamically procrastinate B2C users after installed
                        base benefits. Dramatically visualize customer directed
                        convergence without revolutionary ROI.</p>
                    </div>

                    <ul class="skills-list normal element-top-20 element-bottom-10 text-normal os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
                        <li>Web Design</li>

                        <li>Logo Design</li>

                        <li>SEO optimisation</li>

                        <li>Content architecture</li>

                        <li>Motion picture</li>
                    </ul>

                    <div class="element-bottom-20 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
                        <ul class="social-icons social-sm social-simple social-circle">
                            <li>
                                <a href="#" target="_blank" data-iconcolor="#00acee">
                                    <i class="fa fa-twitter" style="color: rgb(76, 76, 76);"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" data-iconcolor="#dd1812">
                                    <i class="fa fa-google-plus" style="color: rgb(76, 76, 76);"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" data-iconcolor="#3b5998">
                                    <i class="fa fa-facebook" style="color: rgb(76, 76, 76);"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" data-iconcolor="#C92228">
                                    <i class="fa fa-pinterest" style="color: rgb(76, 76, 76);"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section portfolio-related">
        <div class="container">
            <div class="row element-bottom-80 text-center">
                <h3 class="element-top-30 element-bottom-30">Other related items</h3>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="creative-standard-item.html">
                            <img alt="Wild Alpha" src="assets/images/creative/p07.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Wild Alpha</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="creative-standard-item.html">
                            <img alt="Yellow Yard" src="assets/images/creative/p08.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Yellow Yard</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="figure fade-in text-center vertical-middle">
                        <a class="figure-image" href="creative-standard-item.html">
                            <img alt="Risky Heart" src="assets/images/creative/p04.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3>Risky Heart</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}