{% extends "layouts/creative.html" %}

{% set title = "Portfolio - masonry | Lambda" %}
{% set activeMenu = "Portfolio" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(48,60,64,1);"></div>
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-100 element-bottom-0">
                        <div class="portfolio masonry no-transition use-masonry" data-col-lg="6" data-col-md="4" data-col-sm="2" data-col-xs="1" data-layout="masonry" data-padding="0">
                            <div class="masonry-item portfolio-item filter-drinks masonry-wide filter-people"
                            data-title="Gravity grass" data-date="2014-09-01T07:03:17+00:00">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific"
                                     href="assets/images/creative/p10.jpg" target="_self">
                                        <img alt="Gravity grass" class="normalwidth" src="assets/images/creative/p10.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Gravity grass</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people" data-title="Drinks on us" data-date="2014-09-02T07:03:17+00:00">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="1.8s">
                                    <a class="figure-image magnific" href="assets/images/creative/p02.jpg" target="_self">
                                        <img alt="Drinks on us" class="normalwidth" src="assets/images/creative/p02.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Drinks on us</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people masonry-wide" data-title="Rapid Longitude" data-date="2014-09-03T07:03:17+00:00">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific"
                                    href="assets/images/creative/p03.jpg" target="_self">
                                        <img alt="Rapid Longitude" class="normalwidth" src="assets/images/creative/p03.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Rapid Longitude</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people masonry-wide" data-comments="0" data-date="2014-09-04T07:03:17+00:00" data-menu-order="4" data-title="Risky Heart">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.9s">
                                    <a class="figure-image magnific" href="assets/images/creative/p04.jpg"
                                    target="_self">
                                        <img alt="Risky Heart" class="normalwidth" src="assets/images/creative/p04.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Risky Heart</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people masonry-wide" data-comments="0" data-date="2014-09-05T07:03:17+00:00" data-menu-order="6" data-title="Frozen Logbook">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific-vimeo" href="http://vimeo.com/98417189"
                                    target="_self">
                                        <img alt="Frozen Logbook" class="normalwidth" src="assets/images/creative/p05.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Frozen Logbook</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-drinks" data-comments="0" data-date="2014-09-06T07:03:17+00:00" data-menu-order="7" data-title="Old guitar">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.5s">
                                    <a class="figure-image magnific" href="assets/images/creative/p01.jpg"
                                    target="_self">
                                        <img alt="Old guitar" class="normalwidth" src="assets/images/creative/p01.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Old guitar</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-drinks masonry-wide" data-comments="0" data-date="2014-09-07T07:03:17+00:00" data-menu-order="8" data-title="Dirty old boots">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific-gallery" data-links="assets/images/creative/p06.jpg,assets/images/creative/p07.jpg" href="creative-standard-item.html"
                                    target="_self">
                                        <img alt="Dirty old boots" class="normalwidth" src="assets/images/creative/p06.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Dirty old boots</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-nature filter-people masonry-wide"
                            data-comments="0" data-date="2014-09-08T07:03:17+00:00" data-menu-order="8" data-title="Wild Alpha">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="2.1s">
                                    <a class="figure-image magnific-gallery" data-links="assets/images/creative/p07.jpg,assets/images/creative/p04.jpg" href="assets/images/creative/p07.jpg"
                                    target="_self">
                                        <img alt="Wild Alpha" class="normalwidth" src="assets/images/creative/p07.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Wild Alpha</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-nature filter-people masonry-wide"
                            data-comments="0" data-date="2014-09-09T07:03:17+00:00" data-menu-order="8" data-title="Yellow Yard co">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="2.4s">
                                    <a class="figure-image magnific"  href="assets/images/creative/p08.jpg" target="_self">
                                        <img alt="Yellow Yard co" class="normalwidth" src="assets/images/creative/p08.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Yellow Yard</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-nature filter-people masonry-wide"
                            data-comments="0" data-date="2014-09-12T07:03:17+00:00" data-menu-order="8" data-title="Wild forest">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="3.3s">
                                    <a class="figure-image magnific"  href="assets/images/creative/p12.jpg" target="_self">
                                        <img alt="Wild forest" class="normalwidth" src="assets/images/creative/p12.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Wild forest</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-nature filter-people"
                            data-comments="0" data-date="2014-09-10T07:03:17+00:00" data-menu-order="8" data-title="Orange cocktail co">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="2.7s">
                                    <a class="figure-image magnific"  href="assets/images/creative/coctail.jpg" target="_self">
                                        <img alt="Orange cocktail co" class="normalwidth" src="assets/images/creative/coctail.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Orange cocktail</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-nature filter-people"
                            data-comments="0" data-date="2014-09-11T07:03:17+00:00" data-menu-order="8" data-title="The black straw">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="3s">
                                    <a class="figure-image magnific"  href="assets/images/creative/p11.jpg" target="_self">
                                        <img alt="The black straw" class="normalwidth" src="assets/images/creative/p11.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">The black straw</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}