{% extends "layouts/creative.html" %}

{% set title = "The Cyber House Rules | Lambda" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/blog.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0.6);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header col-md-12 text-light">
                    <h1 class="text-left small-screen-center element-top-160 element-bottom-60 text-light normal" data-0-top-bottom="opacity:0" data-center="opacity:1" data-os-animation=
                    "none" data-os-animation-delay="0s" data-start="opacity:1">My Blog</h1>
                    <ol class="breadcrumb breadcrumb-blog text-lowercase element-top-160">
                        <li>
                            <a href="creative-index.html">home</a>
                        </li>

                        <li>
                            <a href="creative-blog.html">blog</a>
                        </li>

                        <li>
                            <a href="creative-blog.html" rel="tag">education</a>
                        </li>

                        <li class="active">The Cyber House Rules</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post single-post">
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">The Cyber House Rules</h1>

                            <p class="lead">What could possibly go wrong? Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens! Saving the world with meals on wheels.</p>
                        </header>

                        <div class="post-media">
                            <div class="video-wrapper feature-video">
                                <iframe src="//player.vimeo.com/video/105438077" width="1170" height="658" frameborder="0" title="breathe" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="post-body">
                            <p>Super <strong>squeaky</strong> bum time! You hit me with a cricket bat. You’ve swallowed a planet! You know how I sometimes have really brilliant ideas? Annihilate? No. No violence. I won’t stand for it. Not now, not ever, do you understand me?! I’m the Doctor, the Oncoming Storm – and you basically meant beat them in a football match, didn’t you?</p>

                            <p>All I’ve got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Father <strong>Christmas</strong>. Santa Claus. Or as I’ve always known him: Jeff. All I’ve got to do is pass as an ordinary human being. Simple. What could possibly go wrong? They’re not aliens, they’re Earth…liens! All I’ve got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Aw, you’re all Mr. Grumpy Face today.</p>

                            <blockquote><p>I hate yogurt. It’s just stuff with bits in. It’s a fez. I wear a fez now. Fezes are cool. Did I mention we have comfy chairs? I am the Doctor, and you are the Daleks! The way I see it, every life is a pile of good <strong>things</strong> and bad things.…hey.…the good things don’t always soften the bad things; but vice-versa the bad things don’t necessarily spoil the good things and make them unimportant. No… It’s a thing; it’s like a plan, but with more greatness.</p>
                            </blockquote>

                            <p>Sorry, checking all the water in this area; there’s an escaped fish. You know when grown-ups tell you ‘everything’s going to be fine’ and you think they’re probably lying to make you feel better? All I’ve got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Aw, you’re all Mr. Grumpy Face today. They’re not aliens, they’re Earth…liens! Saving the world with meals on wheels.</p>

                            <p>Father Christmas. Santa Claus. Or as I’ve always known him: Jeff. Did I mention we have comfy chairs? Father Christmas. Santa Claus. Or as I’ve always known him: Jeff. Stop talking, brain thinking. Hush.</p>

                            <p>I’m the Doctor. Well, they call me the Doctor. I don’t know why. I call me the Doctor too. I still don’t know why. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! No… It’s a thing; it’s like a plan, but with more greatness.</p>

                            <p>Heh-haa! Super squeaky bum time! I’m the Doctor. Well, they call me the Doctor. I don’t know why. I call me the Doctor too. I still don’t know why. I’m the Doctor, I’m worse than everyone’s aunt. *catches himself* And that is not how I’m introducing myself. Saving the world with meals on wheels. Stop talking, brain thinking. Hush. Annihilate? No. No violence. I won’t stand for it. Not now, not ever, do you understand me?! I’m the Doctor, the Oncoming Storm – and you basically meant beat them in a football match, didn’t you?</p>

                        </div>

                        <div class="post-details">
                            <span class="post-date">
                                <i class="icon-clock"></i> March 01, 2015
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="creative-blog.html">Christos</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i> <a href="creative-blog.html" rel="tag">Movies</a>
                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on Put Your Head on My Shoulders">2 comments</a>
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="creative-blog.html" rel="tag">discovery</a>
                                        <a href="creative-blog.html" rel="tag">loud</a>
                                        <a href="creative-blog.html" rel="tag">health</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <ul class="social-icons social-sm social-simple social-circle">
                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="author-info media small-screen-center">
                            <div class="author-avatar">
                                <a href="creative-about-us.html">
                                    <img alt='avatar' class='media-objects img-circle avatar-150 photo' height='150' src='http://1.gravatar.com/avatar/9baf024db87b6346e2a66840270034c5?s=150&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D150&amp;r=G' width='150'>
                                </a>
                            </div>

                            <h3><a href="creative-about-us.html">Christos</a></h3>

                            <p>Weaseling out of things is important to learn. It's what separates us from the animals…except the weasel. You know, the one with all the well meaning rules that don't work out in real life, uh, Christianity.</p>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="creative-gallery-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="creative-post.html"
                                rel="next">Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/creative/p01.jpg)">
                                    <a href="corporate-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">The Beast with a Billion Backs</h3>

                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , March 01, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/creative/p10.jpg)">
                                    <a href="corporate-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Where No Fan Has Gone Before</h3>

                                            <div class="post-grid-content-footer">
                                                Christos , February 25, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/creative/p03.jpg)">
                                    <a href="corporate-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">The Cyber House Rules</h3>

                                            <div class="post-grid-content-footer">
                                                Christos , July 25, 2014
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>

                    <div class="comments padded" id="comments">
                        <div class="comments-head">
                            <h3>2 comments</h3><small>Join the
                            conversation</small>
                        </div>

                        <ul class="comments-list comments-body media-list">
                            <li class="comment byuser comment-author-proistak bypostauthor even thread-even depth-1 media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="corporate-about-us.html">
                                        <img alt='team' class='media-objects img-circle photo'
                                        height='48' src='assets/images/corporate/team09-notinclude.jpg'
                                        width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div id="comment-6">
                                            <h4 class="media-heading clearfix">
                                            <strong>Proistakis Manos</strong> -
                                            June 13, 2014 <strong class=
                                            "comment-reply pull-right"><a class='comment-reply-link'
                                            href='#'>
                                            reply</a></strong></h4>

                                            <p>Money is important in life, but
                                            it’s more important to not be
                                            consumed by it. Remember that
                                            there’s more to life than just
                                            buying things. Go out and live.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="comment byuser comment-author-proistak bypostauthor odd alt thread-odd thread-alt depth-1 media media-comment">
                            <div class="media-avatar media-left">
                                    <a href="corporate-about-us.html">
                                    <img alt='team' class='media-objects img-circle avatar-48 photo' height='48' src='assets/images/corporate/team11-notinclude.jpg'
                                    width='48'></a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div id="comment-7">
                                            <h4 class="media-heading clearfix">
                                            <strong>Pantazis Christos</strong> -
                                            January 29, 2015 <strong class="comment-reply pull-right"><a class='comment-reply-link'
                                            href='team11-notinclude.jpg'>
                                            reply</a></strong></h4>

                                            <p>And now, in the spirit of the
                                            season: start shopping. And for
                                            every dollar of Krusty merchandise
                                            you buy, I will be nice to a sick
                                            kid. For legal purposes, sick kids
                                            may include hookers with a
                                            cold.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply <small><a href=
                        "/corporate/2014/09/25/the-importance-of-seo/#respond"
                        id="cancel-comment-reply-link" rel="nofollow" style=
                        "display:none;">Cancel reply</a></small></h3>

                        <form class="comment-form" id="commentform" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class=
                                    "input-block-level form-control" id="author" name="author" type="text" value=
                                    "">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class=
                                    "input-block-level form-control" id="email"
                                    name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="url">Website</label><input class=
                                    "input-block-level form-control" id="url"
                                    name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}