{% extends "layouts/creative.html" %}

{% set title = "Blog | Lambda" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/blog.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0.6);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header col-md-12 text-light">
                    <h1 class="text-left small-screen-center element-top-160 element-bottom-60 text-light normal bigger" data-0-top-bottom="opacity:0" data-center="opacity:1" data-start="opacity:1">My Blog</h1>
                </header>
            </div>
        </div>
    </section>
     <section class="section">
            <div class="background-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 element-top-50 element-bottom-50">
                        <div class="masonry blog-masonry use-masonry isotope no-transition" data-col-lg="4" data-col-md="4" data-col-sm="2" data-col-xs="1" data-padding="8">
                            <div class="post-masonry masonry-item masonry-wide" data-menu-order="0">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="Put Your Head on My Shoulders" class=
                                        "img-responsive" src="assets/images/creative/p11.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">Put Your Head on My Shoulders</a>
                                            </h3>
                                            <p>
                                                Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. We started out like Romeo and Juliet, but it ended up in tragedy. Attempted murder? Now honestly, what is that? Do they give a Nobel Prize for attempted chemistry? Get ready, skanks! It's time for the truth train! Books are useless! I only ever read one
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , December 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="1">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="A Flight to Remember" class="img-responsive" src="assets/images/creative/p04.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">A Flight to Remember</a>
                                            </h3>
                                            <p>
                                                That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don't have a
                                                place within an organized religion. Son, a woman is like a beer. They smell good, they look good, you'd step over your own
                                                mother just to get one! But you can't
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos , March 03, 2015
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="2">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="The blog fundamentals" class="img-responsive" src="assets/images/creative/p01.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">The Beast with a Billion Backs</a>
                                            </h3>
                                            <p>
                                                There's one way and only one way to determine if an animal is intelligent. Dissect its brain! It's a T. It goes
                                                "tuh". Anyone who laughs is a communist! Morbo will now introduce tonight's candidates… Morbo's good
                                                friend, Richard Nixon.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Langan John , January 25, 2015
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="3">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20">
                                        <div class="post-grid-content">
                                            <blockquote class=" text-left">
                                                <p>
                                                    Good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ask
                                                    you a few questions. we're going for a ride on the information super highway.<br> Here she comes to wreck the
                                                    day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we're going for a ride on the
                                                    information super highway.
                                                </p>
                                                <footer>
                                                    Cold Warriors
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="4">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="The Silence of the Clamps" class="img-responsive"
                                        src="assets/images/creative/p06.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">The Silence of the Clamps</a>
                                            </h3>
                                            <p>
                                                Cops, another community I’m not part of. You all right, Dexter? Like a sloth. I can do that. I’m a sociopath; there’s not much he can do for me. You’re a killer. I catch killers. I’m not the monster he wants me to be. So I’m neither man nor beast. I’m something new entirely.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Proistakis Manos, February 26, 2015
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="5">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="The Ugly Side of the Moon" class="img-responsive" src="assets/images/creative/p02.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">The Ugly Side of the Moon</a>
                                            </h3>
                                            <p>
                                                Books are useless! I only ever read one book, “To Kill A Mockingbird,” and it gave me absolutely no insight on how to kill mockingbirds! Sure it taught me not to judge a man by the color of his skin…but what good does *that* do me? I’m a Spalding Gray in a Rick Dees world.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Pantazis Christos , February 25, 2015
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="6">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="The Cyber House Rules"
                                        class="img-responsive" src="assets/images/creative/p03.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">The Cyber House Rules</a>
                                            </h3>
                                            <p>
                                                Super squeaky bum time! You hit me with a cricket bat. You’ve swallowed a planet! You know how I sometimes have really brilliant ideas? Annihilate? No. No violence. I won’t stand for it. Not now, not ever, do you understand me?! I’m the Doctor, the Oncoming Storm – and you basically meant beat them in
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , July 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="7">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="Where No Fan Has Gone Before" class=
                                        "img-responsive" src="assets/images/creative/p10.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">Where No Fan Has Gone Before</a>
                                            </h3>
                                            <p>
                                                Father Christmas. Santa Claus. Or as I’ve always known him: Jeff. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! The way I see it, every life is a pile of good things and bad things.…hey.…the good things don’t always soften the bad things; but vice-versa the bad things
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , December 25, 2014
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-wide" data-menu-order="8">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <a href="/creative-post.html"><img alt="All the Presidents’ Heads"
                                        class="img-responsive" src="assets/images/creative/p07.jpg"></a>
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">
                                                    All the Presidents’ Heads
                                                </a>
                                            </h3>
                                            <p>
                                                The plans you refer to will soon be back in our hands. A tremor in the Force. The last time I felt it was in the presence of my old master. Don’t act so surprised, Your Highness. You weren’t on any mercy mission this time. Several transmissions were beamed to this ship by Rebel spies.
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Harris , March 02, 2015
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="post-masonry masonry-item masonry-normal" data-menu-order="9">
                                <div class="post-masonry-inner">
                                    <article class="post-grid element-bottom-20 text-left">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">
                                                <a href="/creative-post.html">Fry Am the Egg Man</a>
                                            </h3>
                                            <p>
                                                I hate yogurt. It's just stuff with bits in. Sorry, checking all the water in this area; there's an escaped fish.
                                                Saving the world with meals on wheels. Stop talking, brain thinking. Hush. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming
                                            </p>
                                            <div class="post-grid-content-footer">
                                                Christos , March 01, 2015
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</article>
{% endblock %}