{% extends "layouts/creative.html" %}

{% set title = "Portfolio - 2 columns | Lambda" %}
{% set activeMenu = "Portfolio" %}

{% block content %}
<article>
    <section class="section section-text-shadow section-inner-shadow">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/p01.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0.7);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-190 element-bottom-100 text-light bigger">Portfolio</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-10 element-bottom-10">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition" data-col-lg="2" data-col-md="2" data-col-sm="2" data-col-xs="2" data-layout="fitRows" data-padding="15">
                            <div class="masonry-item portfolio-item filter-drinks filter-people"
                            data-title="Old guitar">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific-vimeo"
                                     href="http://vimeo.com/104566183" target="_self">
                                        <img alt="Old guitar" class="normalwidth" src="assets/images/creative/p10.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people"
                            data-title="Gravity grass">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific" href="assets/images/creative/p02.jpg" target="_self">
                                        <img alt="Gravity grass" class="normalwidth" src="assets/images/creative/p02.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people" data-title="Drinks on us">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific-gallery" data-links="assets/images/creative/p03.jpg,assets/images/creative/p04.jpg"
                                    href="assets/images/creative/p03.jpg"
                                    target="_self">
                                        <img alt="Drinks on us" class="normalwidth" src="assets/images/creative/p03.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people"
                            data-comments="0" data-date=
                            "2014-09-23T07:03:17+00:00" data-menu-order="4"
                            data-title="Rapid Longitude">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.9s">
                                    <a class="figure-image magnific" href="assets/images/creative/p04.jpg"
                                    target="_self">
                                        <img alt="Rapid Longitude" class="normalwidth" src="assets/images/creative/p04.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people" data-comments="0" data-date="2014-09-23T02:03:17+00:00" data-menu-order="6" data-title="Risky Heart">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific" href="assets/images/creative/p05.jpg"
                                    target="_self">
                                        <img alt="Risky Heart" class="normalwidth" src="assets/images/creative/p05.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-drinks" data-comments="0" data-date="2014-09-23T01:29:17+00:00" data-menu-order="7" data-title="Old guitar">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.5s">
                                    <a class="figure-image magnific" href="assets/images/creative/p01.jpg"
                                    target="_self">
                                        <img alt="Old guitar" class="normalwidth" src="assets/images/creative/p01.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-drinks" data-comments="0" data-date="2014-09-23T01:28:17+00:00" data-menu-order="8" data-title="Dirty old boots">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.8s">
                                    <a class="figure-image magnific" href="assets/images/creative/p06.jpg"
                                    target="_self">
                                        <img alt="Dirty old boots" class="normalwidth" src="assets/images/creative/p06.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-nature filter-people"
                            data-comments="0" data-date="2014-09-23T04:03:17+00:00" data-menu-order="8" data-title="Yellow Yard co">
                                <div class="figure portfolio-os-animation image-filter-sepia image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="2.1s">
                                    <a class="figure-image magnific" href="assets/images/creative/p07.jpg"
                                    target="_self">
                                        <img alt="Yellow Yard co" class="normalwidth" src="assets/images/creative/p07.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section text-center">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/p041.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0.8);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <h2 class="text-center element-top-70 element-bottom-20 text-light os-animation normal light" data-os-animation="fadeInDown" data-os-animation-delay="0s">The most advanced,
                    flexible and awesome theme you&#8217;ve ever seen. Need more? Feel free to contact us.</h2><a class="btn btn-link btn-lg text-light element-top-20 element-bottom-70 os-animation"
                    data-os-animation="fadeInUp" data-os-animation-delay="0.3s" href="http://themeforest.net/user/oxygenna/portfolio" target="_self">buy it now</a>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}