{% extends "layouts/creative.html" %}

{% set title = "Services Alt | Lambda" %}
{% set activeMenu = "Pages" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -31px" style="background-image: url(assets/images/creative/bg-01.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.7);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-160 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">It&#8217;s all about services</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87);"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h2 class="text-center element-top-0 element-bottom-140 text-light os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We are a creative
                            web design agency who are passionate with our pixels. We specialise in WordPress theme development and we create pixel perfect themes.</h2>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                    <div class="features-list-icon box-animate" style="background-color:#d5e0e3;">
                                        <i class="icon-heart" style="color:#5c8993;"></i>
                                    </div>

                                    <h3>Awesome design</h3>

                                    <p>Lambda is designed with attention to details. Our intention is to create a theme that would to look cool and awesome.</p>
                                </li>

                                <li class=" element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                                    <div class="features-list-icon box-animate" style="background-color:#d5e0e3;">
                                        <i class="icon-map" style="color:#5c8993;"></i>
                                    </div>

                                    <h3>Ultra flexible</h3>

                                    <p>Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now.</p>
                                </li>

                                <li class=" element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                                    <div class="features-list-icon box-animate" style="background-color:#d5e0e3;">
                                        <i class="icon-cloud" style="color:#5c8993;"></i>
                                    </div>

                                    <h3>SEO optimised</h3>

                                    <p>Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <li class=" element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                    <div class="features-list-icon box-animate" style="background-color:#d5e0e3;">
                                        <i class="icon-monitor" style="color:#5c8993;"></i>
                                    </div>

                                    <h3>Responsive design</h3>

                                    <p>Lambda is designed to look cool on any device from mobile and tablets to desktop computers and also on retina screens.</p>
                                </li>

                                <li class=" element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">
                                    <div class="features-list-icon box-animate" style="background-color:#d5e0e3;">
                                        <i class="icon-repeat" style="color:#5c8993;"></i>
                                    </div>

                                    <h3>Free updates</h3>

                                    <p>With Lambda you get a free updates forever. Improvements and features will be added to make the theme future proof.</p>
                                </li>

                                <li class=" element-top-20 element-bottom-90 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">
                                    <div class="features-list-icon box-animate" style="background-color:#d5e0e3;">
                                        <i class="icon-eye" style="color:#5c8993;"></i>
                                    </div>

                                    <h3>Stunning pages</h3>

                                    <p>Create stunning pages which look great on any device. Clean HTML5 and CSS, beautifully coded &amp; loads of features.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/services-bg-2.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.7);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">

                <div class="col-md-6 text-center">
                    <div class="figure element-top-20 element-bottom-20">
                        <span class="figure-image">
                            <img alt="responsive" src="assets/images/creative/admin-300-white.png">
                        </span>
                    </div>
                </div>

                <div class="col-md-6" style="background:rgba(255, 255, 255, 0.8);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-left">
                            <h2 class="element-top-100 element-bottom-20 os-animation big default" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">Desktop apps</h2>

                            <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                                <div class="divider-border-inner"></div>
                            </div>

                            <p class="lead text-left left element-top-20 element-bottom-100 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.3s">We create custom desktop apps so that users can interact with websites as though they’re native applications. We work with our clients to understand the needs and expectations for the user experience.</p>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/services-bg-3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.7);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6" style="background:rgba(255, 255, 255, 0.8);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-left">
                            <h2 class="element-top-100 element-bottom-20 os-animation big default" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">Mobile apps</h2>

                            <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                                <div class="divider-border-inner"></div>
                            </div>

                            <p class="lead text-left left element-top-20 element-bottom-100 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">Mobile devices are
                            increasingly utilised to enable customers access their content from anywhere. We work with our clients to provide unique solutions for their mobile businesses and
                            applications.</p>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="figure element-top-20 element-bottom-20">
                        <span class="figure-image">
                            <img alt="responsive" src="assets/images/creative/responsive-300-white.png">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/creative/services-bg.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.7);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">

                <div class="col-md-6 text-center">
                    <div class="figure element-top-20 element-bottom-20">
                        <span class="figure-image">
                            <img alt="responsive" src="assets/images/creative/customisation-300-white.png">
                        </span>
                    </div>
                </div>

                <div class="col-md-6" style="background:rgba(255, 255, 255, 0.8);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-left">
                            <h2 class="element-top-100 element-bottom-20 os-animation big default" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">Design services</h2>

                            <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                                <div class="divider-border-inner"></div>
                            </div>

                            <p class="lead text-left left element-top-20 element-bottom-100 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.3s">We create custom desktop apps so that users can interact with websites as though they’re native applications. We work with our clients to understand the needs and expectations for the user experience.</p>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-80 element-bottom-20 os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">What Clients say?</h1>

                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <div class="divider-border-inner"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h2 class="text-center element-top-20 element-bottom-40 os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.3s">We provide design
                            services that will adapt to your need. Get a fully responsive site so your content will always look good on any screen size.</h2>
                        </div>

                        <div class="col-md-2"></div>
                    </div>

                    <div class="list-container row element-top-20 element-bottom-90">
                        <div class="col-md-6 element-short-bottom">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>

                                    <div class="box-inner">
                                        <img alt="team16-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team08-notinclude.jpg" width="150">
                                    </div>
                                </div>

                                <p>This theme is super easy to customise and the support team is just awesome. They helped me add a few design and styling changes and guided me to customise my theme.
                                They were very knowledgable and fast. Thanks again! This is the best theme and support money can buy!</p>

                                <footer>
                                    Lisa Hughes <cite title="Source Title">Technolab</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="col-md-6 element-short-bottom" data-os-animation="none" data-os-animation-delay="0s">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>

                                    <div class="box-inner">
                                        <img alt="team15-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team02-notinclude.jpg" width="150">
                                    </div>
                                </div>

                                <p>After purchasing all of the top rated theme I find this theme to be the most intuitive. Everything is right where it's supposed to be and makes use of the best
                                plugin combinations I have ever seen. Truly, there are no words to describe how happy I am with this theme! Recommended</p>

                                <footer>
                                    Marie Clark <cite title="Source Title">Streetdax</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="col-md-6 element-short-bottom">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>

                                    <div class="box-inner">
                                        <img alt="team13-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team13-notinclude.jpg" width="150">
                                    </div>
                                </div>

                                <p>This Theme is just awesome. It is so easy to create a gorgeous looking sites. I would also like to mention their excellent and superfast support. It never took more
                                than 2-3hours to have the correct solution. I'm going to buy more themes of them, sure! Keep up the good work.</p>

                                <footer>
                                    Scott Adams <cite title="Source Title">Trisbam</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="col-md-6 element-short-bottom">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>

                                    <div class="box-inner">
                                        <img alt="team11-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team05-notinclude.jpg" width="150">
                                    </div>
                                </div>

                                <p>This theme has everything designed to help anyone build an awesome site. I purchased many themes, found that most were limited to get you what you wanted in
                                appearance without out purchasing additional plugins. This theme has it all! Worth every penny! Thank you guys.</p>

                                <footer>
                                    Matthew Rodriguez <cite title="Source Title">U-house</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="col-md-6 element-short-bottom">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>

                                    <div class="box-inner">
                                        <img alt="team10-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team10-notinclude.jpg" width="150">
                                    </div>
                                </div>

                                <p>This theme is simply amazing i give it 5 stars in every category Customizability, Design Quality, Customer Support, Feature Availability, Documentation Quality.
                                It's an absolute must for someone with a big vision looking for a theme that you won't grow out of quickly.</p>

                                <footer>
                                    Theresa Williams <cite title="Source Title">Codecare Co</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="col-md-6 element-short-bottom">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>

                                    <div class="box-inner">
                                        <img alt="team09-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/creative/team09-notinclude.jpg" width="150">
                                    </div>
                                </div>

                                <p>I've been a long time themeforest buyer and i have bought dozens of themes and i can't express to you how powerful beautiful and dynamic this theme is let alone the
                                great customer service and you get a them that is a must. Whether you have a theme you like or not, you must get this theme!</p>

                                <footer>
                                    Billy Thompson <cite title="Source Title">overplex.com</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -31px" style="background-image: url(assets/images/creative/bg-01.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(86,154,167,0.7);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-center">
                            <h2 class="text-center element-top-80 element-bottom-20 text-light os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">We are a creative web design agency who are passionate with our pixels. We specialise in WordPress theme development and we create pixel perfect themes.</h2>

                            <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.9);"></div>
                            </div>
                            <a class="btn btn-link btn-lg text-light element-top-20 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s" href=
                            "http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna" target="_self">let's work together</a>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}