{% extends "layouts/digital-agency.html" %}

{% set title = "Digital Agency" %}
{% set activeMenu = "Home" %}

{% block content %}
<article>
<section class="section section-fullheight">
        <div class="background-media" style=
        "background-image: url(assets/images/digital-agency/design.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12 text-center">
                    <h1 class="element-top-20 element-bottom-20 text-light bigger regular" data-os-animation="none" data-os-animation-delay="0s">This is our work</h1>
                    <a href="#porfolio" class="scroll-to scroll-to-id  element-top-20 element-bottom-40 text-light place-bottom" data-os-animation="none" data-os-animation-delay="0s">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="porfolio">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-15 element-bottom-15">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio masonry no-transition magnific-all" data-col-lg="3" data-col-md="3" data-col-sm="2" data-col-xs="1" data-layout="fitRows" data-padding="15">
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:41+00:00" data-menu-order="1" data-title="Ballon">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/balloon.jpg"
                                    target="_self" title="">
                                        <img alt="Ballon" class="normalwidth" src="assets/images/digital-agency/balloon.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:41+00:00" data-menu-order="2" data-title="Camera">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/camera.jpg"
                                    target="_self" title="">
                                        <img alt="Camera" class="normalwidth" src="assets/images/digital-agency/camera.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:41+00:00" data-menu-order="3" data-title="Car">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/car.jpg"
                                    target="_self" title="">
                                        <img alt="Car" class="normalwidth" src="assets/images/digital-agency/car.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:41+00:00" data-menu-order="4" data-title="Good Morning!">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/cup.jpg"
                                    target="_self" title="">
                                        <img alt="Good Morning!" class="normalwidth" src="assets/images/digital-agency/cup.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:41+00:00" data-menu-order="5" data-title="Design">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/design.jpg"
                                    target="_self" title="">
                                        <img alt="Design" class="normalwidth" src="assets/images/digital-agency/design.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:41+00:00" data-menu-order="6" data-title="On road">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/floor.jpg"
                                    target="_self" title="">
                                        <img alt="On road" class="normalwidth" src="assets/images/digital-agency/floor.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:42+00:00" data-menu-order="7" data-title="Wintersports">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/lift.jpg"
                                    target="_self" title="">
                                        <img alt="Wintersports" class="normalwidth" src="assets/images/digital-agency/lift.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:42+00:00" data-menu-order="8" data-title="Waiting">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/man.jpg"
                                    target="_self" title="">
                                        <img alt="Waiting" class="normalwidth" src="assets/images/digital-agency/man.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:42+00:00" data-menu-order="9" data-title="Map">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/map.jpg"
                                    target="_self" title="">
                                        <img alt="Waiting" class="normalwidth" src="assets/images/digital-agency/map.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:42+00:00" data-menu-order="10" data-title="Measure">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/measure.jpg"
                                    target="_self" title="">
                                        <img alt="Measure" class="normalwidth" src="assets/images/digital-agency/measure.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:42+00:00" data-menu-order="11" data-title="Motobike">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/moto.png"
                                    target="_self" title="">
                                        <img alt="Motobike" class="normalwidth" src="assets/images/digital-agency/moto.png">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio" data-comments="0" data-date="2015-07-23T10:56:42+00:00" data-menu-order="12" data-title="Design">
                                <div class="figure element-top-0 element-bottom-0 image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="none"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/digital-agency/table.jpg"
                                    target="_self" title="">
                                        <img alt="Design" class="normalwidth" src="assets/images/digital-agency/table.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-zoom-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}