{% extends "layouts/digital-agency.html" %}

{% set title = "Digital Agency" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
<section class="section section-fullheight">
        <div class="background-media" style="background-image: url(assets/images/digital-agency/logotypes.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(48,60,64,0.5);"></div>
        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-100 element-bottom-100 text-light bigger light" data-os-animation="none" data-os-animation-delay="0s">Read our news</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/digital-agency/table.jpg">
                                    <img alt="HOW WE CREATED OUR LAST WEBSITE" src="assets/images/digital-agency/table.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">HOW WE CREATED OUR LAST WEBSITE</h1>
                            <div class="post-details">
                                <span class="post-date"><i class="icon-clock"></i> July 28, 2015</span>
                                <span class="post-author"><i class="icon-head"></i> <a href="#">despoina</a></span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">design</a>,
                                    <a href="#"rel="tag">news</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Father Christmas. <strong>Santa Claus</strong>. Or as I’ve always known him: Jeff. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! The way I see it,
                            every life is a pile of good things and bad things.…hey.…the good things don’t always soften the bad things; but vice-versa the bad things don’t necessarily spoil the good
                            things and make them unimportant. Saving the world with meals on wheels.</p>
                            <p>Aw, you’re all Mr. Grumpy Face today. Did I mention we have comfy chairs? Stop talking, brain thinking. Hush.</p>
                            <p>You hit me with a cricket bat. I am the <strong>Doctor</strong>, and you are the Daleks! I hate yogurt. It’s just stuff with bits in. It’s a fez. I wear a fez now.
                            Fezes are cool.</p>
                            <p>I hate yogurt. It’s just stuff with bits in. Sorry, checking all the water in this area; there’s an escaped fish. Saving the world with meals on wheels. Stop talking,
                            brain thinking. Hush. Annihilate? No. No violence. I won’t stand for it. Not now, not ever, do you understand me?! I’m the Doctor, the Oncoming Storm – and you basically
                            meant beat them in a football match, didn’t you? The way I see it, every life is a pile of good things and bad things.…hey.…the good things don’t always soften the bad
                            things; but vice-versa the bad things don’t necessarily spoil the good things and make them unimportant.</p>
                            <blockquote>
                                <p>I’m the Doctor, I’m worse than everyone’s aunt. *catches himself* And that is not how I’m <strong>introducing</strong> myself. Heh-haa! Super squeaky bum time!
                                Sorry, checking all the water in this area; there’s an escaped fish. I’m the Doctor, I’m worse than everyone’s aunt. *catches himself* And that is not how I’m
                                introducing myself. Sorry, checking all the water in this area; there’s an escaped fish.</p>
                            </blockquote>
                            <p>I am the last of my species, and I know how that weighs on the heart so don’t lie to me! Stop talking, brain thinking. Hush. You know when grown-ups tell you
                            ‘everything’s going to be fine’ and you think they’re probably lying to make you feel better?</p>
                            <p>Aw, you’re all Mr. Grumpy Face today. All I’ve got to do is pass as an <strong>ordinary</strong> human being. Simple. What could possibly go wrong? Aw, you’re all Mr.
                            Grumpy Face today.</p>
                            <p>It’s a fez. I wear a fez now. Fezes are cool. Annihilate? No. No violence. I won’t stand for it. Not now, not ever, do you understand me?! I’m the Doctor, the Oncoming
                            Storm – and you basically meant beat them in a football match, didn’t you? I’m nobody’s taxi service; I’m not gonna be there to catch you every time you feel like jumping
                            out of a spaceship. Did I mention we have comfy chairs? All I’ve got to do is pass as an <strong>ordinary</strong> human being. Simple. What could possibly go wrong?</p>
                            <p>You know when grown-ups tell you ‘everything’s going to be fine’ and you think they’re probably lying to make you feel better? It’s a fez. I wear a fez now. Fezes are
                            cool. You’ve swallowed a planet! It’s a fez. I wear a fez now. Fezes are cool.</p>
                            <blockquote>
                                <p>You know how I sometimes have really brilliant ideas? I’m the Doctor. Well, they call me the Doctor. I don’t know why. I call me the Doctor too. I still don’t know
                                why. I’m the Doctor. Well, they call me the Doctor. I don’t know why. I call me the Doctor too. I still don’t know why. Father Christmas. Santa Claus. Or as I’ve
                                always known him: Jeff. Father Christmas. Santa Claus. Or as I’ve always known him: Jeff.</p>
                            </blockquote>
                            <p>You know how I sometimes have really brilliant ideas? I hate yogurt. It’s just stuff with <strong>bits</strong> in. Heh-haa! Super squeaky bum time! The way I see it,
                            every life is a pile of good things and bad things.…hey.…the good things don’t always soften the bad things; but vice-versa the bad things don’t necessarily spoil the good
                            things and make them unimportant.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-facebook" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-pinterest" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#007bb6" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-linkedin" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"><i class=
                                "fa fa-angle-left"></i> Previous</a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->
                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="author">Your name *</label><input class="input-block-level form-control" id="author" name="author" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text" value="">
                            </div>
                        </div>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}