{% extends "layouts/digital-agency.html" %}

{% set title = "Digital Agency" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
    <section class="section section-fullheight">
        <div class="background-media" style="background-image: url(assets/images/digital-agency/logotypes.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
         <div class="background-overlay grid-overlay-0" style="background-color: rgba(48,60,64,0.5);"></div>
        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-100 element-bottom-100 text-light bigger light" data-os-animation="none" data-os-animation-delay="0s">Read our news</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-left">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="assets/images/digital-agency/table.jpg">
                                    <img alt="HOW WE CREATED OUR LAST WEBSITE" src="assets/images/digital-agency/table.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="digital-agency-post.html" rel="bookmark" title=
                                "Permalink to HOW WE CREATED OUR LAST WEBSITE">HOW WE CREATED OUR LAST WEBSITE</a>
                            </h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 28, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">despoina</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="digital-agency-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Parade Charity">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Father Christmas. <strong>Santa Claus</strong>. Or as I’ve always known him: Jeff. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! The way I see it,
                            every life is a pile of good things and bad things.…hey.…the good things don’t always soften the bad things; but vice-versa the bad things don’t necessarily spoil the good
                            things and make them unimportant. Saving the world with meals on wheels.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="digital-agency-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="assets/images/digital-agency/cup.jpg">
                                    <img alt="THE SWEET LURE OF CHOCOLATE" src="assets/images/digital-agency/cup.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="digital-agency-post.html" rel="bookmark" title=
                                "Permalink to THE SWEET LURE OF CHOCOLATE">THE SWEET LURE OF CHOCOLATE</a>
                            </h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 28, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">despoina</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="digital-agency-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Parade Charity">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Chocolate. There are few foods that people feel as passionate about — a passion that goes beyond a love for the “sweetness” of most candies or desserts: after all, few people crave caramel, whipped cream, or bubble gum. For the true chocoholic, just thinking about chocolate can evoke a pleasurable response.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="digital-agency-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="assets/images/digital-agency/moto.png">
                                    <img alt="FEED YOUR SKIN" src="assets/images/digital-agency/moto.png">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="digital-agency-post.html" rel="bookmark" title=
                                "Permalink to FEED YOUR SKIN">FEED YOUR SKIN</a>
                            </h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 28, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">despoina</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="digital-agency-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Parade Charity">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Indulging in savory fruits and vegetables and warm, spicy baked goods is one of the season’s great pleasures. But did you know that this cornucopia also can benefit your beauty routine? In fact, the very ingredients that are hallmarks of your holiday meals are extremely effective skin remedies.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="digital-agency-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="assets/images/digital-agency/lift.jpg">
                                    <img alt="INFOGRAPHIC – SOCIAL MEDIA ADDICTION" src="assets/images/digital-agency/lift.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="digital-agency-post.html" rel="bookmark" title=
                                "Permalink to INFOGRAPHIC – SOCIAL MEDIA ADDICTION">INFOGRAPHIC – SOCIAL MEDIA ADDICTION</a>
                            </h2>
                             <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 28, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">despoina</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="digital-agency-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Parade Charity">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Are you suggesting that coconuts migrate? How do you know she is a witch? On second thoughts, let’s not go there. It is a silly place. Where’d you get the coconuts? Oh! Come and see the violence inherent in the system! Help, help, I’m being repressed!</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="digital-agency-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="assets/images/digital-agency/balloon.jpg">
                                    <img alt="TELLING STORIES IN 3 DIMENSIONS: ART TODAY" src="assets/images/digital-agency/balloon.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="digital-agency-post.html" rel="bookmark" title=
                                "Permalink to TELLING STORIES IN 3 DIMENSIONS: ART TODAY">TELLING STORIES IN 3 DIMENSIONS: ART TODAY</a>
                            </h2>
                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 28, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">despoina</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="digital-agency-blog.html" rel="tag">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Parade Charity">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Occasionally the desire for verisimilitude leads the artist in extreme directions: because the Irish maid in the “Amber” project was diagnosed with hysterical blindness, Häussler blindfolded herself to create some of the objects in the installation.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="digital-agency-post.html">read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}