{% extends "layouts/education.html" %}

{% set title = "Courses | Education" %}
{% set bodyclasses = "pace-on pace-counter" %}
{% set activeMenu = "Courses" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/education/img21-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <header class="small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-110 element-bottom-110 text-light bigger regular">Courses</h1>
                </header>
            </div>
        </div>
    </section>

    <article class="post">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="school-bg element-top-40 element-bottom-0 pricing-col os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.2s">
                            <h2 class="pricing-head" style="background: #ffb74d; color:#ffffff">Arts</h2>

                            <div class="pricing-body" style="background: #ffb74d; color:#ffffff">
                                <div class="pricing-price">
                                    <header style="background: #d99d44; color: #ffffff;">
                                        <h2><small style="color: #ffffff;">$</small> 49.99</h2>
                                        <p style="color: #ffffff;"></p>
                                    </header>
                                </div>

                                <ul class="pricing-list">
                                    <li style="border-color: rgba(255,255,255,0.1)">15 kids per class</li>

                                    <li style="border-color: rgba(255,255,255,0.1)">4 hours per week</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-text-1 element-top-10 element-bottom-60 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.2s">
                            <p style="text-align: center;">Our middle school arts worksheets are a great way for your artistically-inclined kid to pass the afternoon.It's important to
                            supplement your child's education with additional fine arts-focused materials..</p>
                        </div>

                        <div class="school-bg element-top-40 element-bottom-0 pricing-col os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.1s">
                            <h2 class="pricing-head" style="background: #f23a3a; color:#ffffff">Math</h2>

                            <div class="pricing-body" style="background: #f23a3a; color:#ffffff">
                                <div class="pricing-price">
                                    <header style="background: #b22b2b; color: #ffffff;">
                                        <h2><small style="color: #ffffff;">$</small> 115.99</h2>
                                        <p style="color: #ffffff;"></p>
                                    </header>
                                </div>

                                <ul class="pricing-list">
                                    <li style="border-color: rgba(255,255,255,0.1)">10 kids per class</li>

                                    <li style="border-color: rgba(255,255,255,0.1)">8 hours per week</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-text-1 element-top-10 element-bottom-60 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.1s">
                            <p style="text-align: center;">We have a variety of resources to help teach math on topics including: ratio and proportional relationships, expressions and equations,
                            statistics and probability, geometry, functions and more.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="school-bg element-top-40 element-bottom-0 pricing-col os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">
                            <h2 class="pricing-head" style="background: #2196f3; color:#ffffff">Foreign Languages</h2>

                            <div class="pricing-body" style="background: #2196f3; color:#ffffff">
                                <div class="pricing-price">
                                    <header style="background: #1e6ead; color: #ffffff;">
                                        <h2><small style="color: #ffffff;">$</small> 159.99</h2>

                                        <p style="color: #ffffff;"></p>
                                    </header>
                                </div>

                                <ul class="pricing-list">
                                    <li style="border-color: rgba(255,255,255,0.1)">5 kids per class</li>

                                    <li style="border-color: rgba(255,255,255,0.1)">8 hours per week</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-text-1 element-top-10 element-bottom-60 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">
                            <p style="text-align: center;">The department of Foreign Languages offers continuing education 17 languages. Our experienced instructors, many of them native speakers,emphasizes the living language in its cultural context.</p>
                        </div>

                        <div class="school-bg element-top-40 element-bottom-0 pricing-col os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.2s">
                            <h2 class="pricing-head" style="background: #ffeb3b; color:#ffffff">Physical Education</h2>

                            <div class="pricing-body" style="background: #ffeb3b; color:#ffffff">
                                <div class="pricing-price">
                                    <header style="background: #cebe31; color: #ffffff;">
                                        <h2><small style="color: #ffffff;">$</small> 39.99</h2>
                                        <p style="color: #ffffff;"></p>
                                    </header>
                                </div>

                                <ul class="pricing-list">
                                    <li style="border-color: rgba(255,255,255,0.1)">15 kids per class</li>

                                    <li style="border-color: rgba(255,255,255,0.1)">2 hours per week</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-text-1 element-top-10 element-bottom-60 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.2s">
                            <p style="text-align: center;">Our lessons includes physical science, life science, earth and space science, or simply understanding science as a human endeavor. Education without values, seems rather to make man a more clever devil.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="school-bg element-top-40 element-bottom-0 pricing-col os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.4s">
                            <h2 class="pricing-head" style="background: #63e668; color:#ffffff">Health</h2>

                            <div class="pricing-body" style="background: #63e668; color:#ffffff">
                                <div class="pricing-price">
                                    <header style="background: #47a44a; color: #ffffff;">
                                        <h2><small style="color: #ffffff;">$</small> 79.99</h2>
                                        <p style="color: #ffffff;"></p>
                                    </header>
                                </div>

                                <ul class="pricing-list">
                                    <li style="border-color: rgba(255,255,255,0.1)">15 kids per class</li>

                                    <li style="border-color: rgba(255,255,255,0.1)">3 hours per week</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-text-1 element-top-10 element-bottom-60 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.4s">
                            <p style="text-align: center;">Lessons and activities within each unit build sequentially to provide the reinforcement and continuity that will support children’s efforts to think, choose and act in healthy ways.</p>
                        </div>

                        <div class="school-bg element-top-40 element-bottom-0 pricing-col os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">
                            <h2 class="pricing-head" style="background: #83a4b4; color:#ffffff">Science</h2>

                            <div class="pricing-body" style="background: #83a4b4; color:#ffffff">
                                <div class="pricing-price">
                                    <header style="background: #31576a; color: #ffffff;">
                                        <h2><small style="color: #ffffff;">$</small> 125.99</h2>
                                        <p style="color: #ffffff;"></p>
                                    </header>
                                </div>

                                <ul class="pricing-list">
                                    <li style="border-color: rgba(255,255,255,0.1)">5 kids per class</li>

                                    <li style="border-color: rgba(255,255,255,0.1)">5 hours per week</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-text-1 element-top-10 element-bottom-60 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">
                            <p style="text-align: center;">Our lessons includes physical science, life science, earth and space science, or simply understanding science as a human endeavor. Education is not preparation for life; education is life itself.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</article>
{% endblock %}