{% extends "layouts/education.html" %}

{% set title = "Blog | Education" %}
{% set activeMenu = "Blog" %}

{% set sidebarClasses = "" %}

{% block content %}
<article>
    <section class="section ">
        <div class="background-media" style="background-image: url(assets/images/education/img21-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-110 element-bottom-110 text-light bigger" data-0-top-bottom="opacity:0" data-center="opacity:1" data-start="opacity:1">Latest news</h1>
                </header>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/education/img8-notinclude.jpg">
                                    <img alt="How can we stop school violence?" src="assets/images/education/img8-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <span class="figure-overlay-icons">
                                                <i class="icon-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h1 class="post-title">How can we stop school violence?</h1>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i>
                                    August 14, 2015    </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">
                                        christos        </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="medical-blog.html" rel="tag">Kids</a>
                                    <a href="medical-blog.html" rel="tag">School</a></span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comment</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>By law, schools are required to report violent incidents and states are required to make that information public. Few states are following this mandate. In the aftermath of yet another agonizing, senseless school shooting, it’s impossible not to ask how can we prevent this from ever happening again.</p>

                            <p>Some will look to the gun control laws, others to school safety measures or anti-bullying programs and still others to making sure mentally unstable individuals get the social services that can keep them on this side of sanity.</p>

                            <p>Although school shootings like the one at Sandy Hook Elementary are rare and don’t follow any particular pattern, they naturally make parents more vigilant about school safety issues in general. Safety isn’t an amenity or a plus: it’s a precondition for learning.</p>

                            <p>Studies show that when children feel threatened, both their academic performance and emotional health suffer. Stress hormones impair kids’ neurological development, and they are literally unable to learn in the same way.</p>

                            <p>What most parents don’t know is that there are laws mandating that schools report incidences of violence, crime, expulsion, and even bullying, and every state is required to make that data publically available on a school-by-school basis.</p>

                            <p>Unfortunately, this is one of the many areas that states and schools have ignored about No Child Left Behind laws. Each school is charged with using federal funding to establish a plan for keeping that school safe and drug free. Yet according to GreatSchools data researchers, few states have readily available online resources for this information.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="education-blog.html"
                                        rel="tag">kids</a>
                                        <a href="education-blog.html"
                                        rel="tag">parents</a>
                                        <a href="education-blog.html"
                                        rel="tag">school</a>
                                         <a href="education-blog.html"
                                        rel="tag">violence</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <ul class="social-icons social-sm social-simple social-circle">
                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="education-blog.html" rel="prev"><i class="fa fa-angle-left"></i> Previous</a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-192" style=
                                "background-image: url(assets/images/education/img5-notinclude-600x400.jpg)">
                                    <a href="education-blog.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Tips to make school lunches healthier</h3>

                                            <div class="post-grid-content-footer">
                                                christos , August 14, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-47" style="background-image: url(assets/images/education/img9-notinclude-600x400.jpg)">
                                    <a href="education-blog.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Why Are School Buses Yellow?</h3>

                                            <div class="post-grid-content-footer">
                                                oxygenna , July 3, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-61" style=
                                "background-image: url(assets/images/education/img12-notinclude-600x400.jpg)">
                                    <a href="education-blog.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Second grade: What your child should know</h3>

                                            <div class="post-grid-content-footer">
                                                harconst , September 25, 2014
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="author">Your name *</label><input class="input-block-level form-control" id="author" name="author" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text" value="">
                            </div>
                        </div>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div><!-- #respond -->
                </div>
                {% include "partials/education/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}