{% extends "layouts/education.html" %}

{% set title = "About Our School | Education" %}
{% set bodyclasses = "pace-on pace-counter" %}
{% set activeMenu = "About Our School" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/education/img21-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <header class="small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-110 element-bottom-110 text-light bigger regular">About Our School</h1>
                </header>
            </div>
        </div>
    </section>

    <article>
        <section class="section">
            <div class="background-overlay grid-overlay-0" style="background-color: rgba(250,254,255,1);"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="figure element-top-0 element-bottom-0 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                            <a class="figure-image magnific" href="assets/images/education/img24-notinclude1.jpg" target="_self">
                                <img alt=""src="assets/images/education/img24-notinclude1.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <h2 class="text-center element-top-70 element-bottom-0 os-animation big regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Learning</h2>

                        <div class="divider-border divider-border-center element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>

                        <div class="col-text-1 element-top-0 element-bottom-0">
                            <p style="text-align: center;">When you learn about something, you understand its nature. This leads to awareness and appreciation and these two things govern your actions
                            toward it. The spotlight that you think is pointing at you, becomes a magnifying glass that allows you to see things as they are, turning biases into understanding. If
                            education makes you aware of things, it also makes you aware about yourself.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="background-media" data-0-top-bottom="background-position: 50% 0px" data-start="background-position: 50% -0px" style="background-image: url(assets/images/education/img20-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
            </div>

            <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.2);"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center small-screen-center">
                        <div class="panel school-bg element-top-80 element-bottom-80 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.1s">
                            <div class="panel-body" style="background-color:rgba(147, 211, 149, 0.85);">
                                <h2 class="text-center element-top-40 element-bottom-0 text-light os-animation big regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Our Story</h2>

                                <div class="divider-border divider-border-center element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                    <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                                </div>

                                <div class="col-text-1 text-light element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                    <p style="text-align: center;">We have a richly diverse student population. We offer rigorous academics that prepares students for the global marketplace. To really focus students on achieving mastery of their core curriculum, we separate each grade in a separate area for their core classes. For added safety, we require
                                    to have their student ID cards at all times.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-text-1"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,1);"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center element-top-70 element-bottom-0 os-animation big regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Our teachers</h1>

                        <div class="divider-border divider-border-center element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>

                        <div class=" row staff-list-container list-container element-top-0 element-bottom-80">
                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="0.2s">
                                <div class="figure-image">
                                    <img alt="Scott Barker" src="assets/images/education/img14-notinclude.jpg">

                                    <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_self">
                                                        <i  class="fa fa-facebook"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-behance"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Scott Barker</strong> <span>Art Teacher</span></h3>

                                    <p class="figure-caption-description">Art teachers help students develop their artistic skills by cultivating creative expression and fostering an understanding of
                                    textures, shapes and colors.</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="0.4s">
                                <div class="figure-image">
                                    <img alt="Thomas Alexander" src="assets/images/education/img16-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Thomas Alexander</strong> <span>Foreign Languages Teacher</span></h3>

                                    <p class="figure-caption-description">Foreign language teachers are unique and dynamic. They do all the teachery stuff a normal teacher does (i.e., teaching), but
                                    with some added.</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="0.6s">
                                <div class="figure-image">
                                    <img alt="Lily Finch" src="assets/images/education/img15-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Lily Finch</strong> <span>Health Teacher</span></h3>

                                    <p class="figure-caption-description">Environmental health officers assess risk and develop, regulate, enforce and monitor laws and regulations governing public
                                    health for both the built and natural environment</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="0.8s">
                                <div class="figure-image">
                                    <img alt="Benjamin Bentley" src="assets/images/education/img17-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Benjamin Bentley</strong> <span>Math Teacher</span></h3>

                                    <p class="figure-caption-description">Secondary school teachers teach one or more subjects within the school curriculum to secondary students. Subject areas
                                    include English.</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="1s">
                                <div class="figure-image">
                                    <img alt="Clinton Farmer" src="assets/images/education/img23-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Clinton Farmer</strong> <span>Math Teacher</span></h3>

                                    <p class="figure-caption-description">Secondary school teachers teach one or more subjects within the school curriculum to secondary students. Subject areas
                                    include English, mathematics, science, history.</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="1.2s">
                                <div class="figure-image">
                                    <img alt="Karla Bush" src="assets/images/education/img22-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Karla Bush</strong> <span>Art Teacher</span></h3>

                                    <p class="figure-caption-description">Art teachers help students develop their artistic skills by cultivating creative expression and fostering an understanding of
                                    textures, shapes and colors.</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="1.4s">
                                <div class="figure-image">
                                    <img alt="Claire Barber" src="assets/images/education/img19-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Claire Barber</strong> <span>Science Teacher</span></h3>

                                    <p class="figure-caption-description">Science education is the field concerned with sharing science content and process with individuals not traditionally
                                    considered part of the scientific community.</p>
                                </div>
                            </div>

                            <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                            data-os-animation-delay="1.6s">
                                <div class="figure-image">
                                    <img alt="Shirley King" src="assets/images/education/img18-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i  class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" target="_self">
                                                            <i class="fa fa-behance"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title"><strong>Shirley King</strong> <span>Physical Education Teacher</span></h3>

                                    <p class="figure-caption-description">Physical education teacher instruct students in sports, recreational activities and healthy issues, in order to encourage and
                                    develop physical skills.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="background-media" style="background-image: url(assets/images/education/img21-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
            </div>

            <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.4);"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <blockquote class=" text-center text-light element-top-40 element-bottom-40">
                            <p></p>

                            <p>We are students of words: we are shut up in schools, and colleges, and recitation-rooms, for ten or fifteen years, and come out at last with a bag of wind, a memory of
                            words, and do not know a thing.</p>

                            <p></p>

                            <footer>
                                Ralph Waldo Emerson
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center element-top-70 element-bottom-0 os-animation big regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Activities</h1>

                        <div class="divider-border divider-border-center element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="divider-border-inner"></div>
                        </div>

                        <div class="list-container row element-top-20 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <span class="service-simple-image"><img alt="Arts" src="assets/images/education/icon6-notinclude.png"></span>

                                <h3>Arts</h3>

                                <p>Our middle school arts worksheets are a great way for your artistically-inclined kid to pass the afternoon.It's important to supplement your child's education with
                                additional fine arts-focused materials.</p>
                            </div>

                            <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                <span class="service-simple-image"><img alt="Foreign Languages" src=
                                "assets/images/education/icon5-notinclude.png"></span>

                                <h3>Foreign Languages</h3>

                                <p>The department of Foreign Languages offers continuing education 17 languages. Our experienced instructors, many of them native speakers, emphasizes the living
                                language in its cultural context.</p>
                            </div>

                            <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                <span class="service-simple-image"><img alt="Health" src="assets/images/education/icon4-notinclude.png"></span>

                                <h3>Health</h3>

                                <p>Lessons and activities within each unit build sequentially to provide the reinforcement and continuity that will support children’s efforts to think, choose and act
                                in healthy ways.</p>
                            </div>

                            <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                <span class="service-simple-image"><img alt="Math" src="assets/images/education/icon3-notinclude1.png"></span>

                                <h3>Math</h3>

                                <p>We have a variety of resources to help teach math on topics including: ratio and proportional relationships, expressions and equations, statistics and probability,
                                geometry, functions and more.</p>
                            </div>

                            <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="1s">
                                <span class="service-simple-image"><img alt="Physical Education" src=
                                "assets/images/education/icon2-notinclude1.png"></span>

                                <h3>Physical Education</h3>

                                <p>Our lessons includes physical science, life science, earth and space science, or simply understanding science as a human endeavor. Education without values, seems
                                rather to make man a more clever devil.</p>
                            </div>

                            <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                <span class="service-simple-image"><img alt="Science" src=
                                "assets/images/education/icon1-notinclude1.png"></span>

                                <h3>Science</h3>

                                <p>Our lessons includes physical science, life science, earth and space science, or simply understanding science as a human endeavor. Education is not preparation for
                                life; education is life itself.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</article>
{% endblock %}