{% extends "layouts/education.html" %}

{% set title = "Blog | Education" %}
{% set bodyclasses = "pace-on pace-counter" %}
{% set sidebarClasses = "" %}
{% set activeMenu = "Blog" %}

{% block content %}
<article>
     <section class="section">
        <div class="background-media" style="background-image: url(assets/images/education/img21-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-110 element-bottom-110 text-light bigger default" data-0-top-bottom="opacity:0" data-center="opacity:1" data-os-animation="none"
                    data-os-animation-delay="0s" data-start="opacity:1">Latest news</h1>
                </header>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html">
                                    <img alt="How can we stop school violence?" src="assets/images/education/img8-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="education-post.html" title="Permalink to How can we stop school violence?">How can we stop school violence?</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> August 14, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        christos
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>
                                    <a href="education-blog.html" rel="tag">School</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on How can we stop school violence?">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>By law, schools are required to report violent incidents and states are required to make that information public. Few states are following this mandate. In the aftermath of yet another agonizing, senseless school shooting, it’s impossible not to ask how can we prevent this from ever happening again.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="education-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html">
                                    <img alt="Tips to make school lunches healthier" src="assets/images/education/img5-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="education-post.html" rel="bookmark" title="Permalink to Tips to make school lunches healthier">Tips to make school lunches healthier</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> August 14, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        christos
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Tips to make school lunches healthier">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>From the school board to the statehouse, the food served at school is the focus of debate.The statistics that started the food fights are familiar: One in five U.S.
                            children is <strong>overweight</strong>, and increasing numbers of them are developing type 2 diabetes, an illness that used to be limited to adults.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="education-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html"><img alt="Why Are School Buses Yellow?" src="assets/images/education/img9-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="education-post.html" rel="bookmark" title=
                            "Permalink to Why Are School Buses Yellow?">Why Are School Buses Yellow?</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 3, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        oxygenna
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Transport</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Why Are School Buses Yellow?">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Why are school buses <strong>yellow</strong>is one of the most popular questions at Color Matters. But first, let’s ask, “Are school buses really
                            yellow?”</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="education-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="">
                                    <img alt="Second grade: What your child should know" src="assets/images/education/img12-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="education-post.html" rel="bookmark" title=
                            "Permalink to Second grade: What your child should know">Second grade: What your child should know</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> September 25, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        harconst
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Second grade: What your child should know">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>The purpose of this segment is to help connect what is known about students cognitive development with what you want them to understand about science concepts
                            and the nature of science. Use this brief description, combined with your knowledge of your students, to guide you in making instructional decisions appropriate for your
                            grade level.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="education-post.html">read
                            more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html">
                                    <img alt="The Art of Managing Middle School Students" src="assets/images/education/img11-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="education-post.html" rel="bookmark" title="Permalink to The Art of Managing Middle School Students">The Art of Managing Middle School Students</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> September 25, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        oxygenna
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>
                                    <a href="education-blog.html" rel="tag">Methods</a>
                                    <a href="education-blog.html" rel="tag">School</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on The Art of Managing Middle School Students">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Squirrels. That is what they remind me of. We were all that age once and we were all just like squirrels! Have you ever watched a squirrel? Zoom, freeze for two
                            seconds, flick tail, and repeat. The trick for being a successful middle school teacher is holding their attention for more than just those few seconds. Believing that
                            that is possible requires a huge leap of faith and trust.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="education-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html">
                                <img alt="A back-to-school supply list for middle school" src="assets/images/education/img13-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="education-post.html" rel="bookmark" title="Permalink to A back-to-school supply list for middle school">A back-to-school supply list for middle school</a></h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> September 25, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        harconst
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>
                                    <a href="education-blog.html" rel="tag">School</a>
                                    <a href="education-blog.html" rel="tag">School Objects</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on A back-to-school supply list for middle school">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>You can't go wrong with a shopping list of basics and things to keep your student organized.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="education-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html">
                                    <img alt="How to help your child make (and keep) friends" src="assets/images/education/img10-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="education-post.html" rel="bookmark" title="Permalink to How to help your child make (and keep) friends">How to help your child make (and keep) friends</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 25, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        proistak
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>
                                    <a href="education-blog.html" rel="tag">Methods</a>
                                    <a href="education-blog.html" rel="tag">School</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on How to help your child make (and keep) friends">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Human beings are innately social, from the first smile in infancy to the later joy of reunions with lifelong friends. But at no life stage is belonging and befriending more <strong>vital</strong> than in middle childhood.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="education-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="education-post.html"><img alt="Kindergarten: ready or not?" src="assets/images/education/img7-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="education-post.htm" rel="bookmark" title="Permalink to Kindergarten: ready or not?">Kindergarten: ready or not?</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> July 25, 2015</span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="education-blog.html">
                                        proistak
                                    </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="education-blog.html" rel="tag">Kids</a>
                                    <a href="education-blog.html" rel="tag">Methods</a>
                                    <a href="education-blog.html" rel="tag">School</a>

                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#" title="Comment on Kindergarten: ready or not?">No comment
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Starting kindergarten is one of the biggest milestones in a child’s life. Here are some tips to help you decide whether your child will be socially, academically and physically prepared to start “<strong>big-kids</strong>” school.</p>
                        </div>
                    </article>
                </div>
                {% include "partials/education/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}