{% extends "layouts/hotel.html" %}

{% set title = "Spa Center|Hotel" %}
{% set activeMenu = "Accomodation" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style=
        "background-image: url(assets/images/hotel/spa-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 50%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(0,0,0,0.4);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-100"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-190"></div>
                        <div class="visible-lg element-height-190"></div>
                    </div>

                    <h1 class="text-center text-light os-animation super"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Lambda Spa
                    </h1>

                    <h1 class="text-center element-top-20 element-bottom-20 text-light os-animation bigger regular"
                    data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <em>relaxation &amp; purification center</em>
                    </h1>

                    <div class="figure os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image">
                            <img src="assets/images/hotel/decor-big-white.png" alt="decor">
                        </span>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-100"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-100"></div>
                        <div class="visible-lg element-height-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/hotel/spa-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(86,154,167,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6" style=
                "background:rgba(255, 255, 255, 0.95);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-center">
                            <h2 class="element-top-100 os-animation big"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.1s">
                                Lambda Spa Center
                            </h2>

                            <div class="figure os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <span class="figure-image">
                                    <img alt="decor-small-gold.png" src="assets/images/hotel/decor-small-gold.png">
                                </span>
                            </div>

                            <div class="col-text-1 element-top-20 element-bottom-100 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.3s">
                                <p>Lambda Hotel &amp; Jacuzzi Suites features
                                20 <strong>spacious</strong> guest rooms and
                                bathrooms that combine comfort, style, elegance
                                and the latest technology.</p>

                                <p>These details transform Lambda into an ideal
                                place; both for leisure and business
                                travellers. The soothing palette of warm
                                colours along with the <strong>branded</strong>
                                furniture, combine the classical with the
                                modern and create a beautiful and cosy
                                atmosphere.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>

                <div class="col-md-6 text-center"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/hotel/hotel-12-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(86,154,167,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-200"></div>
                        <div class="visible-sm element-height-200"></div>
                        <div class="visible-md element-height-200"></div>
                        <div class="visible-lg element-height-200"></div>
                    </div>
                </div>

                <div class="col-md-6 text-center" style="background:rgba(255, 255, 255, 0.95);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-center">
                            <h2 class=
                            "element-top-100 os-animation big" data-os-animation="fadeIn" data-os-animation-delay=
                            "0.1s">
                                Leisure Facilities
                            </h2>

                            <div class="figure os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <span class="figure-image">
                                    <img alt="decor-small-gold.png" src="assets/images/hotel/decor-small-gold.png">
                                </span>
                            </div>

                            <div class="col-text-1 element-top-20 element-bottom-100 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.3s">
                                <p>The Lambda <strong>Spa Center</strong> with
                                years of experience in the field, is now the
                                epitome of relaxation, detoxication,
                                invigoration, purification, rejuvenation and
                                general well-being.</p>

                                <p>The centre has an indoor swimming pool, two
                                <strong>aquastream</strong> pools with warm
                                seawater, a whirlpool, solarium, sanarium,
                                sauna and Hamam as well as a total of 24
                                treatment rooms.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}