{% extends "layouts/hotel.html" %}

{% set title = "Gallery|Hotel" %}
{% set activeMenu = "Gallery" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -120px" data-start=
        "background-position: 50% 0px" style="background-image: url(assets/images/hotel/hotel-1-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style=
        "background-color: rgba(0,0,0,0.2);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-200"></div>
                        <div class="visible-lg element-height-200"></div>
                    </div>

                    <h1 class="text-center element-bottom-20 text-light os-animation hyper"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Gallery
                    </h1>

                    <div class="figure element-bottom-100 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image">
                            <img alt="decor-big-white.png" src="assets/images/hotel/decor-big-white.png">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(0,0,0,0.9);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition magnific-all"
                        data-col-lg="3" data-col-md="3" data-col-sm="3"
                        data-col-xs="1" data-layout="fitRows" data-padding="0">
                            <div class="masonry-item portfolio-item filter-other" data-title="Inside Pool">
                                <div class="figure  portfolio-os-animation image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific" href="assets/images/hotel/hotel-8-notinclude.jpg"
                                    target="_self">
                                        <img alt="Inside Pool" class="normalwidth" src="assets/images/hotel/hotel-8-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-other" data-title="Restaurant">
                                <div class="figure portfolio-os-animation image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.1s">
                                    <a class="figure-image magnific" href="assets/images/hotel/hotel-11-notinclude.jpg"
                                    target="_self">
                                        <img alt="Restaurant" class="normalwidth" src="assets/images/hotel/hotel-11-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-other" data-title="Roof Pool">
                                <div class="figure portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific" href="assets/images/hotel/hotel-1-notinclude.jpg"
                                    target="_self">
                                        <img alt="Roof Pool" class="normalwidth" src="assets/images/hotel/hotel-1-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Superior Room">
                                <div class="figure portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific" href="assets/images/hotel/hotel-13-notinclude.jpg"
                                    target="_self">
                                        <img alt="Superior Room" class="normalwidth" src="assets/images/hotel/hotel-13-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Deluxe Room">
                                <div class="figure portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific" href="assets/images/hotel/hotel-7-notinclude.jpg"
                                    target="_self">
                                        <img alt="Deluxe Room" class="normalwidth" src="assets/images/hotel/hotel-7-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Bungalow Studio">
                                <div class="figure portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                    <a class="figure-image magnific" href="assets/images/hotel/hotel-6-notinclude.jpg"
                                    target="_self">
                                        <img alt="Bungalow Studio" class="normalwidth" src="assets/images/hotel/hotel-6-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Sea View Suite">
                                <div class="figure portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific" href="assets/images/hotel/sea-notinclude.jpg"
                                    target="_self">
                                        <img alt="Sea View Suite" class="normalwidth" src="assets/images/hotel/sea-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-rooms"
                            data-comments="0" data-date=
                            "2014-12-19T08:50:08+00:00" data-menu-order="5"
                            data-title="Pool Deluxe Room">
                                <div class=
                                "figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.7s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/hotel/hotel-3-notinclude.jpg"
                                    target="_self"><img alt="Pool Deluxe Room"
                                    class="normalwidth" src=
                                    "assets/images/hotel/hotel-3-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <i class="icon-circle-plus"></i>
                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                            </div>

                            <div class=
                            "masonry-item portfolio-item filter-rooms"
                            data-comments="0" data-date=
                            "2014-12-19T08:50:08+00:00" data-menu-order="6"
                            data-title="Presidential Suite">
                                <div class=
                                "figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.8s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/hotel/hotel-4-notinclude.jpg"
                                    target="_self"><img alt=
                                    "Presidential Suite" class="normalwidth"
                                    src=
                                    "assets/images/hotel/hotel-4-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <i class="icon-circle-plus"></i>
                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}