{% extends "layouts/hotel.html" %}

{% set title = "Restaurant|Hotel" %}
{% set activeMenu = "Accomodation" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -85px" data-start=
        "background-position: 50% 0px" style="background-image: url(assets/images/hotel/restaurant-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(0,0,0,0.4);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-100"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-190"></div>
                        <div class="visible-lg element-height-190"></div>
                    </div>

                    <h1 class="text-center text-light os-animation super" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Lambda Restaurant
                    </h1>

                    <h1 class="text-center element-top-20 element-bottom-20 text-light os-animation bigger regular"
                    data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <em>Dinning &amp; Entertainment</em>
                    </h1>

                    <div class="figure os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image">
                            <img alt="decor-big-white.png" src="assets/images/hotel/decor-big-white.png">
                        </span>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-100"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-100"></div>
                        <div class="visible-lg element-height-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/hotel/food-bg-1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(86,154,167,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6" style="background:rgba(255, 255, 255, 0.95);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-center">
                            <h2 class=
                            "element-top-100 os-animation big" data-os-animation="fadeIn" data-os-animation-delay=
                            "0.1s">
                                5 star menu
                            </h2>

                            <div class="figure os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.2s">
                                <span class="figure-image">
                                    <img alt="decor-small-gold.png" src="assets/images/hotel/decor-small-gold.png">
                                </span>
                            </div>

                            <div class="col-text-1 element-top-20 element-bottom-100 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.3s">
                                <p>Three <strong>outstanding</strong>
                                restaurants and 2 bars await to tempt our
                                guests with international culinary delights.
                                Sumptuous buffets are available in the «Lambda»
                                Restaurant for breakfast and dinner.</p>

                                <p>«The Greek» near the beach offers local
                                cuisine for lunch and dinner and the bar
                                promises fine dining with our chefs creating
                                demanding <strong>gourmet</strong> dishes in an
                                open kitchen environment.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-200"></div>
                        <div class="visible-sm element-height-200"></div>
                        <div class="visible-md element-height-200"></div>
                        <div class="visible-lg element-height-200"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/hotel/food-bg-2.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(86,154,167,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6"></div>

                <div class="col-md-6 text-center" style="background:rgba(255, 255, 255, 0.95);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8 text-center">
                            <h2 class=
                            "element-top-100 os-animation big"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.1s">
                                Cocktail Bar
                            </h2>

                            <div class="figure os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.2s">
                                <span class="figure-image">
                                    <img alt="decor-small-gold.png" src="assets/images/hotel/decor-small-gold.png">
                                </span>
                            </div>

                            <div class="col-text-1 element-top-20 element-bottom-100 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0.3s">
                                <p>Our «<strong>Lambda Bar</strong>» is
                                offering magnificent views to the sea and our
                                uniquely designed «Pool Bar», located in the
                                heart of the resort next to the main swimming
                                pool with beautiful views of the sea, offers
                                refreshing cocktails throughout the day.</p>

                                <p>Choose from a wide selection of light snacks
                                or treat yourself to an assortment of home made
                                pastries to complement a morning coffee, while
                                reading your newspaper.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}