{% extends "layouts/hotel.html" %}

{% set title = "The Rooms|Hotel" %}
{% set activeMenu = "Accomodation" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -100px" data-start=
        "background-position: 50% 0px" style=
        "background-image: url(assets/images/hotel/rooms-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style=
        "background-color: rgba(0,0,0,0.2);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-100"></div>
                        <div class="visible-md element-height-200"></div>
                        <div class="visible-lg element-height-200"></div>
                    </div>

                    <h1 class="text-center element-bottom-20 text-light os-animation hyper" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Rooms
                    </h1>
                    <div class="figure element-bottom-100 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image">
                            <img alt="decor-big-white.png" src="assets/images/hotel/decor-big-white.png">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>

                    <div class="portfolio-container element-top-20 element-bottom-20">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition"
                        data-col-lg="3" data-col-md="3" data-col-sm="3" data-col-xs="1" data-layout="fitRows" data-padding="15">
                            <div class="masonry-item portfolio-item filter-rooms" data-comments="0" data-menu-order="1"
                            data-title="Superior Room">
                                <div class=
                                "figure portfolio-os-animation image-filter-onhover fade-in text-left figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <a class="figure-image" href=
                                    "hotel-superior-room.html"
                                    target="_self">
                                        <img alt="Superior Room" class="normalwidth" src="assets/images/hotel/hotel-13-notinclude.jpg">

                                        <div class="figure-overlay ">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption"><i class="icon-circle-plus"></i></div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="figure-caption text-left">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
                                            <a href="hotel-superior-room.html"
                                        target="_self">
                                                Superior Room
                                            </a>
                                        </h3>

                                        <p class="figure-caption-description">
                                            The Superior Room, with king-size bed or twin single and one sofa bed, spans 25 sqm with a balcony or terrace
                                            overlooking the sea.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Deluxe Room">
                                <div class=
                                "figure portfolio-os-animation image-filter-onhover fade-in text-left figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.1s">
                                    <a class="figure-image" href=
                                    "hotel-superior-room.html"
                                    target="_self">
                                        <img alt="Deluxe Room" class="normalwidth" src="assets/images/hotel/hotel-7-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class=
                                                "figure-caption">
                                                   <i class="icon-circle-plus"></i>
                                               </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="figure-caption text-left">
                                        <h3 class=
                                        "figure-caption-title bordered bordered-small bordered-link">
                                            <a href=
                                            "hotel-superior-room.html"
                                            target="_self">
                                                Deluxe Room
                                            </a>
                                        </h3>

                                        <p class="figure-caption-description">
                                        The Deluxe Room, with king-size bed or
                                        twin bedded and one sofa bed, spans 25
                                        sqm with a balcony or terrace
                                        overlooking the sea.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Bungalow Studio">
                                <div class=
                                "figure portfolio-os-animation image-filter-onhover fade-in text-left figcaption-middle normalwidth"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0.2s">
                                    <a class="figure-image" href=
                                    "hotel-superior-room.html"
                                    target="_self">
                                        <img alt="Bungalow Studio"class="normalwidth" src="assets/images/hotel/hotel-6-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="figure-caption text-left">
                                        <h3 class=
                                        "figure-caption-title bordered bordered-small bordered-link">
                                        <a href=
                                        "hotel-superior-room.html"
                                        target="_self">Bungalow Studio</a></h3>

                                        <p class="figure-caption-description">
                                        The Bungalow Studio, with king-size bed
                                        or twin bedded and one sofa bed, spans
                                        25 sqm with a balcony or terrace
                                        overlooking the sea.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Sea View Suite">
                                <div class="figure portfolio-os-animation image-filter-onhover fade-in text-left figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <a class="figure-image" href="hotel-superior-room.html"
                                    target="_self">
                                        <img alt="Sea View Suite" class="normalwidth" src="assets/images/hotel/sea-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="figure-caption text-left">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
                                            <a href="hotel-superior-room.html"
                                            target="_self">
                                                Sea View Suite
                                            </a>
                                        </h3>

                                        <p class="figure-caption-description">
                                        The Sea View Suite, with king-size bed
                                        or twin bedded and one sofa bed, spans
                                        25 sqm with a balcony or terrace
                                        overlooking the sea. Located in the
                                        main building.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Pool Deluxe Room">
                                <div class="figure portfolio-os-animation image-filter-onhover fade-in text-left figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="figure-image" href="hotel-superior-room.html"
                                    target="_self">
                                        <img alt="Pool Deluxe Room" class="normalwidth" src="assets/images/hotel/hotel-3-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="figure-caption text-left">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
                                            <a href="hotel-superior-room.html"
                                            target="_self">
                                                Pool Deluxe Room
                                            </a>
                                        </h3>

                                        <p class="figure-caption-description">
                                        The Pool Deluxe Room, with king-size
                                        bed or twin bedded and one sofa bed,
                                        spans 25 sqm with a balcony or terrace
                                        overlooking the sea. Located in the
                                        main building.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-rooms" data-title="Presidential Suite">
                                <div class="figure portfolio-os-animation image-filter-onhover fade-in text-left figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                    <a class="figure-image" href="hotel-superior-room.html"
                                    target="_self">
                                        <img alt="Presidential Suite" class="normalwidth" src="assets/images/hotel/hotel-4-notinclude.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="icon-circle-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="figure-caption text-left">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
                                            <a href="hotel-superior-room.html"
                                            target="_self">
                                                Presidential Suite
                                            </a>
                                        </h3>

                                        <p class="figure-caption-description">
                                        The Presidential Suite, with king-size
                                        bed or twin bedded and one sofa bed,
                                        spans 25 sqm with a balcony or terrace
                                        overlooking the sea. Located in the
                                        main building.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}