{% extends "layouts/corporate.html" %}

{% set title = "Lambda | Multi Purpose HTML Template" %}

{% block extracss %}
<!-- build:css assets/css/demo.min.css -->
<link rel="stylesheet" href="styles/demo.css">
<!-- endbuild -->
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<article>
    <section class="section lambda-hero">
        <div class="background-media" style="background-image: url('assets/images/demo/banner.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="figure element-top-60 element-bottom-20 lambda-hero-logo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="Lambda Logo" src="assets/images/demo/banner-logo.png">
                        </span>
                    </div>

                    <h1 class=" lambda-hero-h1 element-top-0 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn"
                    data-os-animation-delay="0.3s">Lambda, multipurpose HTML template</h1>

                    <h2 class=" lambda-hero-h2 element-top-0 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn"
                    data-os-animation-delay="0.6s">choose your <strong>demo</strong> below</h2>

                    <a href="#demos" class="scroll-to scroll-to-id  element-top-20 element-bottom-60 text-light os-animationUp" data-os-animation="fadeInUp" data-os-animation-delay="0.9s">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="demos">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>

                    <div class="row text-center">
                        <div class="col-md-4">
                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="corporate-index.html" target="_blank"><img alt="corporate" src="assets/images/demo/lambda-corporate.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Corporate <small>full demo with multiple pages designed to fit any business</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="shop-index.html" target="_blank"><img alt="shop" src="assets/images/demo/lambda-shop.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Shop <small>Elegant shop design</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="hotel-index.html" target="_blank"><img alt="hotel" src="assets/images/demo/lambda-hotel.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Hotel <small>Elegant design perfect to make your hotel stand out</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="charity-index.html" target="_blank"><img alt="charity" src="assets/images/demo/lambda-charity.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Charity <small>One page style fundraising demo with amazing design</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="wedding-index.html" target="_blank"><img alt="wedding" src="assets/images/demo/lambda-wedding.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Wedding <small>Plan your special day with the wedding version of Lambda.</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="medical-index.html" target="_blank"><img alt="medical" src="assets/images/demo/lambda-medical.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Medical <small>Clean & elegant design for a medical company.</small></h3>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-4">
                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="creative-index.html" target="_blank"><img alt="creative" src="assets/images/demo/lambda-creative.jpg"> <span>View Demo</span></a>
                                <figcaption>
                                    <h3>Creative <small>Amazing & bold design perfect for a creative agency.</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="magazine-index.html" target="_blank"><img alt="magazine" src="assets/images/demo/lambda-magazine.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Magazine <small>Clear and Awesome design perfect for a Magazine or Newspaper</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="journal-index.html" target="_blank"><img alt="journal" src="assets/images/demo/lambda-blog.jpg"> <span>View Demo</span></a>
                                <figcaption>
                                    <h3>Blog <small>Amazing typography with focus on great readability</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <a href="coming-index.html" target="_blank">
                                    <img alt="coming soon" src="assets/images/demo/lambda-coming-soon.jpg"> <span>View Demo</span>
                                </a>

                                <figcaption>
                                    <h3>Coming Soon <small>Minimal coming soon/under construction design for any business agency.</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="photography-index.html" target="_blank"><img alt="photography" src="assets/images/demo/lambda-photography.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Photography <small>The perfect way to showcase your photography gallery.</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="construction-index.html" target="_blank"><img alt="construction" src="assets/images/demo/lambda-construction.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Construction <small>A demo designed specifically for construction & building companies.</small></h3>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="restaurant-index.html" target="_blank"><img alt="restaurant" src=
                                "assets/images/demo/lambda-restaurant.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Restaurant <small>Amazing design perfect for Restaurants, bakeries or bars</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <a href="personal-index.html" target="_blank"><img alt="personal" src="assets/images/demo/lambda-personal.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Personal <small>One page design with side navigation and bold design</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="landing-index.html" target="_blank"><img alt="landing" src="assets/images/demo/lambda-landing.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Landing <small>One page style landing page with a amazing design</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <a href="yoga-index.html" target="_blank">
                                    <img alt="coming soon" src="assets/images/demo/lambda-yoga.jpg"> <span>View Demo</span>
                                </a>

                                <figcaption>
                                    <h3>Yoga <small>Relaxing and amazing design perfect for a gym or a yoga studio.</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="digital-agency-index.html" target="_blank"><img alt="digital-agency" src="assets/images/demo/lambda-digital-agency.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Digital Agency <small>Amazing design for creative agencies, freelancers or illustrators.</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="pet-care-index.html" target="_blank"><img alt="pet-care" src="assets/images/demo/lambda-pet-care.jpg"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Pet Care <small>An elegant, minimal design aimed at pet services industries.</small></h3>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center lambda-hero-h1 element-top-20 element-bottom-50 text-normal os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.1s">check again soon for <strong>more</strong> amazing demos</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section lambda-hero">
        <div class="background-media" style=
        "background-image: url('assets/images/demo/banner.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class=" lambda-hero-h1 element-top-90 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.2s">a unique multipurpose powerful HTML template</h1>

                    <h2 class=" lambda-hero-h1 element-top-0 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.4s">get your website started with <strong>lambda</strong></h2>

                    <a href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna" class="btn btn-primary btn-lg text-normal element-top-20 element-bottom-90 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s" target="_self">PURCHASE NOW</a>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block footer %}
{% endblock %}