{% extends "layouts/journal.html" %}

{% set title = "Audio Post" %}
{% set activeMenu = "Single Post" %}

{% block content %}
<article>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">Sing along fellas!</h1>

                            <p class="lead">I just told you! You've killed me! Why am I sticky and naked? Did I miss something fun? Oh Leela! You're the only person I could turn to; you're the only person who ever
                            loved me.</p>
                        </header>

                        <div class="post-media">
                            <audio preload="auto" style="width:100%; height:100%;">
                            <source src="http://1.s3.envato.com/files/88545/preview.mp3"></audio>
                        </div>

                        <div class="post-body">
                            <p>I never loved you. I feel like I was mauled by Jesus. And why did &#8216;I&#8217; have to take a cab? I&#8217;ve been there. My folks were always on me to groom myself and wear
                            underpants. What am I, the pope? Leela, Bender, we&#8217;re going grave robbing. OK, if everyone&#8217;s finished being stupid.</p>

                            <p>These old Doomsday Devices are dangerously unstable. I&#8217;ll rest easier not knowing where they are. And until then, I can never die? We&#8217;re rescuing ya. Ugh, it&#8217;s
                            filthy! Why not create a National Endowment for Strip Clubs while we&#8217;re at it? Michelle, I don&#8217;t regret this, but I both rue and lament it. Daddy Bender, we&#8217;re hungry.
                            Morbo will now introduce tonight&#8217;s candidates… PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo&#8217;s good friend, Richard Nixon.</p>

                            <p>No! I want to live! There are still too many things I don&#8217;t own! What are you hacking off? Is it my torso?! &#8216;It is!&#8217; My precious torso! File not found. You know, I
                            was God once. Hi, I&#8217;m a naughty nurse, and I really need someone to talk to. $9.95 a minute. You, a bobsleder!? That I&#8217;d like to see! Hello, little man. I will destroy
                            you!</p>
                        </div>

                        <div class="post-details">
                            <span class="post-date">
                                <i class="icon-clock"></i>
                                June 25, 2014
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="journal-index.html">Proistakis Manos</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i>
                                <a href="journal-index.html" rel="tag">Inspirational</a>,
                                <a href="journal-index.html" rel="tag">Tech</a>
                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on Sing along fellas!">3 comments</a>
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">discovery</a>
                                        <a href="#" rel="tag">loud</a>
                                        <a href="#" rel="tag">reggae</a>
                                        <a href="#" rel="tag">song</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div>
                                        <ul class="social-icons  social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee">
                                                    <i class="fa fa-twitter" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812">
                                                    <i class="fa fa-google-plus" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998">
                                                    <i class="fa fa-facebook" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228">
                                                    <i class="fa fa-pinterest" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="author-info media small-screen-center">
                            <div class="author-avatar">
                                <a href="journal-index.html">
                                    <img alt='team' class='media-objects img-circle avatar-150 photo' height='150' src='http://0.gravatar.com/avatar/c38db180595ac059f661cfdef1dd3c2b?s=150&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D150&amp;r=G' width='150'>
                                </a>
                            </div>

                            <h3><a href="journal-index.html">Proistakis Manos</a></h3>

                            <p>Sold the highest number of back scratchers of an employee in the history of Back Scratchers Inc., Was employee of the month 10 months in a row, Started out as a dishwasher and am now
                            the executive chef at La Lune.</p>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="journal-video-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                    Previous
                                </a>
                            </li>
                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="journal-post.html" rel="prev">
                                    Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/journal/p011.jpg)">
                                    <a href="journal-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">The Beast with a Billion Backs</h3>

                                            <div class="post-grid-content-footer">
                                                Manos , Feb 19, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/journal/p061.jpg)">
                                    <a href="journal-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">The Birth of Lies</h3>

                                        <div class="post-grid-content-footer">
                                            Manos , Dec 25, 2014
                                        </div>
                                    </div></a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/journal/p101.jpg)">
                                    <a href="journal-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Where a Fan</h3>

                                            <div class="post-grid-content-footer">
                                                Christos , Jan 30, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comments padded">
                        <div class="comments-head">
                            <h3>3 comments</h3><small>Join the conversation</small>
                        </div>

                        <ul class="media-list">
                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="#">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team13-notinclude.jpg' width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div>
                                            <h4 class="media-heading clearfix"><strong>langan</strong> - October 23, 2014 <strong class="comment-reply pull-right"><a class='comment-reply-link' href=
                                            '#'>reply</a></strong></h4>

                                            <p>Your blog is awesome!</p>
                                        </div>
                                    </div>

                                    <div class="media media-comment">
                                        <div class="media-avatar media-left">
                                            <a href="#">
                                                <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team09-notinclude.jpg' width='48'>
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-inner">
                                                <div>
                                                    <h4 class="media-heading clearfix"><strong>proistak</strong> - October 24, 2014 <strong class="comment-reply pull-right"><a class='comment-reply-link' href='#'>reply</a></strong></h4>

                                                    <p>While working as a school janitor, the father would come home each night and work on his side project. He spent over 7 years producing what is perhaps the most
                                                    complicated, intricate maze you will ever see.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="#">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team09-notinclude.jpg' width='48'></a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div>
                                            <h4 class="media-heading clearfix"><strong>christos</strong> - October 24, 2014 <strong class="comment-reply pull-right"><a class='comment-reply-link' href='#'>reply</a></strong></h4>

                                            <p>You know, the one with all the well meaning rules that don&#8217;t work out in real life, uh, Christianity.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Leave a Reply <small>
                            <a href="#" rel="nofollow" style="display:none;">Cancel reply
                            </a></small>
                        </h3>

                        <form>
                            <p><span>Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name *</label>
                                    <input class="input-block-level form-control" id="author" name="author" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Your message</label>
                                    <textarea class="input-block-level form-control" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input name='comment_post_ID' type='hidden' value='137'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}