{% extends "layouts/journal.html" %}

{% set title = "Gallery Post" %}
{% set activeMenu = "Single Post" %}

{% block content %}
<article>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">The Birth of Lies</h1>

                            <p class="lead">You want a guarantee, buy a toaster</p>
                        </header>

                        <div class="post-media">
                            <div class="flexslider flex-controls-bottom" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" id="flexslider-1">
                                <ul class="slides">
                                    <li>
                                        <figure>
                                            <img alt="p06" src="assets/images/journal/p061.jpg">
                                        </figure>
                                    </li>

                                    <li>
                                        <figure>
                                            <img alt="p07" src="assets/images/journal/p071.jpg">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="post-body">
                            <p>Yes! I am a citizen! Now which way to the welfare <strong>office</strong>? I&#8217;m kidding, I&#8217;m kidding. I work, I work. Bart, with $10,000 we&#8217;d be millionaires! We could
                            buy all kinds of useful things like…love!</p>

                            <p>They only come out in the night. Or in this case, the day. The <strong>Internet</strong> King? I wonder if he could provide faster nudity… Oh, loneliness and cheeseburgers are a
                            dangerous mix. A woman is a lot like a refrigerator. Six feet tall, 300 pounds…it makes ice. Weaseling out of things is important to learn. It&#8217;s what separates us from the
                            animals…except the weasel.</p>

                            <p><img alt="p04" class="alignnone size-full wp-image-254" height="600" src="assets/images/journal/p041.jpg" width="1200"></p>

                            <p>But, <strong>Aquaman</strong>, you cannot marry a woman without gills. You&#8217;re from two different worlds… Oh, I&#8217;ve wasted my life. Your guilty consciences may make you vote
                            Democratic, but secretly you all yearn for a Republican president to lower taxes, brutalize criminals, and rule you like a king! Oh, everything looks bad if you remember it. I&#8217;m a
                            Spalding Gray in a Rick Dees world.</p>

                            <p>Get ready, skanks! It&#8217;s time for the truth train! Your guilty consciences may make you vote <strong>Democratic</strong>, but secretly you all yearn for a Republican president to
                            lower taxes, brutalize criminals, and rule you like a king! What good is money if it can&#8217;t inspire terror in your fellow man?</p>
                        </div>

                        <div class="post-details">
                            <span class="post-date">
                                <i class="icon-clock"></i>
                                August 25, 2014
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="journal-index.html">John Doe</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i>
                                <a href="journal-index.html" rel="tag">Inspirational</a>
                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on The Birth of Lies">2 comments</a>
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">assault</a>
                                        <a href="#" rel="tag">discovery</a>
                                        <a href="#" rel="tag">
                                        lucky</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div>
                                        <ul class="social-icons  social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee">
                                                    <i class="fa fa-twitter" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812">
                                                    <i class="fa fa-google-plus" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998">
                                                    <i class="fa fa-facebook" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228">
                                                    <i class="fa fa-pinterest" style="color: rgb(150, 158, 165);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="author-info media small-screen-center">
                            <div>
                                <a href="#">
                                    <img alt='' class='media-objects img-circle avatar-150 photo' height='150' src='http://0.gravatar.com/avatar/c38db180595ac059f661cfdef1dd3c2b?s=150&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D150&amp;r=G' width='150'>
                                </a>
                            </div>

                            <h3><a href="journal-index.html">Proistakis Manos</a></h3>

                            <p>Sold the highest number of back scratchers of an employee in the history of Back Scratchers Inc., was employee of the month 10 months in a row, Started out as a dishwasher and am now
                            the executive chef at La Lune.</p>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="journal-quote-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                    Previous
                                </a>
                            </li>
                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="journal-video-post.html" rel="prev">
                                    Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/journal/p011.jpg)">
                                    <a href="journal-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">The Beast with a Billion Backs</h3>

                                            <div class="post-grid-content-footer">
                                                Manos , Feb 19, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/journal/p061.jpg)">
                                    <a href="journal-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">The Birth of Lies</h3>

                                        <div class="post-grid-content-footer">
                                            Manos , Dec 25, 2014
                                        </div>
                                    </div></a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/journal/p101.jpg)">
                                    <a href="journal-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Has Gone Before</h3>

                                            <div class="post-grid-content-footer">
                                                Christos , Jan 30, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comments padded">
                        <div class="comments-head">
                            <h3>3 comments</h3><small>Join the conversation</small>
                        </div>

                        <ul class="media-list">
                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="#">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team13-notinclude.jpg' width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div>
                                            <h4 class="media-heading clearfix"><strong>langan</strong> - October 23, 2014 <strong class="comment-reply pull-right"><a class='comment-reply-link' href=
                                            '#'>reply</a></strong></h4>

                                            <p>Your blog is awesome!</p>
                                        </div>
                                    </div>

                                    <div class="media media-comment">
                                        <div class="media-avatar media-left">
                                            <a href="#">
                                                <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team09-notinclude.jpg' width='48'>
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-inner">
                                                <div>
                                                    <h4 class="media-heading clearfix"><strong>proistak</strong> - October 24, 2014 <strong class="comment-reply pull-right"><a class='comment-reply-link' href='#'>reply</a></strong></h4>

                                                    <p>While working as a school janitor, the father would come home each night and work on his side project. He spent over 7 years producing what is perhaps the most
                                                    complicated, intricate maze you will ever see.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="#">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team09-notinclude.jpg' width='48'></a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div>
                                            <h4 class="media-heading clearfix"><strong>christos</strong> - October 24, 2014 <strong class="comment-reply pull-right"><a class='comment-reply-link' href='#'>reply</a></strong></h4>

                                            <p>You know, the one with all the well meaning rules that don&#8217;t work out in real life, uh, Christianity.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Leave a Reply <small>
                            <a href="#" rel="nofollow" style="display:none;">Cancel reply
                            </a></small>
                        </h3>

                        <form>
                            <p><span>Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name *</label>
                                    <input class="input-block-level form-control" id="author" name="author" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Your message</label>
                                    <textarea class="input-block-level form-control" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input name='comment_post_ID' type='hidden' value='137'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}