{% extends "layouts/journal.html" %}

{% set title = "Elements - Buttons" %}
{% set activeMenu = "Shortcodes" %}

{% block content %}
<article>
    <section class="section section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url(assets/images/journal/p071.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-100 element-bottom-100 text-light super hairline">
                        Buttons
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-20 normal hairline">
                        Normal buttons
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 class="element-top-70 element-bottom-20 normal bold">Small
                    buttons</h3><a class=
                    "btn btn-default btn-sm" href=
                    "#" target="_self">Default button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-sm" href=
                    "#" target="_self">Primary button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-sm" href=
                    "#" target="_self">Info button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-sm" href=
                    "#" target="_self">Success button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-sm" href=
                    "#" target="_self">Link button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-sm" href=
                    "#" target="_self">Danger button</a>
                </div>

                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">
                    Default buttons</h3><a class="btn btn-default btn-normal" href=
                    "#" target="_self">Default button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-normal" href=
                    "#" target="_self">Primary button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-normal" href=
                    "#" target="_self">Info button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-normal" href=
                    "#" target="_self">Success button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-normal" href=
                    "#" target="_self">Link button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-normal" href=
                    "#" target="_self">Danger button</a>
                </div>

                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">Large
                    buttons</h3><a class="btn btn-default btn-lg" href=
                    "#" target="_self">Default button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-lg" href=
                    "#" target="_self">Primary button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-lg" href=
                    "#" target="_self">Info button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-lg" href=
                    "#" target="_self">Success button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-lg" href=
                    "#" target="_self">Link button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-lg" href=
                    "#" target="_self">Danger button</a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-70"></div>
                        <div class="visible-sm element-height-70"></div>
                        <div class="visible-md element-height-70"></div>
                        <div class="visible-lg element-height-70"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-10" style=
        "background-color: rgba(232,216,201,0.1);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-20 normal hairline">
                        With Icons
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-10" style=
        "background-color: rgba(232,216,201,0.1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">Small
                    buttons</h3><a class=
                    "btn btn-default btn-sm btn-icon-right" href=
                    "#" target="_self">Default button <i class="fa fa-gift"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-sm btn-icon-right" href="#" target="_self">Primary button <i class="fa fa-android" data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-sm btn-icon-right" href="#" target="_self">Info button <i class="fa fa-gear"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-sm btn-icon-right" href="#" target="_self">Success button <i class=
                    "fa fa-shopping-cart" data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-sm btn-icon-right" href="#" target="_self">Link button <i class="fa fa-apple"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-sm btn-icon-right" href="#" target="_self">Danger button <i class="fa fa-heart"
                    data-animation="none"></i></a>
                </div>

                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">
                    Default buttons</h3><a class=
                    "btn btn-default btn-normal btn-icon-right" href=
                    "#" target="_self">Default button <i class="fa fa-gift"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-normal btn-icon-right" href="#" target="_self">Primary button <i class="fa fa-android"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-normal btn-icon-right" href="#" target="_self">Info button <i class="fa fa-gear"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-normal btn-icon-right" href="#" target="_self">Success button <i class=
                    "fa fa-shopping-cart" data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-normal btn-icon-right" href="#" target="_self">Link button <i class="fa fa-apple"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-normal btn-icon-right" href="#" target="_self">Danger button <i class="fa fa-heart"
                    data-animation="none"></i></a>
                </div>

                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">Large
                    buttons</h3><a class=
                    "btn btn-default btn-lg btn-icon-right" href=
                    "#" target="_self">Default button <i class="fa fa-gift"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-lg btn-icon-right" href="#" target="_self">Primary button <i class="fa fa-android"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-lg btn-icon-right" href="#" target="_self">Info button <i class="fa fa-gear"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-lg btn-icon-right" href="#" target="_self">Success button <i class=
                    "fa fa-shopping-cart" data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-lg btn-icon-right" href="#" target="_self">Link button <i class="fa fa-apple"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-lg btn-icon-right" href="#" target="_self">Danger button <i class="fa fa-heart"
                    data-animation="none"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-70"></div>
                        <div class="visible-sm element-height-70"></div>
                        <div class="visible-md element-height-70"></div>
                        <div class="visible-lg element-height-70"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-20 normal hairline">
                        With Icons & animations
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">Small
                    buttons</h3><a class=
                    "btn btn-default btn-sm btn-icon-right" href=
                    "#" target="_self">Default button <i class="fa fa-gift"
                    data-animation="bounce"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-sm btn-icon-right" href="#" target="_self">Primary button <i class="fa fa-android" data-animation="bounceOut"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-sm btn-icon-right" href="#" target="_self">Info button <i class="fa fa-gear"
                    data-animation="fadeIn"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-sm btn-icon-right" href="#" target="_self">Success button <i class=
                    "fa fa-shopping-cart" data-animation="fadeInDown"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-sm btn-icon-right" href="#" target="_self">Link button <i class="fa fa-apple"
                    data-animation="bounceInUp"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-sm btn-icon-right" href="#" target="_self">Danger button <i class="fa fa-heart"
                    data-animation="hinge"></i></a>
                </div>

                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">
                    Default buttons</h3><a class=
                    "btn btn-default btn-normal btn-icon-right" href=
                    "#" target="_self">Default button <i class="fa fa-gift"
                    data-animation="shake"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-normal btn-icon-right" href="#" target="_self">Primary button <i class="fa fa-android"
                    data-animation="swing"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-normal btn-icon-right" href="#" target="_self">Info button <i class="fa fa-gear"
                    data-animation="tada"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-normal btn-icon-right" href="#" target="_self">Success button <i class=
                    "fa fa-shopping-cart" data-animation="tada"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-normal btn-icon-right" href="#" target="_self">Link button <i class="fa fa-apple"
                    data-animation="wobble"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-normal btn-icon-right" href="#" target="_self">Danger button <i class="fa fa-heart"
                    data-animation="wobble"></i></a>
                </div>

                <div class="col-md-4 text-center">
                    <h3 class=
                    "element-top-70 element-bottom-20 normal bold">Large
                    buttons</h3><a class=
                    "btn btn-default btn-lg btn-icon-right" href=
                    "#" target="_self">Default button <i class="fa fa-gift"
                    data-animation="bounce"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-primary btn-lg btn-icon-right" href="#" target="_self">Primary button <i class="fa fa-android"
                    data-animation="shake"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-info btn-lg btn-icon-right" href="#" target="_self">Info button <i class="fa fa-gear"
                    data-animation="shake"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-success btn-lg btn-icon-right" href="#" target="_self">Success button <i class=
                    "fa fa-shopping-cart" data-animation="swing"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-link btn-lg btn-icon-right" href="#" target="_self">Link button <i class="fa fa-apple"
                    data-animation="tada"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                    <a class="btn btn-danger btn-lg btn-icon-right" href="#" target="_self">Danger button <i class="fa fa-heart"
                    data-animation="wobble"></i></a>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-70"></div>
                        <div class="visible-sm element-height-70"></div>
                        <div class="visible-md element-height-70"></div>
                        <div class="visible-lg element-height-70"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}