{% extends "layouts/lawcompany.html" %}

{% set title = "Law Company" %}
{% set bodyclasses = "transparent-header pace-on pace-minimal" %}
{% set activeMenu = "Home" %}

{% block content %}

<article>
    <section class="section section-fullheight" id="home">
        <div class="background-media" style=
        "background-image: url(assets/images/lawcompany/image20-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6">
                    <h1 class="text-left element-top-20 element-bottom-20 text-light os-animation big light" data-os-animation="fadeInLeftBig" data-os-animation-delay="0s">
                    A LEADING FIRM IN PROVIDING LEGAL HELP NATIONWIDE</h1>

                    <p class="lead text-left left text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeftBig" data-os-animation-delay="0.5s">
                    No one would have believed in the last years of the nine-teenth century that this world was being keenly and closely by.</p>

                    <a class="btn btn-default btn-lg element-left-0 element-right-0 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeftBig"
                    data-os-animation-delay="1s" href="">Talk to an attorney</a>
                </div>

                <div class="col-md-6">
                    <div class="col-text-1 element-top-20 element-bottom-20"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="services">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>

                    <h1 class="text-left element-top-20 element-bottom-20 os-animation big light" data-os-animation="fadeIn" data-os-animation-delay="0.1s">OUR SERVICES</h1>

                    <p class="lead text-left left text-normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right
                    away.</p>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <div class="box box-round box-medium box-simple element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="box-dummy"></div>

                                <div class="box-inner grid-overlay-0" style="background-color:#76b2b2">
                                    <div class="box-animate">
                                        <img alt="" src="assets/images/lawcompany/icon2-notinclude.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <h2 class="element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Insurance
                            Claims</h2>

                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>
                            </div>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-20"></div>
                                <div class="visible-md element-height-20"></div>
                                <div class="visible-lg element-height-20"></div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="box box-round box-big box-simple element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="box-dummy"></div>

                                <div class="box-inner grid-overlay-0" style="background-color:#76b2b2">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="" src="assets/images/lawcompany/icon3-notinclude1.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <h2 class="text-left element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Contact
                            Dispute</h2>

                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>
                            </div>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-20"></div>
                                <div class="visible-md element-height-20"></div>
                                <div class="visible-lg element-height-20"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <div class="box box-round box-medium box-simple element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="box-dummy"></div>

                                <div class="box-inner grid-overlay-0" style="background-color:#76b2b2">
                                    <div class="box-animate" data-animation="none">
                                        <img alt="" src="assets/images/lawcompany/icon-notinclude.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <h2 class="text-left element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Medical
                            Malpractice</h2>

                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="box box-round box-medium box-simple element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="box-dummy"></div>

                                <div class="box-inner grid-overlay-0" style="background-color:#76b2b2">
                                    <div class="box-animate">
                                        <img alt="" src="assets/images/lawcompany/icon1-notinclude.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <h2 class="element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Employment
                            Law</h2>

                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>
                            </div>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-fullheight">
        <div class="background-media" style="background-image: url(assets/images/lawcompany/image4-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6">
                    <div class="col-text-1 element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                        <p></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <h1 class="text-left element-top-20 element-bottom-20 text-light os-animation big light" data-os-animation="fadeInRightBig" data-os-animation-delay="0s">
                    A LEADING FIRM IN PROVIDING LEGAL HELP NATIONWIDE</h1>
                    <a class="btn btn-default btn-lg text-normal element-left-0 element-right-0 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRightBig" data-os-animation-delay="0.5s" href="">Talk to an attorney</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="attorneys">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <h1 class="text-left element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">OUR ATTORNEYS</h1>

                    <p class="lead text-left left text-normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <div class=" row staff-list-container list-container element-top-20 element-bottom-20">
                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <div class="figure-image">
                                <img alt="Brandon Reed" src="assets/images/lawcompany/image15-notinclube.jpg">

                                <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_self">
                                                        <i  class="fa fa-facebook"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-behance"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-left">
                                <h3 class="figure-caption-title"><strong>Brandon Reed</strong> <span>Divorce lawyer</span></h3>
                            </div>
                        </div>

                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.4s">
                            <div class="figure-image">
                                <img alt="Amanda Hayes" src="assets/images/lawcompany/image14-notinclube.jpg">

                                <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_self">
                                                        <i  class="fa fa-facebook"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-behance"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-left">
                                <h3 class="figure-caption-title"><strong>Amanda Hayes</strong> <span>DIVORCE LAWYER</span></h3>
                            </div>
                        </div>

                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.6s">
                            <div class="figure-image">
                                <img alt="Donald Coleman" src="assets/images/lawcompany/image11-notinclube.jpg">

                                <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_self">
                                                        <i  class="fa fa-facebook"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-behance"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-left">
                                <h3 class="figure-caption-title"><strong>Donald Coleman</strong> <span>DIVORCE LAWYER</span></h3>
                            </div>
                        </div>

                        <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.8s">
                            <div class="figure-image">
                                <img alt="Shirley King" src="assets/images/lawcompany/image13-notinclube.jpg">

                                <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_self">
                                                        <i  class="fa fa-facebook"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" target="_self">
                                                        <i class="fa fa-behance"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="figure-caption text-left">
                                <h3 class="figure-caption-title"><strong>Shirley King</strong> <span>DIVORCE LAWYER</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/lawcompany/image3-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class=" element-top-80 element-bottom-60 text-center text-light os-animation flexslider feature-slider" data-flex-animation="fade" data-flex-controls="hide"
                    data-flex-controls-position="outside" data-flex-controlsalign="center" data-flex-directions="hide" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay="0.2s" id="flexslider-32">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>This Theme is just awesome. It is so easy to create a gorgeous looking sites. I would also like to mention their excellent and superfast support. It never took more than 2-3hours to have the correct solution. I'm going to buy more themes of them, sure! Keep up the good work.</p>

                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>

                                        <div class="box-inner">
                                            <img alt="team02-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/lawcompany/team02-notinclude-150x150.jpg" width="150">
                                        </div>
                                    </div>

                                    <footer>
                                        Marie Clark
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>After purchasing all of the top rated theme I find this theme to be the most intuitive. Everything is right where it's supposed to be and makes use of the best plugin combinations I have ever seen. Truly, there are no words to describe how happy I am with this theme! Recommended</p>

                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>

                                        <div class="box-inner">
                                            <img alt="team01-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/lawcompany/team01-notinclude-150x150.jpg" width="150">
                                        </div>
                                    </div>

                                    <footer>
                                        Scott Adams
                                    </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <h1 class="text-left element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Recent Posts</h1>

                    <p class="lead text-left left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">Create stunning pages with our
                    powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <div class=" element-top-20 element-bottom-20 recent-simple-os-container list-container row">
                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-108" style="background-image: url(assets/images/lawcompany/image6-notinclude-600x400.jpg)">
                                <a href="lawcompany-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Resolving Your Personal Injury Case</h3>

                                        <div class="post-grid-content-footer">
                                            despoina , August 19, 2015
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-106" style="background-image: url(assets/images/lawcompany/image5-notinclude-600x400.jpg)">
                                <a href="lawcompany-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Find a Criminal Defense Attorney</h3>

                                        <div class="post-grid-content-footer">
                                            despoina , August 19, 2015
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>

                        <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-1" style="background-image: url(assets/images/lawcompany/image7-notinclude-600x400.jpg)">
                                <a href="lawcompany-post.html">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">Will Law Firms Flock to .Law Domain?</h3>

                                        <div class="post-grid-content-footer">
                                            oxygenna , August 19, 2015
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="evaluation">
        <div class="background-media" style="background-image: url(assets/images/lawcompany/image2-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <h1 class="text-left element-top-20 element-bottom-20 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    Start your free case evaluation</h1>

                    <p class="lead text-left left text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                    Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda now and start creating the perfect site for you right away.</p>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                            <form id="contactForm" action="contact_mailer.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-envelope"></i>
                                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-icon-group">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                                </div>

                                <p>
                                    <input type="submit" value="Send email" class="btn btn-primary">
                                </p>
                                <div class="messages text-center"></div>
                            </form>
                        </div>

                        <div class="col-md-4 text-default small-screen-default">
                            <br>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bullet-nav" data-show-tooltips="off">
        <ul></ul>
    </div>
</article>
{% endblock %}