{% extends "layouts/lawcompany.html" %}

{% set title = "Blog | Law Company" %}
{% set activeMenu = "Blog" %}

{% set bodyclasses = "transparent-header pace-on pace-minimal" %}


{% block content %}
<article>
    <section class="section section-fullheight">
        <div class="background-media" style="background-image: url(assets/images/lawcompany/image20-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(48,60,64,0.5);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="element-top-20 element-bottom-20 text-light bigger light">Our News</h1>
                </header>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="lawcompany-post.html" title="Permalink to Resolving Your Personal Injury Case" rel="bookmark">
                                Resolving Your Personal Injury Case
                                </a>
                            </h2>
                        </header>
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="lawcompany-post.html">
                                    <img alt="Resolving Your Personal Injury Case" src="assets/images/lawcompany/image6-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p>Etiam consequat lectus eget elit tempor facilisis. Cras eget lectus at augue ultricies egestas. Phasellus non enim sed odio pellentesque rhoncus. Suspendisse convallis neque nec mauris volutpat, nec gravida lacus varius. Nam feugiat convallis ultricies. Nulla ultricies felis placerat condimentum hendrerit. Pellentesque fermentum, mi eu bibendum rutrum, massa eros volutpat massa, sit amet dictum sem turpis at sem. Aliquam id nisl erat. Ut aliquet tristique tellus. Morbi elementum magna quam, at finibus
                            nulla lobortis quis.</p>
                        </div>

                        <div class="post-details">
                            <span class="post-date">
                                <i class="icon-clock"></i> August 19, 2015
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="#">despoina</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i>
                                <a href="lawcompany-blog.html" rel="tag">Law</a>
                                <a href="lawcompany-blog.html" rel="tag">News</a>

                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on Law Company">No comments</a>
                            </span>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="lawcompany-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="lawcompany-post.html" title="Permalink to Find a Criminal Defense Attorney" rel="bookmark">
                                Find a Criminal Defense Attorney
                                </a>
                            </h2>
                        </header>
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="lawcompany-post.html">
                                    <img alt="Find a Criminal Defense Attorney" src="assets/images/lawcompany/image5-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p>Nulla ultricies volutpat diam, in tempus elit luctus non. Quisque dui nisi, euismod quis augue sit amet, accumsan interdum ante. Mauris mollis aliquet ipsum eget ultrices. Praesent quam ipsum, dictum ac nulla quis, blandit interdum quam. Proin eu ex metus. Donec pellentesque dolor et urna consectetur auctor.</p>
                        </div>

                        <div class="post-details">
                            <span class="post-date">
                                <i class="icon-clock"></i> August 19, 2015
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="#">despoina</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i>
                                <a href="lawcompany-blog.html" rel="tag">Law</a>
                                <a href="lawcompany-blog.html" rel="tag">News</a>

                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on Law Company">No comments</a>
                            </span>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="lawcompany-post.html">read more</a>
                        </div>
                    </article>
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="lawcompany-post.html" title="Permalink to Will Law Firms Flock to .Law Domain?" rel="bookmark">
                                Will Law Firms Flock to .Law Domain?
                                </a>
                            </h2>
                        </header>
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="lawcompany-post.html">
                                    <img alt="Will Law Firms Flock to .Law Domain?" src="assets/images/lawcompany/image7-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p>Ea harum erroribus assentior mei. Mei ea wisi inimicus, dicunt molestie duo ut, constituam vituperatoribus nam ex. Sea ut conceptam omittantur, an sea dictas urbanitas elaboraret. Persius delicata persequeris mei no, ex vivendo alienum instructior sea. Duo ex ceteros inimicus constituam.</p>
                        </div>

                        <div class="post-details">
                            <span class="post-date">
                                <i class="icon-clock"></i> August 19, 2015
                            </span>
                            <span class="post-author">
                                <i class="icon-head"></i>
                                <a href="#">oxygenna</a>
                            </span>
                            <span class="post-category">
                                <i class="icon-clipboard"></i>
                                <a href="lawcompany-blog.html" rel="tag">News</a>
                            </span>
                            <span class="post-link">
                                <i class="icon-speech-bubble"></i>
                                <a href="#" title="Comment on Law Company">1 comments</a>
                            </span>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="lawcompany-post.html">read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}