{% extends "layouts/magazine.html" %}

{% set title = "Contact" %}
{% set activeMenu = "" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/magazine/footer.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="google-map" id="map" style="height:400px"></div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-4">
                    <h2 class="text-left element-top-0 element-bottom-0 os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">Get in touch with us</h2>
                </div>

                <div class="col-md-8">
                    <hr class="element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 text-left small-screen-left os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-20"></div>
                                <div class="visible-md element-height-20"></div>
                                <div class="visible-lg element-height-20"></div>
                            </div>

                            <div class="col-text-1 element-top-0 element-bottom-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima, dolor, repudiandae dolores eum numquam nihil eaque quisquam commodi iste totam et
                                consectetur rerum ducimus alias dolorum nulla at molestias.</p>
                            </div>

                            <ul class="fa-ul element-top-0 element-bottom-0">
                                <li>
                                    <i class="fa-li fa fa-home"></i>
                                    Some street. Some town. Some postcode. UK
                                </li>

                                <li>
                                    <i class="fa-li fa fa-phone"></i> 0044123456789
                                </li>

                                <li>
                                    <i class="fa-li fa fa-globe"></i> http://lambdahtml.oxygenna.com/magazine-index.html
                                </li>
                            </ul>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                        </div>

                        <div class="col-md-8 text-left small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-20"></div>
                                <div class="visible-md element-height-20"></div>
                                <div class="visible-lg element-height-20"></div>
                            </div>

                            <form action="contact_mailer.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-envelope"></i>
                                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-icon-group">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                                </div>

                                <p>
                                    <input type="submit" value="Send email" class="btn btn-primary">
                                </p>
                                <div class="messages text-center"></div>
                            </form>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}