{% extends "layouts/magazine.html" %}

{% set title = "Magazine" %}
{% set activeMenu = "Home" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="flexslider element-top-30 element-bottom-30 text-left os-animation feature-slider" data-flex-animation="slide" data-flex-controls="show" data-flex-controlsalign=
                    "center" data-flex-controlsposition="inside" data-flex-directions="show" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay=
                    "0.1s" id="flexslider-392">
                        <ul class="slides">
                            <li>
                                <div class="figure fade-none figcaption-bottom text-left image-effect-scroll-left">
                                    <a class="figure-image" href="magazine-post.html">
                                        <img alt="Beauty Trends : An Ode To Malls" src="assets/images/magazine/blog-07.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title"><strong>Beauty Trends : An Ode To Malls</strong></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <h5 class="figure-caption-category"><a href="magazine-blog.html">Fashion</a></h5>
                                </div>
                            </li>

                            <li>
                                <div class="figure fade-none figcaption-bottom text-left image-filter-none image-effect-scroll-left" data-os-animation="" data-os-animation-delay="s">
                                    <a class="figure-image" href="magazine-post.html">
                                        <img alt="Easily Mount Your Phone" src="assets/images/magazine/blog-06.jpg">

                                        <div class="figure-overlay">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title"><strong>Easily Mount Your Phone</strong></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <h5 class="figure-caption-category"><a href="magazine-blog.html">Business</a></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="figure fade-none element-top-30 figcaption-bottom text-left image-filter-none image-effect-zoom-in os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.2s">
                        <a class="figure-image" href="magazine-post.html">
                            <img alt="Telling Stories in 3 Dimensions: Art Today" src="assets/images/magazine/blog-17.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h4 class="figure-caption-title"><strong>Telling Stories in 3 Dimensions: Art Today</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <h5 class="figure-caption-category"><a href="magazine-blog.html">Journalism</a></h5>
                    </div>

                    <div class="figure fade-none element-top-30 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-in os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.3s">
                        <a class="figure-image" href="magazine-post.html">
                            <img alt="Infographic – Social Media Addiction" src="assets/images/magazine/digital-tablet-screen.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h4 class="figure-caption-title"><strong>Infographic – Social Media Addiction</strong></h4>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <h5 class="figure-caption-category"><a href="magazine-blog.html">Social Media</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row vertical-middle">
                        <div class="col-md-4">
                            <hr class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>

                        <div class="col-md-4">
                            <h1 class="text-center element-top-20 element-bottom-20 os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Recent
                            articles</h1>
                        </div>

                        <div class="col-md-4">
                            <hr class=" os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="figure fade-none element-top-30 figcaption-bottom text-left image-filter-none image-effect-scroll-left os-animation" data-os-animation=
                            "fadeIn" data-os-animation-delay="0.2s">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <h4 class="figure-caption-title"><strong>The Sweet Lure Of Chocolate</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <h5 class="figure-caption-category"><a href="magazine-blog.html">Journal</a></h5>
                            </div>

                            <div class="element-top-20 element-bottom-20 recent-simple-os-container post-list">
                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feel-Good Food" src="assets/images/magazine/blog-09-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feel-Good Food</a></h4>

                                    <div class="post-list-date">
                                        January 22, 2015
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="What To Do For Your Cat" src="assets/images/magazine/blog-15-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">What To Do For Your Cat</a></h4>

                                    <div class="post-list-date">
                                        December 20, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">The Sweet Lure Of Chocolate</a></h4>

                                    <div class="post-list-date">
                                        December 15, 2014
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="figure fade-none element-top-30 figcaption-bottom text-left image-filter-none image-effect-scroll-left os-animation" data-os-animation=
                            "fadeIn" data-os-animation-delay="0.2s">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="Pairing Beans with Brewers" src="assets/images/magazine/blog-18.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <h4 class="figure-caption-title"><strong>Pairing Beans with Brewers</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <h5 class="figure-caption-category"><a href="magazine-blog.html">Fashion</a></h5>
                            </div>

                            <div class=" element-top-20 element-bottom-20 recent-simple-os-container post-list">
                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feel-Good Food" src="assets/images/magazine/blog-09-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feel-Good Food</a></h4>

                                    <div class="post-list-date">
                                        January 22, 2015
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">The Sweet Lure Of Chocolate</a></h4>

                                    <div class="post-list-date">
                                        December 15, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feed Your Skin" src="assets/images/magazine/blog-04-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feed Your Skin</a></h4>

                                    <div class="post-list-date">
                                        December 9, 2014
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="figure fade-none element-top-30 figcaption-bottom text-left image-filter-none image-effect-scroll-left os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="Feed Your Skin" src="assets/images/magazine/blog-04.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <h4 class="figure-caption-title"><strong>Feed Your Skin</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <h5 class="figure-caption-category"><a href="magazine-blog.html">Journalism</a></h5>
                            </div>

                            <div class=" element-top-20 element-bottom-20 recent-simple-os-container post-list">
                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="What To Do For Your Cat" src="assets/images/magazine/blog-15-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">What To Do For Your Cat</a></h4>

                                    <div class="post-list-date">
                                        December 20, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feed Your Skin" src="assets/images/magazine/blog-04-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feed Your Skin</a></h4>

                                    <div class="post-list-date">
                                        December 9, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Telling Stories in 3 Dimensions: Art Today" src="assets/images/magazine/blog-17-150x150.jpg"></a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Telling Stories in 3
                                    Dimensions: Art Today</a></h4>

                                    <div class="post-list-date">
                                        November 21, 2014
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="figure element-top-20 element-bottom-20 image-effect-zoom-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <a class="figure-image" href="magazine-index.html" target="_self">
                            <img alt="add advertisement" src="assets/images/magazine/add-01.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row vertical-middle">
                        <div class="col-md-4">
                            <hr class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>

                        <div class="col-md-4">
                            <h1 class="text-center element-top-20 element-bottom-20 os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Latest
                            posts</h1>
                        </div>

                        <div class="col-md-4">
                            <hr class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>
                    </div>

                    <div class="element-top-20 element-bottom-20 recent-simple-os-container row">
                        <div class="col-md-4">
                            <article class="post-grid element-bottom-20 text-left" id="post-45">
                                <a href="magazine-post.html">
                                    <img alt="Beauty Trends : An Ode To Malls" class="img-responsive" src="assets/images/magazine/blog-07.jpg">
                                </a>

                                <div class="post-grid-content">
                                    <h3 class="post-grid-content-title">
                                        <a href="magazine-post.html">Beauty Trends : An Ode To Malls</a>
                                    </h3>

                                    <p>Fame was like a drug. But what was even more like a drug were the drugs. I can&#8217;t go to juvie. They use guys like me as currency. Uh, no, they&#8217;re
                                    saying &#8220;Boo-urns, Boo-urns.&#8221; A woman is a lot like a refrigerator. Six feet tall, 300 pounds&hellip;it makes ice. Beer. Now there&#8217;s a temporary
                                    solution.</p>

                                    <div class="post-grid-content-footer">
                                        Christos , November 18, 2014
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-md-4" data-os-animation="none" data-os-animation-delay="0s">
                            <article class="post-grid element-bottom-20 text-left" id="post-49">
                                <a href="magazine-post.html">
                                    <img alt="Easily Mount Your Phone" class="img-responsive" src="assets/images/magazine/blog-06.jpg">
                                </a>

                                <div class="post-grid-content">
                                    <h3 class="post-grid-content-title">
                                        <a href="magazine-post.html">Easily Mount Your Phone</a>
                                    </h3>

                                    <p>Lambdium is one of the most magnetic substances around, so it’s about time it was put to good use. The Lambda S is a small chunk of the stuff, which you can
                                    stick pretty much anywhere, and use to mount your phone, or even a tablet. Right now, it has 16% off.</p>

                                    <div class="post-grid-content-footer">
                                        langan , October 19, 2014
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-md-4" data-os-animation="none" data-os-animation-delay="0s">
                            <article class="post-grid element-bottom-20 text-left" id="post-50">
                                <a href="magazine-post.html">
                                    <img alt="Cage a Handful of Beads In Wire" class="img-responsive" src="assets/images/magazine/blog-02.jpg">
                                </a>

                                <div class="post-grid-content">
                                    <h3 class="post-grid-content-title">
                                        <a href="magazine-post.html">Cage a Handful of Beads In Wire</a>
                                    </h3>

                                    <p>Though the design is simple, the clustering of avant-garde, galactic, and de-art shapes creates a geometric, old-meets-new look. If you prefer to attach each
                                    crystal with jump rings, you can buy galactic pendants instead of galactic crystals. Just search &#8220;galactic drop&#8221; or &#8220;galactic vertical
                                    pendant.&#8221;</p>

                                    <div class="post-grid-content-footer">
                                        Christos , August 27, 2014
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row vertical-middle">
                        <div class="col-md-4">
                            <hr class=" os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>

                        <div class="col-md-4">
                            <h1 class="text-center element-top-20 element-bottom-20 os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Don&#8217;t
                            Miss</h1>
                        </div>

                        <div class="col-md-4">
                            <hr class=" os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="element-top-20 recent-simple-os-container row">
                                <div class="col-md-6 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/blog-09.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">Feel-Good Food</h4>

                                                <div class="post-grid-content-footer">
                                                    Christos , January 22, 2015
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="col-md-6 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/blog-15.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">What To Do For Your Cat</h4>

                                                <div class="post-grid-content-footer">
                                                    Christos , December 20, 2014
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="col-md-6 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/blog-11.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">The Sweet Lure Of Chocolate</h4>

                                                <div class="post-grid-content-footer">
                                                    Christos , December 15, 2014
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="col-md-6 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/digital-tablet-screen.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">Infographic – Social Media Addiction</h4>

                                                <div class="post-grid-content-footer">
                                                    Christos , November 29, 2014
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="figure element-top-20 image-effect-zoom-in block os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a class="figure-image" href="magazine-post.html" target="_self">
                                    <img alt="add advertisement" src="assets/images/magazine/add-02.jpg">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row vertical-middle">
                        <div class="col-md-12">
                            <div class="element-bottom-30 recent-simple-os-container row">
                                <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-42" style="background-image: url(assets/images/magazine/blog-12.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">15 Reasons to Visit Lambda</h4>

                                                <div class="post-grid-content-footer">
                                                    langan , November 30, 2014
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/magazine/blog-20.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">It’s Not Wine, It’s Not Beer, It&#8217;s Lambda</h4>

                                                <div class="post-grid-content-footer">
                                                    Christos , October 29, 2014
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="col-md-4 recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <article class="post-grid post-grid-overlay element-bottom-20 text-left" style=
                                    "background-image: url(assets/images/magazine/blog-06.jpg)">
                                        <a href="magazine-post.html">
                                            <div class="post-grid-content">
                                                <h4 class="post-grid-content-title">Easily Mount Your Phone</h4>

                                                <div class="post-grid-content-footer">
                                                    langan , October 19, 2014
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}