{% extends "layouts/magazine.html" %}

{% set title = "Magazine" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section section-inner-shadow">
        <div class="background-media" style="background-image: url(assets/images/magazine/blog-17.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(170,189,196,0.9);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-20 element-bottom-20 text-light normal" data-os-animation="none" data-os-animation-delay="0s">Social Media</h1>

                    <ol class="breadcrumb breadcrumb-blog text-lowercase element-top-20">
                        <li>
                            <a href="magazine-index.html">home</a>
                        </li>

                        <li>
                            <a href="magazine-blog.html">blog</a>
                        </li>

                        <li>Social Media</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9 blog-list-layout-left">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="magazine-post.html"><img alt="Feel-Good Food" src="assets/images/magazine/blog-09.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="magazine-post.html" rel="bookmark" title="Permalink to Feel-Good Food">Feel-Good Food</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> January 22, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="magazine-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i><a href="magazine-blog.html" rel="tag">Creative</a>,
                                    <a href="magazine-blog.html" rel="tag">Journal</a>,
                                    <a href="magazine-blog.html" rel="tag">Social Media</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>This spicy-hot root does plenty for an efficiently-functioning digestive system, thanks to anti-inflammatory phytonutrients known as gingerols that work to alleviate a
                            distressed tract. According to ayurvedic medicine tradition, ginger is a potent healer in all stages of the digestion process.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link" href="magazine-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="video-wrapper feature-video">
                                <iframe frameborder="0" height="658" src="//player.vimeo.com/video/57875730" title="Animal" width="1170"></iframe>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="magazine-post.html" rel="bookmark" title="Permalink to What To Do For Your Cat">What To Do For Your Cat</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> December 20, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="magazine-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i> <a href="magazine-blog.html" rel="tag">Journalism</a>, <a href="magazine-blog.html" rel=
                                "tag">Social Media</a></span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Whenever your cat exhibits a prolonged change in appetite, your first step is to rule out illness, parasites or other medical conditions. Dental problems, such as pain
                            from tooth or gum disease, can make a dog avoid eating.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link" href="magazine-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="magazine-post.html" rel="bookmark" title="Permalink to The Sweet Lure Of Chocolate">The Sweet Lure Of Chocolate</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> December 15, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="magazine-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i> <a href="magazine-blog.html" rel="tag">Journal</a>,
                                    <a href="magazine-blog.html" rel="tag">Social Media</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Chocolate. There are few foods that people feel as passionate about &#8212; a passion that goes beyond a love for the &#8220;sweetness&#8221; of most candies or
                            desserts: after all, few people crave caramel, whipped cream, or bubble gum. For the true chocoholic, just thinking about chocolate can evoke a pleasurable response.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link" href="magazine-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="Infographic – Social Media Addiction" src="assets/images/magazine/digital-tablet-screen.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="magazine-post.html" rel="bookmark" title="Permalink to Infographic – Social Media Addiction">Infographic – Social Media Addiction</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> November 29, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="magazine-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i><a href="magazine-blog.html" rel="tag">Social Media</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>…Are you suggesting that coconuts migrate? How do you know she is a witch? On second thoughts, let&#8217;s not go there. It is a silly place. Where&#8217;d you get the
                            coconuts? Oh! Come and see the violence inherent in the system! Help, help, I&#8217;m being repressed!</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link" href="magazine-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="flexslider flex-controls-bottom" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="show" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="none" data-os-animation-delay="0s" id="flexslider-78">
                                <ul class="slides">
                                    <li>
                                        <figure>
                                            <img alt="blog-03" src="assets/images/magazine/blog-03.jpg">
                                        </figure>
                                    </li>

                                    <li>
                                        <figure>
                                            <img alt="blog-01" src="assets/images/magazine/blog-01.jpg">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="magazine-post.html" rel="bookmark" title="Permalink to Last-Minute Decorating Ideas From Lambda">Last-Minute Decorating Ideas From Lambda</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> August 2, 2014
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="magazine-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i><a href="magazine-blog.html" rel="tag">Creative</a>,
                                    <a href="magazine-blog.html" rel="tag">Social Media</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Try natural elements that smell and looks great: eucalyptus garlands, pine, winter trees and foliage. I recommend investing in nice glassware for the holidays. Impress
                            guests with recipes for champagne cocktails and mulled wine. Make any food or drink look stunning.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link" href="magazine-post.html">read more</a>
                        </div>
                    </article>
                </div>
                {% include "partials/magazine/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}