{% extends "layouts/magazine.html" %}

{% set title = "Advertise With Us | Magazine" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section section-inner-shadow">
        <div class="background-media" style=
        "background-image: url(assets/images/magazine/blog-17.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(170,189,196,0.9);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-20 element-bottom-20 text-light normal">Advertise with us</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-text-1 element-top-30 element-bottom-20">
                            <p>Buy an advert on any of our web pages and let your business be seen by thousands of our visitors. We offer ads as Text Link and Banner Ads. A text link is a title or
                            phrase (maximum 30 characters) that when clicked, our visitor is redirected to your website/blog.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="figure element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                                    <span class="figure-image"><img alt="" src="assets/images/magazine/add-04.jpg"></span>
                                </div>
                            </div>

                            <div class="col-md-4 text-default small-screen-default">
                                <div class="figure element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                                    <span class="figure-image"><img alt="" src="assets/images/magazine/add-051.jpg"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-text-1 text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                            <p>The choice of your title or phrase determines the number of users that click your link. It is very important to choose your words carefully. Banner Ads are images or
                            animated images in jpg, jpeg, bmp or gif format. If you do not have a banner, use can use the same space with text. Your banner must be hosted in your website however we
                            can host your banner for a small fee. Business owners and affiliates may take this opportunity to attract traffic to their website, blog or affiliate link. Your ad is
                            permanent for the time period purchased, that is, your ad will not be in rotation with other ads. Please read our Terms of Service carefully before you purchase any
                            ad.</p>
                        </div>

                        <div class="figure element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <a class="figure-image magnific" href="assets/images/magazine/add-061.jpg" target="_self"><img alt="" src=
                            "assets/images/magazine/add-061.jpg"></a>
                        </div>

                        <div class="col-text-1 text-normal element-top-20 element-bottom-30" data-os-animation="none" data-os-animation-delay="0s">
                            <p>The choice of your title or phrase determines the number of users that click your link. It is very important to choose your words carefully. Banner Ads are images or
                            animated images in jpg, jpeg, bmp or gif format. If you do not have a banner, use can use the same space with text. Your banner must be hosted in your website however we
                            can host your banner for a small fee. Business owners and affiliates may take this opportunity to attract traffic to their website, blog or affiliate link. Your ad is
                            permanent for the time period purchased, that is, your ad will not be in rotation with other ads. Please read our Terms of Service carefully before you purchase any
                            ad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</article>
{% endblock %}