{% extends "layouts/magazine.html" %}

{% set title = "About | Magazine" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section section-inner-shadow">
        <div class="background-media" style=
        "background-image: url(assets/images/magazine/blog-17.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(170,189,196,0.9);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-20 element-bottom-20 text-light normal">About</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9">
                    <article>
                        <p><img alt="kaboompics.com_Hand-using-stylus-pen-for-touching-the-digital-tablet-screen" class="alignnone" height="855" src=
                        "assets/images/magazine/digital-tablet-screen.jpg" width="1200"></p>

                        <p>Hey, whatcha watching? You know, I was God once. Uh, is the puppy mechanical in any way? Too much work. Let&#8217;s burn it and say we dumped it in the sewer.</p>

                        <p>This is the worst kind of discrimination: the kind against me! Oh, how I wish I could believe or understand that! There&#8217;s only one reasonable course of action now:
                        kill Flexo! Bite my shiny metal ass. Ah, computer dating. It&#8217;s like pimping, but you rarely have to use the phrase &#8220;upside your head.&#8221;</p>

                        <p>Robot 1-X, save my friends! And Zoidberg! Well, then good news! It&#8217;s a suppository. Or a guy who burns down a bar for the insurance money! When the lights go out,
                        it&#8217;s nobody&#8217;s business what goes on between two consenting adults.</p>

                        <p>Bite my shiny metal ass. I never loved you. Bender?! You stole the atom. No, she&#8217;ll probably make me do it. And I&#8217;m his friend Jesus. What are their names?</p>

                        <p>Yes. You gave me a dollar and some candy. Professor, make a woman out of me. Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood! Ah,
                        computer dating. It&#8217;s like pimping, but you rarely have to use the phrase &#8220;upside your head.&#8221; There&#8217;s no part of that sentence I didn&#8217;t like!
                        Throw her in the brig.</p>

                        <p>Do a flip! I love this planet! I&#8217;ve got wealth, fame, and access to the depths of sleaze that those things bring. But I know you in the future. I cleaned your poop.
                        Large bet on myself in round one.</p>

                        <blockquote>
                            <p>Leela, Bender, we&#8217;re going grave robbing. It&#8217;s just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns
                            for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he
                            got a race car. Is any of this getting through to you? Hey, whatcha watching? Tell her you just want to talk. It has nothing to do with mating.</p>
                        </blockquote>

                        <p>Oh yeah, good luck with that. You mean while I&#8217;m sleeping in it? Soon enough. You guys realize you live in a sewer, right?</p>

                        <p>Negative, bossy meat creature! No, of course not. It was&hellip; uh&hellip; porno. Yeah, that&#8217;s it. Alright, let&#8217;s mafia things up a bit. Joey, burn down the
                        ship. Clamps, burn down the crew.</p>

                        <p>You guys aren&#8217;t Santa! You&#8217;re not even robots. How dare you lie in front of Jesus? Soon enough. I&#8217;ve been there. My folks were always on me to groom
                        myself and wear underpants. What am I, the pope?</p>

                        <p>Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. Five hours? Aw, man! Couldn&#8217;t you just get me the death penalty? I decline
                        the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh&hellip; also, comes with double prize money. You wouldn&#8217;t. Ask anyway!</p>

                        <p>I&#8217;m a thing. That&#8217;s right, baby. I ain&#8217;t your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him! OK, if everyone&#8217;s
                        finished being stupid.</p>

                        <p>I love this planet! I&#8217;ve got wealth, fame, and access to the depths of sleaze that those things bring. Oh no! The professor will hit me! But if Zoidberg
                        &#8216;fixes&#8217; it&hellip; then perhaps gifts! Yeah. Give a little credit to our public schools. I barely knew Philip, but as a clergyman I have no problem telling his
                        most intimate friends all about him. Daddy Bender, we&#8217;re hungry.</p>
                    </article>
                </div>
                {% include "partials/magazine/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}