{% extends "layouts/magazine.html" %}

{% set title = "Headlines | Magazine" %}
{% set activeMenu = "Home" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="bigtext regular blacklight element-top-30 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s"><span>catch your audience&#8217;s attention</span></h1>

                    <h1 class="bigtext black element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"><span>with fat titles</span></h1>

                    <h1 class="bigtext regular blacklight element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s"><span>all responsive and ultra flexible</span></h1>
                    <hr class=" element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">

                    <h1 class="bigtext regular element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s"><span>Make your headlines stand out and will always fit the available width</span></h1>
                    <hr class=" element-top-10 element-bottom-20">

                    <div class="col-text-3 element-top-20 element-bottom-20">
                        <p>Throw her in the brig. We can&#8217;t compete with Mom! Her company is big and evil! Ours is small and neutral! Goodbye, friends. I never thought I&#8217;d die like this.
                        But I always really hoped. Bender?! You stole the atom. Who said that? SURE you can die! You want to die?! Man, I&#8217;m sore all over. I feel like I just went ten rounds
                        with mighty Thor. What are their names? I&#8217;ll get my kit! Ok, we&#8217;ll go deliver this crate like professionals, and then we&#8217;ll go ride the bumper cars. Meh.
                        Yeah, I do that with my stupidness. Can I use the gun? When will that be? Um, is this the boring, peaceful kind of taking to the streets? That could be &#8216;my&#8217;
                        beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing. We can&#8217;t compete with Mom! Her company is big and evil! Ours is small and
                        neutral! I&#8217;ve got to find a way to escape the horrible ravages of youth. Suddenly, I&#8217;m going to the bathroom like clockwork, every three hours. And those jerks at
                        Social Security stopped sending me checks. Now &#8216;I&#8221; have to pay &#8221;them&#8217;! Meh. We&#8217;re rescuing ya. Yes! In your face, Gandhi! And why did
                        &#8216;I&#8217; have to take a cab? You&#8217;re going to do his laundry?</p>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="figure fade-none element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-scroll-left">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="Infographic – Social Media Addiction" src="assets/images/magazine/digital-tablet-screen.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <h3 class="figure-caption-title"><strong>Infographic – Social Media Addiction</strong></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <h5 class="figure-caption-category"><a href="magazine/blog.html">Social Media</a></h5>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <hr class="element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">

                            <h1 class="bigtext black element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"><span>Just the right size</span></h1>

                            <h1 class="bigtext regular blacklight element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"><span>for your awesome nice content</span></h1>
                            <hr class=" element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">

                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>Throw her in the brig. We can&#8217;t compete with Mom! Her company is big and evil! Ours is small and neutral! Goodbye, friends. I never thought I&#8217;d die like
                                this. But I always really hoped. Bender?! You stole the atom. Who said that? SURE you can die! You want to die?! Man, I&#8217;m sore all over. I feel like I just went
                                ten rounds with mighty Thor. What are their names? I&#8217;ll get my kit! Ok, we&#8217;ll go deliver this crate like professionals, and then we&#8217;ll go ride the
                                bumper cars. Meh. Yeah, I do that with my stupidness. Can I use the gun? When will that be? Um, is this the boring, peaceful kind of taking to the streets? That could
                                be &#8216;my&#8217; beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="figure element-top-20 element-bottom-20 image-effect-zoom-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <a class="figure-image" href="magazine-index.html" target="_self">
                            <img alt="add advertisement" src="assets/images/magazine/add-01.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row vertical-middle">
                        <div class="col-md-12">
                            <h2 class="bigtext bold element-top-30 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s"><span>BIG &amp; BOLD
                            HEADLINES</span></h2>
                            <hr class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">

                            <h2 class="bigtext regular blacklight element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s"><span>The best
                            way to make your headings stand out and look ace</span></h2>
                            <hr class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">

                            <div class="col-text-3 element-top-20 element-bottom-20">
                                <p><img alt="blog-17" class="alignnone size-square-image  element-top-10" height="600" src=
                                "assets/images/magazine/blog-17-600x600.jpg" width="600"> Your best is an idiot! Who&#8217;s brave enough to fly
                                into something we all keep calling a death sphere? Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his wife holding up? …To shreds,
                                you say. I&#8217;m sure those windmills will keep them cool. Morbo can&#8217;t understand his teleprompter because he forgot how you say that letter that&#8217;s
                                shaped like a man wearing a hat. Fry! Quit doing the right thing, you jerk! I&#8217;ll tell them you went down prying the wedding ring off his cold, dead finger. Shut
                                up and take my money! Aww, it&#8217;s true. I&#8217;ve been hiding it for so long. Dear God, they&#8217;ll be killed on our doorstep! And there&#8217;s no trash pickup
                                until January 3rd. Man, I&#8217;m sore all over. I feel like I just went ten rounds with mighty Thor. A true inspiration for the children. Tell her you just want to
                                talk. It has nothing to do with mating. Fry, you can&#8217;t just sit here in the dark listening to classical music. This opera&#8217;s as lousy as it is brilliant!
                                Your lyrics lack subtlety. You can&#8217;t just have your characters announce how they feel. That makes me feel angry! So, how &#8217;bout them Knicks? I videotape
                                every customer that comes in here, so that I may blackmail them later. But existing is basically all I do! I suppose I could part with &#8216;one&#8217; and still be
                                feared… Spare me your space age technobabble, Attila the Hun! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!</p>

                                <blockquote>
                                    <p>So, how &#8217;bout them Knicks? It&#8217;s okay, Bender. I like cooking too. I found what I need. And it&#8217;s not friends, it&#8217;s things. What are their
                                    names?</p>
                                </blockquote>

                                <p>Now Fry, it&#8217;s been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal? Bite my shiny metal ass. Ask her how her
                                day was. Yes. You gave me a dollar and some candy. You mean while I&#8217;m sleeping in it? Tell her she looks thin. Is that a cooking show? You&#8217;re going to do
                                his laundry? Then throw her in the laundry room, which will hereafter be referred to as &#8220;the brig&#8221;.</p>
                            </div>
                            <hr class=" element-top-30 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="figure fade-none element-top-30  figcaption-bottom text-left image-filter-none image-effect-scroll-left os-animation" data-os-animation=
                            "fadeIn" data-os-animation-delay="0.2s">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <h4 class="figure-caption-title"><strong>The Sweet Lure Of Chocolate</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <h5 class="figure-caption-category"><a href="magazine-blog.html">Journal</a></h5>
                            </div>

                            <div class=" element-top-20 element-bottom-20 recent-simple-os-container post-list">
                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feel-Good Food" src="assets/images/magazine/blog-09.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feel-Good Food</a></h4>

                                    <div class="post-list-date">
                                        January 22, 2015
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="What To Do For Your Cat" src="assets/images/magazine/blog-15.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">What To Do For Your Cat</a></h4>

                                    <div class="post-list-date">
                                        December 20, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">The Sweet Lure Of Chocolate</a></h4>

                                    <div class="post-list-date">
                                        December 15, 2014
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="figure fade-none element-top-30  figcaption-bottom text-left image-filter-none image-effect-scroll-left os-animation" data-os-animation=
                            "fadeIn" data-os-animation-delay="0.2s">
                                <a class="figure-image" href="magazine-post.html">
                                    <img alt="Pairing Beans with Brewers" src="assets/images/magazine/blog-18.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <h4 class="figure-caption-title"><strong>Pairing Beans with Brewers</strong></h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <h5 class="figure-caption-category"><a href="magazine-blog.html">Fashion</a></h5>
                            </div>

                            <div class=" element-top-20 element-bottom-20 recent-simple-os-container post-list">
                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feel-Good Food" src="assets/images/magazine/blog-09-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feel-Good Food</a></h4>

                                    <div class="post-list-date">
                                        January 22, 2015
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="The Sweet Lure Of Chocolate" src="assets/images/magazine/blog-11-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">The Sweet Lure Of Chocolate</a></h4>

                                    <div class="post-list-date">
                                        December 15, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                                    <a class="post-list-image" href="magazine-post.html"><img alt="Feed Your Skin" src=
                                    "assets/images/magazine/blog-04-150x150.jpg"></a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feed Your Skin</a></h4>

                                    <div class="post-list-date">
                                        December 9, 2014
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="figure fade-none element-top-30  figcaption-bottom text-left image-filter-none image-effect-scroll-left os-animation" data-os-animation=
                            "fadeIn" data-os-animation-delay="0.2s">
                                <a class="figure-image" href="magazine-post.html"><img alt="Feed Your Skin" src="assets/images/magazine/blog-04.jpg">

                                <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption">
                                            <h4 class="figure-caption-title"><strong>Feed Your Skin</strong></h4>
                                        </div>
                                    </div>
                                </div></a>

                                <h5 class="figure-caption-category"><a href="magazine-blog.html">Journalism</a></h5>
                            </div>

                            <div class=" element-top-20 element-bottom-20 recent-simple-os-container post-list">
                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="What To Do For Your Cat" src="assets/images/magazine/blog-15-150x150.jpg"></a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">What To Do For Your Cat</a></h4>

                                    <div class="post-list-date">
                                        December 20, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                    <a class="post-list-image" href="magazine-post.html">
                                        <img alt="Feed Your Skin" src="assets/images/magazine/blog-04-150x150.jpg">
                                    </a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Feed Your Skin</a></h4>

                                    <div class="post-list-date">
                                        December 9, 2014
                                    </div>
                                </div>

                                <div class="recent-simple-os-animation" data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="post-list-image" href="magazine-post.html">     <img alt="Telling Stories in 3 Dimensions: Art Today" src="assets/images/magazine/blog-17-150x150.jpg"></a>

                                    <h4 class="post-list-title"><a href="magazine-post.html">Telling Stories in 3
                                    Dimensions: Art Today</a></h4>

                                    <div class="post-list-date">
                                        November 21, 2014
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-30"></div>
                        <div class="visible-lg element-height-30"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}