{% extends "layouts/medical.html" %}

{% set title = "Working in the OR as a nurse | Medical" %}
{% set sidebarClasses = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(1,192,225,1);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-70 element-bottom-70 text-light big default" data-0-top-bottom="opacity:0" data-center="opacity:1" data-start="opacity:1">Latest news</h1>

                    <ol class="breadcrumb breadcrumb-blog text-lowercase element-top-70">
                        <li>
                            <a href="medical-index.html">home</a>
                        </li>

                        <li>
                            <a href="medical-blog.html">blog</a>
                        </li>

                        <li>
                            <a href="medical-blog.html" rel="tag">General surgery</a>
                        </li>

                        <li class="active">Working in the OR as a nurse</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-9 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/medical/img9-notinclude.jpg">
                                    <img alt="The importance of SEO" src="assets/images/medical/img9-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h1 class="post-title">Working in the OR as a nurse</h1>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i>
                                    July 3, 2015    </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="#">
                                        oxygenna        </a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="medical-blog.html" rel="tag">General surgery</a>    </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">1 comment</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p><strong>&nbsp;</strong>A registered nurse first assistant is a very specialized area of nursing. An RN first assistant assists the surgeon during a surgical procedure. The exact
                            <strong>responsibilities</strong> vary depending on the type of surgery and the individual surgeon’s preference. But RN first assistants generally control bleeding, suture incisions and
                            intervene during complications. For example, if a patient develops an abnormal heart rhythm during the procedure, an RN first assistant may administer medication to treat the condition.
                            <strong>&nbsp;</strong></p>

                            <p>RN first assistants may also care for patients before surgery, such as providing pre-operative instructions or answering questions. After surgical procedures, RN first assistants may
                            <strong>assess</strong> patients to see how they are recovering and provide discharge instructions.</p>

                            <p>All three areas of surgical nursing are different and may have different requirements to get started. Nurses interested in working in the operating room will need to become registered
                            nurses. Although some facilities may hire nurses with a two-year degree, many <strong>hospitals</strong> prefer to hire nurses with a bachelor’s degree.</p>

                            <p>Nursing school will include classes in microbiology, nutrition and community health nursing. Clinical rotations in areas, such as pediatrics, emergency room care, and obstetrics is also
                            part of most nursing school’s curriculums.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="medical-blog.html"
                                        rel="tag">general surgery</a>
                                        <a href="medical-blog.html"
                                        rel="tag">nurse</a>
                                        <a href="medical-blog.html"
                                        rel="tag">OR</a>
                                         <a href="medical-blog.html"
                                        rel="tag">surgery</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <ul class="social-icons social-sm social-simple social-circle">
                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#00acee">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#dd1812">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#3b5998">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"  data-iconcolor="#C92228">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="corporate-standard-post.html" rel="prev">
                                    <i class="fa fa-angle-left"></i>
                                Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="corporate-standard-post.html"
                                rel="next">Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->
                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" style="background-image: url(assets/images/medical/img8-notinclude-600x400.jpg)">
                                    <a href="medical-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Open Appendectomy &#038; Risks</h3>

                                            <div class="post-grid-content-footer">
                                                proistak , July 25, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>

                    <div class="comments padded" id="comments">
                        <div class="comments-head">
                            <h3>2 comments</h3><small>Join the
                            conversation</small>
                        </div>

                        <ul class="comments-list comments-body media-list">
                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="corporate-about-us.html">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team11-notinclude.jpg' width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div>
                                            <h4 class="media-heading clearfix">
                                            <strong>Proistakis Manos</strong> -
                                            June 13, 2014 <strong class=
                                            "comment-reply pull-right"><a class='comment-reply-link' href='#'>
                                            reply</a></strong></h4>

                                            <p>Money is important in life, but
                                            it’s more important to not be
                                            consumed by it. Remember that
                                            there’s more to life than just
                                            buying things. Go out and live.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="media media-comment">
                                <div class="media-avatar media-left">
                                    <a href="corporate-about-us.html">
                                        <img alt='team' class='img-circle' height='48' src='assets/images/corporate/team11-notinclude.jpg' width='48'>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <div class="media-inner">
                                        <div id="comment-7">
                                            <h4 class="media-heading clearfix">
                                            <strong>Pantazis Christos</strong> -
                                            January 29, 2015 <strong class="comment-reply pull-right"><a class='comment-reply-link'
                                            href='team11-notinclude.jpg'>
                                            reply</a></strong></h4>

                                            <p>And now, in the spirit of the
                                            season: start shopping. And for
                                            every dollar of Krusty merchandise
                                            you buy, I will be nice to a sick
                                            kid. For legal purposes, sick kids
                                            may include hookers with a
                                            cold.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply <small><a href=
                        "/corporate/2014/09/25/the-importance-of-seo/#respond"
                        id="cancel-comment-reply-link" rel="nofollow" style=
                        "display:none;">Cancel reply</a></small></h3>

                        <form class="comment-form" id="commentform" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class=
                                    "input-block-level form-control" id=
                                    "author" name="author" type="text" value=
                                    "">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class=
                                    "input-block-level form-control" id="email"
                                    name="email" type="text" value="">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for=
                                    "url">Website</label><input class=
                                    "input-block-level form-control" id="url"
                                    name="url" type="text" value="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class=
                                    "input-block-level form-control" id=
                                    "comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
                {% include "partials/medical/sidebar.html" %}
            </div>
        </div>
    </section>
</article>
{% endblock %}