{% extends "layouts/medical.html" %}

{% set title = "Book an appointment | Medical" %}
{% set activeMenu = "Appointments" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/medical/img7-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(44,137,159,0.2);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <h1 class="text-center element-top-100 element-bottom-100 text-light normal regular">Appointment Preparation</h1>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-container row element-top-50 element-bottom-50 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <div class="col-md-4 element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <span class="service-simple-image">
                                <img alt="Symptoms and concerns" src="assets/images/medical/hospital-faclities-blue.png">
                            </span>

                            <h2>Symptoms and concerns</h2>

                            <p>Write down your symptoms, complaints, and concerns. If you do this before you arrive at your doctor's office, you won't forget to mention important details.</p>
                        </div>

                        <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <span class="service-simple-image">
                                <img alt="Questions" src="assets/images/medical/medical-examination-blue1.png">
                            </span>

                            <h2>Questions</h2>

                            <p>Write down any questions you want to ask your doctor. Writing them down may trigger a few more that you hadn't originally considered.</p>
                        </div>

                        <div class="col-md-4 text-normal element-top-0 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <span class="service-simple-image">
                                <img alt="Treatment plan" src="assets/images/medical/alternative-treatment-blue.png">
                            </span>

                            <h2>Treatment plan</h2>

                            <p>Ask what the next steps are in your treatment plan. Your doctor may have told you that you need a laboratory test, or physical therapy, or a new medication.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/medical/img3-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center small-screen-center">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 text-center"></div>

                        <div class="col-md-6 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="background:rgba(255, 255, 255, 0.85);">
                            <h1 class="text-center element-top-60 element-bottom-0 text-normal normal regular" data-os-animation="none" data-os-animation-delay="0s">Book an appointment now</h1>

                            <div class="divider-border divider-border-center element-top-20 element-bottom-30" data-os-animation="none" data-os-animation-delay="0s">
                                <div class="divider-border-inner"></div>
                            </div>
                            <form action="contact_mailer_reservation.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group text-left form-icon-group">
                                            <label>Your email</label><br>
                                            <input type="email" name="email"  size="40" class="form-control" placeholder="Your email *" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  text-left">
                                            <label>When would you like to book?</label>
                                            <div class="date-wrapper">
                                                <input type="text" name="datepicker" size="40" class="form-control datepicker" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group  text-left">
                                            <label>What time?</label>
                                            <br>
                                            <select name="hour">
                                                <option value="18:00">
                                                    18:00
                                                </option>
                                                <option value="18:30">
                                                    18:30
                                                </option>
                                                <option value="19:00">
                                                    19:00
                                                </option>
                                                <option value="19:30">
                                                    19:30
                                                </option>
                                                <option value="20:00">
                                                    20:00
                                                </option>
                                                <option value="20:30">
                                                    20:30
                                                </option>
                                                <option value="21:00">
                                                    21:00
                                                </option>
                                                <option value="21:30">
                                                    21:30
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  text-left">
                                            <label>Department</label>
                                            <br>
                                            <select name="size">
                                                <option value="cardiology">Cardiology</option>
                                                <option value="dentistry">dentistry</option>
                                                <option value="general-surgery">General Surgery</option>
                                                <option value="opthalmic">Opthalmic</option>
                                                <option value="or">OR</option>
                                                <option value="orthopedic">Orthopedic</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <input type="submit" value="Book an appointment" class="btn btn-primary btn-lg">
                                </div>
                                <div class="messages"></div>
                            </form>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                        </div>

                        <div class="col-md-3"></div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}