{% extends "layouts/medical.html" %}

{% set title = "About Our Clinic | Medical" %}
{% set activeMenu = "About Our Clinic" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media">
            <video autoplay="autoplay" class="section-background-video" loop="loop" poster="assets/images/medical/img5-notinclude.jpg" style="width: 100%; height: 100%;">
            <source src="http://theme-background-videos.s3.amazonaws.com/doctors-1.mp4" type="video/mp4">
            <source src="http://theme-background-videos.s3.amazonaws.com/doctors-1.webm" type="video/webm"></video>
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(44,137,159,0.2);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-100 element-bottom-100 text-light normal regular">About Our Clinic</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(240,240,240,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-left element-top-80 element-bottom-0 text-normal os-animation normal regular" data-os-animation="fadeInLeft" data-os-animation-delay="0s">Why us?</h1>

                    <div class="divider-border divider-border-left element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>

                    <div class="col-text-1 text-normal element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                        <p>Here are just a few reasons why you should choose our Lambda Medical Clinic urgent care clinic as your primary location for healthcare needs:</p>
                    </div>

                    <div class="panel-group element-top-0 element-bottom-80 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s" id="accordion_731">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-parent="#accordion_731" data-toggle="collapse" href="#group_347">Patient-Centered</a>
                            </div>

                            <div class="panel-collapse collapse" id="group_347">
                                <div class="panel-body">
                                    <div class="col-text-1 text-normal element-top-0 element-bottom-0">
                                        <p>Decisions and operations sustain and enhance patients&#8217; dignity and welfare.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-parent="#accordion_731" data-toggle="collapse" href="#group_563">Caring</a>
                            </div>

                            <div class="panel-collapse collapse" id="group_563">
                                <div class="panel-body">
                                    <div class="col-text-1 text-normal element-top-0 element-bottom-0">
                                        <p>Relationships between staff and patients promote continuity of care and support patient self-care and wellness.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-parent="#accordion_731" data-toggle="collapse" href="#group_818">Community-oriented</a>
                            </div>

                            <div class="panel-collapse collapse" id="group_818">
                                <div class="panel-body">
                                    <div class="col-text-1 text-normal element-top-0 element-bottom-0">
                                        <p>Clinic outreach efforts expand and support healthcare.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-parent="#accordion_731" data-toggle="collapse" href="#group_982">Mutually respectful</a>
                            </div>

                            <div class="panel-collapse collapse" id="group_982">
                                <div class="panel-body">
                                    <div class="col-text-1 text-normal element-top-0 element-bottom-0">
                                        <p>We recognize and appreciate each individual&#8217;s contributions to achieving the Clinic&#8217;s mission and to creating a rewarding and pleasant
                                        workplace.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h1 class="text-left element-top-80 element-bottom-0 text-normal os-animation normal regular" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">Our Skills</h1>

                    <div class="divider-border divider-border-left element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>

                    <div class="col-text-1 text-normal element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                        <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. I have traced the Rebel spies to her. Now she is my only link to finding their
                        secret base. Alderaan? I&#8217;m not going to Alderaan. I&#8217;ve got to go home.</p>
                    </div>

                    <div class="progress element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="progress-bar progress-bar-primary" style="width: 99%;">
                            <span>Surgery</span>
                        </div>
                    </div>

                    <div class="progress element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="progress-bar progress-bar-primary" style="width: 85%;">
                            <span>Emergency Department</span>
                        </div>
                    </div>

                    <div class="progress element-top-0 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="progress-bar progress-bar-primary" style="width: 68%;">
                            <span>Hospital Medicine</span>
                        </div>
                    </div>

                    <div class="progress element-top-0 element-bottom-80 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="progress-bar progress-bar-primary" style="width: 36%;">
                            <span>Aged Care</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 0px" data-start="background-position: 50% -0px" style="background-image: url(assets/images/medical/img4-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(1,192,225,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center small-screen-center"></div>

                <div class="col-md-6">
                    <div class="panel element-top-50 element-bottom-50">
                        <div class="panel-body" style="background-color:rgba(255, 255, 255, 0.85);">
                            <h2 class="text-center element-top-40 element-bottom-0 text-normal os-animation big regular" data-os-animation="fadeIn" data-os-animation-delay="0s">About Our Clinic</h2>

                            <div class="divider-border divider-border-center element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style=
                            "height:3px;">
                                <div class="divider-border-inner" style="width:60px;"></div>
                            </div>

                            <div class="col-text-1 text-normal element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <p style="text-align: center;">Lambda Medical Clinic offers you and your family a variety of services, whether it&#8217;s urgent care services or a quick check-up.
                                Sickness and fever are easily overcome at our clinic with the help of trained physicians and medical assistants. Our walk-in clinic is open everyday with extended
                                hours for a majority of your medical needs. We have Board Certified Physicians on site at all times, as well as experienced and compassionate nurses.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}