{% extends "layouts/personal.html" %}

{% set title = "Personal" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
{% endblock %}

{% block content %}
<article>
    <section class="section section-text-shadow section-fullheight" id="about">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style=
        "background-image: url(assets/images/personal/personal-1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-2"></div>

                <div class="col-md-8 text-center">
                    <h1 class=
                    "element-top-60 element-bottom-0 text-light os-animation bigger light"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Hi there, I&#8217;m Mr Lambda
                    </h1>

                    <p class="lead text-light element-top-0 element-bottom-60 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        I’m a passionate web designer, photographer and brand
                        developer.<br>
                        Based in London and always excited to work on new
                        projects
                    </p>
                    <a class="scroll-to scroll-to-id element-top-20 element-bottom-20 text-light place-bottom"
                    data-os-animation="none" data-os-animation-delay="0s" href=
                    "#services" style="font-style: italic">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="text-center  element-top-80 element-bottom-0 os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        What I can do.
                    </h1>
                    <p class="lead text-center center element-top-0 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        I create a unique process for each client to ensure that business objectives are met, success is achieved and people are happy.
                    </p>
                    <div class="divider-border  divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" >
                        <div class="divider-border-inner"></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="figure element-top-40 element-bottom-0 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="web.png" src="assets/images/personal/web.png">
                        </span>
                    </div>
                    <h2 class="text-center element-top-20 element-bottom-0 os-animation normal light"
                    data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        Web Design
                    </h2>
                    <div class="col-text-1 element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <p>Lambda is designed with attention to details. Our
                        intention is to create a theme that would to look cool
                        and awesome.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class=
                    "figure element-top-40 element-bottom-0 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image">
                            <img alt="design.png" src="assets/images/personal/design.png">
                        </span>
                    </div>
                    <h2 class="text-center element-top-20 element-bottom-0 os-animation normal light"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        Branding
                    </h2>
                    <div class="col-text-1 element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        <p>Lambda is ultra flexible and lets you create
                        stunning pages easily for any kind of site out of the
                        box. Get started now.</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="figure element-top-40 element-bottom-0 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image">
                            <img alt="customise.png" src=
                        "assets/images/personal/customise.png"></span>
                    </div>
                    <h2 class="text-center element-top-20 element-bottom-0 os-animation normal light"
                    data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        App Design
                    </h2>
                    <div class="col-text-1 element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                        <p>Lambda is designed to look cool on any device from
                        mobile and tablets to desktop computers and also on
                        retina screens.</p>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="figure element-top-40 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        <span class="figure-image">
                            <img alt="admin.png" src="assets/images/personal/admin.png">
                        </span>
                    </div>
                    <h2 class="text-center element-top-20 element-bottom-0 os-animation normal light"
                    data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                        SEO
                    </h2>
                    <div class="col-text-1 element-top-20 element-bottom-80 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                        <p>Basic search engine optimisation is fundamental.
                        Lambda makes sure that your website will be always be
                        accessible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="skills">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style=
        "background-image: url(assets/images/personal/personal-2.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-6 text-left col-border-right"
                style="background:rgba(255, 255, 255, 0.8);">
                    <div class="row">
                        <div class=
                        "col-md-2"></div>

                        <div class=
                        "col-md-8">
                            <h1 class="element-top-80 element-bottom-0 os-animation normal light"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">A few of my skills</h1>
                            <p class="lead element-top-0 element-bottom-20 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">I&#8217;m a web designer crazy in love with my
                            pixels. I do all kind of graphic work and I love
                            handmade html themes.</p>
                            <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <div class="divider-border-inner" style="background:rgba(254, 68, 68, 0.55);"></div>
                            </div>

                            <div class="progress element-top-30 element-bottom-30 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay=
                            "0s">
                                <div class="progress-bar progress-bar-warning"
                                style="width: 95%;">
                                    <span>HTML</span>
                                </div>
                            </div>

                            <div class="progress element-top-30 element-bottom-30 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <div class="progress-bar progress-bar-warning"
                                style="width: 90%;">
                                    <span>CSS</span>
                                </div>
                            </div>

                            <div class="progress element-top-30 element-bottom-30 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <div class="progress-bar progress-bar-warning"
                                style="width: 78%;">
                                    <span>PHOTOSHOP</span>
                                </div>
                            </div>

                            <div class="progress element-top-30 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay=
                            "0s">
                                <div class="progress-bar progress-bar-warning"
                                style="width: 78%;">
                                    <span>TYPOGRAPHY</span>
                                </div>
                            </div>
                            <div class=
                            "progress element-top-30 element-bottom-80 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <div class="progress-bar progress-bar-warning"
                                style="width: 62%;">
                                    <span>JAVASCRIPT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center"></div>
            </div>
        </div>
    </section>
    <section class="section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class=
                    "text-center element-top-80 element-bottom-0 os-animation normal light"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                        My Work
                    </h1>
                    <p class="lead text-center center element-top-0 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">I
                        create a unique process for each client to ensure that
                        business objectives are met, success is achieved and people
                        are happy.
                    </p>
                    <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="divider-border-inner"></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-20 element-bottom-80">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio masonry no-transition" data-col-lg="3" data-col-md="3" data-col-sm="3" data-col-xs="2" data-layout="fitRows" data-padding="15">
                            <div class="masonry-item portfolio-item filter-portfolio"
                            data-comments="0" data-title="Lambda Website">
                                <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeInUp"
                                data-os-animation-delay="0s">
                                    <a class="figure-image magnific" href="assets/images/personal/p01.jpg"
                                    target="_self">
                                        <img alt="Lambda Website" class="normalwidth" src=
                                    "assets/images/personal/p01.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                "figure-caption-title bordered bordered-small">
                                                    Lambda Websit
                                                    </h3>
                                                    <p class=
                                                    "figure-caption-description">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio"
                            data-comments="0"
                            data-title="Branding Html">
                                <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeInUp"
                                data-os-animation-delay="0.1s">
                                    <a class="figure-image magnific" href=
                                    "assets/images/personal/p02.jpg"
                                    target="_self"><img alt=
                                    "Branding Html" class="normalwidth"
                                    src=
                                    "assets/images/personal/p02.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                    "figure-caption-title bordered bordered-small">
                                                    Branding Html</h3>

                                                    <p class=
                                                    "figure-caption-description">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio"
                            data-comments="0" data-menu-order="3"
                            data-title="Ultimate theme">
                                <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeInUp"
                                data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/personal/p03.jpg"
                                    target="_self">
                                        <img alt="Ultimate theme"
                                    class="normalwidth" src=
                                    "assets/images/personal/p03.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                    "figure-caption-title bordered bordered-small">
                                                    Ultimate theme</h3>

                                                    <p class=
                                                    "figure-caption-description">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-portfolio"
                            data-comments="0" data-title="Landing page">
                                <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeInUp"
                                data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific"
                                    data-links="" href=
                                    "assets/images/personal/p04.jpg"
                                    target="_self"><img alt="Landing page"
                                    class="normalwidth" src=
                                    "assets/images/personal/p04.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                    "figure-caption-title bordered bordered-small">
                                                    Landing page</h3>

                                                    <p class=
                                                    "figure-caption-description">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=
                            "masonry-item portfolio-item filter-portfolio"
                            data-comments="0" data-title="Responsive project">
                                <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeInUp"
                                data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific" href=
                                    "assets/images/personal/p05.jpg"
                                    target="_self">
                                        <img alt=
                                    "Responsive project" class="normalwidth"
                                    src="assets/images/personal/p05.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                    "figure-caption-title bordered bordered-small">
                                                    Responsive project</h3>

                                                    <p class=
                                                    "figure-caption-description">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=
                            "masonry-item portfolio-item filter-portfolio"
                            data-comments="0" data-title="Watercolour love">
                                <div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeInUp"
                                data-os-animation-delay="0.5s">
                                    <a class="figure-image magnific" href=
                                    "assets/images/personal/p06.jpg"
                                    target="_self"><img alt="Watercolour love"
                                    class="normalwidth" src=
                                    "assets/images/personal/p06.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                    "figure-caption-title bordered bordered-small">
                                                        Watercolour love
                                                    </h3>
                                                    <p class=
                                                    "figure-caption-description">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="project">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style="background-image: url(assets/images/personal/personal-3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center col-border-right">
                    <div class="figure element-top-0 element-bottom-0 os-animation"
                    data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                        <span class="figure-image">
                            <img alt="project.png" src="assets/images/personal/project.png">
                        </span>
                    </div>
                </div>

                <div class="col-md-6 text-left" style=
                "background:rgba(255, 255, 255, 0.95);">
                    <div class="row">
                        <div class=
                        "col-md-2"></div>

                        <div class=
                        "col-md-8">
                            <h1 class=
                            "element-top-60 os-animation normal light"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Latest Project
                            </h1>

                            <p class="lead element-bottom-20 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Some of my latest projects. A next generation
                                Html theme. Powerful and awesome, the most
                                advanced theme ever.
                            </p>

                            <div class="divider-border divider-border-left element-top-20 element-bottom-20 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <div class="divider-border-inner" style="background:rgba(254, 68, 68, 0.55);"></div>
                            </div>

                            <ul class="skills-list normal element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay="0s">
                                <li>Retina Ready</li>

                                <li>Bootstrap based</li>

                                <li>200+ Admin options</li>

                                <li>Modern CSS &amp; HTML</li>

                                <li>SEO optimised</li>
                            </ul>
                        </div>

                        <div class=
                        "col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <h1 class="text-center element-top-80 os-animation normal light"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Lets work together
                    </h1>

                    <p class="lead text-center center element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                    I&#8217;m always happy and excited to discuss new
                    projects.<br>
                    If you need help on your web projects or feel like your
                    brand needs something fresh. Let me know.</p>

                    <div class=
                    "divider-border divider-border-center element-top-20 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="divider-border-inner"></div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>

                    <form action="contact_mailer.php" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon-group">
                                    <i class="fa fa-user"></i>
                                    <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon-group">
                                    <i class="fa fa-envelope"></i>
                                    <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-icon-group">
                            <i class="fa fa-pencil"></i>
                            <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Send email" class="btn btn-primary">
                        </div>
                        <div class="messages text-center"></div>
                    </form>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}