{% extends "layouts/pet.html" %}

{% set title = "Pet Care | Lambda" %}
{% set bodyclasses = "transparent-header pace-on pace-minimal" %}
{% set activeMenu = "Blog" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block content %}
<article>
    <section class="section section-fullheight">
        <div class="background-media" style="background-image: url(assets/images/pet-care/bg-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0.5%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>
        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-20 element-bottom-20 text-light super light" data-os-animation="none" data-os-animation-delay="0s">My Blog</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/pet-care/post1-notinclude.jpg">
                                    <img alt="HOW WE CREATED OUR LAST WEBSITE" src="assets/images/pet-care/post1-notinclude-1200x800.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">Rescue Pup Surprise!</h1>
                            <div class="post-details">
                                <span class="post-date"><i class="icon-clock"></i> August 6, 2015</span>
                                <span class="post-author"><i class="icon-head"></i> <a href="#">despoina</a></span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">news</a>,
                                    <a href="#"rel="tag">protect</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>
                        <div class="post-body">
                            <p>Aliquam sit amet quam risus. Mauris lobortis tortor quis ipsum pharetra, non mattis nibh gravida. Suspendisse blandit maximus pharetra. Nam molestie risus a massa pharetra pharetra. Integer eu iaculis enim, a fermentum ante. Integer bibendum blandit nisi, non <strong>viverra</strong> mi ultrices.Nunc hendrerit et lectus ac pharetra. Integer cursus lacinia tincidunt. Mauris efficitur justo vitae ex dapibus, sed ultricies ex pulvinar. Curabitur in dui ac leo rhoncus convallis nec vitae eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin a ornare mauris.</p>
                            <blockquote><p>Sed venenatis, justo id mattis varius, ligula lectus dapibus ex, vitae feugiat lacus nulla vitae magna. Vestibulum tempor, neque sed fermentum ullamcorper, dolor leo fringilla odio, a blandit lacus nisl vel turpis. Vestibulum rhoncus eleifend luctus. Proin eget orci luctus, tempor sem eget, hendrerit nulla. Cras non vehicula lacus. Vestibulum feugiat, nisl sit amet auctor congue, sem nibh ultricies velit, eu consectetur nisi augue vulputate orci. Donec semper efficitur enim, eu mollis ipsum tincidunt sed.</p></blockquote>
                            <p>Aenean libero dui, finibus vitae molestie a, molestie eu libero. Vivamus at <strong>eleifend</strong> nisi, id sollicitudin augue. Nulla eu sapien mattis, lobortis ipsum sit amet, maximus massa. Etiam venenatis fringilla eros, nec aliquam lectus scelerisque ut. Integer<em> cursus purus lacus, ut aliquet tellus</em> scelerisque hendrerit. Sed egestas nulla faucibus nibh ornare consequat. Sed metus metus, vulputate sit amet tincidunt non, fringilla vitae mauris. In ut quam quam. Nunc elementum <strong>placerat</strong> ex, sit amet molestie diam commodo id.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-facebook" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-pinterest" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#007bb6" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-linkedin" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"><i class=
                                "fa fa-angle-left"></i> Previous</a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->
                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-134" style="background-image: url(assets/images/pet-care/post2-notinclude.jpg)">
                                    <a href="#">
                                        <div class="post-grid-content">
                                            <h2 class="post-grid-content-title">Cute And Confused</h2>
                                            <div class="post-grid-content-footer">
                                                August 6, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-132" style="background-image: url(assets/images/pet-care/post3-notinclude.jpg)">
                                    <a href="#">
                                        <div class="post-grid-content">
                                            <h2 class="post-grid-content-title">Take a swim with your puppy!</h2>
                                            <div class="post-grid-content-footer">
                                                August 6, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-left" id="post-130" style=
                                "background-image: url(assets/images/pet-care/post4-notinclude.jpg)">
                                    <a href="#">
                                        <div class="post-grid-content">
                                            <h2 class="post-grid-content-title">Introducing a New Dog to the Neighborhood</h2>
                                            <div class="post-grid-content-footer">
                                                August 6, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="author">Your name *</label><input class="input-block-level form-control" id="author" name="author" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text" value="">
                            </div>
                        </div>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}