{% extends "layouts/photography.html" %}

{% set title = "About | Lambda" %}
{% set activeMenu = "About me" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/about.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h1 class="text-left element-top-300 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">Hi, I&#8217;m Despoina</h1>

                    <p class="lead text-left left text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">I love traveling, listening to all kind of music, laughing out loud and eating good food. And yes, I&#8217;m taking photos of everything.</p>

                    <p class="lead text-left left text-light element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">Multiply your anger by about a hundred, kate, that&#8217;s how much he thinks he loves you. that tall drink of water with the silver spoon up his ass. mister wayne, if you don&#8217;t want to tell me exactly what you&#8217;re doing,</p>

                    <div class="figure element-top-20 element-bottom-300 inline-block" data-os-animation="none" data-os-animation-delay="0.3s">
                        <span class="figure-image"><img alt="about-sign" src="assets/images/photography/about-sign.png"></span>
                    </div>
                </div>

                <div class="col-md-6"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/about.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 text-center">
                    <div class="figure element-top-100 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/photography/photography-logo-small.png">
                        </span>
                    </div>

                    <div class="element-top-20 element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <ul class="social-icons text-light social-lg social-simple social-circle">
                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}