{% extends "layouts/photography.html" %}

{% set title = "Gallery | Lambda" %}
{% set activeMenu = "Gallery" %}

{% block extracss %}
    <style type="text/css" media="screen">
        #content a {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
<article>
    <section class="section section-fullheight" id="technology">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/photography/photograph-sunlight.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12 text-left">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h1 class="element-top-10 element-bottom-10 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">Technology</h1>

                            <p class="lead default text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Do you love photography as much as you love making cool websites? Then, boy – have we got the lorem ipsum for you!</p>

                            <p class="lead  default text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"><a href="photography-album.html">View album</a></p>
                        </div>

                        <div class="col-md-6 "></div>
                    </div>
                    <a href="#people" class="scroll-to scroll-to-id  element-top-20 element-bottom-20 text-light place-bottom">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-fullheight section-transparent" id="people">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/photography/photo-scenery-1600x900.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12 text-right">
                    <div class="row">
                        <div class="col-md-6"></div>

                        <div class="col-md-6">
                            <h1 class="element-top-10 element-bottom-10 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">People</h1>

                            <p class="lead default text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Do you love photography as much as you love making cool websites? Then, boy – have we got the lorem ipsum for you!</p>

                            <p class="lead  default text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"><a href="photography-album.html">View album</a></p>
                        </div>
                    </div>
                    <a href="#nature" class="scroll-to scroll-to-id  element-top-20 element-bottom-20 text-light place-bottom">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-fullheight section-transparent" id="nature">
        <div class="background-media" style="background-image: url(assets/images/photography/photo-horses.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-left small-screen-default">
                    <h1 class="text-default element-top-10 element-bottom-10 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">Nature</h1>

                    <p class="lead default text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Cities fall but they are rebuilt. heroes die but they are remembered. multiply your anger by about a hundred, kate, that&#8217;s how much he thinks he loves you.</p>

                    <p class="lead default text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"><a href="photography-album.html">View album</a></p>
                </div>

                <div class="col-md-6"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/photo-horses.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 text-center">
                    <div class="figure element-top-100 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="small logo" src="assets/images/photography/photography-logo-small.png">
                        </span>
                    </div>

                    <div class="element-top-20 element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <ul class="social-icons text-light social-lg social-simple social-circle">
                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}