{% extends "layouts/photography.html" %}

{% set title = "Nature | Lambda" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/photo-stars.jpg);
        background-repeat:no-repeat; background-size:cover; background-attachment:scroll;
        background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-200"></div>
                        <div class="visible-lg element-height-200"></div>
                    </div>

                    <h1 class="text-center element-top-20 element-bottom-20 text-light normal default">
                        Nature
                    </h1>

                    <div class="portfolio-container element-top-20 element-bottom-20 text-normal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry magnific-all" data-col-lg="3" data-col-md="3" data-col-sm="3" data-col-xs="2" data-layout="fitRows" data-padding="15">
                            <div class="masonry-item portfolio-item filter-gallery filter-nature filter-people" data-comments="0" data-date="2015-07-09T12:43:42+00:00" data-menu-order="0" data-title=
                            "Clouds">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/photography/photo-clouds.jpg" target="_self" title="Clouds">
                                        <img alt="Clouds" class="normalwidth" src="assets/images/photography/photo-clouds.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="1" data-title="Forest">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-trees.jpg"
                                    target="" title="Trees">
                                        <img alt="Forest" class="normalwidth" src="assets/images/photography/photo-trees.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="2" data-title="Waves">
                                <div class=
                                "figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-splash.jpg" target="" title="Waves">
                                        <img alt="Waves" class="normalwidth" src="assets/images/photography/photo-splash.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-city filter-gallery" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="3" data-title="Bridge">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific image-all" data-captions="Processed with VSCOcam with c1 preset" data-links="" href="assets/images/photography/photo-bridge.jpg" target="" title="Bridge">
                                        <img alt="Bridge" class="normalwidth" src="assets/images/photography/photo-bridge.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="4" data-title="Forest">
                                <div class=
                                "figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-woods.jpg" target="" title="Forest">
                                        <img alt="Forest" class="normalwidth" src="assets/images/photography/photo-woods.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="5" data-title="Mirage">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-tree-lake.jpg" target="" title="Mirage">
                                        <img alt="Mirage" class="normalwidth" src="assets/images/photography/photo-tree-lake.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="6" data-title="Sideways">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-high-view.jpg" target="" title="Sideways">
                                        <img alt="Sideways" class="normalwidth" src="assets/images/photography/photo-high-view.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="7" data-title="Trekking">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.4s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-walk.jpg" target="" title="Trekking">
                                        <img alt="Trekking" class="normalwidth" src="assets/images/photography/photo-walk.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-city filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="8" data-title="Jocking">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-onhover image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-road.jpg" target="" title="Jocking">
                                        <img alt="Jocking" class="normalwidth" src="assets/images/photography/photo-road.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"></div>

                        <div class="col-md-4 text-center">
                            <div class="figure element-top-100 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <span class="figure-image">
                                    <img alt="small logo" src="assets/images/photography/photography-logo-small.png">
                                </span>
                            </div>

                            <div class="element-top-20 element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <ul class="social-icons text-light social-lg social-simple social-circle">
                                    <li>
                                        <a href="#" target="_blank" style="background-color:#ffffff";>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color:#ffffff";>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color:#ffffff";>
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}