{% extends "layouts/photography.html" %}

{% set title = "Contact | Lambda" %}
{% set activeMenu = "Contact" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/photo-scenery-1600x900.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.3);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center"></div>

                <div class="col-md-6 text-default">
                    <h1 class="text-left element-top-300 element-bottom-20 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Ask me anything you
                    want!</h1>

                    <p class="lead text-left left text-light element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">If you need professional photo
                    shooting for any event or even your personal projects feel free to ask for a quote.</p>

                    <form id="contactForm" action="contact_mailer.php" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon-group">
                                    <i class="fa fa-user"></i>
                                    <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon-group">
                                    <i class="fa fa-envelope"></i>
                                    <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-icon-group">
                            <i class="fa fa-pencil"></i>
                            <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                        </div>

                        <input type="submit" value="Send email" class="btn btn-primary">
                        <div class="messages text-center"></div>
                    </form>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-300"></div>
                        <div class="visible-sm element-height-300"></div>
                        <div class="visible-md element-height-300"></div>
                        <div class="visible-lg element-height-300"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/photo-scenery-1600x900.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 text-center small-screen-default">
                    <div class="figure element-top-100 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/photography/photography-logo-small.png">
                        </span>
                    </div>

                    <div class="element-top-20 element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <ul class="social-icons text-light social-lg social-simple social-circle">
                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}