{% extends "layouts/photography.html" %}

{% set title = "Photography | Lambda" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
    <!-- build:js assets/js/revolution.min.js -->
    <script type="text/javascript" src="scripts/tools.min.js"></script>
    <script type="text/javascript" src="scripts/revolution.min.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#homepage-slider').revolution({
                jsFileLocation: '/scripts/',
                extensions: 'revolution-extensions/',
                sliderType:"standard",
                sliderLayout:"fullscreen",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                    keyboardNavigation:"off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style:"hesperiden",
                        enable:true,
                        hide_onmobile:false,
                        hide_onleave:false,
                        tmp:'',
                        left: {
                            h_align:"left",
                            v_align:"center",
                            h_offset:20,
                            v_offset:0
                        },
                        right: {
                            h_align:"right",
                            v_align:"center",
                            h_offset:20,
                            v_offset:0
                        }
                    }
                },
                gridwidth:960,
                gridheight:600,
                lazyType:"none",
                minHeight:600,
                shadow:0,
                spinner:"spinner1",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                fullScreenAutoWidth:"off",
                fullScreenAlignForce:"on",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<article>
    <section class="section section-fullheight">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="rev_slider_wrapper fullwidthbanner-container">
                        <div id="homepage-slider" class="rev_slider" data-version="5.0">
                            <ul>
                                <!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-1" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart=
                                    "0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="105" data-scalestart="100" src=
                                    "assets/images/photography/photo-alpes-1600x900.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption tp-resizeme" data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]' data-height="auto" data-hoffset="30" data-responsive_offset="on" data-start=
                                    "500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-voffset="30" data-width="auto" data-x="center"
                                    data-y="bottom" id="slide-1-layer-1" style="z-index: 5;"><img alt="" data-hh="45" data-no-retina="" data-ww="30" height="75" src=
                                    "assets/images/photography/icon-mouse.png" width="50"></div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption photographypanel tp-resizeme" data-end="6600" data-height="auto" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000"
                                    data-transform_idle="" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="30" data-width="auto" data-x="30" data-y="bottom" id=
                                    "slide-1-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <strong>Alps</strong> Your website is too cool for boring lorem ipsum,<br>
                                        so why not make something that really stands<br>
                                        out by using our lorem alternative instead?
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-2" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart=
                                    "0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="105" data-scalestart="100" src="assets/images/photography/sea-stones.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption tp-resizeme" data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]' data-height="auto" data-hoffset="0" data-responsive_offset="on" data-start=
                                    "500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-voffset="30" data-width="auto" data-x="center"
                                    data-y="bottom" id="slide-2-layer-1" style="z-index: 5;"><img alt="" data-hh="45" data-no-retina="" data-ww="30" height="75" src=
                                    "assets/images/photography/icon-mouse.png" width="50"></div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption photographypanel tp-resizeme" data-end="6600" data-height="auto" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000"
                                    data-transform_idle="" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="30" data-width="auto" data-x="30" data-y="bottom" id=
                                    "slide-2-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <strong>Sea shore</strong> Me? i'm dishonest, and a dishonest<br>
                                        man you can always trust to be dishonest.
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-3" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart=
                                    "0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="105" data-scalestart="100" src=
                                    "assets/images/photography/photo-lake.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption tp-resizeme" data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]' data-height="auto" data-hoffset="30" data-responsive_offset="on" data-start=
                                    "500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-voffset="30" data-width="auto" data-x="center"
                                    data-y="bottom" id="slide-3-layer-1" style="z-index: 5;"><img alt="" data-hh="45" data-no-retina="" data-ww="30" height="75" src=
                                    "assets/images/photography/icon-mouse.png" width="50"></div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption photographypanel tp-resizeme" data-end="7400" data-height="auto" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000"
                                    data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-voffset="30" data-width="auto" data-x="30" data-y="bottom" id=
                                    "slide-3-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <strong>Beautiful lake</strong> Do you like my meadow? try some of my grass!<br>
                                        please have a blade, please do,<br>
                                        it's so delectable and so darn good looking!
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-4" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart=
                                    "0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="105" data-scalestart="100" src="assets/images/photography/unsplash.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption tp-resizeme" data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]' data-height="auto" data-hoffset="30" data-responsive_offset="on" data-start=
                                    "500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-voffset="30" data-width="auto" data-x="center"
                                    data-y="bottom" id="slide-4-layer-1" style="z-index: 5;"><img alt="" data-hh="45" data-no-retina="" data-ww="30" height="75" src=
                                    "assets/images/photography/icon-mouse.png" width="50"></div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption photographypanel tp-resizeme" data-end="6600" data-height="auto" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000"
                                    data-transform_idle="" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="30" data-width="auto" data-x="30" data-y="bottom" id=
                                    "slide-4-layer-2" style="z-index: 6; white-space: nowrap;">
                                        <strong>Waves</strong> Forget about it" is, like, if you agree with<br>
                                        someone, you know, like "raquel welch is<br>
                                        one great piece of ass. forget about it!"
                                    </div>
                                </li><!-- SLIDE  -->

                                <li data-description="" data-easein="default" data-easeout="default" data-index="rs-5" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-slotamount="7" data-title="Slide" data-transition="fade">
                                    <!-- MAIN IMAGE -->
                                    <img alt="" class="rev-slidebg" data-bgposition="center top" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart=
                                    "0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="105" data-scalestart="100" src="assets/images/photography/slomosf.jpg"> <!-- LAYERS -->
                                     <!-- LAYER NR. 1 -->

                                    <div class="tp-caption tp-resizeme fullscreenvideo tp-videolayer" data-aspectratio="16:9" data-autoplay="on" data-forcecover="1" data-height="" data-posteronmobile="off"
                                    data-responsive_offset="on" data-start="500" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-videocontrols="none"
                                    data-videoheight="100%" data-videoloop="loop" data-videomp4="http://theme-background-videos.s3.amazonaws.com/slomosf.mp4" data-videoposter=
                                    "http://theme-background-videos.s3.amazonaws.com/slomosf.jpg" data-videopreload="auto" data-videowebm="http://theme-background-videos.s3.amazonaws.com/slomosf.webm" data-videowidth="100%"
                                    data-width="" data-x="0" data-y="0" id="slide-5-layer-1" style="z-index: 5;"></div><!-- LAYER NR. 2 -->

                                    <div class="tp-caption tp-resizeme" data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]' data-height="auto" data-hoffset="30" data-responsive_offset="on" data-start=
                                    "500" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:800;" data-voffset="30" data-width="auto" data-x="center"
                                    data-y="bottom" id="slide-5-layer-2" style="z-index: 6;"><img alt="" data-hh="45" data-no-retina="" data-ww="30" height="75" src="assets/images/photography/icon-mouse.png" width="50"></div><!-- LAYER NR. 3 -->

                                    <div class="tp-caption photographypanel tp-resizeme" data-end="6600" data-height="auto" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000"
                                    data-transform_idle="" data-transform_in="opacity:0;s:700;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-voffset="30" data-width="auto" data-x="30" data-y="bottom" id=
                                    "slide-5-layer-3" style="z-index: 7; white-space: nowrap;">
                                        <strong>Life</strong> Forget about it" is, like, if you agree with<br>
                                        someone, you know, like "raquel welch is<br>
                                        one great piece of ass. forget about it!"
                                    </div>
                                </li>
                            </ul>

                            <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
                        </div><!-- END REVOLUTION SLIDER -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="gallery">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,1);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-0 element-bottom-0 text-light">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition magnific-all" data-col-lg="4" data-col-md="4" data-col-sm="3" data-col-xs="2" data-layout="fitRows" data-padding="0">
                            <div class="masonry-item portfolio-item filter-gallery filter-nature filter-people" data-comments="0" data-date="2015-07-09T12:43:42+00:00" data-menu-order="0" data-title=
                            "Clouds">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/photography/photo-clouds.jpg" target="_self" title="Clouds">
                                        <img alt="Clouds" class="normalwidth" src="assets/images/photography/photo-clouds.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Clouds</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="1" data-title="Forest">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-trees.jpg"
                                    target="" title="Trees">
                                        <img alt="Forest" class="normalwidth" src="assets/images/photography/photo-trees.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Forest</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="2" data-title="Waves">
                                <div class=
                                "figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-splash.jpg" target="" title="Waves">
                                        <img alt="Waves" class="normalwidth" src="assets/images/photography/photo-splash.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Waves</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-city filter-gallery" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="3" data-title="Bridge">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific image-all" data-captions="Processed with VSCOcam with c1 preset" data-links="" href="assets/images/photography/photo-bridge.jpg" target="" title="Bridge">
                                        <img alt="Bridge" class="normalwidth" src="assets/images/photography/photo-bridge.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Bridge</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="4" data-title="Forest">
                                <div class=
                                "figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.8s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-woods.jpg" target="" title="Forest">
                                        <img alt="Forest" class="normalwidth" src="assets/images/photography/photo-woods.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Forest</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="5" data-title="Mirage">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-tree-lake.jpg" target="" title="Mirage">
                                        <img alt="Mirage" class="normalwidth" src="assets/images/photography/photo-tree-lake.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Mirage</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="6" data-title="Sideways">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-high-view.jpg" target="" title="Sideways">
                                        <img alt="Sideways" class="normalwidth" src="assets/images/photography/photo-high-view.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Sideways</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="7" data-title="Trekking">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.4s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-walk.jpg" target="" title="Trekking">
                                        <img alt="Trekking" class="normalwidth" src="assets/images/photography/photo-walk.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Trekking</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-city filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="8" data-title="Jocking">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-road.jpg" target="" title="Jocking">
                                        <img alt="Jocking" class="normalwidth" src="assets/images/photography/photo-road.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Jocking</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-people" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="9" data-title="Fireworks">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="1.8s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-fireworks.jpg" target="" title="Fireworks">
                                        <img alt="Fireworks" class="normalwidth" src="assets/images/photography/photo-fireworks.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Fireworks</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature filter-people" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="10"
                            data-title="Scenery">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2s">
                                    <a class="figure-image magnific image-all" data-captions="Processed with VSCOcam with hb2 preset" data-links="" href="assets/images/photography/photo-scenery.jpg" target="" title="Scenery">
                                        <img alt="Scenery" class="normalwidth" src="assets/images/photography/photo-scenery.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Scenery</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="11" data-title="Alpes">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-alpes.jpg" target="" title="Alpes">
                                        <img alt="Alpes" class="normalwidth" src="assets/images/photography/photo-alpes.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Alpes</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature filter-people" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="13"
                            data-title="Loneliness">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2.4s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/photography/photo-loneliness.jpg" target="" title="Loneliness">
                                        <img alt="Loneliness" class="normalwidth" src="assets/images/photography/photo-loneliness.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Loneliness</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="14" data-title="Sunset">
                                <div class=
                                "figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2.6s">
                                    <a class="figure-image magnific image-all" data-captions="Processed with VSCOcam with 7 preset" data-links="" href=
                                    "assets/images/photography/photo-sunset.jpg" target="" title="Sunset">
                                        <img alt="Sunset" class="normalwidth" src="assets/images/photography/photo-sunset.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Sunset</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-city filter-gallery" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="15" data-title="Skyscrapers">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="2.8s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-skyscrapers.jpg" target="" title="Skyscrapers">
                                        <img alt="Skyscrapers" class="normalwidth" src="assets/images/photography/photo-skyscrapers.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Skyscrapers</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="16" data-title="Coast">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="3s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-coast.jpg" target="" title="Coast">
                                        <img alt="Coast" class="normalwidth" src="assets/images/photography/photo-coast.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Coast</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="17" data-title="Infinity">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="3.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-infinity.jpg" target="" title="Infinity">
                                        <img alt="Infinity" class="normalwidth" src="assets/images/photography/photo-infinity.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Infinity</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature filter-people" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="18"
                            data-title="Jump">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="3.4s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-jump.jpg" target="" title="Jump">
                                        <img alt="Jump" class="normalwidth" src="assets/images/photography/photo-jump.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Jump</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-city filter-gallery" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="19" data-title="Bridge">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="3.6s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-long-bridge.jpg" target="" title="Bridge">
                                        <img alt="Bridge" class="normalwidth" src="assets/images/photography/photo-long-bridge.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Bridge</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-gallery filter-nature" data-comments="0" data-date="2015-07-06T11:14:36+00:00" data-menu-order="20" data-title=
                            "Endless blue">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-grayscale image-filter-onhover from-top text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="3.8s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/photography/photo-endless-blue.jpg" target="" title="Endless blue">
                                        <img alt="Endless blue" class="normalwidth" src="assets/images/photography/photo-endless-blue.jpg">

                                        <div class="figure-overlay grid-overlay-10">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Endless blue</h3>

                                                    <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta accumsan ante.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/photography/photo-alpes-1600x900.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 text-center">
                    <div class="figure element-top-100 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        <span class="figure-image">
                            <img alt="small logo" src="assets/images/photography/photography-logo-small.png">
                        </span>
                    </div>

                    <div class="element-top-20 element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <ul class="social-icons text-light social-lg social-simple social-circle">
                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff";>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff" ;="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank" style="background-color:#ffffff" ;="">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</article>
{% endblock %}