{% extends "layouts/political.html" %}

{% set title = "News | Political" %}
{% set activeMenu = "News" %}

{% set bodyclasses = "pace-on pace-minimal" %}

{% block extracss %}
{% endblock %}

{% block content %}
<article>
    <section class="section">
    <div class="container">
        <div class="row element-top-50 element-bottom-50">
            <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                <article class="post">
                    <div class="post-media">
                        <div class="figure fade-in text-center figcaption-middle">
                            <a class="figure-image magnific" href="assets/images/political/img01-notinclude.jpg">
                                <img alt="Syria policy" src="assets/images/political/img01-notinclude.jpg">
                                <div class="figure-overlay">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption">
                                            <span class="figure-overlay-icons">
                                                <i class="icon-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <header class="post-head small-screen-center">
                            <h1 class="post-title">Syria Policy</h1>
                            <div class="post-details">
                                <span class="post-date"><i class="icon-clock"></i> September 29, 2015</span>
                                <span class="post-author"><i class="icon-head"></i> <a href="#">despoina</a></span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">news</a>,
                                    <a href="#"rel="tag">Politics</a>
                                </span>
                            </div>
                        </header>
                    <div class="post-body">
                        <p>But I must explain to you how all this mistaken idea
                        of denouncing pleasure and praising pain was born and I
                        will give you a complete account of the system, and
                        expound the actual teachings of the great explorer of
                        the truth, the master-builder of human happiness. No
                        one rejects, dislikes, or avoids pleasure itself,
                        because it is pleasure, but because those who do not
                        know how to pursue pleasure rationally encounter
                        consequences that are extremely painful. Nor again is
                        there anyone who loves or pursues or desires to obtain
                        pain of itself, because it is pain, but because
                        occasionally circumstances occur in which toil and pain
                        can procure him some great pleasure.</p>
                        <blockquote>
                            <p>To take a trivial example, which of us ever
                            undertakes laborious physical exercise, except to
                            obtain some advantage from it? But who has any
                            right to find fault with a man who chooses to enjoy
                            a pleasure that has no annoying consequences, or
                            one who avoids a pain that produces no resultant
                            pleasure?</p>
                        </blockquote>
                        <p>On the other hand, we denounce with righteous
                        indignation and dislike men who are so beguiled and
                        demoralized by the charms of pleasure of the moment, so
                        blinded by desire, that they cannot foresee</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="small-screen-center post-extras">
                                <div class="post-tags"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-right small-screen-center post-share">
                                <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                    <ul class="social-icons text-normal social-sm social-simple social-circle">
                                        <li>
                                            <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                <i class="fa fa-twitter" style="color: rgb(135, 135, 135);"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                <i class="fa fa-google-plus" style="color: rgb(135, 135, 135);"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                <i class="fa fa-facebook" style="color: rgb(135, 135, 135);"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                <i class="fa fa-pinterest" style="color: rgb(135, 135, 135);"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" data-iconcolor="#007bb6" style="background-color: rgba(0, 0, 0, 0);">
                                                <i class="fa fa-linkedin" style="color: rgb(135, 135, 135);"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <nav class="post-navigation" id="nav-below">
                    <ul class="pager">
                        <li class="previous">
                            <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"><i class=
                            "fa fa-angle-left"></i> Previous</a>
                        </li>
                    </ul>
                </nav><!-- nav-below -->
                <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="author">Your name *</label><input class="input-block-level form-control" id="author" name="author" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text" value="">
                            </div>
                        </div>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}