{% extends "layouts/political.html" %}

{% set title = "News | Political" %}
{% set activeMenu = "News" %}

{% set bodyclasses = "pace-on pace-minimal" %}

{% block extracss %}
{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 element-top-50 element-bottom-50">
                    <div class="masonry blog-masonry use-masonry isotope no-transition" data-col-lg="4" data-col-md="4" data-col-sm="2" data-col-xs="1" data-padding="8">
                        <div class="post-masonry masonry-item masonry-wide" data-menu-order="0">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id=
                                "post-110">
                                    <a href="political-post.html">
                                    <img alt="Bank target" class="img-responsive" src="assets/images/political/img04-notinclude1.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                            <a href="political-post.html">Bank target</a>
                                        </h3>
                                        <p>Li Europan lingues es membres del
                                        sam familie. Lor separat existentie es
                                        un myth. Por scientie, musica, sport
                                        etc, litot Europa usa li sam vocabular.
                                        Li lingues differe solmen in li
                                        grammatica, li pronunciation e li plu
                                        commun vocabules.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, October 1, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="1">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id=
                                "post-111">
                                    <a href="political-post.html">
                                    <img alt="UK and the EU: Better of out or in?"
                                    class="img-responsive" src="assets/images/political/img03-notinclude.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                            <a href="political-post.html">UK and the EU: Better of out orin?</a>
                                        </h3>
                                        <p>The quick, brown fox jumps over a
                                        lazy dog. DJs flock by when MTV ax quiz
                                        prog. Junk MTV quiz graced by fox
                                        whelps. Bawds jog, flick quartz, vex
                                        nymphs. Waltz, bad nymph, for quick
                                        jigs vex! Fox nymphs grab quick-jived
                                        waltz. Brick quiz whangs jumpy veldt
                                        fox.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, October 1, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="2">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id=
                                "post-112">
                                    <a href="political-post.html">
                                        <img alt="What Britain wants from Europe." class="img-responsive" src="assets/images/political/img07-notinclude.jpg">
                                    </a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                        <a href="political-post.html">
                                        What Britain wants from
                                        Europe.</a></h3>
                                        <p>But I must explain to you how all
                                        this mistaken idea of denouncing
                                        pleasure and praising pain was born and
                                        I will give you a complete account of
                                        the system, and expound the actual
                                        teachings of the great explorer of the
                                        truth, the master-builder of human
                                        happiness.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, October 1, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-wide"
                        data-menu-order="3">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id=
                                "post-113">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                        <a href="political-post.html">
                                        Main principles of the new
                                        strategy</a></h3>
                                        <p>No vis congue feugiat, quo ad augue
                                        theophrastus. Enim minim deserunt eu
                                        ius, sea ei nisl voluptua constituto.
                                        Ex aperiri delenit his. His debet
                                        regione ut, ius populo detraxit an.In
                                        inani blandit signiferumque has. Liber
                                        disputationi te mel. Mea ei illud
                                        referrentur, oblique splendide duo ea,
                                        omnium animal ex mea. Wisi blandit an
                                        sed, ei</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, October 1, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="4">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20" id="post-126">
                                    <div class="post-grid-content">
                                        <blockquote class="text-left text-normal element-top-no-top element-bottom-no-bottom">
                                            <p></p>
                                            <p><strong>TOGETHER<br>WE WILL WIN THE FUTURE.</strong></p>
                                            <p></p>
                                            <footer>
                                                John Doe
                                            </footer>
                                        </blockquote>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="5">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-133">
                                    <a href="political-post.html">
                                    <img alt="Who are the 2016 election candidates?" class="img-responsive" src="assets/images/political/img02-notinclude.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                        <a href="political-post.html">
                                        Who are the 2016 election
                                        candidates?</a></h3>
                                        <p>A wonderful serenity has taken
                                        possession of my entire soul, like
                                        these sweet mornings of spring which I
                                        enjoy with my whole heart. I am alone,
                                        and feel the charm of existence in this
                                        spot, which was created for the bliss
                                        of souls like mine.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, September 29, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="6">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-134">
                                    <a href="political-post.html">
                                    <img alt="Syria policy" class="img-responsive" src="assets/images/political/img01-notinclude.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                        <a href="political-post.html">
                                        Syria policy</a></h3>
                                        <p>But I must explain to you how all
                                        this mistaken idea of denouncing
                                        pleasure and praising pain was born and
                                        I will give you a complete account of
                                        the system, and expound the actual
                                        teachings of the great explorer of the
                                        truth, the master-builder of human
                                        happiness.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, September 29, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="7">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id="post-135">
                                    <a href="political-post.html">
                                    <img alt="Straight taking or old politics?" class="img-responsive" src="assets/images/political/img08-notinclude.jpg"></a>
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                        <a href="political-post.html">
                                        Straight taking or old
                                        politics?</a></h3>
                                        <p>One morning, when Gregor Samsa woke
                                        from troubled dreams, he found himself
                                        transformed in his bed into a horrible
                                        vermin. He lay on his armour-like back,
                                        and if he lifted his head a little he
                                        could see his brown belly, slightly
                                        domed and divided by arches into stiff
                                        sections.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, September 29, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal"
                        data-menu-order="8">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20 text-left" id=
                                "post-136">
                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                        <a href="political-post.html">
                                        World economy lurches towards
                                        recovery</a></h3>
                                        <p>Li Europan lingues es membres del
                                        sam familie. Lor separat existentie es
                                        un myth. Por scientie, musica, sport
                                        etc, litot Europa usa li sam vocabular.
                                        Li lingues differe solmen in li
                                        grammatica, li pronunciation e li plu
                                        commun vocabules. Omnicos directe al
                                        desirabilite de un nov lingua
                                        franca.</p>
                                        <div class="post-grid-content-footer">
                                            oxygenna, September 29, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="post-masonry masonry-item masonry-normal" data-menu-order="9">
                            <div class="post-masonry-inner">
                                <article class="post-grid element-bottom-20" id="post-137">
                                    <div class="post-grid-content">
                                        <blockquote class=" text-left text-normal element-top-no-top element-bottom-no-bottom">
                                            <p></p>
                                            <p><strong>CHANGE<br>
                                            WE CAN BELIEVE IN.</strong></p>
                                            <p></p>
                                            <footer>
                                                John Doe
                                            </footer>
                                        </blockquote>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="infinite-scroll" style="visibility:hidden;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}