{% extends "layouts/political.html" %}

{% set title = "Our Team | Political" %}
{% set activeMenu = "Our Team" %}

{% set bodyclasses = "transparent-header pace-on pace-minimal" %}

{% block extracss %}
{% endblock %}

{% block content %}
<article>
    <section class="section">
    <div class="background-media" style="background-image: url(assets/images/political/image09-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>
        <div class="container-fullwidth ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-70"></div>
                        <div class="visible-md element-height-170"></div>
                        <div class="visible-lg element-height-170"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 "></div>
                        <div class="col-md-6 text-center  os-animation"data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="panel element-top-20 element-bottom-20" >
                                <div class="panel-body" style="background-color:rgba(255, 255, 255, 0.7);">
                                    <h1 class="text-center element-top-20 element-bottom-20 os-animation normal regular"data-os-animation="fadeInDown"data-os-animation-delay="0.2s">
                                    About us</h1>
                                    <p class="lead text-center center element-top-20 element-bottom-20 os-animation"data-os-animation="fadeIn"data-os-animation-delay="0.3s">
                                    Lambda is an international highly diversified company focused on Infrastructure, Building, Industrial, MEP, Solar Power Construction, EPC and Concession Contracts, Facility and Project Management.</p>
                                    <div class="divider-border divider-border-center element-top-20 element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s" style="height:2px;">
                                        <div class="divider-border-inner" style="width:80px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 "></div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-0"></div>
                        <div class="visible-sm element-height-70"></div>
                        <div class="visible-md element-height-170"></div>
                        <div class="visible-lg element-height-170"></div>
                    </div>
                    <a class="scroll-to scroll-to-id element-top-20 element-bottom-20 text-light place-bottom" href="#team">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="team">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-20"></div>
                        <div class="visible-sm element-height-20"></div>
                        <div class="visible-md element-height-20"></div>
                        <div class="visible-lg element-height-20"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 "></div>
                        <div class="col-md-8 ">
                            <h1 class="text-center element-top-20 element-bottom-20 os-animation normal regular" data-os-animation="fadeInDown" data-os-animation-delay="0.1s">Our Team</h1>
                            <p class="lead text-center center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay= "0.2s">
                            Our vision is to enhance further our role as a worldwide construction group by securing sustainable future development through continuous improvement of services based on our values such as integrity, teamwork, responsibility and transparency.</p>
                            <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s" style="height:2px;">
                                <div class="divider-border-inner" style="width:80px;"></div>
                            </div>
                        </div>
                        <div class="col-md-2 "></div>
                    </div>
                    <div class="row staff-list-container list-container element-top-20 element-bottom-20">
                    <div class="figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            <div class="figure-image">
                                <img alt="Alberto Hoffman" src="assets/images/political/image12-notinclube.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                <strong>Alberto Hoffman</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Edith Woods" src=
                                "assets/images/political/image13-notinclube.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Edith
                                Woods</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Marjorie Frazier" src=
                                "assets/images/political/image14-notinclube.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                <strong>Marjorie Frazier</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Steven Willis" src=
                                "assets/images/political/image15-notinclube.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Steven
                                Willis</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Karla Bush" src=
                                "assets/images/political/image16-notinclube.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Karla
                                Bush</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Lily Finch" src="assets/images/political/image20-notinclube .jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class=
                                            "figure-overlay-icons social-icons social-simple">
                                            <li>
                                                    <a href="#" target=
                                                    "_blank"><i class=
                                                    "fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" target=
                                                    "_blank"><i class=
                                                    "fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" target=
                                                    "_blank"><i class=
                                                    "fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Lily
                                Finch</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Shirley King" src=
                                "assets/images/political/img2-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                <strong>Shirley King</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Clinton Farmer" src=
                                "assets/images/political/img14-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                <strong>Clinton Farmer</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Benjamin Bentley" src=
                                "assets/images/political/img17-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                <strong>Benjamin Bentley</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Claire Barber" src=
                                "assets/images/political/img18-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Claire
                                Barber</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Sue Alexander" src=
                                "assets/images/political/img19-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Sue
                                Alexander</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                        <div class=
                        "figure col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation"
                        data-os-animation="fadeIn" data-os-animation-delay=
                        "0s">
                            <div class="figure-image">
                                <img alt="Susan Brown" src=
                                "assets/images/political/img22-notinclude.jpg">
                                <div class="figure-overlay grid-overlay-0">
                                    <div class="figure-overlay-container">
                                        <div class="figure-caption text-center">
                                            <ul class="figure-overlay-icons social-icons social-simple">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-facebook-official"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="icon-mail"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Susan
                                Brown</strong></h3>
                                <p class="figure-caption-description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="donate">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(230,12,12,1);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-right ">
                    <h2 class="element-top-60 element-bottom-60 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                    Help us make a better world</h2>
                </div>
                <div class="col-md-6 text-left ">
                    <a class="btn btn-default btn-lg text-light element-left-0 element-right-0 element-top-60 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" data-target="#183" data-toggle="modal" href="#">
                    MAKE A DONATION</a>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}