{% extends "layouts/restaurant.html" %}

{% set title = "Gallery" %}
{% set activeMenu = "Gallery" %}

{% block content %}
<article>
	<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" data-label="">
        <div class="background-media" style="background-image: url('assets/images/restaurant/food-bg-4.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px"></div>
    	<div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0.2);"></div>
    	<div class="container container-vertical-default">
        	<div class="row vertical-default">
            	<div class="col-md-12  text-center small-screen-default">
            		<h1 class="text-center element-top-190 element-bottom-20 text-light os-animation hyper default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
    					Gallery
    				</h1>
    				<div class="figure element-top-20 element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
            			<span class="figure-image">
        					<img src="assets/images/restaurant/decor-1-big-white.png" alt=""/>
            			</span>
    				</div>
				</div>
			</div>
    	</div>
	</section>
	<section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" data-label="">
    	<div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,1);"></div>
    	<div class="container-fullwidth container-vertical-default">
        	<div class="row vertical-default">
            	<div class="col-md-12  text-default small-screen-default">
            		<div class="portfolio-container element-top-0 element-bottom-0 text-normal">
            			<div class="row">
    						<div class="col-md-12">
        						<div class="portfolio-header clearfix">
                        			<div class="portfolio-filters pull-right"></div>
        						</div>
    						</div>
						</div>
						<div class="portfolio masonry no-transition" data-padding="0" data-col-xs="1" data-col-sm="3" data-col-md="3" data-col-lg="3" data-layout="fitRows">
            				<div class="masonry-item portfolio-item" data-menu-order="1" data-date="2014-12-19T08:50:08+00:00" data-title="Home made lazagne" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0s">
            						<a href="assets/images/restaurant/food-portfolio-01.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-01.jpg" alt="Home made lazagne" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Home made lazagne</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="2" data-date="2014-12-19T08:50:08+00:00" data-title="Italian cured meat selection" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
            						<a href="assets/images/restaurant/food-portfolio-02.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-02.jpg" alt="Italian cured meat selection" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Italian cured meat selection</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="3" data-date="2014-12-19T08:50:08+00:00" data-title="Slowly-cooked lamb leg" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
            						<a href="assets/images/restaurant/food-portfolio-03.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-03.jpg" alt="Slowly-cooked lamb leg" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Slowly-cooked lamb leg</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="4" data-date="2014-12-19T08:50:08+00:00" data-title="Greek Grandma&#8217;s Sandwich" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
            						<a href="assets/images/restaurant/food-portfolio-04.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-04.jpg" alt="Greek Grandma&#8217;s Sandwich" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Greek Grandma's Sandwich</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="5" data-date="2014-12-19T08:50:08+00:00" data-title="Salad Burger" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
            						<a href="assets/images/restaurant/food-portfolio-05.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-05.jpg" alt="Salad Burger" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Salad Burger</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="6" data-date="2014-12-19T08:50:08+00:00" data-title="Home made Pizza" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
            						<a href="assets/images/restaurant/food-portfolio-06.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-06.jpg" alt="Home made Pizza" class="normalwidth"/>
    									<div class="figure-overlay grid-overlay-0">
    										<div class="figure-overlay-container">
                        						<div class="figure-caption">
                									<h3 class="figure-caption-title bordered bordered-small">Home made Pizza</h3>
                									<p class="figure-caption-description"></p>
            									</div>
                							</div>
										</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="7" data-date="2014-12-19T08:50:08+00:00" data-title="Atzaraki Felino and Finocchiona" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
           	 						<a href="assets/images/restaurant/food-portfolio-07.jpg" class="figure-image magnific" data-links="" target="_self">
    									<img src="assets/images/restaurant/food-portfolio-07.jpg" alt="Atzaraki Felino and Finocchiona" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Atzaraki Felino and Finocchiona</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="8" data-date="2014-12-19T08:50:08+00:00" data-title="Oven-roast chicken with vegetable ragout" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.7s">
            						<a href="assets/images/restaurant/food-portfolio-08.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-08.jpg" alt="Oven-roast chicken with vegetable ragout" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Oven-roast chicken with vegetable ragout</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            				<div class="masonry-item portfolio-item" data-menu-order="9" data-date="2014-12-19T08:50:08+00:00" data-title="Greek Pizza" data-comments="0">
                				<div class="figure element-top-no-top element-bottom-no-bottom portfolio-os-animation image-filter-grayscale image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.8s">
            						<a href="assets/images/restaurant/food-portfolio-09.jpg" class="figure-image magnific" data-links="" target="">
    									<img src="assets/images/restaurant/food-portfolio-09.jpg" alt="Greek Pizza" class="normalwidth"/>
        								<div class="figure-overlay grid-overlay-0">
        									<div class="figure-overlay-container">
                            					<div class="figure-caption">
                    								<h3 class="figure-caption-title bordered bordered-small">Greek Pizza</h3>
                    								<p class="figure-caption-description"></p>
                								</div>
                    						</div>
    									</div>
            						</a>
								</div>
							</div>
            			</div>
					</div>
				</div>
			</div>
    	</div>
	</section>
</article>
{% endblock %}