{% extends "layouts/restaurant.html" %}

{% set title = "Menu|Restaurant" %}
{% set activeMenu = "Menu" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media"
        data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/restaurant/header.jpg); background-attachment: fixed; background-repeat: no-repeat;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-190 element-bottom-20 text-light os-animation hyper"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Menu
                    </h1>
                    <div class="figure element-top-20 element-bottom-100 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image"><img alt="some image" src=
                        "assets/images/restaurant/decor-1-big-white.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url('assets/images/restaurant/bg-4.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class=
                            "text-center element-top-20 element-bottom-0 os-animation big"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Appetisers
                            </h2>
                            <div class="figure element-top-20 element-bottom-20 block text-center os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <span class="figure-image"><img alt="some image" src=
                                "assets/images/restaurant/decor-2-big-gold.png"></span>
                            </div>

                            <ul class="pricing-item-list element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay=
                            "0s">
                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Tzatsiki <span>$3</span></h3>

                                        <p>Refreshing traditional cucumber and
                                        garlic yoghurt dip.</p>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Aubergine salad
                                        <span>$5</span></h3>

                                        <p>Pureed eggplant, garlic, green
                                        pepper and tomato dip.</p>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation featured"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Houmous <span>$3.99</span></h3>

                                        <p>Pureed chick peas, garlic, lemon and
                                        tahini dip.</p><strong>Chef's
                                        Special</strong>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Grilled Salmon
                                        <span>$7.99</span></h3>

                                        <p>Salmon with beetroot confit,
                                        horseradish and mandarin sauce.</p>
                                    </div>
                                </li>
                            </ul>

                            <h2 class="text-center element-top-20 element-bottom-0 os-animation big"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Salads</h2>

                            <div class=
                            "figure element-top-20 element-bottom-20 block text-center os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <span class="figure-image"><img alt="some image" src=
                                "assets/images/restaurant/decor-2-big-gold.png"></span>
                            </div>

                            <ul class=
                            "pricing-item-list element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay="0s">
                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Season <span>$5.99</span></h3>

                                        <p>Tomato,cucumber,lettuce and
                                        carrot.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Greek <span>$4.99</span></h3>

                                        <p>Tomato,cucumber,green
                                        pepper,onion,olives and feta
                                        cheese.</p>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation featured"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Mozzarella 'Capreze'
                                        <span>$4.50</span></h3>

                                        <p>Slice of mozzarella cheese on a bed
                                        of sliced tomato.</p><strong>Chef's
                                        Special</strong>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Caesar Salad
                                        <span>$5.99</span></h3>

                                        <p>The traditional crispy lettuce salad
                                        topped with chicken.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2"></div>

                        <div class="col-md-5">
                            <h2 class="text-center element-top-20 element-bottom-0 os-animation big"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Starters
                            </h2>
                            <div class="figure element-top-20 element-bottom-20 block text-center os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <span class="figure-image"><img alt="some image" src=
                                "assets/images/restaurant/decor-2-big-gold.png"></span>
                            </div>

                            <ul class="pricing-item-list element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay="0s">
                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Haloumi Bacon
                                        <span>$6.99</span></h3>

                                        <p>Traditional grilled Cypriot cheese
                                        wrapped in bacon.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Shrimp Saganaki
                                        <span>$11.99</span></h3>

                                        <p>Shrimp sauteed in an ouzo, cheese
                                        and tomato sauce.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Wild Mushrooms
                                        <span>$4.99</span></h3>

                                        <p>Grilled wild mushrooms with freshly
                                        squeezed lemon.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Octopus in Wine Sauce
                                        <span>$11</span></h3>

                                        <p>Slices of octopus sauteed in a white
                                        wine &amp; tomato sauce.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation featured"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Cornish Mackerel
                                        <span>$11</span></h3>

                                        <p>Cornish mackerel, marinated
                                        tomatoes, fragrant curry,
                                        tamarillo</p><strong>Recommended</strong>
                                    </div>
                                </li>
                            </ul>

                            <h2 class=
                            "text-center element-top-20 element-bottom-0 os-animation big"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                Main Dishes
                            </h2>

                            <div class="figure element-top-20 element-bottom-20 block text-center os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <span class="figure-image">
                                    <img alt="some image" src="assets/images/restaurant/decor-2-big-gold.png">
                                </span>
                            </div>

                            <ul class="pricing-item-list element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay="0s">
                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Roast Lamb <span>$9.99</span></h3>

                                        <p>Oven lamb, served with pureed potato
                                        and grilled vegetables.</p>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>Chicken Oriental
                                        <span>$13.99</span></h3>

                                        <p>Ginger, onion, cashew nuts in a soy
                                        sauce served on rice.</p>
                                    </div>
                                </li>

                                <li class="pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s" >
                                    <div class="pricing-item-list-content">
                                        <h3>T-bone Veal steak
                                        <span>$6.99</span></h3>

                                        <p>Served with baked potato and grilled
                                        vegetables.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style=
        "background-image: url(assets/images/restaurant/food-bg-1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation super"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Special Dishes
                    </h1>
                    <div class="figure element-top-20 element-bottom-80 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image"><img alt="" src=
                        "assets/images/restaurant/decor-2-big-white.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style=
        "background-image: url(assets/images/restaurant/bg-4.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>

                    <div class="row">
                        <div class=
                        "col-md-5">
                            <ul class=
                            "pricing-item-list text-normal element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay=
                            "0s">
                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-2.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Risotto <span>$9.99</span></h3>

                                        <p>Fillet of beef, chicken, bamboo,
                                        onions &amp; garlic.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-9.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Shrimp Curry
                                        <span>$9.99</span></h3>

                                        <p>Slightly spicy shrimp and
                                        vegetables.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-11.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Mushroom with Truffle Oil
                                        <span>$13.99</span></h3>

                                        <p>With garlic, onion and red wine.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-12.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Penne with Chicken and Zucchini
                                        <span>$8.99</span></h3>

                                        <p>With a cream and tomato sauce.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-6.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Tagliatelle Salmon
                                        <span>$8.99</span></h3>

                                        <p>Onion, garlic, vodka in a creamy
                                        tomato sauce.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class=
                        "col-md-2"></div>

                        <div class=
                        "col-md-5">
                            <ul class=
                            "pricing-item-list element-top-20 element-bottom-20"
                            data-os-animation="none" data-os-animation-delay=
                            "0s">
                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-11.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Tagliatelle Bon Fillet
                                        <span>$12.99</span></h3>

                                        <p>With beetroot confit, horseradish
                                        and mandarin sauce</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-4.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Penne Spinach and Sesame
                                        <span>$9.99</span></h3>

                                        <p>Onion, garlic, sesame seeds in a
                                        fresh cream sauce.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-9.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Beef in Lemon Sauce
                                        <span>$3.99</span></h3>

                                        <p>Beef medallions served with basmati
                                        rice.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-8.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Beefburger Roquefort
                                        <span>$8.99</span></h3>

                                        <p>Homemade patties , served with
                                        pureed potato.</p>
                                    </div>
                                </li>

                                <li class=
                                "pricing-cirle element-top-0 element-bottom-40 os-animation"
                                data-os-animation="fadeIn"
                                data-os-animation-delay="0s">
                                    <img alt="Menu Item" src=
                                    "assets/images/restaurant/food-thumb-12.jpg">

                                    <div class="pricing-item-list-content">
                                        <h3>Pork Fillet with Mustard Sauce
                                        <span>$9.99</span></h3>

                                        <p>Served with grilled vegetables.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}