{% extends "layouts/restaurant.html" %}

{% set title = "Contact|Restaurant" %}
{% set activeMenu = "Contact" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/restaurant/footer.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style=
        "background-image: url(assets/images/restaurant/food-bg-2.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style=
        "background-color: rgba(0,0,0,0.3);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-190 element-bottom-20 text-light os-animation hyper"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Contact
                    </h1>

                    <div class="figure element-top-20 element-bottom-100 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <span class="figure-image"><img alt="decor-1-big-white.png" src="assets/images/restaurant/decor-1-big-white.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="book">
        <div class="background-media" style=
        "background-image: url(assets/images/restaurant/bg-4.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                        Get in touch
                    </h1>
                    <div class="figure element-top-10 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image"><img alt="decor-2-big-gold.png" src="assets/images/restaurant/decor-2-big-gold.png"></span>
                    </div>

                    <div class="col-text-1 element-top-0 element-bottom-20 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <p>If you&#8217;ve been to one of our restaurants,
                        you&#8217;ve seen &#8211; and tasted &#8211; what keeps
                        our customers coming back for more. Perfect materials
                        and freshly baked food, delicious Lambda cakes,
                        muffins, and gourmet coffees make us hard to resist!
                        Stop in today and check us out!</p>
                    </div>

                    <form id="contactForm" action="contact_mailer_reservation.php" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group text-left form-icon-group">
                                    <label>Your email</label><br>
                                    <input type="email" id="email" name="email"  size="40" class="form-control" placeholder="Your email *" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  text-left">
                                    <label>When would you like to book?</label>
                                    <div class="date-wrapper">
                                        <input type="text" name="datepicker" size="40" class="form-control datepicker" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  text-left">
                                    <label>What time?</label>
                                    <br>
                                    <select name="hour">
                                        <option value="18:00">
                                            18:00
                                        </option>
                                        <option value="18:30">
                                            18:30
                                        </option>
                                        <option value="19:00">
                                            19:00
                                        </option>
                                        <option value="19:30">
                                            19:30
                                        </option>
                                        <option value="20:00">
                                            20:00
                                        </option>
                                        <option value="20:30">
                                            20:30
                                        </option>
                                        <option value="21:00">
                                            21:00
                                        </option>
                                        <option value="21:30">
                                            21:30
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group  text-left">
                                    <label>Party Size</label>
                                    <br>
                                    <select name="size">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <br>
                            <input type="submit" value="Book my table" class="btn btn-primary btn-lg">
                        </div>
                        <div class="messages"></div>
                    </form>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-80"></div>
                        <div class="visible-sm element-height-80"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="figure element-top-0 element-bottom-20 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.3s">
                        <span class="figure-image"><img alt="" src=
                        "assets/images/restaurant/contact-01.jpg"></span>
                    </div>

                    <div class=
                    "figure element-top-0 element-bottom-0 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.7s">
                        <span class="figure-image"><img alt="" src=
                        "assets/images/restaurant/contact-03.jpg"></span>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="figure element-top-0 element-bottom-20 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay="0.5s">
                        <span class="figure-image"><img alt="contact" src=
                        "assets/images/restaurant/contact-02.jpg"></span>
                    </div>

                    <div class=
                    "figure element-top-0 element-bottom-0 os-animation"
                    data-os-animation="fadeInRight" data-os-animation-delay=
                    "0.9s">
                        <span class="figure-image">
                            <img alt="contact-04.jpg" src="assets/images/restaurant/contact-04.jpg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom=
        "background-position: 50% -80px" data-start=
        "background-position: 50% 0px" style="background-image: url(assets/images/restaurant/food-bg-1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center"></div>

                <div class="col-md-8 text-center">
                    <div class="panel panel-default element-top-100 element-bottom-100 os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                        <div class="panel-body" style="background-color:rgba(0, 0, 0, 0.69);">
                            <h1 class="text-center element-top-20 element-bottom-0 text-light os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                Opening hours
                            </h1>
                            <div class="figure element-top-10 element-bottom-20 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <span class="figure-image"><img alt="decor-2-big-white.png" src=
                                "assets/images/restaurant/decor-2-big-white.png"></span>
                            </div>

                            <div class="col-text-1 text-light element-top-0 element-bottom-20 os-animation"
                            data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <p>We have so much more in store than just our
                                fabulous fresh bagels, muffins, and cheese. Our
                                restaurants offer a unique atmosphere in which
                                you can order to-go or linger in our dining
                                area with our wide assortment of breakfast and
                                lunch items.</p>

                                <h3>Monday to Friday</h3>

                                <p>18:00 &#8211; 23:00</p>

                                <h3>Saturday</h3>

                                <p>14:00 &#8211; 24:00</p>

                                <h3>Sunday</h3>

                                <p>14:00 &#8211; 20:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="google-map os-animation"
                    data-os-animation="fadeIn" data-os-animation-delay="0s" id="map" style="height:559px"></div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}