{% extends "layouts/shop.html" %}

{% set title = "Mens" %}
{% set activeMenu = "Mens" %}

{% block content %}
<article>
    <section class="section" >
        <div class="background-overlay grid-overlay-0 " style="background-color: rgba(240,240,240,1);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-30 element-bottom-30 text-normal normal regular" data-os-animation="none" data-os-animation-delay="0s" >
                        Mens Clothing
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-commerce">
        <div class="container element-top-50 element-bottom-50">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <ol class="breadcrumb">
                                <li><a class="home" href="shop-index.html">Home</a></li>
                                <li>Mens</li>
                            </ol>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="woocommerce-result-count">
                                Showing all 6 results
                            </p>
                            <form class="woocommerce-ordering" method="get">
                                <select name="orderby" class="orderby">
                                    <option value="menu_order"  selected='selected'>Default sorting</option>
                                    <option value="popularity" >Sort by popularity</option>
                                    <option value="rating" >Sort by average rating</option>
                                    <option value="date" >Sort by newness</option>
                                    <option value="price" >Sort by price: low to high</option>
                                    <option value="price-desc" >Sort by price: high to low</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="products list-container">
                            <li class="product col-md-3 sale">
                                <a href="shop-simple-product.html">
                                    <span class="onsale">Sale!</span>
                                    <div class="product-image">
                                        <div class="product-image-front">
                                            <img width="700" height="893" src="assets/images/shop/jacket2-1-700x893.jpg" alt="jacket2-1" />
                                        </div>
                                        <div class="product-image-back">
                                            <img src="assets/images/shop/jacket2-2-700x893.jpg" alt="jacket2-2"/>
                                        </div>
                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div>
                                </a>
                                <div class="product-info">
                                    <h3 class="product-title">
                                        <a href="shop-simple-product.html">
                                            Mens Bomber in Jersey
                                        </a>
                                    </h3>
                                    <span class="product-categories">
                                        <a href="shop-mens-category.html" rel="tag">Hoodies</a>,
                                        <a href="shop-mens-category.html" rel="tag">Jackets</a>,
                                        <a href="shop-mens-category.html" rel="tag">Mens</a>
                                    </span>
                                    <h3 class="price">
                                        <del><span class="amount">&#36;42.99</span></del> <ins><span class="amount">&#36;26.99</span></ins>
                                    </h3>
                                    <a href="#" rel="nofollow" class="add-to-cart-button add_to_cart_button product_type_simple"><i class="icon-bag"></i></a>
                                </div>
                            </li>
                            <li class="product col-md-3">
                                    <a href="shop-simple-product.html">

                                        <div class="product-image">
                                            <div class="product-image-front">
                                                <img alt="jacket1-1" height="893" src="assets/images/shop/jacket1-1-700x893.jpg" width="700">
                                            </div>

                                            <div class="product-image-back"><img alt="jacket1-1" src="assets/images/shop/jacket1-2-700x893.jpg"></div>

                                            <div class="product-image-overlay">
                                                <h4>View Details</h4>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="product-info">
                                        <h3 class="product-title">
                                            <a href="shop-simple-product.html">Mens Bomber Jacket</a>
                                        </h3>
                                        <span class="product-categories">
                                            <a href="shop-mens-category.html" rel="tag">Hoodies</a>,
                                            <a href="shop-mens-category.html" rel="tag">Jackets</a>,
                                            <a href="shop-mens-category.html" rel="tag">Mens</a>,
                                            <a href="shop-mens-category.html" rel="tag">Shirts</a>
                                        </span>

                                        <h3 class="price">
                                            <ins>
                                                <span class="amount">&#36;32.99
                                                </span>
                                            </ins>
                                        </h3>
                                        <a class="add-to-cart-button" href="#" rel="nofollow">
                                            <i class="icon-bag"></i>
                                        </a>
                                    </div>
                                </li>

                                <li class="product col-md-3">
                                    <a href="shop-simple-product.html">

                                        <div class="product-image">
                                            <div class="product-image-front">
                                                <img alt="hoodie1-1" height="893" src="assets/images/shop/hoodie1-1-700x893.jpg" width="700">
                                            </div>

                                            <div class="product-image-back">
                                                <img alt="hoodie1-2" src="assets/images/shop/hoodie1-2-700x893.jpg">
                                            </div>

                                            <div class="product-image-overlay">
                                                <h4>View Details</h4>
                                                <div class="star-rating" title="Rated 4.00 out of 5">
                                                    <span style="width:80%"><strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="product-info">
                                        <h3 class="product-title">
                                            <a href="shop-simple-product.html">Mens Sporty Hoodie</a>
                                        </h3>
                                        <span class="product-categories">
                                            <a href="shop-mens-category.html" rel="tag">Hoodies</a>,
                                            <a href="shop-mens-category.html" rel="tag">Jackets</a>,
                                            <a href="shop-mens-category.html" rel="tag">Mens</a>
                                        </span>

                                        <h3 class="price">
                                            <ins>
                                                <span class="amount">&#36;24.99</span>
                                            </ins>
                                        </h3>
                                        <a class="add-to-cart-button" href="#" rel="nofollow">
                                            <i class="icon-bag"></i>
                                        </a>
                                    </div>
                                </li>

                                <li class="product col-md-3">
                                    <a href="shop-simple-product.html">
                                        <span class="onsale">Sale!</span>

                                        <div class="product-image">
                                            <div class="product-image-front">
                                                <img alt="shirt1-1" height="893" src="assets/images/shop/shirt1-1-700x893.jpg" width="700">
                                            </div>

                                            <div class="product-image-back">
                                                <img alt="shirt1-2" src="assets/images/shop/shirt1-2-700x893.jpg">
                                            </div>

                                            <div class="product-image-overlay">
                                                <h4>View Details</h4>
                                                <div class="star-rating" title="Rated 4.00 out of 5">
                                                    <span style="width:80%"><strong class="rating">4.00</strong> out of 5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="product-info">
                                        <h3 class="product-title">
                                            <a href="shop-simple-product.html">Mens Vintage Shirt</a>
                                        </h3>
                                        <span class="product-categories">
                                            <a href="shop-mens-category.html" rel="tag">Jacket</a>,
                                            <a href="shop-mens-category.html" rel="tag">Mens</a>,
                                            <a href="shop-mens-category.html" rel="tag">Shirts</a>
                                        </span>

                                        <h3 class="price">
                                            <del>
                                                <span class="amount">&#36;35.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">&#36;19.99</span>
                                            </ins>
                                        </h3>
                                        <a class="add-to-cart-button" href="#" rel="nofollow">
                                            <i class="icon-bag"></i>
                                        </a>
                                    </div>
                                </li>

                                <li class="product col-md-3">
                                    <a href="shop-simple-product.html">

                                        <div class="product-image">
                                            <div class="product-image-front">
                                                <img alt="shirt2-1" height="893" src="assets/images/shop/shirt2-1-700x893.jpg" width="700">
                                            </div>

                                            <div class="product-image-back">
                                                <img alt="shirt2-2" src="assets/images/shop/shirt2-2-700x893.jpg">
                                            </div>

                                            <div class="product-image-overlay">
                                                <h4>View Details</h4>
                                                <div class="star-rating" title="Rated 5.00 out of 5">
                                                    <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="product-info">
                                        <h3 class="product-title">
                                            <a href="shop-simple-product.html">Mens Luxury Black Shirt</a>
                                        </h3>
                                        <span class="product-categories">
                                            <a href="shop-mens-category.html" rel="tag">Mens</a>,
                                            <a href="shop-mens-category.html" rel="tag">Shirts</a>
                                        </span>

                                        <h3 class="price">
                                            <ins>
                                                <span class="amount">&#36;79.00</span>
                                            </ins>
                                        </h3>
                                        <a class="add-to-cart-button" href="#" rel="nofollow">
                                            <i class="icon-bag"></i>
                                        </a>
                                    </div>
                                </li>

                                <li class="product col-md-3">
                                <a href="shop-simple-product.html"><span class="onsale">Sale!</span>

                                    <div class="product-image">
                                        <div class="product-image-front">
                                            <img alt="hoodie2-1" height="893" src="assets/images/shop/hoodie2-1-700x893.jpg" width="700">
                                        </div>

                                        <div class="product-image-back">
                                            <img alt="hoodie2-1" src="assets/images/shop/hoodie2-2-700x893.jpg">
                                        </div>

                                        <div class="product-image-overlay">
                                            <h4>View Details</h4>
                                        </div>
                                    </div></a>

                                    <div class="product-info">
                                        <h3 class="product-title">
                                            <a href="shop-simple-product.html">Mens Casual Hoodie</a>
                                        </h3>
                                        <span class="product-categories">
                                            <a href="shop-mens-category.html" rel="tag">Hoodies</a>,
                                            <a href="shop-mens-category.html" rel="tag">Mens</a>
                                        </span>

                                        <h3 class="price">
                                            <del>
                                                <span class="amount">&#36;48.99</span>
                                            </del>
                                            <ins>
                                                <span class="amount">&#36;30.00</span>
                                            </ins>
                                        </h3>
                                        <a class="add-to-cart-button" href="#" rel="nofollow">
                                            <i class="icon-bag"></i>
                                        </a>
                                    </div>
                                </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    {% include "partials/shop/sidebar.html" %}
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}