{% extends "layouts/shop.html" %}

{% set title = "Contact" %}
{% set activeMenu = "Contact" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block extracss %}
    <!-- build:css assets/css/extras.min.css -->
    <link rel="stylesheet" href="styles/revolution.css">
    <link rel="stylesheet" href="../bower_components/mediaelement/build/mediaelementplayer.css">
    <!-- endbuild -->
    <style type="text/css" media="screen">
        .section-upper-footer {
            display: none;
        }
    </style>
{% endblock %}

{% block footer %}
    {% include "partials/shop/footer.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="google-map" data-os-animation="none" data-os-animation-delay="0s" id="map" style="height:400px"></div>
                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-50"></div>
                        <div class="visible-sm element-height-50"></div>
                        <div class="visible-md element-height-50"></div>
                        <div class="visible-lg element-height-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-4">
                    <h2 class="text-left element-top-0 element-bottom-0 os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0s">Get in touch with us</h2>
                </div>

                <div class="col-md-8">
                    <hr class="element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                </div>
            </div>
        </div>
    </section>
    <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container container-vertical-default">
            <div class="row vertical-default">
                <div class="col-md-12 text-default small-screen-default">
                    <div class="row">
                        <div class="col-md-4 text-left small-screen-left os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-20"></div>
                                <div class="visible-md element-height-20"></div>
                                <div class="visible-lg element-height-20"></div>
                            </div>

                            <div class="col-text-1 text-normal element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima, dolor, repudiandae dolores eum numquam nihil eaque quisquam commodi iste totam et
                                consectetur rerum ducimus alias dolorum nulla at molestias.</p>
                            </div>

                            <ul class="fa-ul text-normal element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                <li><i class="fa-li fa fa-home"></i> Some street. Some town. Some postcode. UK</li>

                                <li><i class="fa-li fa fa-phone"></i> 0044123456789</li>

                                <li><i class="fa-li fa fa-globe"></i> http://lambdahtml.oxygenna.com/shop/</li>
                            </ul>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                        </div>

                        <div class="col-md-8 text-left small-screen-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-20"></div>
                                <div class="visible-md element-height-20"></div>
                                <div class="visible-lg element-height-20"></div>
                            </div>

                            <form action="contact_mailer.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-user"></i>
                                            <input class="form-control" id="name" name="name" placeholder="Your name *" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon-group">
                                            <i class="fa fa-envelope"></i>
                                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-icon-group">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
                                </div>

                                <p>
                                    <input type="submit" value="Send email" class="btn btn-primary">
                                </p>
                                <div class="messages text-center"></div>
                            </form>

                            <div class="divider-wrapper">
                                <div class="visible-xs element-height-60"></div>
                                <div class="visible-sm element-height-60"></div>
                                <div class="visible-md element-height-60"></div>
                                <div class="visible-lg element-height-60"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(240,240,240,1);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flexslider flex-controls-bottom element-top-10 element-bottom-20 os-animation" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="hide" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-itemwidth="165" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay="0s" id="flexslider-100">
                        <ul class="slides">
                            <li>
                                <figure>
                                    <img alt="chanel-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/chanel-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="diesel-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/diesel-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="hm-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/hm-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="knsley-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/knsley-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="lecoq-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/lecoq-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="levis-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/levis-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="nike-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/nike-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="pullbear-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/pullbear-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="zara-notinclude" class="attachment-full wp-post-image" height="200" src=
                                    "assets/images/shop/zara-notinclude.png" width="200">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}