% extends "layouts/travel-agency.html" %}

{% set title = "Travel Agency | Lambda" %}
{% extends "layouts/travel-agency.html" %}

{% set title = "Travel Agency | Offers" %}

{% set bodyclasses = "pace-on pace-dot" %}

{% set activeMenu = "Offers" %}

{% block content %}

<article>
    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-top-0 element-bottom-0 text-normal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio masonry no-transition use-masonry" data-padding="0" data-col-xs="1" data-col-sm="2" data-col-md="4" data-col-lg="6" data-layout="masonry">
                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="1"  data-title="Trekking in Austria">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img18.jpg" alt="Winter Holiday in Switzerland" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Winter Holiday in Switzerland</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img18.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="2"  data-title="Enjoy the view">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img2.jpg" alt="Enjoy the view" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Enjoy the view</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img2.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="3"  data-title="Alps">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img7.jpg" alt="Alps" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Alps</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img7.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="4"  data-title="Beautiful Rome">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img9.jpg" alt="Beautiful Rome" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Beautiful Rome</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img9.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="5"  data-title="Big Ben">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img3.jpg" alt="Big Ben" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Big Ben</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img3.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="6"  data-title="Luxury Paris">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img12.jpg" alt="Luxury Paris" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Luxury Paris</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img12.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="7"  data-title="Safari in Marocco">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img13.jpg" alt="Safari in Marocco" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Safari in Marocco</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img13.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="8"  data-title="New York">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img6.jpg" alt="New York" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">New York</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img6.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="9"  data-title="Trekking in Austria">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img14.jpg" alt="Trekking in Austria" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Trekking in Austria</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img14.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="10"  data-title="Paragliding in Kenya">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img15.jpg" alt="Paragliding in Kenya" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Paragliding in Kenya</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img15.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="11"  data-title="Snowboard on Alps">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img16.jpg" alt="Snowboard on Alps" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Snowboard on Alps</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img16.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="12"  data-title="Climbing in Nepal">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img17.jpg" alt="Climbing in Nepal" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Climbing in Nepal</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img17.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="13"  data-title="Windsurf in Brazil">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img20.jpg" alt="Windsurf in Brazil" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Windsurf in Brazil</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img20.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item masonry-wide" data-menu-order="14"  data-title="Surfing in Greece">
                                <div class="figure  element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="1.6s">
                                    <span class="figure-image">
                                        <img src="assets/images/travel-agency/img21.jpg" alt="Surfing in Greece" class="normalwidth"/>
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h4 class="figure-caption-title element-small-bottom bordered bordered-small">Surfing in Greece</h4>
                                                    <p class="figure-caption-description">
                                                        <a href="assets/images/travel-agency/img21.jpg" class="btn btn-primary magnific image-all" data-links="">View Photo</a>
                                                        <a href="travel-agency-contact.html" class="btn btn-primary" target="_self">Book Now</a>
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}