{% extends "layouts/travel-agency.html" %}

{% set title = "Travel Agency | Europe" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-dot" %}

{% set activeMenu = "Europe" %}

{% block content %}

<article>
    <section class="section section-fullheight">
        <div class="background-media" style="background-image: url(assets/images/travel-agency/img22-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-0 element-bottom-0 text-light super light" data-0-top-bottom="opacity:0" data-center="opacity:1" data-start="opacity:1">Explore our trips</h1>
                </header>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h1 class="post-title">Santorini, Greece <span>– 7 Days <strong>$800</strong></span></h1>
                            <div class="post-details">
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">Europe</a>,
                                </span>
                            </div>
                        </header>

                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/travel-agency/post6-notinclude.jpg">
                                    <img alt="Santorini, Greece" src="assets/images/travel-agency/post6-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p class="text-center">Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to
                            the East and Crete to the South.We refer to it as one, but actually it is a complex of five islands. Santorini (Thira) is the main island and around it Thirasia and
                            Aspronisi (parts of the ancient Stroggili) and the two volcanic islands Palea Kameni and Nea Kameni.It was one island named Stroggili (circle in Greek) until about 1645
                            BC, when the volcano in the middle of the island erupted and Caldera was created. The two volcanic islands appeared much later from various eruptions starting from 157 BC
                            until the last one in the 20th century (1950).<br>
                            Many reasons made this island famous worldwide and more or less we all have seen a picture of it (it was that picture the travel agency used for Greece). There is a talk
                            about the connection between Thira and mythical Atlantis. Also Jules Verne made Santorini famous with its books Twenty Thousand Leagues Under the Sea" and
                            "The mysterious island" where captain Nemo and his crew watch the volcano eruption. He was one of the visitors and scientists that came to Thira during the eruptions of 1866 - 1870 and wrote the well known book just after it. It is realy the mysterious island, the volcano rules, the caldera view is the most breathtaking one on the planet!If you are after the caldera view have a look at Fira, Oia, Imerovigli, Firostefani, Megalochori and Akrotiri.<br>
                            For the best beaches check Perissa, Kamari, Perivolos, Vlihada and Red beach.The unique caldera, the energy and the beauty of the island are the most important reasons for
                            being ranked as the top island in Europe and one of the once in a life time must see destinations of the world.If you want to know how to reach it, Santorini is connected
                            to Piraeus, Thessaloniki, Crete, Rhodes, Kos and all the major Cyclades islands (Mykonos, Paros, Naxos, Sifnos, Milos, Tinos, Syros) by boat and Athens and many countries direct by plane.</p>

                            <h1 class="text-center">Places to See</h1>

                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Villages</h2>

                                    <p><i class="fa fa-map-marker"></i> Fira<br>
                                    <i class="fa fa-map-marker"></i> Oia<br>
                                    <i class="fa fa-map-marker"></i> Kamari<br>
                                    <i class="fa fa-map-marker"></i> Akrotiri</p>
                                </div>

                                <div class="col-md-4">
                                    <h2>Beaches</h2>

                                    <p><i class="fa fa-map-marker"></i> Mamari<br>
                                    <i class="fa fa-map-marker"></i> Perissa<br>
                                    <i class="fa fa-map-marker"></i> Perivolos<br>
                                    <i class="fa fa-map-marker"></i> Red Beach</p>
                                </div>

                                <div class="col-md-4">
                                    <h2>Acheological Sites</h2>

                                    <p><i class="fa fa-map-marker"></i> Acheological site of akrotiri<br>
                                    <i class="fa fa-map-marker"></i> Volcano<br>
                                    <i class="fa fa-map-marker"></i> Skaros<br>
                                    <i class="fa fa-map-marker"></i> Caldera Trip</p>
                                </div>
                            </div>

                            <div class="row">
                                <h1 class="text-center">Gallery</h1>

                                <div class="col-md-3"><img alt="sea" src="assets/images/travel-agency/post11-notinclude.jpg"></div>

                                <div class="col-md-3"><img alt="relax" src="assets/images/travel-agency/img33-notinclude.jpg"></div>

                                <div class="col-md-3"><img alt="santorini view" src="assets/images/travel-agency/post6-notinclude.jpg"></div>

                                <div class="col-md-3"><img alt="surf" src="assets/images/travel-agency/post12-notinclude.jpg"></div>
                            </div>

                            <h1 class="text-center">Pricing</h1>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Days</th>

                                        <th>Hotel</th>

                                        <th>Price</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>4 Days</td>

                                        <td>4*</td>

                                        <td>$500</td>
                                    </tr>

                                    <tr>
                                        <td>6 Days</td>

                                        <td>5*</td>

                                        <td>$1000</td>
                                    </tr>

                                    <tr>
                                        <td>10 Days</td>

                                        <td>4*</td>

                                        <td>$1500</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row text-center">
                                <a class="btn btn-primary" href="travel-agency-contact.html">Book Now</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">Relax</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-facebook" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-pinterest" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#007bb6" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-linkedin" style="color: rgb(135, 135, 135);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"><i class=
                                "fa fa-angle-left"></i> Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"><i class=
                                "fa fa-angle-right"></i> Next</a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid element-bottom-20 text-left">
                                    <a href="#"><img alt="Miami"
                                    class="img-responsive" src="assets/images/travel-agency/post11-notinclude-600x400.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                            <a href="#">Miami <span> – 10 Days  <strong>$2500</strong></span></a>
                                        </h3>
                                        <p>Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to the East and Crete to the South.</p>
                                        <div class="post-grid-content-footer">
                                            September 8, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid element-bottom-20 text-left">
                                    <a href="#"><img alt="Jamaica"
                                    class="img-responsive" src="assets/images/travel-agency/post10-notinclude-600x400.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                            <a href="#">Jamaica <span> – 7 Days  <strong>$1000</strong></span></a>
                                        </h3>
                                        <p>Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to the East and Crete to the South.</p>
                                        <div class="post-grid-content-footer">
                                            September 8, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid element-bottom-20 text-left">
                                    <a href="#"><img alt="Mauritius"
                                    class="img-responsive" src="assets/images/travel-agency/post1-notinclude-600x400.jpg"></a>

                                    <div class="post-grid-content">
                                        <h3 class="post-grid-content-title">
                                            <a href="#">Mauritius <span> – 6 Days  <strong>$1000</strong></span></a>
                                        </h3>
                                        <p>Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to the East and Crete to the South.</p>
                                        <div class="post-grid-content-footer">
                                            September 4, 2015
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">
                            Leave a Reply
                            <small>
                                <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                                    Cancel reply
                                </a>
                            </small>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="author">Your name *</label><input class="input-block-level form-control" id="author" name="author" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="email">Your email *</label><input class="input-block-level form-control" id="email" name="email" type="text" value="">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="url">Website</label><input class="input-block-level form-control" id="url" name="url" type="text" value="">
                            </div>
                        </div>
                        <form action="comments-post.php" class="comment-form" id="commentform" method="post" name="commentform">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="195"> <input id="comment_parent" name="comment_parent" type="hidden" value="0">
                            </p>
                            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" type="hidden" value="eeeea90cee">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}