{% extends "layouts/travel-agency.html" %}

{% set title = "Travel Agency | Europe" %}

{% set bodyclasses = "transparent-header transparent-menu-below pace-on pace-dot" %}

{% set activeMenu = "Europe" %}

{% block content %}

<article>
    <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-fullheight section-opaque">
        <div class="background-media" style=
        "background-image: url(assets/images/travel-agency/img22-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.5);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-0 element-bottom-0 text-light super light" data-0-top-bottom="opacity:0" data-center="opacity:1" data-start="opacity:1">Europe</h1>
                </header>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="travel-agency-post.html" rel="bookmark" title="Permalink to Italy-14 Days $1600">Italy
                                <span>14 Days <strong>$1600</strong></span></a>
                            </h2>

                            <div class="post-details">
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="travel-agency-blog.html" rel="tag">Europe</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="travel-agency-post.html">
                                    <img alt="Italy" src="assets/images/travel-agency/post7-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p class="text-center">Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to
                            the East and Crete to the South.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="travel-agency-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="travel-agency-post.html" rel="bookmark" title="Permalink to Paris 4 Days $800">Paris <span> 4
                            Days <strong>$800</strong></span></a></h2>

                            <div class="post-details">
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="travel-agency-blog.html" rel="tag">Europe</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="travel-agency-post.html">
                                    <img alt="Paris" src="assets/images/travel-agency/post5-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p class="text-center">Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to
                            the East and Crete to the South.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="travel-agency-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="travel-agency-post.html" rel="bookmark" title=
                            "Permalink to Santorini, Greece  7 Days $800">Santorini, Greece <span> 7 Days <strong>$800</strong></span></a></h2>

                            <div class="post-details">
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="travel-agency-blog.html" rel="tag">Europe</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="travel-agency-post.html">
                                    <img alt="Santorini, Greece" src=
                                    "assets/images/travel-agency/post6-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                    <span class="figure-overlay-icons">
                                                        <i class="icon-link"></i>
                                                    </span>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p class="text-center">Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to
                            the East and Crete to the South.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="travel-agency-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <header class="post-head small-screen-center">
                            <h2 class="post-title"><a href="travel-agency-post.html" rel="bookmark" title=
                            "Permalink to Venice, Italy  3 Days $300">Venice, Italy <span> 3 Days <strong>$300</strong></span></a></h2>

                            <div class="post-details">
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="travel-agency-blog.html" rel="tag">Europe</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="travel-agency-post.html">
                                    <img alt="Venice, Italy" src=
                                    "assets/images/travel-agency/post3-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                    <span class="figure-overlay-icons">
                                                        <i class="icon-link"></i>
                                                    </span>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <p class="text-center">Santorini is the last of the Cyclades islands to the South. The closests islands are Ios, Folegandros, Sikinos to the North, Anafi and Amorgos to
                            the East and Crete to the South.</p>
                        </div>
                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="travel-agency-post.html">read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}