{% extends "layouts/wedding.html" %}

{% set title = "From This Day Forward | Lambda Wedding" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -300px" data-start="background-position: 50% -200px" style="background-image: url(assets/images/wedding/wedding01_notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(48,60,64,0.3);"></div>
        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-center element-top-300 element-bottom-150 text-light normal bold">Blog</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/wedding/wedding10_notinclude.jpg"><img alt="From This Day Forward..We&#8217;ll Live Happily Ever After" src="assets/images/wedding/wedding10_notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h1 class="post-title">From This Day Forward..We&#8217;ll Live Happily Ever After</h1>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> June 26, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="wedding-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="wedding-blog.html">News</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">3 comments</a></span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>We all wake up on our wedding day with the exact same thought: “AHHHH…what could possibly go wrong today?” But, like Lindsay Lohan in a common sense factory, fate has a
                            way of blowing us off course.</p>

                            <p>Every newly betrothed couple assumes that their event will go off without a hitch. But there’s one big mitigating factor in this lofty assumption. Namely, your day’s
                            success is entirely dependent on other humans. And, unfortunately, that species is still a few sardines short of a bucket of chum.</p>

                            <p>So you have two choices. You can either freak out over minor mishaps or serve yourself up a big helping of cool cucumber. My advice? Ditch the stress ball and take the
                            time to stop and smell the squirting roses. Weddings aren’t just for tears and smiles; there’s also a little room for laughs. So when Glitch shows up at your wedding with
                            his date, Blooper, just relax and roll with the punches. And by all means, make sure to get a good picture.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="wedding-blog.html" rel="tag">forever</a>
                                        <a href="wedding-blog.html" rel="tag">love</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-facebook" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-pinterest" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel=
                                "prev">
                                    <i class="fa fa-angle-left"></i> Previous
                                </a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="#"
                                rel="next">
                                    Next <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-center" style=
                                "background-image: url(assets/images/wedding/wedding15_notinclude.jpg)">
                                    <a href="wedding-post.html">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Five Perfect Wedding Shoes that Don’t Kill Your Feet</h3>

                                            <div class="post-grid-content-footer">
                                                John , July 1, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-center" id="post-293" style="background-image: url(assets/images/wedding/wedding09_notinclude.jpg)">
                                    <a href="#">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Keep Yourself from Stressing Out by Delegating Everything</h3>

                                            <div class="post-grid-content-footer">
                                                katerina , July 1, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-center" id="post-160" style="background-image: url(assets/images/wedding/wedding08_notinclude.jpg)">
                                    <a href="#">
                                        <div class="post-grid-content">
                                            <h3 class="post-grid-content-title">Forever is a long time, but I would spend it with you.</h3>

                                            <div class="post-grid-content-footer">
                                                Manos , June 29, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>


                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply</h3>

                        <form class="comment-form" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class=
                                    "input-block-level form-control" id="author" name="author" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class=
                                    "input-block-level form-control" id="email"
                                    name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for=
                                    "url">Website</label><input class="input-block-level form-control" id="url"
                                    name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id=
                                    "comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}