{% extends "layouts/wedding.html" %}

{% set title = "Lambda Wedding" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
    <!-- load map js -->
    {% include "partials/js/map.html" %}
{% endblock %}

{% block footer %}
    {% include "partials/wedding/footer.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
<article>
    <section class="section section-fullheight" id="home">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style="background-image: url(assets/images/wedding/wedding01_notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0.2);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="text-center element-top-80 element-bottom-0 text-light os-animation hyper regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Helen &amp; Mike</h1>

                    <h2 class="text-center element-top-10 element-bottom-0 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.2s">We &#8216;re getting
                    married</h2>

                    <h2 class="text-center element-top-0 element-bottom-50 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.3s">September 8, 2015</h2>
                    <a href="#about" class="scroll-to scroll-to-id  element-top-20 element-bottom-20 text-light os-animation place-bottom animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.4s" style="-webkit-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <section class="section" id="about">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 text-normal os-animation big regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">MEET US</h1>

                    <div class="figure element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image">
                            <img alt="border" src="assets/images/wedding/header-border1.png">
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="figure element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <span class="figure-image"><img alt="groom" src="assets/images/wedding/groom_notinclude.jpg"></span>
                            </div>

                            <h2 class="text-center element-top-20 element-bottom-0 text-normal os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.1s">MIKE DOROTHY</h2>

                            <div class="col-text-1 text-normal element-top-20 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.</p>
                            </div>

                            <div class="element-top-10 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <ul class="social-icons text-normal social-sm social-simple social-circle">
                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#ea4c89">
                                            <i class="fa fa-dribbble" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#3b5998">
                                            <i class="fa fa-facebook" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#E45135">
                                            <i class="fa fa-google-plus" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#634d40">
                                            <i class="fa fa-instagram" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#00acee">
                                            <i class="fa fa-twitter" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="figure element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                <span class="figure-image"><img alt="bride" src="assets/images/wedding/bride_notinclude1.jpg"></span>
                            </div>

                            <h2 class="text-center element-top-20 element-bottom-0 text-normal os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.1s">HELEN BLACK</h2>

                            <div class="col-text-1 text-normal element-top-20 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur.</p>
                            </div>

                            <div class="element-top-10 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <ul class="social-icons text-normal social-sm social-simple social-circle">
                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#ea4c89">
                                            <i class="fa fa-dribbble" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#3b5998">
                                            <i class="fa fa-facebook" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#E45135">
                                            <i class="fa fa-google-plus" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#634d40">
                                            <i class="fa fa-instagram" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank" style="background-color: rgba(0, 0, 0, 0);" data-iconcolor="#00acee">
                                            <i class="fa fa-twitter" style="color: rgb(87, 87, 87);"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/wedding/wedding-bg1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(210,158,175,0);"></div>

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 text-light os-animation normal light" data-os-animation="fadeIn" data-os-animation-delay="0.1s">wedding countdown</h1>

                    <h1 class="countdown hyper black text-light element-top-30 element-bottom-80 os-animation" data-date="2017/01/26 18:00" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="counter-element">
                            <span class="counter-days odometer text-center">0</span> <b>days</b>
                        </span>
                        <span class="counter-element">
                            <span class="counter-hours odometer text-center">0</span> <b>hours</b>
                        </span>
                        <span class="counter-element">
                            <span class="counter-minutes odometer text-center">0</span> <b>minutes</b>
                        </span>
                        <span class="counter-element">
                            <span class="counter-seconds odometer text-center">0</span> <b>seconds</b>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="people">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 os-animation normal hairline" data-os-animation="fadeIn" data-os-animation-delay="0.1s">Groomsmen &amp;
                    Bridesmaids</h1>

                    <div class="figure element-top-20 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <img alt="border" src="assets/images/wedding/header-border1.png">
                    </div>

                    <div class="row staff-list-container list-container element-top-30 element-bottom-80">
                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <div class="figure-image">
                                <img alt="Martha Davis" src="assets/images/wedding/wedding03_notinclude1.jpg">
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Martha Davis</strong></h3>

                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam.</p>
                            </div>
                        </div>

                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.6s">
                            <div class="figure-image">
                                <img alt="Peter Stone" src="assets/images/wedding/wedding04_notinclude1.jpg">
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Peter Stone</strong></h3>

                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam.</p>
                            </div>
                        </div>

                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="0.9s">
                            <div class="figure-image">
                                <img alt="Natalie Tyler" src="assets/images/wedding/wedding05_notinclude1.jpg">
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Natalie Tyler</strong></h3>

                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam.</p>
                            </div>
                        </div>

                        <div class="figure text-normal col-md-3 fade-in element-top-0 element-bottom-20 figcaption-bottom text-center fade-in os-animation" data-os-animation="fadeIn"
                        data-os-animation-delay="1.2s">
                            <div class="figure-image">
                                <img alt="Saul Leonard" src="assets/images/wedding/wedding02_notinclude1.jpg">
                            </div>

                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title"><strong>Saul Leonard</strong></h3>

                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" style="background-image: url(assets/images/wedding/wedding-bg1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(210,158,175,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="element-top-80 element-bottom-80 text-center text-light flexslider feature-slider" data-flex-animation="fade" data-flex-controls="show" data-flex-controls-position="outside" data-flex-controlsalign="center" data-flex-directions="hide" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="none" data-os-animation-delay="0s" id="flexslider-810">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>Congratulations on your wedding! May the love for each other find a way to creep into your lives every time you feel the need for it.</p>

                                    <footer>
                                        Kate Doe
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>Remember when you made that list of qualities of a 'perfect man/woman?' Well, you found him/her. Lots of love now and always.</p>

                                    <footer>
                                        Laura Price
                                    </footer>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <p>Wishing you joy, love and happiness on your wedding day and as you begin your new life together.</p>

                                    <footer>
                                        Thomas Carr
                                    </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="gallery">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="portfolio-container element-top-0 element-bottom-0 text-normal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portfolio-header clearfix">
                                    <div class="portfolio-filters pull-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="portfolio masonry no-transition" data-col-lg="4" data-col-md="4" data-col-sm="4" data-col-xs="2" data-layout="fitRows" data-padding="0">
                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T11:57:12+00:00" data-menu-order="0" data-title="Celebrate Love">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding06_notinclude.jpg" target="_self" title="">
                                        <img alt="Celebrate Love" class="normalwidth" src="assets/images/wedding/wedding06_notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Celebrate Love</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T11:58:14+00:00" data-menu-order="0" data-title="Kiss me">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding09_notinclude.jpg" target="_self" title="">
                                        <img alt="Kiss me" class="normalwidth" src="assets/images/wedding/wedding09_notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Kiss me</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T12:01:28+00:00" data-menu-order="0" data-title="Eternal Love">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding07_notinclude.jpg" target="_self" title="">
                                        <img alt="Eternal Love" class="normalwidth" src="assets/images/wedding/wedding07_notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Eternal Love</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T12:03:52+00:00" data-menu-order="0" data-title="Cheers">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding11_notinclude.jpg" target="_self" title="">
                                        <img alt="Cheers" class="normalwidth" src="assets/images/wedding/wedding11_notinclude.jpg">
                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Cheers</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T12:06:29+00:00" data-menu-order="0" data-title="Family Happines">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding12_notinclude.jpg" target="_self" title="">
                                        <img alt="Family Happines" class="normalwidth" src="assets/images/wedding/wedding12_notinclude.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Family Happines</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T12:07:53+00:00" data-menu-order="0" data-title="Anxious">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding13_notinclude.jpg" target="_self" title="">
                                        <img alt="Anxious" class="normalwidth" src="assets/images/wedding/wedding13_notinclude.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Anxious</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T12:10:20+00:00" data-menu-order="0" data-title="Group Wedding">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific image-all" data-links="" href="assets/images/wedding/wedding14_notinclude.jpg" target="_self" title="">
                                        <img alt="Group Wedding" class="normalwidth" src="assets/images/wedding/wedding14_notinclude.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Group Wedding</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item" data-comments="0" data-date="2015-06-25T12:11:23+00:00" data-menu-order="0" data-title="Preparetion">
                                <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth"
                                data-os-animation="fadeIn" data-os-animation-delay="0.7s">
                                    <a class="figure-image magnific image-all" data-links="" href=
                                    "assets/images/wedding/wedding15_notinclude.jpg" target="_self" title="">
                                        <img alt="Preparetion" class="normalwidth" src="assets/images/wedding/wedding15_notinclude.jpg">

                                        <div class="figure-overlay grid-overlay-0">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">Preparetion</h3>

                                                    <p class="figure-caption-description"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="events">
        <div class="background-media" style="background-image: url(assets/images/wedding/wedding-bg1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(210,158,175,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center small-screen-center">
                    <div class="google-map element-top-0 element-bottom-0" id="map" style="height:500px"></div>
                </div>

                <div class="col-md-6 text-center small-screen-center">
                    <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">BACHELOR &amp;
                    BACHELORETTE<br>
                    PARTY</h1>

                    <div class="figure element-top-0 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/wedding/header-border-white.png">
                        </span>
                    </div>

                    <div class="col-text-1 text-light element-top-0 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <p style="text-align: center;">Bachelor Party: 34 Boswell St LDN<br>
                        (Sept 5|23:00 PM)<br>
                        Bachelorette Paty: Savoy Hill WC2R 0BU LDN<br>
                        (Sept 5|23:00 PM)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="ceremony">
        <div class="background-media" style="background-image: url(assets/images/wedding/wedding-bg1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(210,158,175,0);"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center small-screen-center">
                    <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">WEDDING CEREMONY<br>
                    &amp; PARTY</h1>

                    <div class="figure element-top-0 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image">
                            <img alt="border white" src="assets/images/wedding/header-border-white.png">
                        </span>
                    </div>

                    <div class="col-text-1 text-light element-top-0 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <p style="text-align: center;">Wedding Ceremony: St Paul&#8217;s Churchyard EC4M 8AD LDN<br>
                        (Sept 8|18:30 PM)<br>
                        Wedding Party: 26 St John St EC1M 4AY LDN<br>
                        (Sept 8|20:30)</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="google-map element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s" id="map" style="height:500px"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="rsvp">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 text-normal os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">rsvp</h1>

                    <div class="figure element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/wedding/header-border1.png"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>

                        <div class="col-md-6 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <form id="contactForm" action="contact_mailer_wedding.php" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group text-left form-icon-group">
                                            <input class="form-control" id="name" name="firstname" placeholder="First name *" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group text-left form-icon-group">
                                            <input class="form-control" id="name" name="lastname" placeholder="Last name *" type="text" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-left form-icon-group">
                                            <input class="form-control" id="email" name="email" placeholder="Your email *" type="email" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group text-left">
                                            <label>Guests</label>
                                            <br>
                                            <select name="guests">
                                                <option value="0">
                                                    0
                                                </option>
                                                <option value="1">
                                                    1
                                                </option>
                                                <option value="2">
                                                    2
                                                </option>
                                                <option value="3">
                                                    3
                                                </option>
                                                <option value="4">
                                                    4
                                                </option>
                                                <option value="5">
                                                    5
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  text-left">
                                            <label>Events</label>
                                            <br>
                                            <select name="events">
                                                <option value="Bachelor">Bachelor Party</option>
                                                <option value="Bachelorette">Bachelorette Party</option>
                                                <option value="Ceremony">Wedding Ceremony</option>
                                                <option value="Party">Wedding Party</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <input type="submit" value="I'm Attending" class="btn btn-primary btn-lg">
                                </div>
                                <div class="messages"></div>
                            </form>
                        </div>

                        <div class="col-md-3"></div>
                    </div>

                    <div class="divider-wrapper">
                        <div class="visible-xs element-height-30"></div>
                        <div class="visible-sm element-height-30"></div>
                        <div class="visible-md element-height-80"></div>
                        <div class="visible-lg element-height-80"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
        <div class="background-media" style=
        "background-image: url(assets/images/wedding/wedding-bg1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(210,158,175,0);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-40 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">wedding gifts</h1>

                    <div class="figure element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image"><img alt="" src="assets/images/wedding/header-border-white.png"></span>
                    </div>

                    <div class="flexslider flex-controls-bottom element-top-0 element-bottom-40 os-animation" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="hide" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-itemwidth="165" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="3000" data-os-animation="fadeIn" data-os-animation-delay="0.3s" id="flexslider-58">
                        <ul class="slides">
                            <li>
                                <figure>
                                    <img alt="chanel-notinclude" class="attachment-full wp-post-image" data-original-title="chanel" data-toggle="tooltip" height="140" src="assets/images/wedding/chanel-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="diesel-notinclude" class="attachment-full wp-post-image" data-original-title="diesel" data-toggle="tooltip" height="140" src="assets/images/wedding/diesel-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="hm-notinclude" class="attachment-full wp-post-image" data-original-title="h&amp;m" data-toggle="tooltip" height="140" src="assets/images/wedding/hm-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="knsley-notinclude" class="attachment-full wp-post-image" data-original-title="kinsley" data-toggle="tooltip" height="140" src="assets/images/wedding/knsley-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="lecoq-notinclude-1" class="attachment-full wp-post-image" data-original-title="lecoq" data-toggle="tooltip" height="140" src="assets/images/wedding/lecoq-notinclude-1.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="levis-notinclude" class="attachment-full wp-post-image" data-original-title="levis" data-toggle="tooltip" height="140" src="assets/images/wedding/levis-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="nike-notinclude" class="attachment-full wp-post-image" data-original-title="nike" data-toggle="tooltip" height="140" src="assets/images/wedding/nike-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="pullbear-notinclude" class="attachment-full wp-post-image" data-original-title="pull&amp;bear" data-toggle="tooltip" height="140" src="assets/images/wedding/pullbear-notinclude.png" width="200">
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img alt="zara-notinclude" class="attachment-full wp-post-image" data-original-title="zara" data-toggle="tooltip" height="140" src="assets/images/wedding/zara-notinclude.png" width="200">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="blog">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center element-top-80 element-bottom-0 text-normal os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.1s">blog</h1>

                    <div class="figure element-top-20 element-bottom-30 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        <span class="figure-image">
                            <img alt="" src="assets/images/wedding/header-border1.png">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="figure fade-none element-top-20 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-out os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.3s">
                        <a class="figure-image" href="wedding-post.html">
                            <img alt="From This Day Forward..We&#8217;ll Live Happily Ever After" src="assets/images/wedding/wedding10_notinclude.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3 class="figure-caption-title"><strong>From This Day Forward..We&#8217;ll Live Happily Ever After</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="figure fade-none element-top-20 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-out os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.4s">
                        <a class="figure-image" href="wedding-post.html">
                            <img alt="First Comes Love (then comes marriage…)" src="assets/images/wedding/wedding13_notinclude.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3 class="figure-caption-title"><strong>First Comes Love (then comes marriage…)</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 text-default">
                    <div class="figure fade-none element-top-20 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-out os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.3s">
                        <a class="figure-image" href="wedding-post.html">
                            <img alt="Forever is a long time, but I would spend it with you." src="assets/images/wedding/wedding08_notinclude.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3 class="figure-caption-title"><strong>Forever is a long time, but I would spend it with you.</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="figure fade-none element-top-20 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-out os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.4s">
                        <a class="figure-image" href="wedding-post.html">
                            <img alt="Five Perfect Wedding Shoes that Don’t Kill Your Feet" src="assets/images/wedding/wedding15_notinclude.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3 class="figure-caption-title"><strong>Five Perfect Wedding Shoes that Don’t Kill Your Feet</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 text-default">
                    <div class="figure fade-none element-top-20 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-out os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.3s">
                        <a class="figure-image" href="wedding-post.html">
                            <img alt="Planning the First Day of the Rest of Your Life" src="assets/images/wedding/wedding06_notinclude.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3 class="figure-caption-title"><strong>Planning the First Day of the Rest of Your Life</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="figure fade-none element-top-20 element-bottom-20 figcaption-bottom text-left image-filter-none image-effect-zoom-out os-animation" data-os-animation="fadeIn"
                    data-os-animation-delay="0.4s">
                        <a class="figure-image" href="wedding-post.html">
                            <img alt="Keep Yourself from Stressing Out by Delegating Everything" src="assets/images/wedding/wedding09_notinclude.jpg">

                            <div class="figure-overlay">
                                <div class="figure-overlay-container">
                                    <div class="figure-caption">
                                        <h3 class="figure-caption-title"><strong>Keep Yourself from Stressing Out by Delegating Everything</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
