{% extends "layouts/yoga.html" %}

{% set title = "Relieve Stress with T'ai Chi | Yoga" %}
{% set activeMenu = "" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -300px" data-start="background-position: 50% -200px" style="background-image: url(assets/images/yoga/yoga09-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-160 element-bottom-60 text-light normal bold">Latest News</h1>

                    <ol class="breadcrumb breadcrumb-blog text-caps element-top-160">
                        <li>
                            <a href="yoga-index.html">home</a>
                        </li>

                        <li>
                            <a href="yoga-blog.html">blog</a>
                        </li>

                        <li>
                            <a href="yoga-blog.html" rel="tag">News</a>
                        </li>

                        <li class="active">Relieve Stress with T&#8217;ai Chi</li>
                    </ol>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image magnific" href="assets/images/yoga/yoga04-notinclude.jpg">
                                    <img alt="Relieve Stress with T&#8217;ai Chi" src="assets/images/yoga/yoga04-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="yoga-post.html" rel="bookmark" title="Permalink to Poses You Should Do Daily">Relieve Stress with T&#8217;ai Chi</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> May 23, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="yoga-blog.html">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">News</a>,
                                    <a href="#" rel="tag">Practice</a>,
                                    <a href="#" rel="tag">T&#8217;ai Chi</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don&#8217;t have a place within an organized
                            <strong>religion</strong>. Son, a woman is like a beer. They smell good, they look good, you&#8217;d step over your own mother just to get one! But you can&#8217;t stop at
                            one. You wanna drink another woman! The Internet King? I wonder if he could provide faster nudity.</p>

                            <p>Stan Lee never left. I&#8217;m afraid his mind is no longer in mint condition. Uh, no, they&#8217;re saying &#8220;Boo-urns, Boo-urns.&#8221; Fire can be our friend;
                            whether it&#8217;s toasting marshmallows or raining down on Charlie. And now, in the spirit of the season: start shopping. And for every dollar of Krusty merchandise you
                            buy, I will be nice to a sick kid. For legal purposes, sick kids may include hookers with a cold. Look out, Itchy! He&#8217;s Irish! I didn&#8217;t get rich by signing
                            checks. Shoplifting is a victimless crime. Like punching someone in the dark.</p>

                            <blockquote>
                                <p>Inflammable means flammable? What a country. Slow down, Bart! My legs don&#8217;t know how to be as long as yours. You know, the one with all the well meaning rules
                                that don&#8217;t work out in real life, uh, Christianity. I&#8217;ll keep it short and sweet — Family. Religion. Friendship.</p>
                            </blockquote>

                            <p>Oh, so they have Internet on computers now! Weaseling out of things is important to learn. It&#8217;s what separates us from the animals…except the weasel. Kids, you
                            tried your best and you failed miserably. The lesson is, never try. The Internet King? I wonder if he could provide faster nudity… I stand by my racial slur. He
                            didn&#8217;t give you gay, did he? Did he?! Homer no function beer well without.</p>

                            <p>Get ready, skanks! It&#8217;s time for the <strong>truth</strong> train! You don&#8217;t win friends with salad. I like my beer cold, my TV loud and my homosexuals
                            flaming. No children have ever meddled with the Republican Party and lived to tell about it. Whoa, slow down there, maestro. There&#8217;s a *New* Mexico? Aaah! Natural
                            light! Get it off me! Get it off me! Yes! I am a citizen! Now which way to the welfare office? I&#8217;m kidding, I&#8217;m kidding. I work, I work. Bart, with $10,000
                            we&#8217;d be millionaires! We could buy all kinds of useful things like…love! Oh, a *sarcasm* detector. Oh, that&#8217;s a *really* useful invention!</p>

                            <p>They only come out in the night. Or in this case, the day. The <strong>Internet</strong> King? I wonder if he could provide faster nudity… Oh, loneliness and
                            cheeseburgers are a dangerous mix. A woman is a lot like a refrigerator. Six feet tall, 300 pounds…it makes ice. Weaseling out of things is important to learn. It&#8217;s
                            what separates us from the animals…except the weasel.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="small-screen-center post-extras">
                                    <div class="post-tags">
                                        <a href="#" rel="tag">event</a>
                                        <a href="#" rel="tag">fitness</a>
                                        <a href="#" rel="tag">T’ai Chi</a>
                                        <a href="#" rel="tag">workout</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-right small-screen-center post-share">
                                    <div class="element-top-0 element-bottom-0" data-os-animation="none" data-os-animation-delay="0s">
                                        <ul class="social-icons text-normal social-sm social-simple social-circle">
                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#00acee" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-twitter" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#dd1812" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-google-plus" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" data-iconcolor="#3b5998" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-facebook" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank" data-iconcolor="#C92228" style="background-color: rgba(0, 0, 0, 0);">
                                                    <i class="fa fa-pinterest" style="color: rgb(149, 148, 148);"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="post-navigation" id="nav-below">
                        <ul class="pager">
                            <li class="previous">
                                <a class="btn btn-primary btn-icon btn-icon-left" href="#" rel="prev"><i class=
                                "fa fa-angle-left"></i> Previous</a>
                            </li>

                            <li class="next">
                                <a class="btn btn-primary btn-icon btn-icon-right" href="#" rel="next">Next
                                <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav><!-- nav-below -->

                    <section class="post-related text-left">
                        <header class="post-related-head">
                            <h3 class="post-related-title">Related Posts</h3>
                        </header>

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-center" style="background-image: url(assets/images/yoga/yoga10-notinclude.jpg)">
                                    <a href="yoga-post.html">
                                        <div class="post-grid-content">
                                            <h5 class="post-grid-content-title">Poses You Should Do Daily</h5>

                                            <div class="post-grid-content-footer">
                                                christos , June 18, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-center" id="post-27" style="background-image: url(assets/images/yoga/yoga11-notinclude1.jpg)">
                                    <a href="yoga-post.html">
                                        <div class="post-grid-content">
                                            <h5 class="post-grid-content-title">The Benefits of Pilates</h5>

                                            <div class="post-grid-content-footer">
                                                langan , May 22, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <article class="post-grid post-grid-overlay element-bottom-20 text-center" id="post-28" style=
                                "background-image: url(assets/images/yoga/yoga12-notinclude.jpg)">
                                    <a href="yoga-post.html">
                                        <div class="post-grid-content">
                                            <h5 class="post-grid-content-title">A guide to yoga</h5>

                                            <div class="post-grid-content-footer">
                                                langan , May 20, 2015
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </section>

                    <div class="comment-respond" id="respond">
                        <h3 class="comment-reply-title" id="reply-title">Leave
                        a Reply</h3>

                        <form class="comment-form" method="post"
                        name="commentform">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                            published.</span> Required fields are marked
                            <span class="required">*</span></p>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="author">Your name
                                    *</label><input class="input-block-level form-control" id="author" name="author" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="email">Your email
                                    *</label><input class="input-block-level form-control" id="email"
                                    name="email" type="text">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="url">Website</label><input class="input-block-level form-control" id="url"
                                    name="url" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Your message</label>
                                    <textarea class="input-block-level form-control" id="comment" name="comment" rows="5">
                                    </textarea>
                                </div>
                            </div>

                            <p class="form-submit">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment">
                                <input id='comment_post_ID' name='comment_post_ID' type='hidden' value='148'>
                                <input id='comment_parent' name='comment_parent' type='hidden' value='0'>
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}