{% extends "layouts/yoga.html" %}

{% set title = "Classes | Yoga" %}
{% set activeMenu = "Classes" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -80px" data-start="background-position: 50% 0px" style=
        "background-image: url(assets/images/yoga/yoga09-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-180 element-bottom-100 text-light bigger default" data-0-top-bottom="opacity:0" data-center="opacity:1" data-os-animation="none"
                    data-os-animation-delay="0s" data-start="opacity:1">Classes</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -400px" data-start="background-position: 50% -100px" style=
        "background-image: url(assets/images/yoga/yoga10-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 55%;"></div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center small-screen-center"></div>

                <div class="col-md-6 text-center small-screen-center" style="background:rgba(138, 43, 226, 0.8);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Yoga</h1>

                            <div class="divider-border divider-border-center element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:2px;">
                                <div class="divider-border-inner" style="background:#ffffff;"></div>
                            </div>

                            <div class="col-text-1 text-light element-top-30 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <p style="text-align: center;">Apart from the spiritual goals, the physical postures of yoga are used to alleviate health problems, reduce stress and make the spine
                                supple in contemporary times. Yoga is also used as a complete exercise program and physical therapy routine.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -400px" data-start="background-position: 50% -100px" style="background-image: url(assets/images/yoga/yoga11-notinclude1.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 35%;">
        </div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center small-screen-center" style="background:rgba(138, 43, 226, 0.8);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">Pilates</h1>

                            <div class="divider-border divider-border-center element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:2px;">
                                <div class="divider-border-inner" style="background:#ffffff;"></div>
                            </div>

                            <div class="col-text-1 text-light element-top-30 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <p style="text-align: center;">Pilates is a method of exercise that consists of low-impact flexibility and muscular strength and endurance movements. Pilates
                                emphasizes use of the abdominals, lower back, hips and thighs.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>

                <div class="col-md-6 text-center small-screen-center"></div>
            </div>
        </div>
    </section>
    <section class="section section-transparent">
        <div class="background-media" data-0-top-bottom="background-position: 50% -450px" data-start="background-position: 50% -300px" style="background-image: url(assets/images/yoga/yoga04-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 55%;">
        </div>

        <div class="container-fullwidth container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-6 text-center small-screen-center"></div>

                <div class="col-md-6 text-center small-screen-center" style="background:rgba(138, 43, 226, 0.8);">
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <h1 class="text-center element-top-80 element-bottom-20 text-light os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0s">T&#8217;ai Chi</h1>

                            <div class="divider-border divider-border-center element-top-0 element-bottom-0 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style=
                            "height:2px;">
                                <div class="divider-border-inner" style="background:#ffffff;"></div>
                            </div>

                            <div class="col-text-1 text-light element-top-30 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <p style="text-align: center;">Tai chi is a mind-body exercise that integrates slow, gentle movements, breathing and a variety of cognitive components, including
                                focused attention, imagery and multi-tasking.</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}