{% extends "layouts/yoga.html" %}

{% set title = "News | Yoga" %}
{% set activeMenu = "News" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% -300px" data-start="background-position: 50% -200px" style="background-image: url(assets/images/yoga/yoga09-notinclude.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>

        <div class="background-overlay" style="background-color: rgba(48,60,64,0);"></div>

        <div class="container">
            <div class="row">
                <header class="blog-header small-screen-center text-light col-md-12">
                    <h1 class="text-left element-top-160 element-bottom-60 text-light normal bold">Latest News</h1>
                </header>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row element-top-50 element-bottom-50">
                <div class="col-md-8 col-md-offset-2 blog-list-layout-normal">
                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="yoga-post.html">
                                    <img alt="Poses You Should Do Daily" src="assets/images/yoga/yoga10-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="yoga-post.html" rel="bookmark" title="Permalink to Poses You Should Do Daily">Poses You Should Do Daily</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> June 18, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="yoga-blog.html">christos</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">News</a>,
                                    <a href="#" rel="tag">Yoga</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Good morning, oh in case i don’t see you, good afternoon, good evening and goodnight. excuse me, i’d like to ask you a few questions. we’re going for a ride on the
                            information super highway. Here she comes to wreck the day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we’re going for a ride on the
                            information super highway.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="yoga-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="yoga-post.html">
                                    <img alt="Relieve Stress with T&#8217;ai Chi" src="assets/images/yoga/yoga04-notinclude.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="yoga-post.html" rel="bookmark" title="Permalink to Poses You Should Do Daily">Relieve Stress with T&#8217;ai Chi</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> May 23, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="yoga-blog.html">langan</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">News</a>,
                                    <a href="#" rel="tag">Practice</a>,
                                    <a href="#" rel="tag">T&#8217;ai Chi</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don&#8217;t have a place within an organized
                            <strong>religion</strong>. Son, a woman is like a beer. They smell good, they look good, you&#8217;d step over your own mother just to get one! But you can&#8217;t stop at
                            one. You wanna drink another woman! The Internet King? I wonder if he could provide faster nudity.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="yoga-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="yoga-post.html">
                                    <img alt="The Benefits of Pilates" src="assets/images/yoga/yoga11-notinclude1.jpg">

                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="yoga-post.html" rel="bookmark" title="Permalink to The Benefits of Pilates">The Benefits of Pilates</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> June 23, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="yoga-blog.html">proistak</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">News</a>,
                                    <a href="#" rel="tag">Practice</a>,
                                    <a href="#" rel="tag">Pilates</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Good morning, oh in case i don&#8217;t see you, good afternoon, good evening and goodnight. excuse me, i&#8217;d like to ask you a few questions. we&#8217;re going for
                            a ride on the information super highway. Here she comes to wreck the day. here she comes to wreck the day. alrighty then kinda hot in these rhinos. we&#8217;re going for a
                            ride on the information super highway.</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="yoga-post.html">read more</a>
                        </div>
                    </article>

                    <article class="post">
                        <div class="post-media">
                            <div class="figure fade-in text-center figcaption-middle">
                                <a class="figure-image" href="yoga-post.html">
                                <img alt="A guide to yoga" src="assets/images/yoga/yoga12-notinclude.jpg">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption">
                                                <span class="figure-overlay-icons">
                                                    <i class="icon-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <header class="post-head small-screen-center">
                            <h2 class="post-title">
                                <a href="yoga-post.html" rel="bookmark" title="Permalink to A guide to yoga">A guide to yoga</a>
                            </h2>

                            <div class="post-details">
                                <span class="post-date">
                                    <i class="icon-clock"></i> June 20, 2015
                                </span>
                                <span class="post-author">
                                    <i class="icon-head"></i>
                                    <a href="yoga-blog.html">Harris</a>
                                </span>
                                <span class="post-category">
                                    <i class="icon-clipboard"></i>
                                    <a href="#" rel="tag">News</a>,
                                    <a href="#" rel="tag">Practice</a>,
                                    <a href="#" rel="tag">Yoga</a>
                                </span>
                                <span class="post-link">
                                    <i class="icon-speech-bubble"></i>
                                    <a href="#">No comments</a>
                                </span>
                            </div>
                        </header>

                        <div class="post-body">
                            <p>Yes! I am a citizen! Now which way to the welfare <strong>office</strong>? I&#8217;m kidding, I&#8217;m kidding. I work, I work. Bart, with $10,000 we&#8217;d be
                            millionaires! We could buy all kinds of useful things like…love!</p>
                        </div>

                        <div class="small-screen-center post-more">
                            <a class="post-more-link btn btn-primary" href="yoga-post.html">read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}