<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-3">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About Charity</h3>

                        <div class="textwidget">
                            <p>We’re an international development organisation with our head office based in Greece. We also have offices right across Asia, the <a href="#">Americas</a> and
                            Europe. We believe the people whose lives our work affects should decide how we’re run.</p>

                            <p>You can <a href="#">help us</a> make a fairer, better world – wherever you are. Your voice can persuade world leaders to change policies.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">A Better new World</h3>

                        <div class="textwidget"><img alt="map" src="assets/images/charity/map.png"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_recent_entries" id="recent-posts-3">
                        <h3 class="sidebar-header">Latest Events</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="charity-post.html" title="Parade Charity">
                                        <img alt="new" class="attachment-thumbnail" height="150" src="assets/images/charity/new-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="charity-post.html" title="Parade Charity">Parade Charity</a> <small class="post-date">February 18,
                                2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="charity-post.html" title="Children&#8217;s Classic at Sanctuary"><img alt="new3" class="attachment-thumbnail" height="150" src="assets/images/charity/new3-150x150.jpg"
                                    width="150">
                                    </a>
                                </div>
                                <a href="charity-post.html" title="Children&#8217;s Classic at Sanctuary">Children&#8217;s
                                Classic at Sanctuary</a> <small class="post-date">January 25, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="charity-post.html" title="Climb for Courage">
                                        <img alt="new2" class="attachment-thumbnail" height="150" src="assets/images/charity/new2-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="charity-post.html" title="Climb for Courage">Climb for Courage</a> <small class="post-date">December
                                25, 2014</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="charity-post.html" title="Children&#8217;s Gala">
                                        <img alt="new4" class="attachment-thumbnail" height="150" src="assets/images/charity/new4-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="charity-post.html" title="Children&#8217;s Gala">Children&#8217;s Gala</a> <small class=
                                "post-date">November 25, 2014</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>