<div class="menu navbar navbar-static-top header-logo-left-menu-right text-none oxy-mega-menu navbar-sticky" id="masthead">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type=
            "button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="creative-index.html">
                <img src="assets/images/creative/lamda.png" alt="Lambda - Creative">
                Lambda
            </a>
        </div>
        <div class="nav-container">
            <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
                <div class="menu-container">
                    <ul class="nav navbar-nav" id="menu-main">
                        {% for item in [{title:"Home", href:"creative-index.html"},
                                        {title:"Pages", href:"#", children:[{title:"Services", href:"creative-services.html"},
                                                                            {title:"Services Alt", href:"creative-services-alt.html"},
                                                                            {title:"Single Service", href:"creative-single-service.html"},
                                                                            {title:"About Us", href:"creative-about-us.html"},
                                                                            {title:"404 Page", href:"creative-404.html"},
                                                                            {title:"Right Sidebar", href:"creative-right-sidebar.html"},
                                                                            {title:"Left sidebar", href:"creative-left-sidebar.html"}
                                        ]},
                                        {title:"Elements", href:"#", type:"megamenu", children:[
                                                                            {title:"Typography &#038; Layout", type:"label", size:"col-md-3", children:[
                                                                                {title:"Basic Type", href:"creative-elements-basic-type.html"},
                                                                                {title:"Blockquotes", href:"creative-elements-blockquotes.html"},
                                                                                {title:"Font Icons", href:"creative-elements-font-icons.html"},
                                                                                {title:"Columns", href:"creative-elements-columns.html"},
                                                                                {title:"Jumbotron", href:"creative-elements-jumbotron.html"}
                                                                            ]},
                                                                            {title:"Bootstrap Components", type:"label", size:"col-md-3", children:[
                                                                                {title:"Accordions", href:"creative-elements-accordions.html"},
                                                                                {title:"Tabs", href:"creative-elements-tabs.html"},
                                                                                {title:"Buttons", href:"creative-elements-buttons.html"},
                                                                                {title:"Panels", href:"creative-elements-panels.html"},
                                                                                {title:"Tables", href:"creative-elements-tables.html"}
                                                                            ]},
                                                                            {title:"Misc", type:"label", size:"col-md-3", children:[
                                                                                {title:"Pricing", href:"creative-elements-pricing.html"},
                                                                                {title:"Feature font icons", href:"creative-elements-feature-font-icons.html"},
                                                                                {title:"Features lists", href:"creative-elements-features-lists.html"},
                                                                                {title:"Scroll buttons", href:"creative-elements-scroll-buttons.html"}
                                                                            ]},
                                                                            {title:"Infographic Elements", type:"label", size:"col-md-3", children:[
                                                                                {title:"Charts", href:"creative-elements-charts.html"},
                                                                                {title:"Counters", href:"creative-elements-features-counters.html"},
                                                                                {title:"Countdown timers", href:"creative-elements-countdown-timers.html"},
                                                                                {title:"Pie Charts", href:"creative-elements-pie-charts.html"},
                                                                                {title:"Progress Bars", href:"creative-elements-progress-bars.html"}
                                                                            ]}
                                        ]},
                                        {title:"Portfolio", href:"#", children:[{title:"2 columns", href:"creative-portfolio-2-columns.html"},
                                                                                {title:"3 columns", href:"creative-portfolio-3-columns.html"},
                                                                                {title:"4 columns", href:"creative-portfolio-4-columns.html"},
                                                                                {title:"Masonry", href:"creative-portfolio-masonry.html"},
                                                                                {title:"Fullwidth", href:"creative-portfolio-fullwidth.html"},
                                                                                {title:"Standard Item", href:"creative-standard-item.html"},
                                                                                {title:"Gallery Item", href:"creative-gallery-item.html"},
                                                                                {title:"Video Item", href:"creative-video-item.html"}
                                        ]},
                                        {title:"Blog", href:"#", children:[ {title:"Right Sidebar", href:"creative-blog-right-sidebar.html"},
                                                                            {title:"No Sidebar", href:"creative-blog.html"},
                                                                            {title:"Left Sidebar", href:"creative-blog-left-sidebar.html"},
                                                                            {title:"Masonry", href:"creative-blog-masonry.html"},
                                                                            {title:"Normal Post", href:"creative-post.html"},
                                                                            {title:"Gallery Post", href:"creative-gallery-post.html"},
                                                                            {title:"Video Post", href:"creative-video-post.html"}
                                        ]},
                                        {title:"Contact", href:"creative-contact.html"}] %}
                        <li class="menu-item {{ 'active' if activeMenu == item.title }} {{ 'dropdown' if item.href == '#'}} {{ 'menu-item-object-oxy_mega_menu' if 'megamenu' == item.type }}">
                            <a {% if item.href == '#' %} class="dropdown-toggle" data-toggle="dropdown" {% endif %} href="/{{ item.href }}">{{ item.title }}</a>
                            {% if item.children %}
                            <ul class="dropdown-menu dropdown-menu-left {{ 'row' if 'megamenu' == item.type }}">
                            {% for child in item.children %}
                                {% if item.type != 'megamenu' %}
                                <li class="menu-item">
                                    <a href="/{{ child.href }}">{{ child.title }}</a>
                                </li>
                                {% else %}
                                <li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown {{ child.size }}">
                                    <strong>{{child.title}}</strong>
                                    <ul class="dropdown-menu-left">
                                    {% for megamenu in child.children %}
                                         <li class="menu-item">
                                            <a href="/{{ megamenu.href }}">{{ megamenu.title }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="menu-sidebar">
                    <div class="sidebar-widget widget_search" id="search-5">
                        <form action="creative-index.html" method="get" name="searchform">
                            <div class="input-group">
                                <input class="form-control" name="s" placeholder="Search" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" value="Search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
