<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-3">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">DIGITAL AGENCY</h3>

                        <div class="textwidget">
                            A Digital Creative agency building next generation products to inspire the world.
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">FIND US AT</h3>
                        <div class="textwidget">
                            100 Maiden St<br>
                            London WC2E 7LB, United Kingdom
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">CONTACT</h3>
                        <div class="textwidget">
                            001-123-456-7890<br>
                            info@oxygenna.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text" id="text-4">
                        <div class="textwidget">
                            Lambda Wordpress Theme. © Oxygenna 2015
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b5998" href="digital-agency-index.html">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#00acee" href="digital-agency-index.html">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#5FB0D5" href="digital-agency-index.html">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="digital-agency-index.html">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#34526f" href="digital-agency-index.html">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>