
<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-80 element-bottom-80 footer-columns-4">
                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text" id="text-3">
                        <h3 class="sidebar-header">About Yoga</h3>

                        <div class="textwidget">
                            <p><strong>Lambda Yoga Center</strong> is a place for mind & body practices.</p>

                            <p>It offers guidance for a lifestyle that maintains balance and promotes wellness through the teachings of Yoga, Zumba, Pilates and Aerobics.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_recent_entries" id="recent-posts-3">
                        <h3 class="sidebar-header">RECENT POSTS</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="yoga-post.html" title="Poses You Should Do Daily">
                                        <img alt="yoga10-notinclude" height="150" src="assets/images/yoga/yoga10-notinclude-150x150.jpg" width="150"></a>
                                </div>
                                <a href="yoga-post.html" title="Poses You Should Do Daily">Poses You Should Do
                                Daily</a> <small>June 18, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="yoga-post.html" title="Relieve Stress with T&#8217;ai Chi">
                                    <img alt="yoga04-notinclude" height="150" src="assets/images/yoga/yoga04-notinclude-150x150.jpg" width="150"></a>
                                </div>
                                <a href="yoga-post.html" title="Relieve Stress with T&#8217;ai Chi">Relieve
                                Stress with T&#8217;ai Chi</a> <small>May 23, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="yoga-post.html" title="The Benefits of Pilates">
                                    <img alt="yoga11-notinclude" height="150" src="assets/images/yoga/yoga11-notinclude1-150x150.jpg" width="150"></a>
                                </div>
                                <a href="yoga-post.html" title="The Benefits of Pilates">The Benefits of Pilates</a>
                                <small>May 22, 2015</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_categories">
                        <h3 class="sidebar-header">CATEGORIES</h3>

                        <ul>
                            <li>
                                <a href="yoga-blog.html">News</a>
                            </li>

                            <li>
                                <a href="yoga-blog.html">Pilates</a>
                            </li>

                            <li>
                                <a href="yoga-blog.html">Practice</a>
                            </li>

                            <li>
                                <a href="yoga-blog.html">T’ai Chi</a>
                            </li>

                            <li>
                                <a href="yoga-blog.html">Yoga</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">CONTACT US</h3>

                        <div class="textwidget">
                            <address>
                                999 Some Street,<br>
                                Paradise City,<br>
                                UK<br>
                            </address>

                            <p>Tel: +44 1632 960915</p>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a href="http://lambdahtml.oxygenna.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://lambdahtml.oxygenna.com/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://lambdahtml.oxygenna.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://lambdahtml.oxygenna.com/">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a href="http://lambdahtml.oxygenna.com/">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-1">
                <div class="col-sm-12">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget">
                            Lambda Wordpress Theme. Copyright 2015 Oxygenna
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>