<div class="col-md-3 sidebar {{sidebarClasses}}">
    <div class="sidebar-widget widget_text">
        <h3 class="sidebar-header">About Us</h3>

        <div class="textwidget">
            The Lambda School ensures an environment in which every student develops high personal expectations, knowledge, and skills necessary to be <strong>successful</strong> today and in the future.
        </div>
    </div>

    <div class="sidebar-widget widget_recent_entries">
        <h3 class="sidebar-header">Recent Posts</h3>

        <ul>
            <li class="clearfix">
                <div class="post-icon">
                    <a href="education-post.html"
                    title="How can we stop school violence?">
                        <img alt="img8-notinclude" class="attachment-thumbnail" height="150" src="assets/images/education/img8-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="education-post.html"
                title="How can we stop school violence?">How can we stop school violence?</a> <small class="post-date">August 14, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="education-post.html"
                    title="Tips to make school lunches healthier">
                        <img alt="img5-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/education/img5-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="education-post.html"
                title="Tips to make school lunches healthier">Tips to make school lunches healthier</a> <small class="post-date">August 14, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="education-post.html"
                    title="Why Are School Buses Yellow?">
                        <img alt="img9-notinclude" class="attachment-thumbnail" height="150" src="assets/images/education/img9-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="education-post.html" title="Why Are School Buses Yellow?">Why Are School Buses Yellow?</a>
                <small class="post-date">July 03, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="education-post.html"
                    title="Second grade: What your child should know">
                        <img alt="img12-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/education/img12-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="education-post.html"
                title="Second grade: What your child should know">Second grade: What your child should know</a> <small class="post-date">September 25, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="education-post.html"
                    title="The Art of Managing Middle School Students">
                        <img alt="img11-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/education/img11-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="education-post.html" title="The Art of Managing Middle School Students">The Art of Managing Middle School Students</a>
                <small class="post-date">September 25, 2015</small>
            </li>
        </ul>
    </div>

    <div class="sidebar-widget widget_tag_cloud">
        <h3 class="sidebar-header">Tags</h3>

        <div class="tagcloud">
            <ul>
                <li>
                    <a href='#'>best friends</a>
                </li>

                <li>
                    <a href='#'>bus</a>
                </li>

                <li>
                    <a href='#'>eating healthy</a>
                </li>

                <li>
                    <a href='#'>friends</a>
                </li>

                <li>
                    <a href='#'>friendship</a>
                </li>

                <li>
                    <a href='#'>kids</a>
                </li>

                <li>
                    <a href='#'>lunch</a>
                </li>

                <li>
                    <a href='#'>methods</a>
                </li>

                <li>
                    <a href='#'>middle school</a>
                </li>

                <li>
                    <a href='#'>parents</a>
                </li>

                <li>
                    <a href='#'>school</a>
                </li>

                <li>
                    <a href='#'>school odjects</a>
                </li>

                <li>
                    <a href='#'>student</a>
                </li>

                <li>
                    <a href='#'>teachers</a>
                </li>

                <li>
                    <a href='#'>teaching</a>
                </li>

                <li>
                    <a href='#'>transport</a>
                </li>

                <li>
                    <a href='#'>violence</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="sidebar-widget widget_categories">
        <h3 class="sidebar-header">Categories</h3>

        <ul>
            <li class="cat-item">
                <a href="education-blog.html">
                    Kids
                </a>
            </li>

            <li class="cat-item">
                <a href="education-blog.html">
                    Methods
                </a>
            </li>

            <li class="cat-item">
                <a href="education-blog.html">
                    School
                </a>
            </li>

            <li class="cat-item">
                <a href="education-blog.html">
                    School Objects
                </a>
            </li>

            <li class="cat-item">
                <a href="education-blog.html">
                    Transport
                </a>
            </li>
        </ul>
    </div>
</div>
