/* - Breadcrumbs - */
.woocommerce-breadcrumb {
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 24px;
  span {
    display: block;
    float: left;
    position: relative;
  }
  a, span:last-child {
    display: block;
    @include transition(all .2s);
    padding: 0 20px;
  }
  .single-product & span:last-child {
    display: none;
  }
  span:after  {
    content: "";
    position: absolute;
    top: 0;
    margin-top: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid;
    right: -10px;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .woocommerce-breadcrumb {
    text-align: center;
    span {
      display: none;
    }
    span:first-child {
      display: inline-block;
    }
    span:nth-last-of-type(2) {
      display: inline-block;
    }
  }
}

