/* - Cart Page styles - */

/* -- Shop Table -- */
.shop_table {
  td {
    text-align: center !important;
  }
  th {
    text-align: center;
  }
  img {
    min-width: 30px;
  }
}

/* -- Coupon -- */
.coupon {
  margin:24px 0;
  input[type="text"] {
    width:100%;
  }
}

/* -- Country select box -- */
.country-select {
  width: 100%;
}

.shipping-calculator-button {
  padding-top: 9px;
  padding-bottom: 9px;
}