<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Our Mission & Motivation</h3>

                        <div class="textwidget">
                            <p>How can we get our country back on track? How to preserve our Constitution and get people value and honor it? All this core questions have been evolving in our minds for years.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent posts</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="political-post.html" title="Bank Target">
                                        <img alt="blog01" class="attachment-thumbnail" height="150" src="assets/images/political/img04-notinclude1-150x150.jpg"width="150">
                                    </a>
                                </div>
                                <a href="political-post.html"
                                title="Bank target">Bank target</a> <small class="post-date">October 1, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="political-post.html" title="UK and the EU: Better of out or in?">
                                        <img alt="blog02"
                                        class="attachment-thumbnail" height="150" src="assets/images/political/img03-notinclude-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="political-post.html"
                                title="UK and the EU: Better of out or in?">UK and the EU: Better of out or in?</a>
                                <small class="post-date">October 1, 2015</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget  widget_text">
                        <h3 class="sidebar-header">Contact info</h3>
                        <div class="textwidget">
                            <p>999 Some Street</br>
                            Paradise City,UK</br>
                            Tel: +1-800-555-555</p>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b5998" href="political-index.html">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#3d9ae8" href="political-index.html">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="political-index.html">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#634d40" href="political-index.html">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section subfooter"></section>
</footer>