<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-60 element-bottom-60 footer-columns-3">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Opening Hours</h3>

                        <div class="textwidget">
                            <strong>Mon-Thu:</strong> 7:00am-8:00pm</br>
                            <strong>Fri-Sun:</strong> 7:00am-10:00pm
                        </div>
                    </div>

                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b9999" href="#" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-cc-amex" style="color: rgb(255, 255, 255);"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#3b9999" href="#" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-paypal" style="color: rgb(255, 255, 255);"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#3b9999" href="#"><i class="fa fa-bank"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#3b9999" href="#" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-cc-mastercard" style="color: rgb(255, 255, 255);"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#3b9999" href="#"><i class="fa fa-google-wallet"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#3b9999" href="#"><i class="fa fa-credit-card"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About Us</h3>

                        <div class="textwidget">
                            The goal of <strong>Lambda Architecture</strong> is to make architecture more connected and open-minded, and bring together designers from around the world to introduce new ideas from all disciplines.
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Location</h3>

                        <div class="textwidget">
                            19th Paradise Street Sitia</br>
                            128 Meserole Avenue
                        </div>
                    </div>
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b5998" href="http://lambda.oxygenna.com" style="background-color: rgba(0, 0, 0, 0);">
                                    <i class="fa fa-facebook" style="color: rgb(255, 255, 255);"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#ea4c89" href="http://lambda.oxygenna.com" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-dribbble" style="color: rgb(255, 255, 255);"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#00acee" href="http://lambda.oxygenna.com" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-twitter" style="color: rgb(255, 255, 255);"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="http://lambda.oxygenna.com" style="background-color: rgba(0, 0, 0, 0);"><i class="fa fa-google-plus" style="color: rgb(255, 255, 255);"></i></a>
                            </li>

                            <li>
                                <a data-iconcolor="#c4302b" href="http://lambda.oxygenna.com"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>