<footer id="footer" role="contentinfo" class="text-center">
    <section class="section">
        <div class="container">
            <div class="row element-top-60 element-bottom-60 footer-columns-3">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About Us</h3>
                        <div class="textwidget">
                            <p>
                                <img src="assets/images/restaurant/decor-2-big-white.png" alt="divider" style="width: 220px;"/>
                            </p>
                            <p>Lambda's new and expanded Chelsea location represents a truly <strong>authentic</strong> Greek patisserie, featuring breakfasts of fresh croissants and steaming bowls of café.
                            </p>
                        </div>
		            </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Opening Hours</h3>
                        <div class="textwidget">
                            <p>
                                <img src="assets/images/restaurant/decor-2-big-white.png" alt="divider" style="width: 220px;"/>
                            </p>
                            <strong>Mon-Thu</strong>: 7:00am-8:00pm <br>
                            <strong>Fri-Sun</strong>: 7:00am-10:00pm
                        </div>
		            </div>
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li><a data-iconcolor="#3b9999" href="#"><i class="fa fa-cc-amex"></i></a></li>
                            <li><a data-iconcolor="#3b9999" href="#"><i class="fa fa-paypal"></i></a></li>
                            <li><a data-iconcolor="#3b9999" href="#"><i class="fa fa-bank"></i></a></li>
                            <li><a data-iconcolor="#3b9999" href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a data-iconcolor="#3b9999" href="#"><i class="fa fa-google-wallet"></i></a></li>
                            <li><a data-iconcolor="#3b9999" href="#"><i class="fa fa-credit-card"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Location</h3>
                        <div class="textwidget">
                            <p>
                                <img src="assets/images/restaurant/decor-2-big-white.png" alt="divider" style="width: 220px;"/>
                            </p>
                            <address>19th Paradise Street Sitia<br>128 Meserole Avenue </address>
                        </div>
		            </div>
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li><a data-iconcolor="#3b5998" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-iconcolor="#ea4c89" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a data-iconcolor="#00acee" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-iconcolor="#E45135" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a data-iconcolor="#c4302b" href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>