{% extends "layouts/base.html" %}

{% set bodyclasses = "transparent-header pace-on pace-minimal" %}
{% set bodystyle = "" %}

{% set gotopshape = "square" %}

{% block fonts %}
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,300italic,400,700,700italic,900%7CGentium+Book+Basic:400italic&amp;subset=latin,latin" rel="stylesheet" type="text/css">
{% endblock %}

{% block skin %}
    <style  type="text/css" media="screen">
        .navbar-header {
            font-style: italic;
        }
        .progress-bar-primary span {
            font-weight: 900;
        }
        #goals .btn {
            margin-left: 10px;
            margin-right: 10px;
        }
        .transparent-header #masthead:not(.navbar-scrolled) .nav-highlight > a,
        .transparent-header #masthead .nav-highlight > a {
            color: #ffffff !important;
        }
        .transparent-header #masthead:not(.navbar-scrolled) .nav-highlight > a:after,
        .transparent-header #masthead .nav-highlight > a:after {
            background: #fec840 !important;
        }
    </style>
    <!-- build:css assets/css/charity.min.css -->
    <link rel="stylesheet" href="styles/skins/charity.css" type="text/css">
    <!-- endbuild -->
    <style>
        .text-light.btn-primary, .text-light .btn-primary {
            color: rgba(254,200,64,1) !important;
        }
    </style>
{% endblock %}


{% block header %}
    {% include "partials/charity/header.html" %}
{% endblock %}

{% block extrathemejs %}
    {% include "partials/js/html-only.html" %}
{% endblock %}

{% block jsparams %}
<script type="text/javascript">
    var oxyThemeData = {
        navbarHeight : 100,
        navbarScrolled : 90,
        navbarScrolledPoint : 30,
        menuClose : 'on',
        scrollFinishedMessage : 'No more items to load.',
        hoverMenu : {
            hoverActive : false,
            hoverDelay : 200,
            hoverFadeDelay : 200
        },
        siteLoader: 'on'
    };
</script>
{% endblock %}

{% block footer %}
    {% include "partials/charity/footer.html" %}
{% endblock %}