{% extends "layouts/base.html" %}

{% set bodyclasses = "pace-on pace-minimal" %}
{% set bodystyle = "" %}

{% set gotopshape = "square" %}

{% block fonts %}
    <link href="//fonts.googleapis.com/css?family=Lato:100,400,400italic,700,900%7COswald:300,400,700%7CGentium+Basic:400,400italic&amp;subset=latin,latin,latin" rel="stylesheet" type="text/css">
{% endblock %}

{% block skin %}
    <!-- build:css assets/css/magazine.min.css -->
    <link rel="stylesheet" href="styles/skins/magazine.css" type="text/css">
    <!-- endbuild -->
{% endblock %}

{% block header %}
    {% include "partials/magazine/header.html" %}
{% endblock %}

{% block extrathemejs %}
    {% include "partials/js/html-only.html" %}
{% endblock %}

{% block jsparams %}
<script type="text/javascript">
    var oxyThemeData = {
        navbarHeight : 120,
        navbarScrolled : 120,
        navbarScrolledPoint : 62,
        menuClose : 'off',
        scrollFinishedMessage : 'No more items to load.',
        hoverMenu : {
            hoverActive : false,
            hoverDelay : 200,
            hoverFadeDelay : 200
        },
        siteLoader: 'on'
    };
</script>
{% endblock %}

{% block footer %}
    {% include "partials/magazine/footer.html" %}
{% endblock %}

{% block extrajs %}
    <!-- load contact form js -->
    {% include "partials/js/contact.html" %}
{% endblock %}

