<footer id="footer">
    <section class="section">
        <div class="container">
            <div class=
            "row element-top-60 element-bottom-60">
                <div class="col-sm-4">
                    <div class="sidebar-widget">
                        <h3 class="sidebar-header">
                            Our Hotel
                        </h3>
                        <div>
                            <p class="element-bottom-20">
                                <img alt="decor" src="assets/images/hotel/decor-small-white.png">
                            </p>

                            <p>Lambda's new and expanded Chelsea location
                            represents a truly <strong>authentic</strong>
                            Hotel, featuring breakfasts of fresh croissants
                            and steaming bowls of café.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget " id="text-2">
                        <h3 class="sidebar-header">
                            Contact
                        </h3>
                        <div>
                            <p class="element-bottom-20">
                                <img alt="decor" src="assets/images/hotel/decor-small-white.png">
                            </p>
                            tel:+30 2123 456789 - fax: +30 2123 456788<br>
                            Check Out Time: 12 noon - Check In Time: 2.00
                            pm
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <ul class="unstyled inline social-icons social-simple">
                            <li>
                                <a class="fa fa-cc-amex" data-iconcolor=
                                "#3b9999" href="#"></a>
                            </li>

                            <li>
                                <a class="fa fa-paypal" data-iconcolor=
                                "#3b9999" href="#"></a>
                            </li>

                            <li>
                                <a class="fa fa-bank" data-iconcolor=
                                "#3b9999" href="#" ></a>
                            </li>

                            <li>
                                <a class="fa fa-cc-mastercard"
                                data-iconcolor="#3b9999" href="#" ></a>
                            </li>

                            <li>
                                <a class="fa fa-google-wallet" data-iconcolor="#3b9999" href="#" ></a>
                            </li>

                            <li>
                                <a class="fa fa-credit-card" data-iconcolor="#3b9999" href="#" ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget ">
                        <h3 class="sidebar-header">
                            Location
                        </h3>
                        <div>
                            <p class="element-bottom-20"><img alt="decor" src="assets/images/hotel/decor-small-white.png"></p>
                            <address>
                                19th Paradise Street Sitia<br>
                                128 Meserole Avenue
                            </address>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <ul class="unstyled inline social-icons social-simple">
                            <li>
                                <a class="fa fa-facebook" data-iconcolor="#3b5998" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-dribbble" data-iconcolor=
                                "#ea4c89" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter" data-iconcolor=
                                "#00acee" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus"
                                data-iconcolor="#E45135" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-youtube" data-iconcolor=
                                "#c4302b" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter">
        <div class="container">
            <div class=
            "row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget">
                        <div>
                            © 2015 Lambda Hotel. All Rights Reserved
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="sidebar-widget widget_nav_menu">
                        <div class="menu-footer-container">
                            <ul class="menu" id="menu-footer">
                                <li class="menu-item">
                                    <a href=
                                    "hotel-reservations.html">
                                        Reservations
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href=
                                    "hotel-the-rooms.html">
                                        Rooms
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="hotel-contact.html">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>