// Core variables and mixins
@import "bootstrap/oxygenna-variables";
@import "compass/css3";
@import "theme/compass-mixins";


// Skin Variables
$font-family: 'Lato';
$font-size: 16px;
$font-weight: 400;
$heading-font-family: 'Lato';
$heading-font-weight: 700;
$heading-text-transform: uppercase;
$brand-font-family: 'Lato';
$brand-font-size: 24px;
$brand-font-weight: 700;
$navbar-font-family: 'Lato';
$navbar-font-size: 16px;
$navbar-font-weight: 700;
$navbar-dropdown-font-size: 14px;
$font-weight-hairline: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$blog-post-title-font-size: 36px;
$blog-post-title-font-weight: 700;
$blog-post-font-size: 16px;
$blog-post-font-weight: 400;
$blockquote-font-family: 'Gentium Book Basic';
$blockquote-font-size: 30px;
$blockquote-font-style: italic;
$blockquote-font-weight: 400;
$lead-font-size: 21px;
$lead-font-weight: 300;
$navbar-height: 100px;
$navbar-scrolled: 90px;
$submenu-width: 220px;
$navbar-border-height: 0px;
$sidemenu-width: 270px;
$sidemenu-nav-max-height: 600px;
$text-color: #575757;
$heading-color: #303030;
$link-color: #fec840;
$link-color-hover: #e8b841;
$icon-color: #fec840;
$small-color: #959494;
$text-color-alt: #ffffff;
$heading-color-alt: #ffffff;
$link-color-alt: #ffffff;
$link-color-hover-alt: #ffffff;
$icon-color-alt: #ffffff;
$small-color-alt: #ffffff;
$background-color: #ffffff;
$background-invert: #fec840;
$background-complementary: rgba(0,0,0,.1);
$nav-background: rgba(46, 46, 46, 0.83);
$nav-link: #ffffff;
$nav-link-hover: #fec840;
$nav-link-active: #fec840;
$nav-brand: #ffffff;
$nav-text: #fec840;
$nav-borders: #2e2e2e;
$nav-dropdown-background: rgba(58, 58, 58, 0.9);
$nav-dropdown-link: #ffffff;
$nav-dropdown-link-hover: rgba(255,255,255,.75);
$nav-dropdown-text: rgba(255,255,255,.75);
$nav-dropdown-border: rgba(0,0,0,.055);
$nav-dropdown-separators: rgba(0,0,0,.055);
$nav-transparent-link: #ffffff;
$nav-transparent-link-hover: #fec840;
$nav-transparent-brand: #ffffff;
$nav-transparent-text: #ffffff;
$nav-transparent-borders: rgba(255, 255, 255, 0.1);
$logo-background: #303C40;
$logo-brand: #ffffff;
$top-bar-background: #272e31;
$top-bar-link: #ffffff;
$top-bar-link-hover: #ffffff;
$top-bar-text: #ffffff;
$top-bar-borders: rgba(255, 255, 255, .1);
$footer-background: #272e31;
$footer-link: #fec840;
$footer-link-hover: #f6d788;
$footer-text: #ffffff;
$footer-borders: rgba(255, 255, 255, .1);
$sub-footer-background: #000;
$sub-footer-link: #ffffff;
$sub-footer-link-hover: #ffffff;
$sub-footer-text: rgba(255, 255, 255, .6);
$sub-footer-borders: rgba(255, 255, 255, .1);
$form-color: #fec840;
$form-background: rgba(209, 209, 209, 0.22);
$form-borders: rgba(255, 255, 255, 0.13);
$form-placeholder-color: #fec840;
$form-active: #fec840;
$primary-text: #ffffff;
$primary-bg: #fec840;
$default-text: #ffffff;
$default-bg: #4D4A51;
$warning-text: #ffffff;
$warning-bg: #cd6727;
$danger-text: #ffffff;
$danger-bg: #e85543;
$success-text: #ffffff;
$success-bg: #008D7D;
$info-text: #ffffff;
$info-bg: #78A2BB;
$border-radius-base: 3px;
$border-radius-large: 3px;
$border-radius-small: 3px;
$border-radius-forms: 3px;
$overlay-text: #ffffff;
$overlay-bg: rgba(254, 200, 64, 0.9);
$magnific-overlay-bg: rgba(48, 40, 64, .9);
$magnific-close-icon: #ffffff;
$magnific-close-bg: rgba(254, 200, 64, 0.75);
$top-icon-color: #ffffff;
$top-icon-bg: rgba(254, 200, 64, 0.84);
$slideshow-color: #ffffff;
$slideshow-shadow: rgba(0, 0, 0, 0.2);
$loader-color: #fec840;
$loader-bg: #040303;

// Skin Creator
@import "theme/skin";