// Core variables and mixins
@import "bootstrap/oxygenna-variables";
@import "compass/css3";
@import "theme/compass-mixins";


// Skin Variables
$font-family: 'PT Sans';
$font-size: 14px;
$font-weight: 300;
$heading-font-family: 'Montserrat';
$heading-font-weight: 600;
$heading-text-transform: uppercase;
$brand-font-family: 'Montserrat';
$brand-font-size: 24px;
$brand-font-weight: 400;
$navbar-font-family: 'PT Sans';
$navbar-font-size: 16px;
$navbar-font-weight: 400;
$navbar-dropdown-font-size: 14px;
$font-weight-hairline: 400;
$font-weight-light: 400;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 700;
$blog-post-title-font-size: 36px;
$blog-post-title-font-weight: 400;
$blog-post-font-size: 18px;
$blog-post-font-weight: 400;
$blockquote-font-family: 'PT Sans';
$blockquote-font-size: 24px;
$blockquote-font-style: italic;
$blockquote-font-weight: 400;
$lead-font-size: 18px;
$lead-font-weight: 400;
$navbar-height: 100px;
$navbar-scrolled: 90px;
$submenu-width: 220px;
$navbar-border-height: 0px;
$sidemenu-width: 270px;
$sidemenu-nav-max-height: 600px;
$text-color: #303c40;
$heading-color: #1b1f20;
$link-color: #1b1f20;
$link-color-hover: #e2955b;
$icon-color: #ffffff;
$small-color: #959494;
$text-color-alt: #ffffff;
$heading-color-alt: #ffffff;
$link-color-alt: #ffffff;
$link-color-hover-alt: #ffffff;
$icon-color-alt: #ffffff;
$small-color-alt: #ffffff;
$background-color: #ffffff;
$background-invert: #ffaa6a;
$background-complementary: rgba(0,0,0,.1);
$nav-background: rgba(255, 255, 255, 0.9);
$nav-link: #4c4c4c;
$nav-link-hover: #ffaa6a;
$nav-link-active: #ffaa6a;
$nav-brand: #4c4c4c;
$nav-text: #4c4c4c;
$nav-borders: rgba(13, 14, 15, 0.05);
$nav-dropdown-background: rgba(255, 255, 255, 0.9);
$nav-dropdown-link: #4c4c4c;
$nav-dropdown-link-hover: #ffaa6a;
$nav-dropdown-text: #6c6c6c;
$nav-dropdown-border: rgba(0,0,0,.055);
$nav-dropdown-separators: rgba(0,0,0,.055);
$nav-transparent-link: #ffffff;
$nav-transparent-link-hover: #ffffff;
$nav-transparent-brand: #ffffff;
$nav-transparent-text: #ffffff;
$nav-transparent-borders: rgba(255, 255, 255, 0.1);
$logo-background: #ffffff;
$logo-brand: #4c4c4c;
$top-bar-background: #272e31;
$top-bar-link: #ffffff;
$top-bar-link-hover: #ffffff;
$top-bar-text: #ffffff;
$top-bar-borders: rgba(255, 255, 255, .1);
$footer-background: #4e4d4c;
$footer-link: #ffffff;
$footer-link-hover: #ffaa6a;
$footer-text: #ffffff;
$footer-borders: rgba(255, 255, 255, .1);
$sub-footer-background: #000000;
$sub-footer-link: #ffffff;
$sub-footer-link-hover: #ffffff;
$sub-footer-text: #ffaa6a;
$sub-footer-borders: rgba(255, 255, 255, .1);
$form-color: #3c3c3c;
$form-background: rgba(0,0,0,.02);
$form-borders: rgba(0,0,0,.1);
$form-placeholder-color: #9c9c9c;
$form-active: #ffaa6a;
$primary-text: #ffffff;
$primary-bg: rgba(255, 170, 106, 0.78);
$default-text: #ffffff;
$default-bg: #4D4A51;
$warning-text: #ffffff;
$warning-bg: #cd6727;
$danger-text: #ffffff;
$danger-bg: #e85543;
$success-text: #ffffff;
$success-bg: #008D7D;
$info-text: #ffffff;
$info-bg: #ffaa6a;
$border-radius-base: 18px;
$border-radius-large: 24px;
$border-radius-small: 15px;
$border-radius-forms: 18px;
$overlay-text: #ffffff;
$overlay-bg: rgba(0, 0, 0, 0.63);
$magnific-overlay-bg: rgba(179, 116, 70, 0.9);
$magnific-close-icon: #ffffff;
$magnific-close-bg: #b37446;
$top-icon-color: #ffffff;
$top-icon-bg: rgba(255, 170, 106, 0.7);
$slideshow-color: #ffffff;
$slideshow-shadow: rgba(0, 0, 0, 0.2);
$loader-color: #ffaa6a;
$loader-bg: rgba(255, 255, 255, 0.9);


// Skin Creator
@import "theme/skin";