// Core variables and mixins
@import "bootstrap/oxygenna-variables";
@import "compass/css3";
@import "theme/compass-mixins";


// Skin Variables
$font-family: 'Raleway';
$font-size: 14px;
$font-weight: 400;
$heading-font-family: 'Raleway';
$heading-font-weight: 600;
$heading-text-transform: none;
$brand-font-family: 'Raleway';
$brand-font-size: 24px;
$brand-font-weight: 600;
$navbar-font-family: 'Raleway';
$navbar-font-size: 14px;
$navbar-font-weight: 600;
$navbar-dropdown-font-size: 14px;
$font-weight-hairline: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$blog-post-title-font-size: 36px;
$blog-post-title-font-weight: 500;
$blog-post-font-size: 14px;
$blog-post-font-weight: 300;
$blockquote-font-family: 'Gentium Basic';
$blockquote-font-size: 24px;
$blockquote-font-style: italic;
$blockquote-font-weight: 400;
$lead-font-size: 21px;
$lead-font-weight: 300;
$navbar-height: 100px;
$navbar-scrolled: 90px;
$submenu-width: 220px;
$navbar-border-height: 3px;
$sidemenu-width: 270px;
$sidemenu-nav-max-height: 600px;
$text-color: #4c4c4c;
$heading-color: #1c1c1c;
$link-color: #00c0e1;
$link-color-hover: #08b7d4;
$icon-color: #6c6c6c;
$small-color: #959494;
$text-color-alt: #ffffff;
$heading-color-alt: #ffffff;
$link-color-alt: #ffffff;
$link-color-hover-alt: rgba(255, 255, 255, 0.95);
$icon-color-alt: #ffffff;
$small-color-alt: #ffffff;
$background-color: #ffffff;
$background-invert: #2e3333;
$background-complementary: rgba(0,0,0,.1);
$nav-background: #ffffff;
$nav-link: #1c1c1c;
$nav-link-hover: #00c0e1;
$nav-link-active: #00c0e1;
$nav-brand: #1c1c1c;
$nav-text: #4c4c4c;
$nav-borders: rgba(0, 0, 0, 0.06);
$nav-dropdown-background: rgba(255, 255, 255, 0.9);
$nav-dropdown-link: #4c4c4c;
$nav-dropdown-link-hover: #00c0e1;
$nav-dropdown-text: #4c4c4c;
$nav-dropdown-border: #00c0e1;
$nav-dropdown-separators: rgba(0,0,0,.055);
$nav-transparent-link: #ffffff;
$nav-transparent-link-hover: #ffffff;
$nav-transparent-brand: #ffffff;
$nav-transparent-text: #ffffff;
$nav-transparent-borders: rgba(255, 255, 255, 0.1);
$logo-background: #303C40;
$logo-brand: #ffffff;
$top-bar-background: #f0f0f0;
$top-bar-link: #1c1c1c;
$top-bar-link-hover: #3c3c3c;
$top-bar-text: #6c6c6c;
$top-bar-borders: rgba(0, 0, 0, 0.08);
$footer-background: #3c3c3c;
$footer-link: #ffffff;
$footer-link-hover: #dddddd;
$footer-text: rgba(255, 255, 255, .6);
$footer-borders: rgba(255, 255, 255, .1);
$sub-footer-background: #1c1c1c;
$sub-footer-link: #ffffff;
$sub-footer-link-hover: #ffffff;
$sub-footer-text: #eeeeee;
$sub-footer-borders: rgba(255, 255, 255, .1);
$form-color: #3c3c3c;
$form-background: rgba(0,0,0,.02);
$form-borders: rgba(0,0,0,.1);
$form-placeholder-color: #9c9c9c;
$form-active: #00c0e1;
$primary-text: #ffffff;
$primary-bg: #00c0e1;
$default-text: #ffffff;
$default-bg: #4D4A51;
$warning-text: #ffffff;
$warning-bg: #cd6727;
$danger-text: #ffffff;
$danger-bg: #e85543;
$success-text: #ffffff;
$success-bg: #008D7D;
$info-text: #ffffff;
$info-bg: #78A2BB;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$border-radius-forms: 0px;
$overlay-text: #ffffff;
$overlay-bg: rgba(1, 192, 225, 0.78);
$magnific-overlay-bg: #ffffff;
$magnific-close-icon: #ffffff;
$magnific-close-bg: #000000;
$top-icon-color: #ffffff;
$top-icon-bg: rgba(64, 67, 67, 0.9);
$slideshow-color: #ffffff;
$slideshow-shadow: rgba(0, 0, 0, 0.2);
$loader-color: #00c0e1;
$loader-bg: #ffffff;


// Skin Creator
@import "theme/skin";