// Core variables and mixins
@import "bootstrap/oxygenna-variables";
@import "compass/css3";
@import "theme/compass-mixins";


// Skin Variables
$font-family: 'Lato';
$font-size: 16px;
$font-weight: 300;
$heading-font-family: 'Oswald';
$heading-font-weight: 300;
$heading-text-transform: none;
$brand-font-family: 'Oswald';
$brand-font-size: 24px;
$brand-font-weight: 300;
$navbar-font-family: 'Oswald';
$navbar-font-size: 21px;
$navbar-font-weight: 300;
$navbar-dropdown-font-size: 18px;
$font-weight-hairline: 300;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 700;
$blog-post-title-font-size: 48px;
$blog-post-title-font-weight: 300;
$blog-post-font-size: 18px;
$blog-post-font-weight: 400;
$blockquote-font-family: 'Roboto Slab';
$blockquote-font-size: 24px;
$blockquote-font-style: normal;
$blockquote-font-weight: 300;
$lead-font-size: 21px;
$lead-font-weight: 300;
$navbar-height: 90px;
$navbar-scrolled: 70px;
$submenu-width: 220px;
$navbar-border-height: 0px;
$sidemenu-width: 270px;
$sidemenu-nav-max-height: 600px;
$text-color: #5c5c5c;
$heading-color: #1c1c1c;
$link-color: #fe4444;
$link-color-hover: #e43e3e;
$icon-color: #5c5c5c;
$small-color: #878787;
$text-color-alt: #ffffff;
$heading-color-alt: #ffffff;
$link-color-alt: #ffffff;
$link-color-hover-alt: #ffffff;
$icon-color-alt: #ffffff;
$small-color-alt: #ffffff;
$background-color: #ffffff;
$background-invert: #1c1c1c;
$background-complementary: rgba(0,0,0,.1);
$nav-background: rgba(0, 0, 0, 0.8);
$nav-link: rgba(255, 255, 255, 0.81);
$nav-link-hover: #ffffff;
$nav-link-active: #ffffff;
$nav-brand: #ffffff;
$nav-text: #ffffff;
$nav-borders: rgba(0, 0, 0, 0.06);
$nav-dropdown-background: #ef4a4a;
$nav-dropdown-link: #1c1c1c;
$nav-dropdown-link-hover: #ffffff;
$nav-dropdown-text: #4c4c4c;
$nav-dropdown-border: rgba(0,0,0,.055);
$nav-dropdown-separators: rgba(0,0,0,.055);
$nav-transparent-link: #ffffff;
$nav-transparent-link-hover: #ffffff;
$nav-transparent-brand: #ffffff;
$nav-transparent-text: #ffffff;
$nav-transparent-borders: rgba(255, 255, 255, 0.07);
$logo-background: rgba(0, 0, 0, 0.6);
$logo-brand: #ffffff;
$top-bar-background: #f0f0f0;
$top-bar-link: #4c4c4c;
$top-bar-link-hover: #2f93d8;
$top-bar-text: #6c6c6c;
$top-bar-borders: rgba(255, 255, 255, .1);
$footer-background: #1c1c1c;
$footer-link: #ffffff;
$footer-link-hover: #ffffff;
$footer-text: rgba(255, 255, 255, .6);
$footer-borders: rgba(255, 255, 255, .1);
$sub-footer-background: #000;
$sub-footer-link: #ffffff;
$sub-footer-link-hover: #ffffff;
$sub-footer-text: rgba(255, 255, 255, .6);
$sub-footer-borders: rgba(255, 255, 255, .1);
$form-color: #3c3c3c;
$form-background: rgba(0,0,0,.02);
$form-borders: rgba(0,0,0,.1);
$form-placeholder-color: #9c9c9c;
$form-active: rgba(254, 68, 68, 0.74);
$primary-text: #ffffff;
$primary-bg: rgba(254, 68, 68, 0.79);
$default-text: #ffffff;
$default-bg: rgba(0, 0, 0, 0.6);
$warning-text: #ffffff;
$warning-bg: rgba(254, 68, 68, 0.6);
$danger-text: #ffffff;
$danger-bg: #008D7D;
$success-text: #ffffff;
$success-bg: #008D7D;
$info-text: #ffffff;
$info-bg: rgba(0, 0, 0, 0.6);
$border-radius-base: 18px;
$border-radius-large: 24px;
$border-radius-small: 15px;
$border-radius-forms: 18px;
$overlay-text: #ffffff;
$overlay-bg: rgba(254, 68, 68, 0.78);
$magnific-overlay-bg: #ffffff;
$magnific-close-icon: #ffffff;
$magnific-close-bg: #000000;
$top-icon-color: #ffffff;
$top-icon-bg: rgba(254, 68, 68, 0.71);
$slideshow-color: #ffffff;
$slideshow-shadow: rgba(255, 255, 255, 0.2);
$loader-color: rgba(254, 68, 68, 0.68);
$loader-bg: rgba(0, 0, 0, 0.8);

// Skin Creator
@import "theme/skin";