// Core variables and mixins
@import "bootstrap/oxygenna-variables";
@import "compass/css3";
@import "theme/compass-mixins";


// Skin Variables
$font-family: 'Lato';
$font-size: 16px;
$font-weight: 400;
$heading-font-family: 'Lato';
$heading-font-weight: 700;
$heading-text-transform: uppercase;
$brand-font-family: 'Lato';
$brand-font-size: 24px;
$brand-font-weight: 700;
$navbar-font-family: 'Montserrat';
$navbar-font-size: 12px;
$navbar-font-weight: 700;
$navbar-dropdown-font-size: 14px;
$font-weight-hairline: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$blog-post-title-font-size: 36px;
$blog-post-title-font-weight: 700;
$blog-post-font-size: 16px;
$blog-post-font-weight: 400;
$blockquote-font-family: 'Gentium Book Basic';
$blockquote-font-size: 30px;
$blockquote-font-style: italic;
$blockquote-font-weight: 400;
$lead-font-size: 21px;
$lead-font-weight: 300;
$navbar-height: 100px;
$navbar-scrolled: 90px;
$submenu-width: 220px;
$navbar-border-height: 0px;
$sidemenu-width: 270px;
$sidemenu-nav-max-height: 600px;
$text-color: #333333;
$heading-color: #333333;
$link-color: rgba(51, 51, 51, 0.69);
$link-color-hover: rgba(51, 51, 51, 0.7);
$icon-color: #ffffff;
$small-color: #959494;
$text-color-alt: #ffffff;
$heading-color-alt: #ffffff;
$link-color-alt: #ffffff;
$link-color-hover-alt: #ffffff;
$icon-color-alt: #ffffff;
$small-color-alt: #ffffff;
$background-color: #ffffff;
$background-invert: #1b0b2a;
$background-complementary: rgba(179, 120, 241, 0.74);
$nav-background: rgba(138, 43, 226, 0.9);
$nav-link: #ffffff;
$nav-link-hover: #3b1e56;
$nav-link-active: #3b1e56;
$nav-brand: #ffffff;
$nav-text: rgba(113, 112, 112, 0.69);
$nav-borders: #8a2be2;
$nav-dropdown-background: rgba(120, 119, 119, 0.9);
$nav-dropdown-link: #ffffff;
$nav-dropdown-link-hover: #ffffff;
$nav-dropdown-text: #333333;
$nav-dropdown-border: #ffffff;
$nav-dropdown-separators: rgba(255, 255, 255, 0.06);
$nav-transparent-link: #ffffff;
$nav-transparent-link-hover: rgba(51, 51, 51, 0.69);
$nav-transparent-brand: #ffffff;
$nav-transparent-text: #ffffff;
$nav-transparent-borders: rgba(255, 255, 255, 0.1);
$logo-background: #303C40;
$logo-brand: #ffffff;
$top-bar-background: #534848;
$top-bar-link: #ffffff;
$top-bar-link-hover: #ffffff;
$top-bar-text: #ffffff;
$top-bar-borders: rgba(255, 255, 255, .1);
$footer-background: #49365a;
$footer-link: #ffffff;
$footer-link-hover: rgba(255, 255, 255, 0.5);
$footer-text: #ffffff;
$footer-borders: #5f3c7e;
$sub-footer-background: #362a42;
$sub-footer-link: #ffffff;
$sub-footer-link-hover: #ffffff;
$sub-footer-text: rgba(255, 255, 255, 0.85);
$sub-footer-borders: rgba(255, 255, 255, .1);
$form-color: #cfa7f9;
$form-background: rgba(104, 104, 104, 0.1);
$form-borders: rgba(255, 255, 255, 0.13);
$form-placeholder-color: #cfa7f9;
$form-active: rgba(241, 227, 255, 0.71);
$primary-text: #ffffff;
$primary-bg: #b378f1;
$default-text: #333333;
$default-bg: #ffffff;
$warning-text: #ffffff;
$warning-bg: #ca2909;
$danger-text: #ffffff;
$danger-bg: #c82f1c;
$success-text: #ffffff;
$success-bg: #b378f1;
$info-text: #ffffff;
$info-bg: #b378f1;
$border-radius-base: 18px;
$border-radius-large: 24px;
$border-radius-small: 15px;
$border-radius-forms: 18px;
$overlay-text: #ffffff;
$overlay-bg: rgba(138, 43, 226, 0.77);
$magnific-overlay-bg: rgba(90, 77, 77, 0.9);
$magnific-close-icon: #ffffff;
$magnific-close-bg: #8a2be2;
$top-icon-color: #ffffff;
$top-icon-bg: #8a2be2;
$slideshow-color: #ffffff;
$slideshow-shadow: rgba(181, 162, 162, 0.2);
$loader-color: #8a2be2;
$loader-bg: #2f223a;

// Skin Creator
@import "theme/skin";