<div class="col-md-3 sidebar {{sidebarClasses}}">
    <div class="sidebar-widget widget_search">
        <form action="corporate-index.html" id=
        "searchform" method="get" name="searchform">
            <div class="input-group">
                <input class="form-control" name="s" placeholder="Search" type="text" value="">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" value="Search">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="sidebar-widget widget_recent_entries">
        <h3 class="sidebar-header">Recent Posts</h3>

        <ul>
            <li class="clearfix">
                <div class="post-icon">
                    <a href="construction-post.html"
                    title="What does a Construction Worker do?">
                        <img alt="" class="attachment-thumbnail" height="150" src="assets/images/construction/img27-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="construction-post.html"
                title="What does a Construction Worker do?">What does a Construction Worker do?</a>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="construction-post.html"
                    title="Construction progress meeting">
                        <img alt="" class="attachment-thumbnail wp-post-image"height="150" src="assets/images/construction/img26-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="construction-post.html"
                title="Construction progress meeting">Construction progress meeting</a>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="construction-post.html"
                    title="Eco Friendly Industrial Advancements">
                        <img alt="" class="attachment-thumbnail" height="150" src="assets/images/construction/img23-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="construction-post.html"
                title="Eco Friendly Industrial Advancements">Eco Friendly Industrial Advancements</a>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="construction-post.html"
                    title="Construction Industry Safety Initiative">
                        <img alt="" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/construction/img24-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="construction-post.html"
                title="Construction Industry Safety Initiative">Construction Industry Safety Initiative</a>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="construction-post.html"
                    title="Construction Industry Safety Initiative">
                        <img alt="" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/construction/img22-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="construction-post.html" title="Construction Industry Challenges">Construction Industry Challenges</a>
            </li>
        </ul>
    </div>

    <div class="sidebar-widget widget_categories" id="categories-5">
        <h3 class="sidebar-header">Categories</h3>

        <ul>
            <li class="cat-item cat-item-15">
                <a href="#">
                    Construction
                </a>
            </li>

            <li class="cat-item cat-item-12">
                <a href="#">
                    Eco Friendly
                </a>
            </li>
        </ul>
    </div>

    <div class="sidebar-widget widget_tag_cloud">
        <h3 class="sidebar-header">Tags</h3>

        <div class="tagcloud">
            <ul>
                <li>
                    <a href='#'>construction</a>
                </li>

                <li>
                    <a href='#'>eco friendly</a>
                </li>

                <li>
                    <a href='#'>height</a>
                </li>

                <li>
                    <a href='#'>meeting</a>
                </li>

                <li>
                    <a href='#'>safety</a>
                </li>

                <li>
                    <a href='#'>team</a>
                </li>

                <li>
                    <a href='#'>technology</a>
                </li>

                <li>
                    <a href='#'>work</a>
                </li>

                <li>
                    <a href='#'>workers</a>
                </li>
            </ul>
        </div>
    </div>
</div>