<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About Us</h3>

                        <div class="textwidget">
                            <p>Create stunning pages with our powerful admin panel. Functionality and usability combine to let you design your pages without any coding. Get Lambda and start right away.</p>
                        </div>
                    </div>

                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Contact Info</h3>

                        <div class="textwidget">
                            <p>999 Some Street, Paradise City, UK</br> Tel: +1-800-555-555</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent trips</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="travel-agency-post.html" title="Kenya – 12 Days $1000">
                                        <img alt="trip" class=
                                        "attachment-thumbnail"
                                        height="150" src="assets/images/travel-agency/post13-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="travel-agency-post.html"
                                title="Kenya – 12 Days $1000">Kenya <span> – 12 Days <strong>$1000</strong></span></a>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="travel-agency-post.html" title="Miami– 10 Days $2500">
                                        <img alt="trip" class=
                                        "attachment-thumbnail"
                                        height="150" src="assets/images/travel-agency/post11-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="travel-agency-post.html"
                                title="Miami – 10 Days $2500">Miami <span> – 10 Days  <strong>$2500</strong></span></a>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="travel-agency-post.html" title="Jamaica - 7 Days $1000">
                                        <img alt="trip" class=
                                        "attachment-thumbnail"
                                        height="150" src="assets/images/travel-agency/post10-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="travel-agency-post.html"
                                title="Jamaica – 7 Days  $1000">Jamaica <span> – 7 Days  <strong>$1000</strong></span></a>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="travel-agency-post.html" title="San francisco – 14 Days $1500">
                                        <img alt="trip" class=
                                        "attachment-thumbnail"
                                        height="150" src="assets/images/travel-agency/post12-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="travel-agency-post.html"
                                title="San francisco – 14 Days $1500">San francisco <span> – 14 Days  <strong>$1500</strong></span></a>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="travel-agency-post.html" title="Marocco – 14 Days $1500">
                                        <img alt="trip" class=
                                        "attachment-thumbnail"
                                        height="150" src="assets/images/travel-agency/post9-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="travel-agency-post.html"
                                title="Marocco – 14 Days $1500">Marocco <span> – 14 Days  <strong>$1500</strong></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar-widget widget_categories">
                        <h3 class="sidebar-header">Categories</h3>

                        <ul>
                            <li class="cat-item">
                                <a href="travel-agency-blog.html">
                                    Africa
                                </a>
                            </li>

                            <li class="cat-item">
                                <a href="travel-agency-blog.html">
                                    America
                                </a>
                            </li>

                            <li class="cat-item">
                                <a href="travel-agency-blog.html">
                                    Asia
                                </a>
                            </li>

                            <li class="cat-item">
                                <a href="travel-agency-blog.html">
                                    Europe
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="sidebar-widget widget_tag_cloud">
                        <h3 class="sidebar-header">Tags</h3>

                        <div class="tagcloud">
                            <ul>
                                <li>
                                    <a href='#'>Adventure</a>
                                </li>

                                <li>
                                    <a href='#'>Luxury</a>
                                </li>

                                <li>
                                    <a href='#'>Relax</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                        <div class="textwidget">
                            &copy;2015 Lambda Travel Agency. All Rights Reserved
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b5998" href="travel-agency-index.html">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#3d9ae8" href="travel-agency-index.html">
                                    <i class="fa fa-dropbox"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="travel-agency-index.html">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#634d40" href="travel-agency-index.html">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#00acee" href="travel-agency-index.html">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>