<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">About Us</h3>

                        <div class="textwidget">
                            <p>The Lambda Hospital at UK is among the leading centers in the world for comprehensive patient care, research and education in the fields of mental health, developmental disabilities and neurology. Patients are the focus of everything we do at the Lambda Hospital.</p>Get Lambda and start right away.
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_recent_entries">
                        <h3 class="sidebar-header">Recent posts</h3>

                        <ul>
                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="medical-post.html" title="Working in the OR as a nurse">
                                        <img alt="img9-notinclude" class="attachment-thumbnail wp-post-image"
                                        height="150" src="assets/images/medical/img9-notinclude-150x150.jpg"
                                        width="150">
                                    </a>
                                </div>
                                <a href="medical-post.html"
                                title="Working in the OR as a nurse">Working in the OR as a nurse</a>
                                <small class="post-date">July 25, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="medical-post.html"
                                    title="Broken Arm: Read About Symptoms">
                                        <img alt="img10-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/medical/img10-notinclude-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="medical-post.html" title="Broken Arm: Read About Symptoms">Broken Arm: Read About Symptoms</a>
                                <small class="post-date">July 31, 2015</small>
                            </li>

                            <li class="clearfix">
                                <div class="post-icon">
                                    <a href="medical-post.html"
                                    title="Types of Gum Disease">
                                        <img alt="img1-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/medical/img1-notinclude-150x150.jpg" width="150">
                                    </a>
                                </div>
                                <a href="medical-post.html"
                                title="Types of Gum Disease">Types of Gum Disease</a> <small class=
                                "post-date">August 1st, 2015</small>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_categories">
                        <h3 class="sidebar-header">Categories</h3>

                        <ul>
                            <li>
                                <a href="medical-blog.html">
                                    Cardiology
                                </a>
                            </li>

                            <li>
                                <a href="medical-blog.html">
                                    Dentistry
                                </a>
                            </li>

                            <li>
                                <a href="medical-blog.html">
                                    General surgery
                                </a>
                            </li>

                            <li>
                                <a href="medical-blog.html">
                                    Ophthalmic
                                </a>
                            </li>

                            <li>
                                <a href="medical-blog.html">
                                    Orthopedic
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Contact us</h3>

                        <div class="textwidget">
                            999 Some Street<br>
                            Paradise City<br>
                            UK<br>
                            Tel: +1-800-555-555
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-6"></div>

                <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                        <ul class="unstyled inline social-icons social-simple social-normal">
                            <li>
                                <a data-iconcolor="#3b5998" href="medical-index.html">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#00acee" href="medical-index.html">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#5FB0D5" href="medical-index.html">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#E45135" href="medical-index.html">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>

                            <li>
                                <a data-iconcolor="#34526f" href="medical-index.html">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>