<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="medical-post.html">
                <img alt="Working in the OR as a nurse" src=
            "assets/images/medical/img9-notinclude.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="medical-post.html"
        rel="bookmark" title="Permalink to Working in the OR as a nurse">Working in the OR as a nurse</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> July 3, 2015</span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="medical-blog.html">
                    oxygenna
                </a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="medical-blog.html" rel="tag">General Surgery</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="#" title="Comment on Working in the OR as a nurse">1 comment
                </a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p><strong>&nbsp;</strong>A registered nurse first assistant is a very specialized area of nursing. An RN first assistant assists the surgeon during a surgical procedure. The exact <strong>responsibilities</strong> vary depending on the type of surgery and the individual surgeon’s preference. But RN first assistants generally control bleeding, suture incisions and intervene during complications. For example, if a patient develops an abnormal heart rhythm during the procedure, an RN first assistant may administer medication to treat the condition. <strong>&nbsp;</strong></p>
    </div>
    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="medical-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="medical-post.html">
                <img alt="Broken Arm: Read About Symptoms" src="assets/images/medical/img10-notinclude.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="medical-post.html"
        rel="bookmark" title="Permalink to Broken Arm: Read About Symptoms">Broken Arm: Read About Symptoms</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> August 25, 2015
            </span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="medical-blog.html">harconst</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="medical-blog.html" rel="tag">Orthopedic</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="#" title="Comment on Broken Arm: Read About Symptoms">No comments</a></span>
        </div>
    </header>

    <div class="post-body">
        <p>It’s important not to eat or drink anything if you think you’ve broken your arm because you may need a&nbsp;general anaesthetic&nbsp;so that the bone can be realigned.&nbsp;Before reaching hospital, a <strong>sling</strong> may help stabilise the arm&nbsp;(this goes&nbsp;under the arm and around the neck). Avoid trying&nbsp;to straighten the arm.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="medical-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="medical-post.html">
                <img alt="Types of Gum Disease" src="assets/images/medical/img1-notinclude.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="medical-post.html"
        rel="bookmark" title="Permalink to Types of Gum Disease">Types of Gum Disease</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> August 10, 2015
            </span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="medical-post.html">Proistakis Manos</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="medical-blog.html" rel="tag">Dentistry</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="#" title="Comment on Types of Gum Disease">2 comments</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>Gingivitis is the mildest form of periodontal disease. It causes the gums to become red, swollen, and bleed easily. There is usually little or no discomfort at this stage. Gingivitis is often caused by inadequate oral hygiene. Gingivitis is reversible with professional treatment and good oral home care.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="medical-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="medical-post.html">
                <img alt="Heart Sounds & Murmurs Exam" src="assets/images/medical/img11-notinclude.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="medical-post.html" rel="bookmark" title="Permalink to Heart Sounds & Murmurs Exam">Heart Sounds & Murmurs Exam</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> July 25, 2015
            </span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="medical-blog.html">christos</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="medical-blog.html" rel="tag">Cardiology</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="medical-post.html" title="Comment on Heart Sounds & Murmurs Exam">1 comment</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>The cardiac examination is rich with tradition and time-honored techniques. Increasingly, there is evidence for the predictive value of the dynamic cardiac exam.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="medical-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="medical-post.html">
                <img alt="Standard Οphthalmic Εxam" src="assets/images/medical/img3-notinclude.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="medical-post.html" rel="bookmark" title="Permalink to Standard Οphthalmic Εxam">The birth
        of a new brand</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> August 25, 2015</span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="medical-blog.html">Harris Constantourakis</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="medical-blog.html" rel="tag">Opthalmic</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="medical-blog.html" title="Comment on Standard Οphthalmic Εxam">2 comments</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>The doctor will take a complete eye history including your vision problems, your glasses-wearing or contact lenses-wearing habits, your overall health, family history, and current medications.Your vision will be checked with a refraction test. A <strong>refraction test </strong>is an eye exam where you look through a device with different lenses at an eye chart 20 feet away to help determine any vision deficits.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="medical-post.html">
        read more</a>
    </div>
</article>

<article class="post">
    <div class="post-media">
        <div class="figure fade-in text-center figcaption-middle">
            <a class="figure-image" href="medical-post.html">
                <img alt="Open Appendectomy & Risks" src="assets/images/medical/img8-notinclude.jpg">

                <div class="figure-overlay">
                    <div class="figure-overlay-container">
                        <div class="figure-caption">
                            <span class="figure-overlay-icons">
                                <i class="icon-link"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <header class="post-head small-screen-center">
        <h2 class="post-title"><a href="medical-post.html" rel="bookmark" title="Permalink to Open Appendectomy & Risks">Open Appendectomy & Risks</a></h2>

        <div class="post-details">
            <span class="post-date">
                <i class="icon-clock"></i> August 02, 2015</span>
            <span class="post-author">
                <i class="icon-head"></i>
                <a href="medical-blog.html">proistak</a>
            </span>
            <span class="post-category">
                <i class="icon-clipboard"></i>
                <a href="medical-blog.html" rel="tag">General surgery</a>
            </span>
            <span class="post-link">
                <i class="icon-speech-bubble"></i>
                <a href="medical-blog.html" title="Comment on Open Appendectomy & Risks">2 comments</a>
            </span>
        </div>
    </header>

    <div class="post-body">
        <p>Acute appendicitis (AA), a common intra-abdominal surgical pathology, requires a comprehensive understanding of its presentation, evaluation, diagnosis, and overall operative management. In the United States, AA occurs in approximately 7% of the <strong>population</strong>, with a mortality of 0.2-0.8%.The morbidity and mortality are related to the presenting stage of disease and increases in cases of perforation.</p>
    </div>

    <div class="small-screen-center post-more">
        <a class="post-more-link btn btn-primary" href="medical-post.html">
        read more</a>
    </div>
</article>