<div class="col-md-3 sidebar {{sidebarClasses}}">
    <div class="sidebar-widget widget_text">
        <h3 class="sidebar-header">About Us</h3>

        <div class="textwidget">
            <p>We help businesses to create and implement
            <strong>exceptional</strong> experiences for their customers.
            We specialise in online multi-channel technology services.</p>

            <p>Time to meet our team of technology and business
            <strong>professionals</strong>. Let us help your business reach
            it’s potential.</p>
        </div>
    </div>

    <div class="sidebar-widget widget_recent_entries">
        <h3 class="sidebar-header">Recent Posts</h3>

        <ul>
            <li class="clearfix">
                <div class="post-icon">
                    <a href="medical-post.html"
                    title="Working in the OR as a nurse">
                        <img alt="img9-notinclude" class="attachment-thumbnail" height="150" src="assets/images/medical/img9-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="medical-post.html"
                title="Working in the OR as a nurse">Working in the OR as a nurse</a> <small class="post-date">August 25, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="medical-post.html"
                    title="Broken Arm: Read About Symptoms">
                        <img alt="img10-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/medical/img10-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="medical-post.html"
                title="Broken Arm: Read About Symptoms">Broken Arm: Read About Symptoms</a> <small class="post-date">Jule 13, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="medical-post.html"
                    title="Types of Gum Disease">
                        <img alt="img1-notinclude" class="attachment-thumbnail" height="150" src="assets/images/medical/img1-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="medical-post.html" title="Types of Gum Disease">Types of Gum Disease</a>
                <small class="post-date">August 09, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="medical-post.html"
                    title="Heart Sounds & Murmurs Exam">
                        <img alt="img11-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/medical/img11-notinclude.jpg" width="150">
                    </a>
                </div>
                <a href="medical-post.html"
                title="Heart Sounds & Murmurs Exam">Heart Sounds & Murmurs Exam</a> <small class="post-date">August 04, 2015</small>
            </li>

            <li class="clearfix">
                <div class="post-icon">
                    <a href="medical-post.html"
                    title="Standard Οphthalmic Εxam">
                        <img alt="img03-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/medical/img3-notinclude-150x150.jpg" width="150">
                    </a>
                </div>
                <a href="medical-post.html" title="Standard Οphthalmic Εxam">Standard Οphthalmic Εxam</a>
                <small class="post-date">August 11, 2015</small>
            </li>
        </ul>
    </div>

    <div class="sidebar-widget widget_tag_cloud">
        <h3 class="sidebar-header">Tags</h3>

        <div class="tagcloud">
            <ul>
                <li>
                    <a href='#'>appendectomy</a>
                </li>

                <li>
                    <a href='#'>arm</a>
                </li>

                <li>
                    <a href='#'>blood</a>
                </li>

                <li>
                    <a href='#'>bones</a>
                </li>

                <li>
                    <a href='#'>cardiology</a>
                </li>

                <li>
                    <a href='#'>dentist</a>
                </li>

                <li>
                    <a href='#'>dentistry</a>
                </li>

                <li>
                    <a href='#'>disease</a>
                </li>

                <li>
                    <a href='#'>exam</a>
                </li>

                <li>
                    <a href='#'>eyes</a>
                </li>

                <li>
                    <a href='#'>general surgery</a>
                </li>

                <li>
                    <a href='#'>gym</a>
                </li>

                <li>
                    <a href='#'>heart</a>
                </li>

                <li>
                    <a href='#'>heart sounds</a>
                </li>

                <li>
                    <a href='#'>nurse</a>
                </li>

                <li>
                    <a href='#'>opthalmic</a>
                </li>

                <li>
                    <a href='#'>or</a>
                </li>

                <li>
                    <a href='#'>orthopedic</a>
                </li>

                <li>
                    <a href='#'>surgery</a>
                </li>

                <li>
                    <a href='#'>symptoms</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-widget widget_categories">
        <h3 class="sidebar-header">Categories</h3>

        <ul>
            <li class="cat-item">
                <a href="medical-blog.html">
                    Cardiology
                </a>
            </li>

            <li class="cat-item">
                <a href="medical-blog.html">
                    Dentistry
                </a>
            </li>

            <li class="cat-item">
                <a href="medical-blog.html">
                    General surgery
                </a>
            </li>

            <li class="cat-item">
                <a href="medical-blog.html">
                    Ophthalmic
                </a>
            </li>

            <li class="cat-item">
                <a href="medical-blog.html">
                    Orthopedic
                </a>
            </li>
        </ul>
    </div>
</div>
