<div class="sidebar-widget">
    <form role="search" method="get" id="searchform">
        <div class="input-group">
            <input type="text" value name="s" class="form-control" placeholder="Search">
            <span class="input-group-btn">
            	<button class="btn btn-primary" type="submit" id="searchsubmit" value="">
            		<i class="fa fa-search"></i>
            	</button>
            	<input type="hidden" name="post_type" value="product">
            </span>
        </div>
    </form>
</div>
<div class="sidebar-widget">
    <h3 class="sidebar-header">Best Sellers</h3>
    <ul class="product_list_widget">
        <li>
            <a href="shop-simple-product.html" title="White Skirt">
            	<img width="90" height="114" src="assets/images/shop/skirt1-1-90x114.jpg" alt="skirt1-1" />White Skirt
            </a>
            <del><span class="amount">&#36;30.00</span></del> <ins><span class="amount">&#36;20.00</span></ins>
        </li>
        <li>
            <a href="shop-simple-product.html" title="Woo Colorful Dress">
            	<img width="90" height="114" src="assets/images/shop/dress2-1-90x114.jpg" alt="dress2-1" />Woo Colorful Dress
            </a>
            <span class="amount">&#36;20.00</span>
        </li>
        <li>
            <a href="shop-simple-product.html" title="Ra Ra Skirt">
            	<img width="90" height="114" src="assets/images/shop/skirt4-1-90x114.jpg" alt="skirt4-1" />Ra Ra Skirt
            </a>
            <del><span class="amount">&#36;49.99</span></del> <ins><span class="amount">&#36;39.99</span></ins>
        </li>
    </ul>
</div>
<div class="sidebar-widget">
    <h3 class="sidebar-header">Top Rated</h3>
    <ul class="product_list_widget">
        <li>
            <a href="shop-simple-product.html" title="White Skirt">
            	<img width="90" height="114" src="assets/images/shop/skirt1-1-90x114.jpg" alt="skirt1-1" />White Skirt
            </a>
            <div class="star-rating" title="Rated 5.00 out of 5">
            	<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
            </div>
            <del><span class="amount">&#36;30.00</span></del> <ins><span class="amount">&#36;20.00</span></ins>
        </li>
        <li>
            <a href="shop-simple-product.html" title="Mens Luxury Black Shirt">
            	<img width="90" height="114" src="assets/images/shop/shirt2-1-90x114.jpg" alt="shirt2-1" />Mens Luxury Black Shirt
            </a>
            <div class="star-rating" title="Rated 5.00 out of 5">
            	<span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
            </div>
            <span class="amount">&#36;79.99</span>
        </li>
        <li>
            <a href="shop-simple-product.html" title="Mens Sporty Hoodie">
            	<img width="90" height="114" src="assets/images/shop/hoodie1-1-90x114.jpg" alt="hoodie1-1" />Mens Sporty Hoodie
            </a>
            <div class="star-rating" title="Rated 4.00 out of 5">
            	<span style="width:80%"><strong class="rating">4.00</strong> out of 5</span>
            </div>
            <span class="amount">&#36;24.99</span>
        </li>
    </ul>
</div>
<div class="sidebar-widget woocommerce widget_product_tag_cloud">
    <h3 class="sidebar-header">Tags</h3>
    <div class="tagcloud">
        <ul>
            <li><a href='shop-mens-category.html'>casual</a></li>
            <li><a href='shop-mens-category.html'>fashion</a></li>
            <li><a href='shop-mens-category.html'>new in</a></li>
            <li><a href='shop-mens-category.html'>on sale</a></li>
            <li><a href='shop-mens-category.html'>premium</a></li>
            <li><a href='shop-mens-category.html'>Recommended</a></li>
            <li><a href='shop-mens-category.html'>school</a></li>
            <li><a href='shop-mens-category.html'>selected homme</a></li>
            <li><a href='shop-mens-category.html'>Top 5</a></li>
            <li><a href='shop-mens-category.html'>Top 10</a></li>
            <li><a href='shop-mens-category.html'>tops</a></li>
            <li><a href='shop-mens-category.html'>womens sale</a></li>
        </ul>
    </div>
</div>