/* -------------- */
/* CONTACT FORM 7 */
/* -------------- */

.screen-reader-response {
  display: none !important;
}
[role="alert"] {
  font-size: 0.87em;
  display: inline-block;
  line-height: 2em;
}
.wpcf7 img.ajax-loader {
  background: #fff;
  margin: 0 12px;
  opacity: 0.8;
  border-radius: 50%;
}

// Spinner
.ajax-loader {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  border-width: 2px;
  border-style: solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  opacity: 0;
  transition: all .3s;
  &.is-active {
    opacity: 1;
  }
}

.ajax-loader::before,
.ajax-loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}
.ajax-loader,
.ajax-loader::before {
  display: inline-block;
  border-color: transparent;
}
.ajax-loader::before {
  animation: spin 1.5s infinite ease;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}