/* -------- */
/* COUNTERS */
/* -------- */
.counter {
  margin-bottom: 12px;
  padding-bottom: 12px;
  position: relative;
  .value {
    display: block;
    width: 100%;
    background: none !important;
    box-shadow: none !important;
    border: 0;
    line-height: 1;
  }
  .value:hover, .value:active, .value:focus {
    background: none !important;
    box-shadow: none !important;
  }
  &:after {
    content: "";
    height: 2px;
    position: absolute;
    width: 60px;
    top: 100%;
    left: 50%;
    margin-left: -30px;
  }
}