/* ------------- */
/* Gravity Forms */
/* --------------- */
.gform_wrapper .gsection {
  clear: both;
  padding: 24px 0 12px;
  border-bottom: 1px solid;
}
.gform_heading {
  margin-bottom: 24px;
}
.gform_footer {
  margin-bottom: 24px;
}
.gform_wrapper ul {
  padding-left: 0;
  list-style: none;
}
.gform_wrapper li {
  margin-bottom: 16px;
  min-height: 36px;
  clear: both;
}
.gform_wrapper .gfield_radio, .gform_wrapper .gfield_checkbox {
  margin-bottom: 12px;
}
.gform_wrapper .gfield_radio li, .gfield_checkbox li {
  margin-bottom: 6px;
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
}
.gform_wrapper label {
  font-weight: normal;
  span {
    font-weight: lighter;
  }
}
.gform_wrapper .gfield_label {
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold;
}
.ginput_container, .gfield_captcha_container {
  position: relative;
  input, select, textarea {
    display: block;
    width: 100%;
    vertical-align: middle;
    min-height: 36px;
    padding-left: 16px;
    padding-right: 16px;
  }
  input, textarea {
    border-width: 1px;
    border-style: solid;
  }
}
.ginput_container .ui-datepicker-trigger {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 16px;
}

.ginput_container input[type="text"], .ginput_container select, .ginput_container textarea {
 & + label {
    font-size: 0.8em;
    font-weight: normal;
  }
}
.ginput_container input[type="checkbox"], .ginput_container input[type="radio"] {
  display: inline-block;
  width: 24px;
  margin-bottom: 6px;
  &:focus {
    box-shadow: none !important;
  }
}
.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
  outline: 0;
}
.ginput_container input[disabled], .ginput_container select[disabled], .ginput_container textarea[disabled], .ginput_container input[readonly], .ginput_container select[readonly], .ginput_container textarea[readonly], fieldset[disabled] .ginput_container input, fieldset[disabled] .ginput_container select, fieldset[disabled] .ginput_container textarea {
  cursor: not-allowed;
}
textarea.ginput_container input, textarea.ginput_container select, textarea.ginput_container textarea {
  height: auto;
}
.ginput_container textarea {
  height: auto;
}
.gfield_radio input[type="text"], .gfield_checkbox input[type="text"] {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
}
.gform_button:hover {
  box-shadow: none;
}
.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
}
.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus {
  outline: 0;
}
.validation_error {
  padding: 6px 15px;
  margin-bottom: 24px;
  border: 1px solid transparent;
}
.validation_error h4 {
  margin-top: 0;
  color: inherit;
}
.validation_error .alert-link {
  font-weight: bold;
}
.validation_error>p, .validation_error>ul {
  margin-bottom: 0;
}
.validation_error>p+p {
  margin-top: 5px;
}
#gforms_confirmation_message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
#gforms_confirmation_message h4 {
  margin-top: 0;
  color: inherit;
}
#gforms_confirmation_message .alert-link {
  font-weight: bold;
}
#gforms_confirmation_message>p, #gforms_confirmation_message>ul {
  margin-bottom: 0;
}
#gforms_confirmation_message>p+p {
  margin-top: 5px;
}
.gf_progressbar {
  margin-bottom: 24px;
  overflow: hidden;
}
.gf_progressbar, .gf_progressbar_percentage {
height: 36px;
line-height: 36px;
}
.gf_progressbar_percentage {
  text-align: center;
}
.ginput_full, .ginput_left, .ginput_right, .gf_left_half, .gf_right_half {
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
  input {
    margin-bottom: 0;
  }
  label {
    display: block;
  }
}
.ginput_left, .ginput_right, .gf_left_half, .gf_right_half {
  width: 49%;
  display: block;
  overflow: hidden;
  clear: none !important;
}
.ginput_left, .gf_left_half {
  float: left;
}
.ginput_right, .gf_right_half {
  float: right;
}
.gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li,
.gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_2col ul.gfield_radio li {
  width: 50%;
  float: left;
}
.gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li,
.gform_wrapper li.gfield.gf_3col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_3col ul.gfield_radio li {
  width: 33%;
  float: left;
}
.gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li {
  width: 25%;
  float: left;
}
.gform_wrapper li.gfield.gf_list_5col ul.gfield_checkbox li,
.gform_wrapper li.gfield.gf_list_5col ul.gfield_radio li {
  width: 20%;
  float: left;
}

.gfield_date_dropdown_month, .gfield_date_dropdown_day, .gfield_date_dropdown_year {
  display: inline-block;
  min-width: 150px;
  margin-right: 12px;
}
.gf_page_steps {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid;
  .gf_step {
    margin-right: 16px;
    display: inline-block;
    opacity: 0.5;
    &.gf_step_active {
      opacity: 1;
    }
  }
  .gf_step_number {
    font-size: 1.4em;
  }
}
@media (max-width: 992px) {
  .ginput_left, .ginput_right, .gf_left_half, .gf_right_half {
    float: none;
    width: 100%;
  }
  .gfield_date_dropdown_month, .gfield_date_dropdown_day, .gfield_date_dropdown_year {
    display: block;
    margin-bottom: 24px;
    margin-right: 0px;
  }
  .gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
  .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li,
  .gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li,
  .gform_wrapper li.gfield.gf_2col ul.gfield_radio li,
  .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li,
  .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li,
  .gform_wrapper li.gfield.gf_3col ul.gfield_checkbox li,
  .gform_wrapper li.gfield.gf_3col ul.gfield_radio li,
  .gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li,
  .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li,
  .gform_wrapper li.gfield.gf_list_5col ul.gfield_checkbox li,
  .gform_wrapper li.gfield.gf_list_5col ul.gfield_radio li {
    width: 100%;
    float: none;
  }
}
